force-app/main/default/flows/Account_Set_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_B2B_Defaults</name>
        <label>Set B2B Defaults</label>
        <locationX>842</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>$Record.ValueAddedTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>perTaxPercentage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Business_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_B2C_Defaults</name>
        <label>Set B2C Defaults</label>
        <locationX>127</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>$Record.ValueAddedTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>perTaxPercentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtDefaultCurrency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DistrictLevel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtDistrictLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LanguagePreference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtPrefferedLanguage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Business_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Language</name>
        <label>Set Default Language</label>
        <locationX>578</locationX>
        <locationY>1259</locationY>
        <assignmentItems>
            <assignToReference>txtPrefferedLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtDefaultLanguage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_B2C_Defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Values</name>
        <label>Set Default Values</label>
        <locationX>484</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>txtDefaultCurrency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Specific_Defaults.DefaultCurrency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>booQuoteExpiration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Specific_Defaults.QuoteExpiration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nbrQuoteExpirationDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Specific_Defaults.QuoteExpirationTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>perTaxPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Specific_Defaults.ValueAddedTax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtDefaultLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Specific_Defaults.DefaultLanguage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtFinancingAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Specific_Defaults.DefaultFinancingIdentifier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Person_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Language_Default</name>
        <label>Set Language Default</label>
        <locationX>314</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>txtPrefferedLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>530a223f-19d1-4966-99cb-717da365585e</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_B2C_Defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If Language is set according to the Lead</description>
        <name>Set_Language_Preference</name>
        <label>Set Language Preference</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>txtPrefferedLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Converted_Lead.Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_B2C_Defaults</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Country_Defaults_Found</name>
        <label>Country Defaults Found?</label>
        <locationX>880</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>No Country Defaults</defaultConnectorLabel>
        <rules>
            <name>Country_Defaults</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Country_Specific_Defaults</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Values</targetReference>
            </connector>
            <label>Country Defaults</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Billing_Address</name>
        <label>Has Billing Address?</label>
        <locationX>1210</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No Billing Address</defaultConnectorLabel>
        <rules>
            <name>Billing_Address</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>fxBillingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Country_Specific_Defaults</targetReference>
            </connector>
            <label>Billing Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Prefered_Language</name>
        <label>Has Prefered Language?</label>
        <locationX>182</locationX>
        <locationY>1475</locationY>
        <defaultConnector>
            <targetReference>Set_Language_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prefered Language</defaultConnectorLabel>
        <rules>
            <name>Prefered_Language</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Lead.Language__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Language_Preference</targetReference>
            </connector>
            <label>Prefered Language</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Converted_Lead</name>
        <label>Is Converted Lead?</label>
        <locationX>380</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Language</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standalone Account</defaultConnectorLabel>
        <rules>
            <name>Converted_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Contact</targetReference>
            </connector>
            <label>Converted Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Language_Preference_Set</name>
        <label>Is Language Preference Set?</label>
        <locationX>127</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Is_Converted_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Language Preference</defaultConnectorLabel>
        <rules>
            <name>Language_Preference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LanguagePreference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_B2C_Defaults</targetReference>
            </connector>
            <label>Language Preference</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Account</name>
        <label>Is New Account?</label>
        <locationX>1507</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Existing Account</defaultConnectorLabel>
        <rules>
            <name>New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Billing_Address</targetReference>
            </connector>
            <label>New Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Person_Account</name>
        <label>Is Person Account</label>
        <locationX>484</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Set_B2B_Defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Account</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Language_Preference_Set</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>558</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_New_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Business_Type</name>
        <label>Which Business Type?</label>
        <locationX>484</locationX>
        <locationY>2135</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Consumer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <label>Consumer</label>
        </rules>
        <rules>
            <name>Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <label>Project</label>
        </rules>
        <rules>
            <name>Reseller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <label>Reseller</label>
        </rules>
        <rules>
            <name>After_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <label>After Sales</label>
        </rules>
    </decisions>
    <description>Triggered before Save Flow to set Account Default Values</description>
    <environments>Default</environments>
    <formulas>
        <name>fxBillingAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.BillingCountryCode}) + TEXT({!$Record.BillingStateCode})
+ {!$Record.BillingCity}+ {!$Record.BillingPostalCode}
+ {!$Record.BillingStreet}
+ TEXT({!$Record.BillingLatitude} )+ TEXT({!$Record.BillingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxBillingAddressPrior</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.BillingCountryCode}) + TEXT({!$Record__Prior.BillingStateCode})
+ {!$Record__Prior.BillingCity}+ {!$Record__Prior.BillingPostalCode}
+ {!$Record__Prior.BillingStreet}
+ TEXT({!$Record__Prior.BillingLatitude} )+ TEXT({!$Record__Prior.BillingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxMailingAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.PersonMailingCountryCode}) + TEXT({!$Record.PersonMailingStateCode})
+ {!$Record.PersonMailingCity}+ {!$Record.PersonMailingPostalCode}
+ {!$Record.PersonMailingStreet}
+ TEXT({!$Record.PersonMailingLatitude} )+ TEXT({!$Record.PersonMailingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxMailingAddressPrior</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.PersonMailingCountryCode}) + TEXT({!$Record__Prior.PersonMailingStateCode})
+ {!$Record__Prior.PersonMailingCity}+ {!$Record__Prior.PersonMailingPostalCode}
+ {!$Record__Prior.PersonMailingStreet}
+ TEXT({!$Record__Prior.PersonMailingLatitude} )+ TEXT({!$Record__Prior.PersonMailingLongitude})</expression>
    </formulas>
    <interviewLabel>Account - Set Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Set Values R4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Converted_Lead</name>
        <label>Get Converted Lead</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Prefered_Language</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConvertedAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the Country Specific Default Values based on Billing Account Country</description>
        <name>Get_Country_Specific_Defaults</name>
        <label>Get Country Specific Defaults</label>
        <locationX>880</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Country_Defaults_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CountryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BusinessType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Specific_Default__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Contact</name>
        <label>Get Person Contact</label>
        <locationX>182</locationX>
        <locationY>1259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Converted_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>432</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>400</triggerOrder>
    <variables>
        <name>booQuoteExpiration</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Postal_Code_Area__c</objectType>
    </variables>
    <variables>
        <name>MailingAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>nbrQuoteExpirationDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>perTaxPercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>txtAccountOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtAccountProfitCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtDefaultCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtDefaultLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtDefaultOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtDefaultProfitCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtDistrictLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtFinancingAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtPostalCodeArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtPrefferedLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtProfitCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSalesArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSalesOffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
