force-app/main/default/flows/Account_Create_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Asset_data</name>
        <label>Assign Asset data</label>
        <locationX>652</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>varSelectedProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetConfigurationProductId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Case_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_details</name>
        <label>Assign Asset details</label>
        <locationX>1773</locationX>
        <locationY>2064</locationY>
        <assignmentItems>
            <assignToReference>varStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetStreetAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInstallationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetInstallDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRVN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetRVN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entitlement_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_data</name>
        <label>Assign Case data</label>
        <locationX>1799</locationX>
        <locationY>3051</locationY>
        <assignmentItems>
            <assignToReference>recCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.PersonContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_data_0_0</name>
        <label>Assign Case data</label>
        <locationX>1583</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>recCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScrContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_data_0_0_0</name>
        <label>Assign Case data</label>
        <locationX>1566</locationX>
        <locationY>2619</locationY>
        <assignmentItems>
            <assignToReference>recCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScrContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScrSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScrDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Process_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Classification.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Target_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Classification.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Cause_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Classification.bottomValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Reclamation_Cause_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reclamation_Cause</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Warranty_applies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warranty_is_applicable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Configuration_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedOpportunity.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nbrPictures</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collPictureCDLs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Contains_Pictures__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_pictures_were_added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CDL_to_collection</name>
        <label>Assign CDL to collection</label>
        <locationX>1989</locationX>
        <locationY>3603</locationY>
        <assignmentItems>
            <assignToReference>collCDLs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recCDL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_through_CDLs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The record type needs to be set to recCase so that in the next Screen the filtering of the Picklists are filtered based on the record type.</description>
        <name>Assign_CS_Case_data</name>
        <label>Assign CS Case data</label>
        <locationX>1034</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>recCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_Case_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Type</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Oppo_to_Case_data</name>
        <label>Assign Oppo to Case data</label>
        <locationX>1385</locationX>
        <locationY>1816</locationY>
        <assignmentItems>
            <assignToReference>recCase.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The record type needs to be set to recCase so that in the next Screen the filtering of the Picklists are filtered based on the record type.</description>
        <name>Assign_Recl_Case_data</name>
        <label>Assign Recl Case data</label>
        <locationX>1356</locationX>
        <locationY>1323</locationY>
        <assignmentItems>
            <assignToReference>recCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recl_Case_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reclamation order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The record type needs to be set to recCase so that in the next Screen the filtering of the Picklists are filtered based on the record type.</description>
        <name>Assign_Warranty_Case_data</name>
        <label>Assign Warranty Case data</label>
        <locationX>802</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>recCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warranty work request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CS_Case_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_to_Case</name>
        <label>Assign WO to Case</label>
        <locationX>1354</locationX>
        <locationY>789</locationY>
        <assignmentItems>
            <assignToReference>recCase.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_WOLI_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOLI_data</name>
        <label>Assign WOLI data</label>
        <locationX>1493</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>varStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLIdata.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLIdata.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLIdata.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInstallationDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRVN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLIdata.RVN_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAsset</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>WOLI_contains_RVN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOLI_product</name>
        <label>Assign WOLI product</label>
        <locationX>1141</locationX>
        <locationY>789</locationY>
        <assignmentItems>
            <assignToReference>varSelectedProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLIdata.Configuration_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLIdata.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Case_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Has_pictures</name>
        <label>Has pictures</label>
        <locationX>1703</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>recCase.Contains_Pictures__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_or_Person_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_CDL_record</name>
        <label>New CDL record</label>
        <locationX>1989</locationX>
        <locationY>3459</locationY>
        <assignmentItems>
            <assignToReference>recCDL.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_through_CDLs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCDL.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CDL_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_id</name>
        <label>Set Asset id</label>
        <locationX>1772</locationX>
        <locationY>2344</locationY>
        <assignmentItems>
            <assignToReference>AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_matching_Asset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entitlement_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Warranty_info</name>
        <label>Warranty info</label>
        <locationX>1958</locationX>
        <locationY>2619</locationY>
        <assignmentItems>
            <assignToReference>AssetWarranty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_data</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CustomerServiceCase</name>
        <choiceText>Customer Service Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Service Case</stringValue>
        </value>
    </choices>
    <choices>
        <description>Default choice. Is the Order id defined in the Opportunity.</description>
        <name>OrderChoice</name>
        <choiceText>{!Opportunity.Order__r.OrderNumber}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Opportunity.Order__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>ReclamationCase</name>
        <choiceText>Reclamation Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reclamation Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>WarrantyCase</name>
        <choiceText>Warranty Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Warranty Case</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Asset_selected</name>
        <label>Asset selected</label>
        <locationX>1605</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>Assign_WOLI_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Business_or_Person_Account</name>
        <label>Business or Person Account?</label>
        <locationX>1681</locationX>
        <locationY>2924</locationY>
        <defaultConnector>
            <targetReference>Assign_Case_data_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business</defaultConnectorLabel>
        <rules>
            <name>Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_data</targetReference>
            </connector>
            <label>Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_RT_available</name>
        <label>Case RT available</label>
        <locationX>1249</locationX>
        <locationY>1212</locationY>
        <defaultConnector>
            <targetReference>ErrScreen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recl_Case_RT.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recl_Case_data</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_RT_available_0</name>
        <label>Case RT available</label>
        <locationX>1043</locationX>
        <locationY>1217</locationY>
        <defaultConnector>
            <targetReference>ErrScreen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CS_Case_RT.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_Warranty_case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_pictures_were_added</name>
        <label>Check if pictures were added</label>
        <locationX>1558</locationX>
        <locationY>2764</locationY>
        <defaultConnector>
            <targetReference>Type_of_Case2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrPictures</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_pictures</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>In ongoing work, the WO is in &quot;New&quot;, &quot;In Progress&quot; or &quot;On Hold&quot; status.
WO in status &quot;Cannot Complete&quot; means that the Installer has set one or more of the WOLIs to &quot;Cannot Complete&quot; status and a Case has already been created.</description>
        <name>Is_this_ongoing_work</name>
        <label>Is this ongoing work?</label>
        <locationX>1245</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Assign_WOLI_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes13</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WO.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WO.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WO.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_to_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_Warranty_case</name>
        <label>Is this Warranty case?</label>
        <locationX>916</locationX>
        <locationY>1350</locationY>
        <defaultConnector>
            <targetReference>Assign_CS_Case_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WarrantyCase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Warranty_Case_data</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_exists</name>
        <label>Opportunity exists</label>
        <locationX>1500</locationX>
        <locationY>1944</locationY>
        <defaultConnector>
            <targetReference>ErrScreen5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_selected</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_is_available</name>
        <label>Opportunity is available</label>
        <locationX>1274</locationX>
        <locationY>1709</locationY>
        <defaultConnector>
            <targetReference>ErrScreen3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Oppo_to_Case_data</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pictures_were_uploaded</name>
        <label>Pictures were uploaded?</label>
        <locationX>1693</locationX>
        <locationY>3359</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrPictures</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_through_CDLs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_is_available</name>
        <label>Product is available</label>
        <locationX>1169</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>ErrScreen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_is_available</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Case2</name>
        <label>Type of Case</label>
        <locationX>1460</locationX>
        <locationY>2869</locationY>
        <defaultConnector>
            <targetReference>Picture_s_are_needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Any other</defaultConnectorLabel>
        <rules>
            <name>Warranty_Case2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WarrantyCase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_or_Person_Account</targetReference>
            </connector>
            <label>Warranty Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Case_Selection</name>
        <label>Type of Case Selection</label>
        <locationX>1134</locationX>
        <locationY>951</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reclamation_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReclamationCase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recl_Case_RT</targetReference>
            </connector>
            <label>Reclamation Case</label>
        </rules>
        <rules>
            <name>Customer_Service_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerServiceCase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_Case_RT</targetReference>
            </connector>
            <label>Customer Service Case</label>
        </rules>
        <rules>
            <name>Warranty_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WarrantyCase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_Case_RT</targetReference>
            </connector>
            <label>Warranty Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warranty</name>
        <label>Warranty</label>
        <locationX>1938</locationX>
        <locationY>2316</locationY>
        <defaultConnector>
            <targetReference>Show_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement_data.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warranty_info</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Asset_found</name>
        <label>Was Asset found?</label>
        <locationX>1614</locationX>
        <locationY>2344</locationY>
        <defaultConnector>
            <targetReference>Show_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_matching_Asset.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Asset_id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_selected</name>
        <label>WO selected</label>
        <locationX>806</locationX>
        <locationY>327</locationY>
        <defaultConnector>
            <targetReference>Assign_Asset_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_the_WOLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOLI_contains_RVN</name>
        <label>WOLI contains RVN</label>
        <locationX>1485</locationX>
        <locationY>2219</locationY>
        <defaultConnector>
            <targetReference>Show_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLIdata.RVN_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_matching_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOLI_found</name>
        <label>WOLI found</label>
        <locationX>1040</locationX>
        <locationY>541</locationY>
        <defaultConnector>
            <targetReference>ErrScreen4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLIdata.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates customer service case from Account.

15.11.2023: Logic to consider ongoing work correctly (the not yet installed work).
8.11.2023: Change to Asset and WOLI naming in the selection list.
7.11.2023: Fix for a logic mistake in determining warranty when Asset is selected and it has Entitlement.
5.10.2023: Allow IM to create warranty work. Allow to create work based on WOLI.
3.10.2023: Logic to fill in the Oppo and Order fields.
27.9.2023: Added logic for Warranty Case. Change from mandatory picture input to warning.
26.6.2023: Fix for Oppo and Order lookups.
16.6.2023: Removed Case Reason from screen input.
1.6.2023: Ability to add pictures to the Case. 
31.5.2023: Classification added, Opportunity and Order links added and Warranty confirmation checkbox added.
10.5.2023: Warranty check.
10.5.2023: Fixed the Product --&gt; Configuration Product logic.
3.3.2023: First version.
02.12.2023: Save Active Version as R2</description>
    <dynamicChoiceSets>
        <name>Assets</name>
        <dataType>String</dataType>
        <displayField>Combination_name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>AssetCity</assignToReference>
            <field>City</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssetConfigurationProductId</assignToReference>
            <field>Configuration_Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssetCountry</assignToReference>
            <field>Country</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssetDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssetInstallDate</assignToReference>
            <field>InstallDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssetRVN</assignToReference>
            <field>SerialNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssetStreetAddress</assignToReference>
            <field>Street</field>
        </outputAssignments>
        <sortField>City</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseOriginValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CasePriorityValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseReasonValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrderChoices</name>
        <dataType>String</dataType>
        <displayField>OrderNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product.Opportunity__c</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Order</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WOLIs</name>
        <dataType>String</dataType>
        <displayField>Combination_name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Order</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>WorkOrderLineItem</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkOrders</name>
        <dataType>String</dataType>
        <displayField>Combination_name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>WorkOrder</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Account - Create Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Create Case R2</label>
    <loops>
        <name>Go_through_CDLs</name>
        <label>Go through CDLs</label>
        <locationX>1811</locationX>
        <locationY>3457</locationY>
        <collectionReference>collPictureCDLs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_CDL_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CDLs_from_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1701</locationX>
        <locationY>3225</locationY>
        <connector>
            <targetReference>Pictures_were_uploaded</targetReference>
        </connector>
        <inputReference>recCase</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_CDLs_from_collection</name>
        <label>Create CDLs from collection</label>
        <locationX>1812</locationX>
        <locationY>3621</locationY>
        <inputReference>collCDLs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>703</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Customer Service Case record type.</description>
        <name>CS_Case_RT</name>
        <label>CS Case RT</label>
        <locationX>1051</locationX>
        <locationY>1077</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_RT_available_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Service</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Entitlement_data</name>
        <label>Entitlement data</label>
        <locationX>1938</locationX>
        <locationY>2064</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warranty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_matching_Asset</name>
        <label>Find matching Asset</label>
        <locationX>1622</locationX>
        <locationY>2218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Asset_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLIdata.RVN_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>1507</locationX>
        <locationY>1816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Product</name>
        <label>Product</label>
        <locationX>1177</locationX>
        <locationY>1448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_is_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedProduct</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuration_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Reclamation Case record type.</description>
        <name>Recl_Case_RT</name>
        <label>Recl Case RT</label>
        <locationX>1257</locationX>
        <locationY>1074</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_RT_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reclamation_Order</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WO</name>
        <label>WO</label>
        <locationX>1253</locationX>
        <locationY>538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_ongoing_work</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Order</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WOLIdata</name>
        <label>WOLI</label>
        <locationX>1047</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOLI_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLI</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ErrScreen1</name>
        <label>ErrScreen1</label>
        <locationX>1179</locationX>
        <locationY>1321</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrTxt1</name>
            <fieldText>&lt;p&gt;Error! Case Record Type could not be found.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact the administrator to correct this.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrScreen2</name>
        <label>ErrScreen2</label>
        <locationX>1071</locationX>
        <locationY>1705</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrTxt2</name>
            <fieldText>&lt;p&gt;Error! Configuration Product related to the Asset could not be found.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact the person responsible for the Asset to correct this.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrScreen3</name>
        <label>ErrScreen3</label>
        <locationX>1183</locationX>
        <locationY>1812</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrTxt2_0</name>
            <fieldText>&lt;p&gt;Error! Opportunity related to the Configuration Product could not be found.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact the person responsible for the Asset to correct this.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrScreen4</name>
        <label>ErrScreen4</label>
        <locationX>955</locationX>
        <locationY>630</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrTxt1_0</name>
            <fieldText>&lt;p&gt;Error! The Work Order Line Item could not be found.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact the administrator to correct this.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrScreen5</name>
        <label>ErrScreen5</label>
        <locationX>1383</locationX>
        <locationY>2064</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrTxt5</name>
            <fieldText>&lt;p&gt;Error! Opportunity could not be found.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact the person responsible for the Asset to correct this.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_data</name>
        <label>Get data</label>
        <locationX>814</locationX>
        <locationY>199</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WO_selected</targetReference>
        </connector>
        <fields>
            <name>Type_of_Case</name>
            <choiceReferences>ReclamationCase</choiceReferences>
            <choiceReferences>CustomerServiceCase</choiceReferences>
            <choiceReferences>WarrantyCase</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ReclamationCase</defaultSelectedChoiceReference>
            <fieldText>Type of Case</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Asset</name>
            <choiceReferences>Assets</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Order</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Work_Order</name>
            <choiceReferences>WorkOrders</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Order</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Asset</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Picture_s_are_needed</name>
        <label>Picture(s) are needed</label>
        <locationX>1376</locationX>
        <locationY>2981</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Business_or_Person_Account</targetReference>
        </connector>
        <fields>
            <name>Errortext1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Warning!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Later on when closing this Case, picture attachments regarding the issue are required to be added. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_the_WOLI</name>
        <label>Select the WOLI</label>
        <locationX>925</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WOLIdata</targetReference>
        </connector>
        <fields>
            <name>WOLI</name>
            <choiceReferences>WOLIs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WOLI (RVN)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_data</name>
        <label>Show data</label>
        <locationX>1747</locationX>
        <locationY>2619</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_data_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Confirm_the_data</name>
            <fieldText>Confirm the data</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_the_data_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>stInstDate</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Installation date: {!varInstallationDate}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>stRVN</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;RVN: {!varRVN}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>stConfProd</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Configuration Product: {!Product.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_the_data_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>stAddress</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Street address: {!varStreet}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>stCity</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;City: {!varCity}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>stCountry</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Country: {!varCountry}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Warranty_status</name>
            <fieldText>Warranty status</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Warranty_status_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Warranty_is_valid</name>
                    <fieldText>&lt;p&gt;Asset is under warranty ({!Entitlement_data.StartDate} - {!Entitlement_data.EndDate})&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AssetWarranty</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varAssetExists</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Warranty_is_invalid</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(228, 10, 10);&quot;&gt;Asset is not under warranty&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AssetWarranty</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varAssetExists</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>WarrantyUnknown</name>
                    <fieldText>&lt;p&gt;Unknown&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varAssetExists</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Input_data</name>
            <fieldText>Input data</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_data_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScrSubject</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reclamation_Cause</name>
                    <dataType>String</dataType>
                    <fieldText>Reclamation Cause</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ScrContact</name>
                    <choiceReferences>Contacts</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Contact</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Account.IsPersonAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Classification</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Process_Class__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Target_Code__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomPicklistApiName</name>
                        <value>
                            <stringValue>Cause_Code__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Process Class</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Target Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomLabel</name>
                        <value>
                            <stringValue>Cause Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recCase.Origin</objectFieldReference>
                </fields>
                <fields>
                    <name>Warranty_is_applicable</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>AssetWarranty</elementReference>
                    </defaultValue>
                    <fieldText>Warranty is applicable</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_data_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScrDescription</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>RelatedOpportunity</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OpportunityId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Related Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Order</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Product.Opportunity__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Order</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Order__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Related Order</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Opportunity.Order__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recCase.Priority</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recCase.Subtype__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recCase.Type</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>recCase.Type</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>UploadPictures</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Pictures</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>collPictureCDLs</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Create Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>577</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetConfigurationProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetInstallDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetRVN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetStreetAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetWarranty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>collCDLs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>collOrders</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collPictureCDLs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nbrPictures</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProductCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recCDL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountOrders</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInstallationDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRVN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
