force-app/main/default/flows/Account_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_District</name>
        <label>Set District</label>
        <locationX>242</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>txtDistrict</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Customer_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Location</name>
        <label>Set Location</label>
        <locationX>242</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>locationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_District_Set</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_changed</name>
        <label>Email changed?</label>
        <locationX>374</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonEmail</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_District_Set</name>
        <label>Is District Set?</label>
        <locationX>374</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Assign_District</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No District</defaultConnectorLabel>
        <rules>
            <name>District</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.District__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.District_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_District</targetReference>
            </connector>
            <label>District</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Which_Location_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Location_Type</name>
        <label>Which Location Type?</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_Customer_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Location</defaultConnectorLabel>
        <rules>
            <name>Customer_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Location</targetReference>
            </connector>
            <label>Customer Location</label>
        </rules>
    </decisions>
    <description>Record Triggered Flow to Update Address, Disctrict assignments and the (contact) email
28.4.2023 Update Contact Email on Opportunity when Person Email changed
22.11.2023</description>
    <environments>Default</environments>
    <interviewLabel>Account After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - After Save R2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact_Email</name>
        <label>Update Contact Email</label>
        <locationX>242</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Customer_Location</name>
        <label>Update Customer Location</label>
        <locationX>374</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Email_changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Customer_Location__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>District__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>txtDistrict</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Location__c</field>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>txtDistrict</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Assign_Customer_Location</name>
        <label>Assign Customer Location</label>
        <locationX>506</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Is_District_Set</targetReference>
        </connector>
        <flowName>Create_Update_Location_Records_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>locationId</assignToReference>
            <name>locationId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>txtlocationType</assignToReference>
            <name>locationType</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_District</name>
        <label>Assign District</label>
        <locationX>506</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Update_Customer_Location</targetReference>
        </connector>
        <flowName>Assign_District_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>txtDistrict</assignToReference>
            <name>txtDistrictName</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>locationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtDistrict</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txtlocationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
