force-app/main/default/flows/Account_Set_Marketing_Flags.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Clear_Email_Opt_In_Date</name>
        <label>Clear Email Opt In Date</label>
        <locationX>1166</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Is_SMS_Opt_In_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Finland_Sync_to_MC1</name>
        <label>Clear Finland Sync to MC</label>
        <locationX>902</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Email_Opt_In_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Finland_Sync_to_MC2</name>
        <label>Clear Finland Sync to MC</label>
        <locationX>1166</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Email_Opt_In_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Other_Country_Sync_to_MC1</name>
        <label>Clear Other Country Sync to MC</label>
        <locationX>638</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Email_Opt_In_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Other_Country_Sync_to_MC2</name>
        <label>Clear Other Country Sync to MC</label>
        <locationX>902</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Finland_Sync_to_MC1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_SMS_Opt_In_Date</name>
        <label>Clear SMS Opt In Date</label>
        <locationX>1166</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>$Record.SMS_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_Spain_Sync_to_MC1</name>
        <label>Clear Spain Sync to MC</label>
        <locationX>638</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Other_Country_Sync_to_MC1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Spain_Sync_to_MC2</name>
        <label>Clear Spain Sync to MC</label>
        <locationX>1166</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Finland_Sync_to_MC2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Sync_to_MC</name>
        <label>Clear Sync to MC</label>
        <locationX>1430</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Email_Opt_In_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finland_Sync_to_MC</name>
        <label>Finland Sync to MC</label>
        <locationX>638</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Spain_Sync_to_MC1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Other_Country</name>
        <label>Other Country</label>
        <locationX>1166</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Spain_Sync_to_MC2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Opt_In_Date</name>
        <label>Set Email Opt In Date</label>
        <locationX>902</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_SMS_Opt_In_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SMS_Opt_In_Date</name>
        <label>Set SMS Opt In Date</label>
        <locationX>902</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>$Record.SMS_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Spain_Sync_to_MC</name>
        <label>Spain Sync to MC</label>
        <locationX>902</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Other_Country_Sync_to_MC2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Country</name>
        <label>Check Country</label>
        <locationX>902</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Other_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Countries</defaultConnectorLabel>
        <rules>
            <name>Finland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finland_Sync_to_MC</targetReference>
            </connector>
            <label>Finland</label>
        </rules>
        <rules>
            <name>Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spain_Sync_to_MC</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_SMS_opt_in</name>
        <label>Email/SMS opt in?</label>
        <locationX>1166</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Clear_Sync_to_MC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Country</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Opt_In_Updated</name>
        <label>Is Email Opt In Updated?</label>
        <locationX>1166</locationX>
        <locationY>1427</locationY>
        <defaultConnector>
            <targetReference>Is_SMS_Opt_In_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Update</defaultConnectorLabel>
        <rules>
            <name>Email_Opt_In_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Opt_In_Date</targetReference>
            </connector>
            <label>Email Opt In Set</label>
        </rules>
        <rules>
            <name>Email_Opt_In_Cleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Email_Opt_In_Date</targetReference>
            </connector>
            <label>Email Opt In Cleared</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Internal_Account</name>
        <label>Is Internal Account?</label>
        <locationX>506</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Is_Migrated_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>External</defaultConnectorLabel>
        <rules>
            <name>Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isInternal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Migrated_Account</name>
        <label>Is Migrated Account?</label>
        <locationX>902</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Is_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Created</defaultConnectorLabel>
        <rules>
            <name>Migrated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isMigrated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Migrated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Person_Account</name>
        <label>Is Person Account</label>
        <locationX>1430</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Other Account</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_SMS_opt_in</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SMS_Opt_In_Updated</name>
        <label>Is SMS Opt In Updated?</label>
        <locationX>1166</locationX>
        <locationY>1727</locationY>
        <defaultConnectorLabel>No Update</defaultConnectorLabel>
        <rules>
            <name>SMS_Opt_In_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SMS_Opt_In_Date</targetReference>
            </connector>
            <label>SMS Opt In Set</label>
        </rules>
        <rules>
            <name>SMS_Opt_In_Cleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_SMS_Opt_In_Date</targetReference>
            </connector>
            <label>SMS Opt In Cleared</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Internal_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <description>Trigger Flow to Update Account Marketing Flags</description>
    <environments>Default</environments>
    <formulas>
        <name>fxBillingAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.BillingCountryCode}) + TEXT({!$Record.BillingStateCode})
+ {!$Record.BillingCity}+ {!$Record.BillingPostalCode}
+ {!$Record.BillingStreet}
+ TEXT({!$Record.BillingLatitude} )+ TEXT({!$Record.BillingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxBillingAddressPrior</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.BillingCountryCode}) + TEXT({!$Record__Prior.BillingStateCode})
+ {!$Record__Prior.BillingCity}+ {!$Record__Prior.BillingPostalCode}
+ {!$Record__Prior.BillingStreet}
+ TEXT({!$Record__Prior.BillingLatitude} )+ TEXT({!$Record__Prior.BillingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxMailingAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.PersonMailingCountryCode}) + TEXT({!$Record.PersonMailingStateCode})
+ {!$Record.PersonMailingCity}+ {!$Record.PersonMailingPostalCode}
+ {!$Record.PersonMailingStreet}
+ TEXT({!$Record.PersonMailingLatitude} )+ TEXT({!$Record.PersonMailingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxMailingAddressPrior</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.PersonMailingCountryCode}) + TEXT({!$Record__Prior.PersonMailingStateCode})
+ {!$Record__Prior.PersonMailingCity}+ {!$Record__Prior.PersonMailingPostalCode}
+ {!$Record__Prior.PersonMailingStreet}
+ TEXT({!$Record__Prior.PersonMailingLatitude} )+ TEXT({!$Record__Prior.PersonMailingLongitude})</expression>
    </formulas>
    <interviewLabel>Account - Set Marketing Flags {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Set Marketing Flags R4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Postal_Code_Area__c</objectType>
    </variables>
    <variables>
        <name>MailingAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>txtAccountOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtAccountProfitCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtDefaultOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtDefaultProfitCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtPostalCodeArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtProfitCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSalesArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSalesOffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
