force-app/main/default/flows/Account_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddEmailDateTime</name>
        <label>AddEmailDateTime</label>
        <locationX>1306</locationX>
        <locationY>3995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MarketingOptRemoveDateTimeEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddEmailSmsDateTime</name>
        <label>AddEmailSmsDateTime</label>
        <locationX>1042</locationX>
        <locationY>3995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SMS_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MarketingOptRemoveDateTimeEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSmsDateTime</name>
        <label>AddSmsDateTime</label>
        <locationX>1570</locationX>
        <locationY>3995</locationY>
        <assignmentItems>
            <assignToReference>$Record.SMS_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MarketingOptRemoveDateTimeEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Finland_Sync_to_MC1</name>
        <label>Clear Finland Sync to MC</label>
        <locationX>1174</locationX>
        <locationY>3611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckMarketingOptEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Finland_Sync_to_MC2</name>
        <label>Clear Finland Sync to MC</label>
        <locationX>1438</locationX>
        <locationY>3611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckMarketingOptEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Other_Country_Sync_to_MC1</name>
        <label>Clear Other Country Sync to MC</label>
        <locationX>910</locationX>
        <locationY>3611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckMarketingOptEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Other_Country_Sync_to_MC2</name>
        <label>Clear Other Country Sync to MC</label>
        <locationX>1174</locationX>
        <locationY>3503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Finland_Sync_to_MC1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Spain_Sync_to_MC1</name>
        <label>Clear Spain Sync to MC</label>
        <locationX>910</locationX>
        <locationY>3503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Other_Country_Sync_to_MC1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Spain_Sync_to_MC2</name>
        <label>Clear Spain Sync to MC</label>
        <locationX>1438</locationX>
        <locationY>3503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Finland_Sync_to_MC2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>do_not_Sync_to_MC</name>
        <label>do not Sync to MC</label>
        <locationX>1702</locationX>
        <locationY>3287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckMarketingOptEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finland_Sync_to_MC</name>
        <label>Finland Sync to MC</label>
        <locationX>910</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Spain_Sync_to_MC1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Other_Country</name>
        <label>Other Country</label>
        <locationX>1438</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Spain_Sync_to_MC2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Email_Date_Time</name>
        <label>Remove Email Date Time</label>
        <locationX>1306</locationX>
        <locationY>4295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Postal_Code_Area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Email_SMS_datetime</name>
        <label>Remove Email SMS DateTime</label>
        <locationX>1042</locationX>
        <locationY>4295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SMS_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Postal_Code_Area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_SMS_DateTime</name>
        <label>Remove SMS DateTime</label>
        <locationX>1570</locationX>
        <locationY>4295</locationY>
        <assignmentItems>
            <assignToReference>$Record.SMS_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Postal_Code_Area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Address</name>
        <label>Set Billing Address</label>
        <locationX>1174</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingLongitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingGeocodeAccuracy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingGeocodeAccuracy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>B2C_Billing_Address_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Business_Attributes</name>
        <label>Set Business Attributes</label>
        <locationX>1240</locationX>
        <locationY>4703</locationY>
        <assignmentItems>
            <assignToReference>txtSalesOffice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Postal_Code_Area.Office__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtProfitCenter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Postal_Code_Area.Profit_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCostCenter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Postal_Code_Area.Profit_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSalesArea</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Postal_Code_Area.District__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtPostalCodeArea</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Postal_Code_Area.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Update_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Business_Defaults</name>
        <label>Set Business Defaults</label>
        <locationX>1018</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_SMS_opt_in</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Consumer_Defaults</name>
        <label>Set Consumer Defaults</label>
        <locationX>534</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Defaults.VAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Defaults.Account_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Defaults.Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Financing_Customer_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Defaults.Financing_Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.District_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Defaults.District_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Converted_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Consumer_Language_Country</name>
        <label>Set Consumer Language Country</label>
        <locationX>754</locationX>
        <locationY>2243</locationY>
        <assignmentItems>
            <assignToReference>$Record.Language_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Defaults.Default_Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_SMS_opt_in</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Consumer_Language_Default</name>
        <label>Set Consumer Language Default</label>
        <locationX>314</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>$Record.Language_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Defaults.Default_Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_SMS_opt_in</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Consumer_Language_Preferred</name>
        <label>Set Consumer Language Preferred</label>
        <locationX>50</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>$Record.Language_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Converted_Lead.Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_SMS_opt_in</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Office_and_Profit_Center</name>
        <label>Set Office and Profit Center</label>
        <locationX>1108</locationX>
        <locationY>4919</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtSalesOffice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtSalesArea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Postal_Code_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtPostalCodeArea</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Shipping_Address</name>
        <label>Set Shipping Address</label>
        <locationX>1174</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingLongitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingGeocodeAccuracy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingGeocodeAccuracy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Other_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Spain_Sync_to_MC</name>
        <label>Spain Sync to MC</label>
        <locationX>1174</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Other_Country_Sync_to_MC2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Billing_Address</name>
        <label>Update Billing Address</label>
        <locationX>1438</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingLongitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingGeocodeAccuracy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingGeocodeAccuracy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>B2C_Billing_Address_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Shipping_Address</name>
        <label>Update Shipping Address</label>
        <locationX>1438</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingLongitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingGeocodeAccuracy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingGeocodeAccuracy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Other_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>B2C_Billing_Address_Changed</name>
        <label>B2C Billing Address Changed?</label>
        <locationX>1438</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Has_Other_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Billing_Address_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingToShipping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipping_Address</targetReference>
            </connector>
            <label>Billing Address Set</label>
        </rules>
        <rules>
            <name>Billing_Address_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingToShipping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipping_Address</targetReference>
            </connector>
            <label>Billing Address Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>B2C_Mailing_Address_Changed</name>
        <label>B2C Mailing Address Changed?</label>
        <locationX>1438</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>B2C_Billing_Address_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Mailing_Address_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingToBilling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Address</targetReference>
            </connector>
            <label>Mailing Address Set</label>
        </rules>
        <rules>
            <name>Mailing_Address_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingToBilling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Address</targetReference>
            </connector>
            <label>Mailing Address Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Country</name>
        <label>Check Country</label>
        <locationX>1174</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Other_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Countries</defaultConnectorLabel>
        <rules>
            <name>Finland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finland_Sync_to_MC</targetReference>
            </connector>
            <label>Finland</label>
        </rules>
        <rules>
            <name>Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spain_Sync_to_MC</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMarketingOptEmailSms</name>
        <label>CheckMarketingOptEmailSms</label>
        <locationX>1438</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>MarketingOptRemoveDateTimeEmailSms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckEmailSms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddEmailSmsDateTime</targetReference>
            </connector>
            <label>CheckEmailSms</label>
        </rules>
        <rules>
            <name>CheckEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddEmailDateTime</targetReference>
            </connector>
            <label>CheckEmail</label>
        </rules>
        <rules>
            <name>CheckSms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSmsDateTime</targetReference>
            </connector>
            <label>CheckSms</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_Defaults_Found</name>
        <label>Country Defaults Found?</label>
        <locationX>1029</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Email_SMS_opt_in</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Country Defaults</defaultConnectorLabel>
        <rules>
            <name>Country_Defaults</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Country_Defaults</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Consumer</targetReference>
            </connector>
            <label>Country Defaults</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_SMS_opt_in</name>
        <label>Email/SMS opt in?</label>
        <locationX>1438</locationX>
        <locationY>3179</locationY>
        <defaultConnector>
            <targetReference>do_not_Sync_to_MC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Country</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Billing_Address</name>
        <label>Has Billing Address?</label>
        <locationX>1243</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Email_SMS_opt_in</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Billing Address</defaultConnectorLabel>
        <rules>
            <name>Billing_Address</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>fxBillingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Country_Defaults</targetReference>
            </connector>
            <label>Billing Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Mailing_Address</name>
        <label>Has Mailing Address?</label>
        <locationX>1438</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>B2C_Mailing_Address_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Mailing Address</defaultConnectorLabel>
        <rules>
            <name>Mailing_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxMailingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2C_Mailing_Address_Changed</targetReference>
            </connector>
            <label>Mailing Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Other_Address</name>
        <label>Has Other Address?</label>
        <locationX>1438</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Is_New_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Complete) Other Address</defaultConnectorLabel>
        <rules>
            <name>Other_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonOtherCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonOtherCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonOtherPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonOtherStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New_Account</targetReference>
            </connector>
            <label>Other Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Consumer</name>
        <label>Is Consumer?</label>
        <locationX>776</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Set_Business_Defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business</defaultConnectorLabel>
        <rules>
            <name>Consumer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Consumer_Defaults</targetReference>
            </connector>
            <label>Consumer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Converted_Lead</name>
        <label>Is Converted Lead?</label>
        <locationX>534</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>Set_Consumer_Language_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standalone Account</defaultConnectorLabel>
        <rules>
            <name>Converted_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Contact</targetReference>
            </connector>
            <label>Converted Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Language_Set</name>
        <label>Is Language Set?</label>
        <locationX>314</locationX>
        <locationY>2459</locationY>
        <defaultConnector>
            <targetReference>Email_SMS_opt_in</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not Update Language</defaultConnectorLabel>
        <rules>
            <name>Preferred_Language</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Lead.Language__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Language_Preference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Consumer_Language_Preferred</targetReference>
            </connector>
            <label>Preferred Language</label>
        </rules>
        <rules>
            <name>Default_Language</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language_Preference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Consumer_Language_Default</targetReference>
            </connector>
            <label>Default Language</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Account</name>
        <label>Is New Account?</label>
        <locationX>1438</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Email_SMS_opt_in</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Account</defaultConnectorLabel>
        <rules>
            <name>New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Billing_Address</targetReference>
            </connector>
            <label>New Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Person_Account</name>
        <label>Is Person Account</label>
        <locationX>1724</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Other Account</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Mailing_Address</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision defines whether profit center and account information is needed to be updated ( whether they are missing values or billing zip code changed)</description>
        <name>Is_Update_Needed</name>
        <label>Is Update Needed?</label>
        <locationX>1240</locationX>
        <locationY>4811</locationY>
        <defaultConnectorLabel>No Update Needed</defaultConnectorLabel>
        <rules>
            <name>Update_Needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingPostalCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Office__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Area__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Area__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Postal_Code_Area.District__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Postal_Code_Area__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Postal_Code_Area__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Postal_Code_Area.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Office_and_Profit_Center</targetReference>
            </connector>
            <label>Update Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>MarketingOptRemoveDateTimeEmailSms</name>
        <label>MarketingOptRemoveDateTimeEmailSms</label>
        <locationX>1438</locationX>
        <locationY>4187</locationY>
        <defaultConnector>
            <targetReference>Get_Postal_Code_Area</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RemoveDateTimeEmailSms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Email_SMS_datetime</targetReference>
            </connector>
            <label>RemoveDateTimeEmailSms</label>
        </rules>
        <rules>
            <name>RemoveDateTimeEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Email_Date_Time</targetReference>
            </connector>
            <label>RemoveDateTimeEmail</label>
        </rules>
        <rules>
            <name>RemoveDateTimeSms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_SMS_DateTime</targetReference>
            </connector>
            <label>RemoveDateTimeSms</label>
        </rules>
    </decisions>
    <decisions>
        <name>Postal_Code_Area_Exists</name>
        <label>Postal Code Area Exists?</label>
        <locationX>1438</locationX>
        <locationY>4595</locationY>
        <defaultConnectorLabel>No Postal Code Areas</defaultConnectorLabel>
        <rules>
            <name>Postal_Code_Areas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Postal_Code_Area.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Business_Attributes</targetReference>
            </connector>
            <label>Postal Code Areas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>755</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <description>Trigger Flow to copy Addresses on Account Creation
- For Created B2C Accounts: Billing to Shipping
- For Converted B2C Accounts: Mailing to Billing and Billing to Shipping OR Other to Shipping
- For B2B Accounts: Billing to Shipping (Mailing and Other remain Blank)
24.3.2023 removed temporarily address parts /JJ
24.04.2023 Merged with Other Account Before Save Flow - HR
24.04.2023 Reconnect Elements
24.4.2023 Restructuring &amp; added elements from after save flow to update profit center &amp; office
4.7.2023 add MC opt Finland Spain and Other Countries
10.7.2023 Updated Record.county__c to Record.BillingCountry in Check Country decision
10.7.2023 Updated Other_Countries_Sync_to_MC__c to FALSE in the &apos;do not sync&apos; outcome
31.10.2023 Updated the Clearing of MC Flags
31.10.2023 removed updated the person account MC Fields
31.10.2023 updated the account MC Fields country check
18.12.2023 updated clearing MC sync
04.01.2023 Fixed Country Assignment (needs country code not country)
25.01.2024 Added Cost Center
30.01.2024 Update Logic to update Sales Area and Office
30.01.2024 Added Postal Code Area Lookup
16.02.2024 Set Default Language
22.03.2024 Fixed Business Attribute assignment for postal Code Area</description>
    <environments>Default</environments>
    <formulas>
        <name>fxBillingAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.BillingCountryCode}) + TEXT({!$Record.BillingStateCode})
+ {!$Record.BillingCity}+ {!$Record.BillingPostalCode}
+ {!$Record.BillingStreet}
+ TEXT({!$Record.BillingLatitude} )+ TEXT({!$Record.BillingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxBillingAddressPrior</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.BillingCountryCode}) + TEXT({!$Record__Prior.BillingStateCode})
+ {!$Record__Prior.BillingCity}+ {!$Record__Prior.BillingPostalCode}
+ {!$Record__Prior.BillingStreet}
+ TEXT({!$Record__Prior.BillingLatitude} )+ TEXT({!$Record__Prior.BillingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxMailingAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.PersonMailingCountryCode}) + TEXT({!$Record.PersonMailingStateCode})
+ {!$Record.PersonMailingCity}+ {!$Record.PersonMailingPostalCode}
+ {!$Record.PersonMailingStreet}
+ TEXT({!$Record.PersonMailingLatitude} )+ TEXT({!$Record.PersonMailingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxMailingAddressPrior</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.PersonMailingCountryCode}) + TEXT({!$Record__Prior.PersonMailingStateCode})
+ {!$Record__Prior.PersonMailingCity}+ {!$Record__Prior.PersonMailingPostalCode}
+ {!$Record__Prior.PersonMailingStreet}
+ TEXT({!$Record__Prior.PersonMailingLatitude} )+ TEXT({!$Record__Prior.PersonMailingLongitude})</expression>
    </formulas>
    <interviewLabel>Account - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Before Save R2.5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Converted_Lead</name>
        <label>Get Converted Lead</label>
        <locationX>314</locationX>
        <locationY>2351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Language_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConvertedAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Country_Defaults</name>
        <label>Get Country Defaults</label>
        <locationX>1029</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Country_Defaults_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Specific_Default__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Contact</name>
        <label>Get Person Contact</label>
        <locationX>314</locationX>
        <locationY>2243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Converted_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets postal codea area to source profit center and office</description>
        <name>Get_Postal_Code_Area</name>
        <label>Get Postal Code Area</label>
        <locationX>1438</locationX>
        <locationY>4487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Postal_Code_Area_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Postal_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingCountryCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Postal_Code_Area__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>629</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Postal_Code_Area__c</objectType>
    </variables>
    <variables>
        <name>MailingAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>txtCostCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtPostalCodeArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtProfitCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSalesArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSalesOffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
