force-app/main/default/flows/Account_Set_Location_and_District.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_District</name>
        <label>Set District</label>
        <locationX>720</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>txtDistrict</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Customer_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Location</name>
        <label>Set Location</label>
        <locationX>720</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>locationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_District_Set</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_District_Set</name>
        <label>Is District Set?</label>
        <locationX>852</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Assign_District</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No District</defaultConnectorLabel>
        <rules>
            <name>District</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.District__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.District_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_District</targetReference>
            </connector>
            <label>District</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Internal_Account</name>
        <label>Is Internal Account?</label>
        <locationX>423</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Is_Migrated_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>External</defaultConnectorLabel>
        <rules>
            <name>Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isInternal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Migrated_Account</name>
        <label>Is Migrated Account?</label>
        <locationX>654</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Which_Location_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Created</defaultConnectorLabel>
        <rules>
            <name>Migrated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isMigrated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Migrated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Internal_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Location_Type</name>
        <label>Which Location Type?</label>
        <locationX>852</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_Customer_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Location</defaultConnectorLabel>
        <rules>
            <name>Customer_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Location</targetReference>
            </connector>
            <label>Customer Location</label>
        </rules>
    </decisions>
    <description>Trigger Flow to Update Account Location and District</description>
    <environments>Default</environments>
    <interviewLabel>Account - Set Location and District {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Set Location and District R4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Customer_Location</name>
        <label>Update Customer Location</label>
        <locationX>852</locationX>
        <locationY>1247</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Customer_Location__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>District__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>txtDistrict</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Territory__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>txtTerritoryName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Location__c</field>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>txtDistrict</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Territory__c</field>
            <value>
                <elementReference>txtTerritoryName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Assign_Customer_Location</name>
        <label>Assign Customer Location</label>
        <locationX>984</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Is_District_Set</targetReference>
        </connector>
        <flowName>Assign_Locations_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>locationId</assignToReference>
            <name>locationId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>txtlocationType</assignToReference>
            <name>locationType</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_District</name>
        <label>Assign District</label>
        <locationX>984</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Customer_Location</targetReference>
        </connector>
        <flowName>Assign_District_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>txtDistrict</assignToReference>
            <name>txtDistrictName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>txtTerritoryName</assignToReference>
            <name>txtTerritoryName</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>locationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtDistrict</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txtlocationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
