force-app/main/default/flows/Account_Set_Addresses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Billing_Address</name>
        <label>Set Billing Address</label>
        <locationX>66</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingLongitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingGeocodeAccuracy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingGeocodeAccuracy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Billing_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Address</name>
        <label>Set Shipping Address</label>
        <locationX>286</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingLongitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingGeocodeAccuracy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingGeocodeAccuracy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Shipping_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Billing_Address</name>
        <label>Update Billing Address</label>
        <locationX>330</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingLongitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingGeocodeAccuracy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonMailingGeocodeAccuracy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Billing_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Shipping_Address</name>
        <label>Update Shipping Address</label>
        <locationX>550</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingLongitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingGeocodeAccuracy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingGeocodeAccuracy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Shipping_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Billing_Address</name>
        <label>Has Billing Address?</label>
        <locationX>550</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Is_Billing_Address_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Billing Address</defaultConnectorLabel>
        <rules>
            <name>Billing_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxBillingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Billing_Address_Updated</targetReference>
            </connector>
            <label>Billing Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Mailing_Address</name>
        <label>Has Mailing Address?</label>
        <locationX>330</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Has_Other_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Mailing Address</defaultConnectorLabel>
        <rules>
            <name>Mailing_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxMailingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Other_Address</targetReference>
            </connector>
            <label>Mailing Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Other_Address</name>
        <label>Has Other Address?</label>
        <locationX>330</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Is_Mailing_Address_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Complete) Other Address</defaultConnectorLabel>
        <rules>
            <name>Other_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonOtherCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonOtherCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonOtherPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonOtherStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Mailing_Address_Updated</targetReference>
            </connector>
            <label>Other Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Shipping_Address</name>
        <label>Has Shipping Address?</label>
        <locationX>550</locationX>
        <locationY>1763</locationY>
        <defaultConnectorLabel>No Shipping Address</defaultConnectorLabel>
        <rules>
            <name>Shipping_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxShippingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Shipping Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Billing_Address_Updated</name>
        <label>Is Billing Address Updated?</label>
        <locationX>550</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Has_Shipping_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Billing_Address_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingToShipping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipping_Address</targetReference>
            </connector>
            <label>Billing Address Set</label>
        </rules>
        <rules>
            <name>Billing_Address_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingToShipping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipping_Address</targetReference>
            </connector>
            <label>Billing Address Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Mailing_Address_Updated</name>
        <label>Is Mailing Address Updated?</label>
        <locationX>330</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Has_Billing_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Mailing_Address_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingToBilling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Address</targetReference>
            </connector>
            <label>Mailing Address Set</label>
        </rules>
        <rules>
            <name>Mailing_Address_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingToBilling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Address</targetReference>
            </connector>
            <label>Mailing Address Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Person_Account</name>
        <label>Is Person Account</label>
        <locationX>550</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Has_Billing_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Account</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Mailing_Address</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <description>Trigger Flow to Update Account Addresses</description>
    <environments>Default</environments>
    <formulas>
        <name>fxBillingAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.BillingCountryCode}) 
+ TEXT({!$Record.BillingStateCode})
+ {!$Record.BillingCity}
+ {!$Record.BillingPostalCode}
+ {!$Record.BillingStreet}
+ TEXT({!$Record.BillingLatitude} )
+ TEXT({!$Record.BillingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxBillingAddressPrior</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.BillingCountryCode}) + TEXT({!$Record__Prior.BillingStateCode})
+ {!$Record__Prior.BillingCity}+ {!$Record__Prior.BillingPostalCode}
+ {!$Record__Prior.BillingStreet}
+ TEXT({!$Record__Prior.BillingLatitude} )+ TEXT({!$Record__Prior.BillingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxMailingAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.PersonMailingCountryCode}) + TEXT({!$Record.PersonMailingStateCode})
+ {!$Record.PersonMailingCity}+ {!$Record.PersonMailingPostalCode}
+ {!$Record.PersonMailingStreet}
+ TEXT({!$Record.PersonMailingLatitude} )+ TEXT({!$Record.PersonMailingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxMailingAddressPrior</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.PersonMailingCountryCode}) + TEXT({!$Record__Prior.PersonMailingStateCode})
+ {!$Record__Prior.PersonMailingCity}+ {!$Record__Prior.PersonMailingPostalCode}
+ {!$Record__Prior.PersonMailingStreet}
+ TEXT({!$Record__Prior.PersonMailingLatitude} )+ TEXT({!$Record__Prior.PersonMailingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxShippingAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.ShippingCountryCode}) 
+ TEXT({!$Record.ShippingStateCode})
+ {!$Record.ShippingCity}
+ {!$Record.ShippingPostalCode}
+ {!$Record.ShippingStreet}
+ TEXT({!$Record.ShippingLatitude} )
+ TEXT({!$Record.ShippingLongitude})</expression>
    </formulas>
    <interviewLabel>Account - Set Addresses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Set Addresses R2.5.5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Postal_Code_Area__c</objectType>
    </variables>
    <variables>
        <name>txtAccountOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtAccountProfitCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtDefaultOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtDefaultProfitCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtPostalCodeArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtProfitCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSalesArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSalesOffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
