force-app/main/default/flows/Asset_Set_Entitlement_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Entitlement</name>
        <label>Set Entitlement</label>
        <locationX>489</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Entitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Entitlement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Warranty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Entitlement_Id</name>
        <label>Set Entitlement Id</label>
        <locationX>489</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>entitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Extended_Warranty_Values</name>
        <label>Set Extended Warranty Values</label>
        <locationX>445</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Entitlement.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entitlement.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entitlement.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entitlement.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entitlement.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InstallDatePlus5Years</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entitlement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Extended Warranty</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entitlement.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Extended Warranty</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Entitlement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Warranty_Values</name>
        <label>Set Warranty Values</label>
        <locationX>709</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Entitlement.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entitlement.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entitlement.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entitlement.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entitlement.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InstallDatePlus5Years</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entitlement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warranty</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entitlement.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warranty</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Entitlement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Warranty</name>
        <label>Has Warranty?</label>
        <locationX>489</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Set_Warranty_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Warranty</defaultConnectorLabel>
        <rules>
            <name>Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Entitlement.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Entitlement_Id</targetReference>
            </connector>
            <label>Warranty</label>
        </rules>
        <rules>
            <name>Extended_Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Entitlement.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extended Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Extended_Warranty_Values</targetReference>
            </connector>
            <label>Extended Warranty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_Asset</name>
        <label>Is Product Asset?</label>
        <locationX>610</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Other Asset</defaultConnectorLabel>
        <rules>
            <name>Product_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Reclamation</targetReference>
            </connector>
            <label>Product Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reclamation</name>
        <label>Is Reclamation?</label>
        <locationX>247</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Entitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal</defaultConnectorLabel>
        <rules>
            <name>Reclamation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamation</stringValue>
                </rightValue>
            </conditions>
            <label>Reclamation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Product_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <description>Trigger Flow to Set the Entitlement (Warranty) for a New Asset</description>
    <environments>Default</environments>
    <formulas>
        <name>InstallDatePlus5Years</name>
        <dataType>Date</dataType>
        <expression>IF(
AND(
MONTH(DateValue({!$Record.CreatedDate})) = 2,
DAY(DateValue({!$Record.CreatedDate})) = 29
),
DATE(
YEAR(DateValue({!$Record.CreatedDate}))+5,
3,
1),
DATE(
YEAR(DateValue({!$Record.CreatedDate}))+5,
MONTH(DateValue({!$Record.CreatedDate})),
DAY(DateValue({!$Record.CreatedDate}))
)
)</expression>
    </formulas>
    <interviewLabel>Asset - Set Entitlement Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset - Set Entitlement Values R4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Entitlement</name>
        <label>Create Entitlement</label>
        <locationX>709</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Set_Entitlement_Id</targetReference>
        </connector>
        <inputReference>Entitlement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Entitlement</name>
        <label>Get Entitlement</label>
        <locationX>489</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Entitlement</name>
        <label>Update Entitlement</label>
        <locationX>445</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Set_Entitlement_Id</targetReference>
        </connector>
        <inputReference>Entitlement</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reclamation</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Entitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>entitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
