force-app/main/default/flows/Assign_District_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_Territory_Ids_Collection</name>
        <label>Add to Territory Ids Collection</label>
        <locationX>819</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>territoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Associated_Territories.Territory2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>territoryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>territoryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Associated_Territories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_District_Type</name>
        <label>Set Account District Type</label>
        <locationX>929</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>txtAccountDistrictType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.District_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_DistrictType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Record</name>
        <label>Set Account Record</label>
        <locationX>929</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>recAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Account_District_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Territories</name>
        <label>Set Account Territories</label>
        <locationX>731</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>colAccountTerritories</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Associated_Territories</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nbrAccountTerritories</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colAccountTerritories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Associated_Territories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Territory</name>
        <label>Set Account Territory</label>
        <locationX>1215</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>recAccountTerritory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Territories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Territory_is_District</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Territory_Tree</name>
        <label>Set Account Territory Tree</label>
        <locationX>599</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>txtTerritoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxTerritoryName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtParentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxParentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtGrandParentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxGrandParentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtGreatGrandParentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxGreatGrandParentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtAccountDistrict</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtDistrictName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_AccountId</name>
        <label>Set AccountId</label>
        <locationX>1226</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_District_Type</name>
        <label>Set Default District Type</label>
        <locationX>1061</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>nbrDistrictTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Associated_Territories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_District_Type</name>
        <label>Set District Type</label>
        <locationX>797</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>txtDistrictType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtAccountDistrictType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_District_Type_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_District_Type_Priority</name>
        <label>Set District Type Priority</label>
        <locationX>797</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>nbrDistrictTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxDistrictType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Associated_Territories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Grand_Parent_As_District</name>
        <label>Set Grand Parent As District</label>
        <locationX>1215</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>txtDistrictName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxGrandParentName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Territories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Great_Grand_Parent_As_District</name>
        <label>Set Great Grand Parent As District</label>
        <locationX>1479</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>txtDistrictName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxGreatGrandParentName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Territories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_AccountId</name>
        <label>Set Opportunity AccountId</label>
        <locationX>698</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Record</name>
        <label>Set Opportunity Record</label>
        <locationX>698</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opportunity_AccountId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityId</name>
        <label>Set OpportunityId</label>
        <locationX>830</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_As_District</name>
        <label>Set Parent As District</label>
        <locationX>951</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>txtDistrictName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxParentName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Territories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Territory_As_District</name>
        <label>Set Territory As District</label>
        <locationX>687</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>txtDistrictName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxTerritoryName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Territories</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DistrictTypeDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue>P4</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Returned</name>
        <label>Account Returned?</label>
        <locationX>1160</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>Account_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Record</targetReference>
            </connector>
            <label>Account Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Associated_Territories_Returned</name>
        <label>Associated Territories Returned?</label>
        <locationX>929</locationX>
        <locationY>2114</locationY>
        <defaultConnectorLabel>No Associated Territories</defaultConnectorLabel>
        <rules>
            <name>Associated_Territories</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Territories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Territories</targetReference>
            </connector>
            <label>Associated Territories</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_Territories</name>
        <label>How Many Territories?</label>
        <locationX>731</locationX>
        <locationY>2738</locationY>
        <defaultConnectorLabel>No Territories</defaultConnectorLabel>
        <rules>
            <name>One_or_More_Territories</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrAccountTerritories</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Territories</targetReference>
            </connector>
            <label>One or More Territories</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Returned</name>
        <label>Opportunity Returned?</label>
        <locationX>830</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>OpportunityRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Record</targetReference>
            </connector>
            <label>Opportunity Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip automation is a Custom Setting and allows Administrative tasks to be executed without triggering automation</description>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_ObjectType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_DistrictType</name>
        <label>Which DistrictType</label>
        <locationX>929</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Set_Default_District_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Account_District_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtAccountDistrictType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_District_Type</targetReference>
            </connector>
            <label>Account District Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Object</name>
        <label>Which Object?</label>
        <locationX>1160</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Other Object</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OpportunityId</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AccountId</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Territory_is_District</name>
        <label>Which Territory is District?</label>
        <locationX>1215</locationX>
        <locationY>3170</locationY>
        <defaultConnector>
            <targetReference>Loop_Account_Territories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxTerritoryPriority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nbrDistrictTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Territory_As_District</targetReference>
            </connector>
            <label>Territory</label>
        </rules>
        <rules>
            <name>Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxParentPriority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nbrDistrictTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_As_District</targetReference>
            </connector>
            <label>Parent</label>
        </rules>
        <rules>
            <name>Grand_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxGrandParentPriority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nbrDistrictTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Grand_Parent_As_District</targetReference>
            </connector>
            <label>Grand Parent</label>
        </rules>
        <rules>
            <name>Great_Grand_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxGreatGrandParentPriority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nbrDistrictTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Great_Grand_Parent_As_District</targetReference>
            </connector>
            <label>Great Grand Parent</label>
        </rules>
    </decisions>
    <description>SubFlow to determine the District based on the Account Territory Structure
Added option to use on Account also
Added condition to use the Auto Assigned Territory
02.12.23 Saved Active Version as Last Version</description>
    <environments>Default</environments>
    <formulas>
        <name>fxDistrictType</name>
        <dataType>Number</dataType>
        <expression>VALUE(RIGHT({!txtAccountDistrictType},LEN({!txtAccountDistrictType})-1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxGrandParentName</name>
        <dataType>String</dataType>
        <expression>{!recAccountTerritory.ParentTerritory2.ParentTerritory2.DeveloperName}</expression>
    </formulas>
    <formulas>
        <name>fxGrandParentPriority</name>
        <dataType>Number</dataType>
        <expression>{!recAccountTerritory.ParentTerritory2.ParentTerritory2.Territory2Type.Priority}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxGreatGrandParentName</name>
        <dataType>String</dataType>
        <expression>{!recAccountTerritory.ParentTerritory2.ParentTerritory2.ParentTerritory2.DeveloperName}</expression>
    </formulas>
    <formulas>
        <name>fxGreatGrandParentPriority</name>
        <dataType>Number</dataType>
        <expression>{!recAccountTerritory.ParentTerritory2.ParentTerritory2.ParentTerritory2.Territory2Type.Priority}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxParentName</name>
        <dataType>String</dataType>
        <expression>{!recAccountTerritory.ParentTerritory2.DeveloperName}</expression>
    </formulas>
    <formulas>
        <name>fxParentPriority</name>
        <dataType>Number</dataType>
        <expression>{!recAccountTerritory.ParentTerritory2.Territory2Type.Priority}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxTerritoryName</name>
        <dataType>String</dataType>
        <expression>{!recAccountTerritory.DeveloperName}</expression>
    </formulas>
    <formulas>
        <name>fxTerritoryPriority</name>
        <dataType>Number</dataType>
        <expression>{!recAccountTerritory.Territory2Type.Priority}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Opportunity - Assign District SubFlow S11 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Assign District SubFlow R2</label>
    <loops>
        <name>Loop_Account_Territories</name>
        <label>Loop Account Territories</label>
        <locationX>599</locationX>
        <locationY>2954</locationY>
        <collectionReference>Get_Account_Territories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Account_Territory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Account_Territory_Tree</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Associated_Territories</name>
        <label>Loop Associated Territories</label>
        <locationX>731</locationX>
        <locationY>2330</locationY>
        <collectionReference>Get_Associated_Territories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Territory_Ids_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Territory_Model</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1160</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Territories</name>
        <label>Get Account Territories</label>
        <locationX>599</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Account_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>territoryIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory2ModelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Territory_Model.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Associated_Territories</name>
        <label>Get Associated Territories</label>
        <locationX>929</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Associated_Territories_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssociationCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Territory2AssignmentRule</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ObjectTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>830</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_Model</name>
        <label>Get Territory Model</label>
        <locationX>731</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>How_Many_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2Model</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_ObjectType</name>
        <label>Get ObjectType</label>
        <locationX>1160</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Which_Object</targetReference>
        </connector>
        <flowName>DetermineObjectTypeSubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ObjectType</assignToReference>
            <name>sObjectType</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colAccountTerritories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ObjectTerritory2Association</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_Highest_Priority</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory2</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory2</objectType>
    </variables>
    <variables>
        <name>nbrAccountTerritories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrAccountTerritory</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrDistrictTypeId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrOpportunityTerritories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recAccountTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory2</objectType>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory2</objectType>
    </variables>
    <variables>
        <name>territoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>territoryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>territoryTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>territoryTypeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtAccountDistrict</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtAccountDistrictType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtDistrictName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txtDistrictType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtDistrictTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtGrandParentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txtGreatGrandParentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txtParentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txtTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
