force-app/main/default/flows/Assign_Structural_Analysis_Defaults_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Count_Filtered_Results</name>
        <label>Count Filtered Results</label>
        <locationX>402</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>nbrStructruralDefaults</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Structural_Analysis_Defaults</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Structural_Analysis_Id</name>
        <label>Get Structural Analysis Id</label>
        <locationX>270</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>structuralAnalysisId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buildingStructuralAnalysisId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Building</name>
        <label>Set Building</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>recBuilding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Building</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Structural_Analysis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Building_Structural_Analysis_Id</name>
        <label>Set Building Structural Analysis Id</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>buildingStructuralAnalysisId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Structural_Analysis.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Structural_Analysis_Defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BuildingId</name>
        <label>Set BuildingId</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Building</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Country_Default</name>
        <label>Set Country Default</label>
        <locationX>138</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>recStructuralAnalysisDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Country_Default_Results</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Country_Default_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_District_Default</name>
        <label>Set District Default</label>
        <locationX>490</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>recStructuralAnalysisDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_District_Default_Results</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_District_Default_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_BuildingId</name>
        <label>Set Opportunity BuildingId</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Building__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Building</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityId</name>
        <label>Set OpportunityId</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Structural_Analysis</name>
        <label>Set Structural Analysis</label>
        <locationX>534</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Building__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Drainage_Holes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recStructuralAnalysisDefault.Drainage_Holes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Seals_Between_Panes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recStructuralAnalysisDefault.Seals_between_Panes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Heat_Soak__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recStructuralAnalysisDefault.Heatsoak__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Snowload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recStructuralAnalysisDefault.Snowload__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Wind_Pressure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recStructuralAnalysisDefault.Reference_Wind_Pressure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Combined_Load__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recStructuralAnalysisDefault.Combined_Load__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Country_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recStructuralAnalysis.Building__r.Building_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Wind_Speed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.On_a_Hill_or_Slope__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Building_Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Structural_Analysis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Structural_Analysis_Id</name>
        <label>Set Structural Analysis Id</label>
        <locationX>534</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>structuralAnalysisId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recStructuralAnalysis.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_System_Default</name>
        <label>Set System Default</label>
        <locationX>842</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>recStructuralAnalysisDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_System_Default_Results</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_System_Default_Results</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_On_Country_Default</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter On Country Default</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <assignNextValueToReference>currentItem_Filter_Structural_Analysis_Defaults</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Structural_Analysis_Defaults</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Structural_Analysis_Defaults.Country_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>recBuilding.Building_Address__CountryCode__s</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Country_Default_Results</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_On_District_Default</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter On District Default</label>
        <locationX>402</locationX>
        <locationY>1838</locationY>
        <assignNextValueToReference>currentItem_Filter_Structural_Analysis_Defaults</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Structural_Analysis_Defaults</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Structural_Analysis_Defaults.Country_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>recBuilding.Building_Address__CountryCode__s</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Structural_Analysis_Defaults.District__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>recOpportunity.District_Attribute__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_District_Default_Results</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_On_System_Default</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter On System Default</label>
        <locationX>754</locationX>
        <locationY>1838</locationY>
        <assignNextValueToReference>currentItem_Filter_Structural_Analysis_Defaults</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Structural_Analysis_Defaults</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Structural_Analysis_Defaults.Country_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>XX</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_System_Default_Results</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Structural_Analysis_Defaults</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Structural Analysis Defaults</label>
        <locationX>402</locationX>
        <locationY>1514</locationY>
        <assignNextValueToReference>currentItem_Filter_Structural_Analysis_Defaults</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Structural_Analysis_Defaults</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Structural_Analysis_Defaults.Country_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_Building.Building_Address__CountryCode__s</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Filtered_Results</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Building_Record_Returned</name>
        <label>Building Record Returned?</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>No Building</defaultConnectorLabel>
        <rules>
            <name>Building_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Building</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Building</targetReference>
            </connector>
            <label>Building Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Structural_Analysis</name>
        <label>Has Structural Analysis?</label>
        <locationX>402</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Set_Structural_Analysis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Stuctural Analysis</defaultConnectorLabel>
        <rules>
            <name>Structural_Analysis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buildingStructuralAnalysisId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Structural_Analysis_Id</targetReference>
            </connector>
            <label>Structural Analysis</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_Results</name>
        <label>How Many Results?</label>
        <locationX>402</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Filter_On_System_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Country Default</defaultConnectorLabel>
        <rules>
            <name>One_Country_Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrStructruralDefaults</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_On_Country_Default</targetReference>
            </connector>
            <label>One Country Default</label>
        </rules>
        <rules>
            <name>Multiple_Country_Defaults</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrStructruralDefaults</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_On_District_Default</targetReference>
            </connector>
            <label>Multiple Country Defaults</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>204</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_ObjectType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Object</name>
        <label>Which Object?</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Other Object</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OpportunityId</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Building</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BuildingId</targetReference>
            </connector>
            <label>Building</label>
        </rules>
    </decisions>
    <description>Flow to assign and Set Structural Analysis Defaults on Building and/or Opportunity
Removed Setting of On hill or Slope
14.10.2023 Updated the Logic in case of multiple defaults within a Country
17.11.2023 Validate Flow
02.12.2023: Save Active Version as R2
04.01.2024 fix to avoid duplication of structural Analysis
25.04.2024 update to run as System</description>
    <environments>Default</environments>
    <interviewLabel>Assign Structural Analysis SubFlow MVP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Structural Analysis Defaults SubFlow R2.1</label>
    <loops>
        <name>Loop_Country_Default_Results</name>
        <label>Loop Country Default Results</label>
        <locationX>50</locationX>
        <locationY>1946</locationY>
        <collectionReference>Filter_On_Country_Default</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Country_Default</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Structural_Analysis</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_District_Default_Results</name>
        <label>Loop District Default Results</label>
        <locationX>402</locationX>
        <locationY>1946</locationY>
        <collectionReference>Filter_On_District_Default</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_District_Default</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Structural_Analysis</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_System_Default_Results</name>
        <label>Loop System Default Results</label>
        <locationX>754</locationX>
        <locationY>1946</locationY>
        <collectionReference>Filter_On_System_Default</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_System_Default</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Structural_Analysis</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Structural_Analysis</name>
        <label>Create Structural Analysis</label>
        <locationX>534</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Set_Structural_Analysis_Id</targetReference>
        </connector>
        <inputReference>recStructuralAnalysis</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Building</name>
        <label>Get Building</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Building_Record_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Building__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Opportunity_BuildingId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Structural_Analysis</name>
        <label>Get Structural Analysis</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Building_Structural_Analysis_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Structural_Analysis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Structural_Analysis_Defaults</name>
        <label>Get Structural Analysis Defaults</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Structural_Analysis_Defaults</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Structural_Analysis_Default__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>78</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_ObjectType</name>
        <label>Get ObjectType?</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Which_Object</targetReference>
        </connector>
        <flowName>DetermineObjectTypeSubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sObjectType</assignToReference>
            <name>sObjectType</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>buildingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>buildingStructuralAnalysisId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Structural_Analysis_Defaults</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Structural_Analysis_Default__mdt</objectType>
    </variables>
    <variables>
        <name>nbrStructruralDefaults</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recBuilding</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Building__c</objectType>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recStructuralAnalysis</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Structural_Analysis__c</objectType>
    </variables>
    <variables>
        <name>recStructuralAnalysisDefault</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Structural_Analysis_Default__mdt</objectType>
    </variables>
    <variables>
        <name>sObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>structuralAnalysisId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txtBuildingCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
