force-app/main/default/flows/Assign_Installation_Time_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Configuration_Plan_Id</name>
        <label>Add Configuration Plan Id</label>
        <locationX>858</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>colConfigurationPlanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Configuration_Plans.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Configuration_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Item_Id_to_Collection</name>
        <label>Add Item Id to Collection</label>
        <locationX>858</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>colConfigItemCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Configuration_Items.Product_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Configuration_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Id_to_Collection</name>
        <label>Add Product Id to Collection</label>
        <locationX>858</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>colConfigurationProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Filtered_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installation_Hours_per_Unit</name>
        <label>Assign Installation Hours per Unit</label>
        <locationX>1298</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>nbrInstallationHoursPerUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Installation_Times.Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtInstallationTimeItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Installation_Times.Product_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Matching_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Item_Quantity</name>
        <label>Assign Item Quantity</label>
        <locationX>1078</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>nbrItemQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Config_Item_Collection.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtItemCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Config_Item_Collection.Product_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Installation_Times</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Codes</name>
        <label>Assign Product Codes</label>
        <locationX>858</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>colConfigProductCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Filtered_Products.Product__r.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_Id_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Ids</name>
        <label>Assign Product Ids</label>
        <locationX>858</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>colProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Item_Collection</name>
        <label>Assign to Item Collection</label>
        <locationX>858</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>recConfigItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Configuration_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colConfigItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recConfigItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Item_Id_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Installation_Time</name>
        <label>Assign Total Installation Time</label>
        <locationX>638</locationX>
        <locationY>4130</locationY>
        <assignmentItems>
            <assignToReference>nbrTotalInstallationTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nbrInstallationTimeSubTotal</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Calculate_Item_Installation_Time</name>
        <label>Calculate Item Installation Time</label>
        <locationX>1166</locationX>
        <locationY>3770</locationY>
        <assignmentItems>
            <assignToReference>nbrItemInstallationTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxItemInstallationHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nbrInstallationTimeSubTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nbrItemInstallationTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Installation_Times</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>836</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Configuration_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityId</name>
        <label>Set OpportunityId</label>
        <locationX>572</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Configuration_Plans</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_on_Installation_Products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter on Installation Products</label>
        <locationX>770</locationX>
        <locationY>2498</locationY>
        <assignNextValueToReference>currentItem_Filter_on_Installation_Products</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Products</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_on_Installation_Products.Installation__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_on_Installation_Products.Cost_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>askuormitu</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_on_Valid_RVN_Products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter on Valid RVN Products</label>
        <locationX>770</locationX>
        <locationY>1358</locationY>
        <assignNextValueToReference>currentItem_Filter_on_Valid_RVN_Products_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Configuration_Products</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_on_Valid_RVN_Products_0.Product__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_on_Valid_RVN_Products_0.RVN_Number__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Filtered_Products</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Installation_Times</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Installation Times</label>
        <locationX>638</locationX>
        <locationY>3122</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Installation_Times</collectionReference>
        <connector>
            <targetReference>Loop_Config_Item_Collection</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Product__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Any_Installation_Products</name>
        <label>Any Installation Products?</label>
        <locationX>770</locationX>
        <locationY>2906</locationY>
        <defaultConnectorLabel>No Installation Products</defaultConnectorLabel>
        <rules>
            <name>Installation_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colProductIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Installation_Times</targetReference>
            </connector>
            <label>Installation Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Matching_Item</name>
        <label>Is Matching Item?</label>
        <locationX>1298</locationX>
        <locationY>3662</locationY>
        <defaultConnector>
            <targetReference>Loop_Installation_Times</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Item</defaultConnectorLabel>
        <rules>
            <name>Matching_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Installation_Times.Hours__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtInstallationTimeItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>txtItemCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Item_Installation_Time</targetReference>
            </connector>
            <label>Matching Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Opportunity_Record_Provided</name>
        <label>is Opportunity Record Provided?</label>
        <locationX>770</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>Has_Opportunity_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OpportunityId</targetReference>
            </connector>
            <label>Has Opportunity Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Found</name>
        <label>Opportunity Found?</label>
        <locationX>968</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>is_Opportunity_Record_Provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <description>Autolaunched Flow to Calculate the Installation Time
03.04.2023 fixed Total time calculation
19.09.2023 Filter on Installable Products and allow record as Input
02.12.2023: Save Active Version as R2</description>
    <environments>Default</environments>
    <formulas>
        <name>fxItemInstallationHours</name>
        <dataType>Number</dataType>
        <expression>{!nbrInstallationHoursPerUnit}*{!nbrItemQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity - Assign Installation Time SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Assign Installation Time SubFlow R2</label>
    <loops>
        <name>Loop_Config_Item_Collection</name>
        <label>Loop Config Item Collection</label>
        <locationX>638</locationX>
        <locationY>3230</locationY>
        <collectionReference>colConfigItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Item_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Total_Installation_Time</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Configuration_Items</name>
        <label>Loop Configuration Items</label>
        <locationX>770</locationX>
        <locationY>1982</locationY>
        <collectionReference>Get_Configuration_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Item_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Configuration_Plans</name>
        <label>Loop Configuration Plans</label>
        <locationX>770</locationX>
        <locationY>950</locationY>
        <collectionReference>Get_Configuration_Plans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Configuration_Plan_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Configuration_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Filtered_Products</name>
        <label>Loop Filtered Products</label>
        <locationX>770</locationX>
        <locationY>1466</locationY>
        <collectionReference>Filter_on_Valid_RVN_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product_Codes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Configuration_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Installation_Times</name>
        <label>Loop Installation Times</label>
        <locationX>1078</locationX>
        <locationY>3446</locationY>
        <collectionReference>Get_Installation_Times</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Installation_Hours_per_Unit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Config_Item_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Products</name>
        <label>Loop Products</label>
        <locationX>770</locationX>
        <locationY>2606</locationY>
        <collectionReference>Filter_on_Installation_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Installation_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Configuration_Items</name>
        <label>Get Configuration Items</label>
        <locationX>770</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Configuration_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Configuration_Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>colConfigurationProductIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cost_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>askuormitu</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Configuration_Option__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Configuration_Plans</name>
        <label>Get Configuration Plans</label>
        <locationX>770</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Configuration_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Configuration_Products</name>
        <label>Get Configuration Products</label>
        <locationX>770</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_on_Valid_RVN_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Configuration__c</field>
            <operator>In</operator>
            <value>
                <elementReference>colConfigurationPlanIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Installable_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Configuration_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Installation_Times</name>
        <label>Get Installation Times</label>
        <locationX>638</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Installation_Times</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Product_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>colConfigProductCodes</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>colConfigItemCodes</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Installation_Time__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>968</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>770</locationX>
        <locationY>2390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_on_Installation_Products</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>In</operator>
            <value>
                <elementReference>colConfigProductCodes</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>In</operator>
            <value>
                <elementReference>colConfigItemCodes</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colConfigItemCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colConfigItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Configuration_Option__c</objectType>
    </variables>
    <variables>
        <name>colConfigProductCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colConfigurationPlanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colConfigurationProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_on_Installation_Products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_on_Valid_RVN_Products_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Configuration_Product__c</objectType>
    </variables>
    <variables>
        <name>factoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nbrInstallationHoursPerUnit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>nbrInstallationTimeSubTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>nbrItemInstallationTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrItemQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>nbrTotalInstallationTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recConfigItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Configuration_Option__c</objectType>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtInstallationTimeItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtItemCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
