force-app/main/default/flows/Assign_Public_Groups_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_BU_Group_To_Collection</name>
        <label>Add BU Group To Collection</label>
        <locationX>655</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>colUserMappingGroupNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Matches.Public_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Sales_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_BU_SA_Group_Id_To_Collection</name>
        <label>Add BU/SA Group Id To Collection</label>
        <locationX>325</locationX>
        <locationY>5234</locationY>
        <assignmentItems>
            <assignToReference>colUserMappingGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_BU_SA_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_BU_SA_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Matched_Group_Id_To_Collection</name>
        <label>Add Matched Group Id To Collection</label>
        <locationX>325</locationX>
        <locationY>4418</locationY>
        <assignmentItems>
            <assignToReference>colMatchedGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Matched_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Matched_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Sales_Group_To_Collection</name>
        <label>Add Sales Group To Collection</label>
        <locationX>523</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>colUserMappingGroupNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Matches.Sales_User_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Matches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_Group_Id_To_Collection</name>
        <label>Add User Group Id To Collection</label>
        <locationX>325</locationX>
        <locationY>4826</locationY>
        <assignmentItems>
            <assignToReference>colUserGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_User_Groups.GroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_User_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Mapping_Attributes</name>
        <label>Assign User Mapping Attributes</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>txtUserOrganization</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recUser.Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtUserProfitCenter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recUser.Profit_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtUserDistrict</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recUser.District__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtUserCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recUser.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtProfitCenterName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recUser.Profit_Center_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtProfitCenterCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recUser.Profit_Center_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtUserRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recUser.UserRole.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtUserProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recUser.Profile.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Mapping_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Matched_Groups</name>
        <label>Count Matched Groups</label>
        <locationX>435</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>nbrMatchedGroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Matched_Groups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Matched_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mappings</name>
        <label># Mappings</label>
        <locationX>666</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>nbrUserMappings</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_User_Mapping_Custom_Metadata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_User_Mappings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Match_Results</name>
        <label># Match Results</label>
        <locationX>666</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>nbrMatchResults</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colUserMappingMatches</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Matches_To_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Matches_Country</name>
        <label># Matches Country</label>
        <locationX>776</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>nbrCountryMatches</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_User_Mapping_on_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Country_Matches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Matches_Org</name>
        <label># Matches Org</label>
        <locationX>974</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>nbrOrgMatches</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_User_Mapping_on_Org</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Org_Matches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MatchesProfitCenter</name>
        <label># Matches Profit Center</label>
        <locationX>545</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>nbrProfitCenterMatches</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_User_Mapping_on_Profit_Center</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Profit_Center_Matches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Memberships_To_Assign</name>
        <label>Set Memberships To Assign</label>
        <locationX>193</locationX>
        <locationY>6482</locationY>
        <assignmentItems>
            <assignToReference>recGroupMemberToAssign.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Groups_To_Assign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recGroupMemberToAssign.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colMembershipsToAssign</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recGroupMemberToAssign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Groups_To_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User</name>
        <label>Set User</label>
        <locationX>1458</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Active_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Mappings</name>
        <label>Set User Mappings</label>
        <locationX>666</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>colUserMappings</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Mapping_Custom_Metadata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_User_Mapping_Returned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_userId</name>
        <label>Set userId</label>
        <locationX>1766</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>userId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Match_Collection0</name>
        <label>Update Match Collection</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>colUserMappingMatches</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>colUserMappings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Match_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Match_Collection1</name>
        <label>Update Match Collection</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>colUserMappingMatches</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_User_Mapping_on_Profit_Center</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Match_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Match_Collection3</name>
        <label>Update Match Collection</label>
        <locationX>578</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>colUserMappingMatches</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_User_Mapping_on_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Match_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Match_Collection4</name>
        <label>Update Match Collection</label>
        <locationX>842</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>colUserMappingMatches</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_User_Mapping_on_Org</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Match_Results</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_User_Mapping_on_Country</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter User Mapping on Country</label>
        <locationX>776</locationX>
        <locationY>1862</locationY>
        <assignNextValueToReference>currentItem_Filter_User_Mapping_on_Org_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>colUserMappings</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_User_Mapping_on_Org_0.Organization__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>txtUserOrganization</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_User_Mapping_on_Org_0.Organization__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_User_Mapping_on_Org_0.Country__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>txtUserCountry</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_User_Mapping_on_Org_0.Country__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_User_Mapping_on_Org_0.Profit_Center__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Matches_Country</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_User_Mapping_on_Org</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter User Mapping on Org</label>
        <locationX>974</locationX>
        <locationY>2186</locationY>
        <assignNextValueToReference>currentItem_Filter_User_Mapping_on_Org_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>colUserMappings</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_User_Mapping_on_Org_0.Organization__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>txtUserOrganization</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_User_Mapping_on_Org_0.Organization__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Matches_Org</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_User_Mapping_on_Profit_Center</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter User Mapping on Profit Center</label>
        <locationX>545</locationX>
        <locationY>1538</locationY>
        <assignNextValueToReference>currentItem_Filter_User_Mapping_on_Org_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>colUserMappings</collectionReference>
        <conditionLogic>1 AND ( 2 OR 3)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_User_Mapping_on_Org_0.Profit_Center__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_User_Mapping_on_Org_0.Profit_Center_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>txtProfitCenterCode</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_User_Mapping_on_Org_0.Profit_Center_Name__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>txtProfitCenterName</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>MatchesProfitCenter</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Groups_To_Assign</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Groups To Assign</label>
        <locationX>237</locationX>
        <locationY>6158</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Groups_To_Assign</collectionReference>
        <connector>
            <targetReference>Any_Groups_To_Assign</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Id</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Matched_Groups</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Matched Groups</label>
        <locationX>435</locationX>
        <locationY>3986</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Matched_Groups</collectionReference>
        <connector>
            <targetReference>Count_Matched_Groups</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Memberships_To_Delete</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Memberships To Delete</label>
        <locationX>237</locationX>
        <locationY>5642</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Memberships_To_Delete</collectionReference>
        <connector>
            <targetReference>Any_Group_Memberships_to_Delete</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>GroupId</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Id</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>UserOrGroupId</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_User_Mappings</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort User Mappings</label>
        <locationX>435</locationX>
        <locationY>3170</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>colUserMappingMatches</collectionReference>
        <connector>
            <targetReference>Loop_Matches</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>DeveloperName</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Any_Country_Matches</name>
        <label>Any Country Matches?</label>
        <locationX>776</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>Filter_User_Mapping_on_Org</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matches</defaultConnectorLabel>
        <rules>
            <name>Found_Country_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrCountryMatches</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Filter_User_Mapping_on_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Match_Collection3</targetReference>
            </connector>
            <label>Found Country Matches</label>
        </rules>
    </decisions>
    <decisions>
        <description>Element that checks if there are any Group Memberships to delete. Otherwise the flow will attempt to delete an empty variable.</description>
        <name>Any_Group_Memberships_to_Delete</name>
        <label>Any Group Memberships to Delete?</label>
        <locationX>237</locationX>
        <locationY>5750</locationY>
        <defaultConnector>
            <targetReference>Get_Groups_To_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Deletions</defaultConnectorLabel>
        <rules>
            <name>Delete_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Memberships_To_Delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Group_Memberships</targetReference>
            </connector>
            <label>Delete Records</label>
        </rules>
    </decisions>
    <decisions>
        <description>Element that checks if there are any Group Memberships to add.</description>
        <name>Any_Groups_To_Assign</name>
        <label>Any Groups To Assign</label>
        <locationX>237</locationX>
        <locationY>6266</locationY>
        <defaultConnectorLabel>No New Memberships</defaultConnectorLabel>
        <rules>
            <name>Memberships_To_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Groups_To_Assign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Groups_To_Assign</targetReference>
            </connector>
            <label>Memberships To Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Matches_To_Process</name>
        <label>Any Matches To Process?</label>
        <locationX>666</locationX>
        <locationY>3062</locationY>
        <defaultConnectorLabel>No Matches</defaultConnectorLabel>
        <rules>
            <name>One_or_More_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colUserMappingMatches</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nbrMatchResults</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sort_User_Mappings</targetReference>
            </connector>
            <label>One or More Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Org_Matches</name>
        <label>Any Org Matches?</label>
        <locationX>974</locationX>
        <locationY>2402</locationY>
        <defaultConnector>
            <targetReference>Match_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matches</defaultConnectorLabel>
        <rules>
            <name>Found_Org_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrOrgMatches</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Filter_User_Mapping_on_Org</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Match_Collection4</targetReference>
            </connector>
            <label>Found Org Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Profit_Center_Matches</name>
        <label>Any Profit Center Matches?</label>
        <locationX>545</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Filter_User_Mapping_on_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matches</defaultConnectorLabel>
        <rules>
            <name>Profit_Center_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_User_Mapping_on_Profit_Center</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nbrProfitCenterMatches</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Match_Collection1</targetReference>
            </connector>
            <label>Profit Center Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_User_Mapping_Returned</name>
        <label>Any User Mapping Returned?</label>
        <locationX>666</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>No User Mappings</defaultConnectorLabel>
        <rules>
            <name>One_User_Mapping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrUserMappings</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>colUserMappings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Match_Collection0</targetReference>
            </connector>
            <label>One User Mapping</label>
        </rules>
        <rules>
            <name>Some_User_Mappings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colUserMappings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nbrUserMappings</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_User_Mapping_on_Profit_Center</targetReference>
            </connector>
            <label>Some User Mappings</label>
        </rules>
    </decisions>
    <decisions>
        <description>Element that checks the License of the User based on the Profile Id. We only want to assign Public Groups for users with a Salesforce license.</description>
        <name>Check_License</name>
        <label>Check License</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Other License</defaultConnectorLabel>
        <rules>
            <name>Salesforce_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Profile.UserLicense.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Mapping_Attributes</targetReference>
            </connector>
            <label>Salesforce License</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active_User</name>
        <label>Is Active User?</label>
        <locationX>1458</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Active_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recUser.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Profile</targetReference>
            </connector>
            <label>Active User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sales_User</name>
        <label>Is Sales User?</label>
        <locationX>655</locationX>
        <locationY>3494</locationY>
        <defaultConnector>
            <targetReference>Loop_Matches</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other User</defaultConnectorLabel>
        <rules>
            <name>Sales_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>txtUserRole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtUserProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Sales_Group_To_Collection</targetReference>
            </connector>
            <label>Sales User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matched_Groups</name>
        <label>Matched Groups?</label>
        <locationX>435</locationX>
        <locationY>4202</locationY>
        <defaultConnectorLabel>No Matched Group(s)</defaultConnectorLabel>
        <rules>
            <name>One_or_More_Matched_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrMatchedGroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Matched_Groups</targetReference>
            </connector>
            <label>One or More Matched Groups</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip automation is a Custom Settings and allows for admin task to be executed without triggering automation</description>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>759</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_userId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>1766</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No User</defaultConnectorLabel>
        <rules>
            <name>User_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User</targetReference>
            </connector>
            <label>User Record</label>
        </rules>
    </decisions>
    <description>SubFlow to update the Public Groups assign to Lumon Internal Users</description>
    <environments>Default</environments>
    <interviewLabel>Assign Public Groups SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - Assign Public Groups SubFlow R2.5.5</label>
    <loops>
        <name>Loop_BU_SA_Groups</name>
        <label>Loop BU/SA Groups</label>
        <locationX>237</locationX>
        <locationY>5126</locationY>
        <collectionReference>Get_BU_SA_User_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_BU_SA_Group_Id_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Memberships_To_Keep</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Groups_To_Assign</name>
        <label>Loop Groups To Assign</label>
        <locationX>105</locationX>
        <locationY>6374</locationY>
        <collectionReference>Get_Groups_To_Assign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Memberships_To_Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Group_Memberships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Matched_Groups</name>
        <label>Loop Matched Groups</label>
        <locationX>237</locationX>
        <locationY>4310</locationY>
        <collectionReference>Get_Matched_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Matched_Group_Id_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Matches</name>
        <label>Loop Matches</label>
        <locationX>435</locationX>
        <locationY>3278</locationY>
        <collectionReference>colUserMappingMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_BU_Group_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Matched_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_User_Groups</name>
        <label>Loop User Groups</label>
        <locationX>237</locationX>
        <locationY>4718</locationY>
        <collectionReference>colUserGroups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_User_Group_Id_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_BU_SA_User_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Element that creates new Group Memberships records.</description>
        <name>Create_Group_Memberships</name>
        <label>Create Group Memberships</label>
        <locationX>105</locationX>
        <locationY>6674</locationY>
        <inputReference>colMembershipsToAssign</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Element that deletes the redundant Group Memberships</description>
        <name>Delete_Group_Memberships</name>
        <label>Delete Group Memberships</label>
        <locationX>105</locationX>
        <locationY>5858</locationY>
        <connector>
            <targetReference>Get_Groups_To_Assign</targetReference>
        </connector>
        <inputReference>Get_Memberships_To_Delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_BU_SA_User_Groups</name>
        <label>Get BU/SA User Groups</label>
        <locationX>237</locationX>
        <locationY>5018</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_BU_SA_Groups</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>colUserGroupIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>BU_</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>SA_</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Element that retrieves the Group records to be Assigned</description>
        <name>Get_Groups_To_Assign</name>
        <label>Get Groups To Assign</label>
        <locationX>237</locationX>
        <locationY>6050</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Groups_To_Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>colMatchedGroupIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>colUserGroupIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element retrieves the Public Group referenced in the User Mapping Table</description>
        <name>Get_Matched_Groups</name>
        <label>Get Matched Groups</label>
        <locationX>435</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Matched_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>In</operator>
            <value>
                <elementReference>colUserMappingGroupNames</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Memberships_To_Delete</name>
        <label>Get Memberships To Delete</label>
        <locationX>237</locationX>
        <locationY>5534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Memberships_To_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>colUserMappingGroupIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>colMatchedGroupIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Memberships_To_Keep</name>
        <label>Get Memberships To Keep</label>
        <locationX>237</locationX>
        <locationY>5426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Memberships_To_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>colUserMappingGroupIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>colMatchedGroupIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile</name>
        <label>Get Profile</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recUser.ProfileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Element that retrieves the full User record</description>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1766</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Element that retrieves the Group Member records for this User to prevent unnecessary updates.</description>
        <name>Get_User_Groups</name>
        <label>Get User Groups</label>
        <locationX>237</locationX>
        <locationY>4610</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_User_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>colUserGroups</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GroupId</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Element that retrieves the User Mapping Custom Metadata to be able to clear the Users Public Group Assignments</description>
        <name>Get_User_Mapping_Custom_Metadata</name>
        <label>Get User Mapping Custom Metadata</label>
        <locationX>666</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mappings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtUserOrganization</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserMapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>633</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colGroupMembershipsToDelete</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colGroupMembersToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>colGroupMembersToKeep</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>colMatchedGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colMembershipsToAssign</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>colPublicGroups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>colPublicGroupsToAssign</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTerritoryAttributes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colUserGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colUserGroups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>colUserMappingGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colUserMappingGroupNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colUserMappingMatches</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserMapping__mdt</objectType>
    </variables>
    <variables>
        <name>colUserMappingPublicGroup</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colUserMappings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserMapping__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_User_Mapping_on_Org_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserMapping__mdt</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>nbrCountMetaDataRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrCountryMatches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrDistrictMatches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrMatchedGroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrMatchResults</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrOrgMatches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrProfitCenterMatches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrTerritoryAttributes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrUserMappings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>objectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>publicGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recGroupMemberToAssign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>recGroupMemberToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>recGroupMemberToKeep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recPublicGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>recUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recUserMapping</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserMapping__mdt</objectType>
    </variables>
    <variables>
        <name>recUserMappingMatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserMapping__mdt</objectType>
    </variables>
    <variables>
        <name>txtBusinessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCountryAttribute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCustomMetaPublicGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCustomMetaSalesGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtProfitCenterCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtProfitCenterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtPublicGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtUserCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtUserDistrict</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtUserOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtUserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtUserProfitCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtUserRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
