force-app/main/default/flows/Assign_Summary_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Get_PricingSummaryId</name>
        <label>Get PricingSummaryId</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>pricingSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pricing_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Pricing_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Record</name>
        <label>Set Opportunity Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricing_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityId</name>
        <label>Set OpportunityId</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>pricingSummaryToUpsert.Organization__c = opportunityRecord.Organization_Attribute__c; // Related Record
pricingSummaryToUpsert.Country_Code__c = opportunityRecord.Country_Attribute__c; // Related Record
pricingSummaryToUpsert.Business_Type__c = opportunityRecord.Business_Type_Attribute__c;
pricingSummaryToUpsert.District__c = opportunityRecord.District_Attribute__c; // Related Record</description>
        <name>Set_Pricing_Summary_Attributes</name>
        <label>Set Pricing Summary Attributes</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recPricingSummary.Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Organization_Attribute__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPricingSummary.Country_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Country_Attribute__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPricingSummary.Business_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Business_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPricingSummary.District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.District_Attribute__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPricingSummary.Profit_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Owner_Profit_Center__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Pricing_Summary_Owner_Attributes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>pricingSummaryToUpsert.Profit_Center__c = opportunityRecord.Owner_Profit_Center__c; // Related Record
pricingSummaryToUpsert.Office__c = opportunityRecord.Office__c; // Related Record</description>
        <name>Set_Pricing_Summary_Owner_Attributes</name>
        <label>Set Pricing Summary Owner Attributes</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>recPricingSummary.Profit_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Owner_Profit_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPricingSummary.Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Owner_Office__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Pricing_Summary_Relations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>pricingSummaryToUpsert.User__c = opportunityRecord.OwnerId;// Related Record
                    pricingSummaryToUpsert.Account__c = opportunityRecord.AccountId; // Related Record
                    pricingSummaryToUpsert.Quote__c = quoteId; // Related Record
                    pricingSummaryToUpsert.Order__c = opportunityRecord.Order__c; // Related Record
                    pricingSummaryToUpsert.Contract__c = opportunityRecord.contractId; // Related Record
                    pricingSummaryToUpsert.currencyIsoCode = opportunityRecord.CurrencyIsoCode;</description>
        <name>Set_Pricing_Summary_Relations</name>
        <label>Set Pricing Summary Relations</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>recPricingSummary.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPricingSummary.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPricingSummary.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.SyncedQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPricingSummary.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPricingSummary.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPricingSummary.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Pricing_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PricingSummaryId</name>
        <label>Set PricingSummaryId</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>pricingSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recPricingSummary.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_Pricing_Summary</name>
        <label>Has Pricing Summary</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_Pricing_Summary_Attributes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pricing Summary</defaultConnectorLabel>
        <rules>
            <name>Pricing_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pricingSummaryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Pricing Summary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Found</name>
        <label>Opportunity Found?</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Record</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <description>SubFlow to create a Pricing Summary for storing the Pricing Details
01.09.23 Added Creation of Pricing Summary
01.09.23 Added Opportunity Record as Input
03.09.23 Include Get Opportunity Record
02.12.2023: Save Active Version as R2
04.06.2024: Updated Owner Office Reference</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Assign Summary SubFlow MVP +1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Assign Summary SubFlow R2.5.2.3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Pricing_Summary</name>
        <label>Create New Pricing Summary</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Set_PricingSummaryId</targetReference>
        </connector>
        <inputReference>recPricingSummary</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricing_Summary</name>
        <label>Get Pricing Summary</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PricingSummaryId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricing_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_OpportunityId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pricingSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>recPricingSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricing_Summary__c</objectType>
    </variables>
    <variables>
        <name>recQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
