force-app/main/default/flows/Assign_Country_Defaults_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Country_Defaults</name>
        <label>Set Country Defaults</label>
        <locationX>275</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>percentageVAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Specific_Defaults.VAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currencyCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Specific_Defaults.Default_Currency__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Customer_Attributes</name>
        <label>Set Customer Attributes</label>
        <locationX>275</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>txtCustomerType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Customer_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCustomerCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Customer_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCustomerCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Customer_Country_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCustomerNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Customer_Country_Different_From_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Element sets Country as Customer Country if different from Owner</description>
        <name>Set_Customer_Country</name>
        <label>Set Customer Country</label>
        <locationX>143</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>txtCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtCustomerCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtCustomerCountryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Country_Specific_Defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>275</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Owner_Attributes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityId</name>
        <label>Set OpportunityId</label>
        <locationX>473</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner_Attributes</name>
        <label>Set Owner Attributes</label>
        <locationX>275</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>txtOwnerOrg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Owner_Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOwnerCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Owner_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOwnerCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Owner_Country_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOwnerProfitCenter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Owner_Profit_Center__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Customer_Attributes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Element sets Country as User Country</description>
        <name>Set_User_Country_Attribute</name>
        <label>Set User Country Attribute</label>
        <locationX>407</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>txtCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtOwnerCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtOwnerCountryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Country_Specific_Defaults</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Customer_Country_Different_From_User</name>
        <label>Is Customer Country Different From User?</label>
        <locationX>275</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Set_User_Country_Attribute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Same as User Country</defaultConnectorLabel>
        <rules>
            <name>Different_Customer_and_User_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtCustomerCountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>txtOwnerCountryCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtCustomerCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtOwnerCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Country</targetReference>
            </connector>
            <label>Different Customer and User Country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Found</name>
        <label>Opportunity Found?</label>
        <locationX>473</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity</targetReference>
            </connector>
            <label>Opportunity Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_OpportunityId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <description>Flow to assign Country Defaults for Opportunity
02.12.2023: Save Active Version as R2</description>
    <environments>Default</environments>
    <interviewLabel>Assign Country Defaults SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Assign Country Defaults SubFlow R2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Country_Specific_Defaults</name>
        <label>Get Country Specific Defaults</label>
        <locationX>275</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Country_Defaults</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtCountryCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Specific_Default__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>element to retrieve the Opportunity Record</description>
        <name>GetOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>473</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>AccountId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currencyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>percentageVAT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtBuildingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtBusinessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCustomerCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCustomerCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCustomerNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCustomerType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtOwnerCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtOwnerCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtOwnerOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtOwnerProfitCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSalesArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSpecificAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtTerritory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtUserCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
