force-app/main/default/flows/Assign_WorkOrderLineItem_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Installable_WOLI</name>
        <label>Add Installable WOLI</label>
        <locationX>1559</locationX>
        <locationY>5018</locationY>
        <assignmentItems>
            <assignToReference>colPreparedWOLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOLIrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Installable_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Id_To_Collection</name>
        <label>Add Product Id To Collection</label>
        <locationX>657</locationX>
        <locationY>7466</locationY>
        <assignmentItems>
            <assignToReference>colWOLIProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_WOLIs.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colWOLIRVNs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_WOLIs.RVN_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_WOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Reclamation_WOLI</name>
        <label>Add Reclamation WOLI</label>
        <locationX>723</locationX>
        <locationY>6050</locationY>
        <assignmentItems>
            <assignToReference>colPreparedWOLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOLIrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Reclamation_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Service_WOLI</name>
        <label>Add Service WOLI</label>
        <locationX>723</locationX>
        <locationY>6866</locationY>
        <assignmentItems>
            <assignToReference>colPreparedWOLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOLIrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Additional_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_ConfigurationPlands</name>
        <label>Add to ConfigurationPlands</label>
        <locationX>1152</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>colConfigPlanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Configuration_Plans.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Configuration_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_InstallableProductIds</name>
        <label>Add to InstallableProductIds</label>
        <locationX>723</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>colInstallableProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Installable_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Installable_Products.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colConfigProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Installable_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Installable_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Installation_Hours</name>
        <label>Add to Installation Hours</label>
        <locationX>2043</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>nbrInstallationTimeEntryHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Installation_Times.Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nbrInstallationHoursTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fxInstallationTimeResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Installation_Times</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Installation_Item_Product_Ids</name>
        <label>Add to Installation Item Product Ids</label>
        <locationX>723</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>colInstallationProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Installation_Options.Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Installation_Options</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Installation_Time</name>
        <label>Add to Installation Time</label>
        <locationX>1955</locationX>
        <locationY>4634</locationY>
        <assignmentItems>
            <assignToReference>nbrInstallationHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nbrInstallationHoursTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Installation_Time_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_ReclamationProductIds</name>
        <label>Add to ReclamationProductIds</label>
        <locationX>723</locationX>
        <locationY>5834</locationY>
        <assignmentItems>
            <assignToReference>colReclamationProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Prepare_Reclamation_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Prepare_Reclamation_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colConfigProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Prepare_Reclamation_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Reclamation_Work_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_WOLI_To_Update</name>
        <label>Add WOLI To Update</label>
        <locationX>1053</locationX>
        <locationY>9554</locationY>
        <assignmentItems>
            <assignToReference>colWOLIsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recPartialMatchWOLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colWOLIToKeep</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recPartialMatchWOLI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_WOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Exact_Match</name>
        <label>Assign Exact Match</label>
        <locationX>1229</locationX>
        <locationY>9062</locationY>
        <assignmentItems>
            <assignToReference>recExactMatchWOLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_WOLIs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nbrExactMatchCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colWOLIsToCreate</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>Loop_Prepared_WOLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prepared_WOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_Match</name>
        <label>Assign No Match</label>
        <locationX>1757</locationX>
        <locationY>9062</locationY>
        <assignmentItems>
            <assignToReference>nbrNoMatchCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prepared_WOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partial_Match</name>
        <label>Assign Partial Match</label>
        <locationX>1493</locationX>
        <locationY>9062</locationY>
        <assignmentItems>
            <assignToReference>recPartialMatchWOLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_WOLIs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPartialMatchWOLI.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recPreparedWOLI.WorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nbrPartialMatchCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colWOLIsToCreate</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>Loop_Prepared_WOLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prepared_WOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Counters</name>
        <label>Clear Counters</label>
        <locationX>1141</locationX>
        <locationY>8630</locationY>
        <assignmentItems>
            <assignToReference>nbrNoMatchCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nbrExactMatchCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nbrPartialMatchCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prepared_WOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Configurable_Products</name>
        <label>Count Configurable Products</label>
        <locationX>1064</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>nbrConfigurableProduct</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Configuration_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Configuration_Products_To_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Existing_WOLIs</name>
        <label>Count Existing WOLIs</label>
        <locationX>569</locationX>
        <locationY>7766</locationY>
        <assignmentItems>
            <assignToReference>nbrExistingWOLIs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Existing_WOLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Matching_WOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Installable_Products</name>
        <label>Count Installable Products</label>
        <locationX>767</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>nbrInstallableProducts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_On_Installation_Flag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Installation_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Installation_Items</name>
        <label>Count Installation Items</label>
        <locationX>1559</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>nbrInstallationItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Installation_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_On_Related_installation_Times</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Installation_Times</name>
        <label>Count Installation Times</label>
        <locationX>1559</locationX>
        <locationY>3710</locationY>
        <assignmentItems>
            <assignToReference>nbrInstallationTimes</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_On_Related_installation_Times</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Installation_Times_To_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Prepared_WOLIs</name>
        <label>Count Prepared WOLIs</label>
        <locationX>767</locationX>
        <locationY>7142</locationY>
        <assignmentItems>
            <assignToReference>nbrPreparedWOLIs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colPreparedWOLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WOLIs_Prepared</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Reclamation_Products</name>
        <label>Count Reclamation Products</label>
        <locationX>767</locationX>
        <locationY>5402</locationY>
        <assignmentItems>
            <assignToReference>nbrReclamationProducts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_On_Reclamation_Flag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Reclamation_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_WOLIs_to_Create</name>
        <label>Count WOLIs to Create</label>
        <locationX>569</locationX>
        <locationY>9914</locationY>
        <assignmentItems>
            <assignToReference>nbrWOLIsToCreate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colWOLIsToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_WOLIs_To_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_WOLIs_to_Delete</name>
        <label>Count WOLIs to Delete</label>
        <locationX>965</locationX>
        <locationY>11330</locationY>
        <assignmentItems>
            <assignToReference>nbrWOLIsToDelete</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Work_Order_Line_Items_To_Delete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_WOLIs_To_Delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_WOLIs_to_Update</name>
        <label>Count WOLIs to Update</label>
        <locationX>569</locationX>
        <locationY>10622</locationY>
        <assignmentItems>
            <assignToReference>nbrWOLIsToUpdate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colWOLIsToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_WOLIs_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Loop_Counter</name>
        <label>Increase Loop Counter</label>
        <locationX>1141</locationX>
        <locationY>9338</locationY>
        <assignmentItems>
            <assignToReference>nbrLoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Action_to_Perform_on_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Installation_Item_Quantity</name>
        <label>Installation Item Quantity</label>
        <locationX>1955</locationX>
        <locationY>4034</locationY>
        <assignmentItems>
            <assignToReference>InstallationItemQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Installation_Time_Items.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Installation_Times</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Installable_Work_Order_Line_Items</name>
        <label>Prepare Installable Work Order Line Items</label>
        <locationX>1559</locationX>
        <locationY>4910</locationY>
        <assignmentItems>
            <assignToReference>WOLIrecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installation Work</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInstallationWorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prepare_Installable_Products.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.RVN_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prepare_Installable_Products.RVN_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nbrInstallationHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.DurationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Is_installable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Configuration_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prepare_Installable_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Installable_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Reclamation_Work_Order_Line_Items</name>
        <label>Prepare Reclamation Work Order Line Items</label>
        <locationX>723</locationX>
        <locationY>5942</locationY>
        <assignmentItems>
            <assignToReference>WOLIrecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reclamation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varReclamationWorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prepare_Reclamation_Products.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.RVN_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prepare_Reclamation_Products.RVN_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Is_installable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Configuration_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prepare_Reclamation_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Is_Reclamation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prepare_Reclamation_Products.Configuration__r.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.DurationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Reclamation_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Service_Work_Order_Line_Items</name>
        <label>Prepare Service Work Order Line Items</label>
        <locationX>723</locationX>
        <locationY>6758</locationY>
        <assignmentItems>
            <assignToReference>WOLIrecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Additional Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varServiceWorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prepare_Additional_Services.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.RVN_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prepare_Additional_Services.RVN_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.DurationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Configuration_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prepare_Additional_Services.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIrecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Service_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_WOLI_from_Collection</name>
        <label>Remove WOLI from Collection</label>
        <locationX>789</locationX>
        <locationY>9554</locationY>
        <assignmentItems>
            <assignToReference>colWOLIToKeep</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recExactMatchWOLI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colExistingWOLIs</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>recExactMatchWOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_WOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Configuration_Plans</name>
        <label>Set Case Configuration Plans</label>
        <locationX>1608</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>colConfigurationPlans</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Configurations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Configuration_Plans_To_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CaseId</name>
        <label>Set CaseId</label>
        <locationX>1608</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>caseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.CaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Configuration_Plans</name>
        <label>Set Configuration Plans</label>
        <locationX>1080</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>colConfigurationPlans</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Configuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Configuration_Plans_To_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Configuration_Products</name>
        <label>Set Configuration Products</label>
        <locationX>767</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>colConfigurationProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Configuration_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_On_Installation_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ConfigurationPlanId</name>
        <label>Set ConfigurationPlanId</label>
        <locationX>1080</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>configPlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.Configuration_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_WOLI</name>
        <label>Set Existing WOLI</label>
        <locationX>1141</locationX>
        <locationY>8522</locationY>
        <assignmentItems>
            <assignToReference>recExistingWOLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_WOLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Counters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_WOLIs</name>
        <label>Set Existing WOLIs</label>
        <locationX>437</locationX>
        <locationY>7982</locationY>
        <assignmentItems>
            <assignToReference>colExistingWOLIs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_WOLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_Existing_WOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_WOLI_to_Keep</name>
        <label>Set New WOLI to Keep</label>
        <locationX>525</locationX>
        <locationY>10346</locationY>
        <assignmentItems>
            <assignToReference>colWOLIToKeep</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_New_WOLIs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_WOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_WOLIs</name>
        <label>Set New WOLIs</label>
        <locationX>701</locationX>
        <locationY>7982</locationY>
        <assignmentItems>
            <assignToReference>colWOLIsToCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>colPreparedWOLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_WOLIs_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Configuration_Plans</name>
        <label>Set Opportunity Configuration Plans</label>
        <locationX>816</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>colConfigurationPlans</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Configurations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Configuration_Plans_To_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityId</name>
        <label>Set OpportunityId</label>
        <locationX>816</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Configuration_Plans</name>
        <label>Set Order Configuration Plans</label>
        <locationX>1344</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>colConfigurationPlans</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Configurations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Configuration_Plans_To_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OrderId</name>
        <label>Set OrderId</label>
        <locationX>1344</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Prepared_WOLI</name>
        <label>Set Prepared WOLI</label>
        <locationX>1493</locationX>
        <locationY>8846</locationY>
        <assignmentItems>
            <assignToReference>recPreparedWOLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Prepared_WOLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Matching_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WOLIs_To_Create</name>
        <label>Set WOLIs To Create</label>
        <locationX>437</locationX>
        <locationY>8306</locationY>
        <assignmentItems>
            <assignToReference>colWOLIsToCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>colPreparedWOLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_WOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WOLIs_To_Delete</name>
        <label>Set WOLIs To Delete</label>
        <locationX>833</locationX>
        <locationY>11546</locationY>
        <assignmentItems>
            <assignToReference>colWOLIsToDelete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order_Line_Items_To_Delete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_WOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WorkOrderId</name>
        <label>Set WorkOrderId</label>
        <locationX>1344</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>workorderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Order</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_On_Installation_Flag</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter On Installation Flag</label>
        <locationX>767</locationX>
        <locationY>2030</locationY>
        <assignNextValueToReference>currentItem_Filter_On_Installation_Flag</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>colConfigurationProducts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_On_Installation_Flag.Installable_Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Installable_Products</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_On_Reclamation_Flag</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter On Reclamation Flag</label>
        <locationX>767</locationX>
        <locationY>5294</locationY>
        <assignNextValueToReference>currentItem_Filter_On_Installation_Flag</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>colConfigurationProducts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_On_Installation_Flag.Reclamation_Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Reclamation_Products</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_On_Related_installation_Items</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter On Related installation Items</label>
        <locationX>1559</locationX>
        <locationY>3386</locationY>
        <assignNextValueToReference>currentItem_Filter_On_Related_installation_Times</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Installation_Items</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_On_Related_installation_Times.Configuration_Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Prepare_Installable_Products.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Installation_Items</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_On_Related_installation_Times</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter On Related installation Times</label>
        <locationX>1559</locationX>
        <locationY>3602</locationY>
        <assignNextValueToReference>currentItem_Filter_On_Related_installation_Times</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Installation_Items</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_On_Related_installation_Times.Product_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Installation</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_On_Related_installation_Times.Product_Item__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Installation Times</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_On_Related_installation_Times.Configuration_Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Prepare_Installable_Products.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Installation_Times</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Existing_WOLIs</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Existing WOLIs</label>
        <locationX>437</locationX>
        <locationY>8090</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>colExistingWOLIs</collectionReference>
        <connector>
            <targetReference>Sort_Prepared_WOLIs</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Configuration_Product__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>WorkTypeId</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Is_installable__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Prepared_WOLIs</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Prepared WOLIs</label>
        <locationX>437</locationX>
        <locationY>8198</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>colPreparedWOLIs</collectionReference>
        <connector>
            <targetReference>Set_WOLIs_To_Create</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Configuration_Product__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>WorkTypeId</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Is_installable__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Any_Configuration_Plans_To_Process</name>
        <label>Any Configuration Plans To Process?</label>
        <locationX>1344</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>No Configuration Plans</defaultConnectorLabel>
        <rules>
            <name>Configuration_Plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colConfigurationPlans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Configuration_Plans</targetReference>
            </connector>
            <label>Configuration Plans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Configuration_Products_To_Process</name>
        <label>Any Configuration Products To Process?</label>
        <locationX>1064</locationX>
        <locationY>1814</locationY>
        <defaultConnectorLabel>No Configuration Products</defaultConnectorLabel>
        <rules>
            <name>Configuration_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrConfigurableProduct</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Configuration_Products</targetReference>
            </connector>
            <label>Configuration Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Installation_Times_To_Process</name>
        <label>Any Installation Times To Process?</label>
        <locationX>1559</locationX>
        <locationY>3818</locationY>
        <defaultConnector>
            <targetReference>Prepare_Installable_Work_Order_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Installation Times</defaultConnectorLabel>
        <rules>
            <name>Installation_Times</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrInstallationTimes</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Installation_Time_Items</targetReference>
            </connector>
            <label>Installation Times</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Matching_WOLIs</name>
        <label>Any Matching WOLIs?</label>
        <locationX>569</locationX>
        <locationY>7874</locationY>
        <defaultConnector>
            <targetReference>Set_New_WOLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matching WOLIs</defaultConnectorLabel>
        <rules>
            <name>Matching_WOLIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrExistingWOLIs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_WOLIs</targetReference>
            </connector>
            <label>Matching WOLIs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_WOLIs_To_Create</name>
        <label>Any WOLIs To Create?</label>
        <locationX>569</locationX>
        <locationY>10022</locationY>
        <defaultConnector>
            <targetReference>Count_WOLIs_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No New WOLIs</defaultConnectorLabel>
        <rules>
            <name>New_WOLIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colWOLIsToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nbrWOLIsToCreate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_WOLIs</targetReference>
            </connector>
            <label>New WOLIs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_WOLIs_To_Delete</name>
        <label>Any WOLIs To Delete?</label>
        <locationX>965</locationX>
        <locationY>11438</locationY>
        <defaultConnectorLabel>No Obsolete WOLIs</defaultConnectorLabel>
        <rules>
            <name>Obsolete_WOLIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Line_Items_To_Delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WOLIs_To_Delete</targetReference>
            </connector>
            <label>Obsolete WOLIs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_WOLIs_To_Update</name>
        <label>Any WOLIs To Update?</label>
        <locationX>569</locationX>
        <locationY>10730</locationY>
        <defaultConnector>
            <targetReference>Do_not_delete_anything_if_reclamation_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Changed WOLIs</defaultConnectorLabel>
        <rules>
            <name>Changed_WOLIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colWOLIsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nbrWOLIsToUpdate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WOLIs</targetReference>
            </connector>
            <label>Changed WOLIs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_not_delete_anything_if_reclamation_case</name>
        <label>Do not delete anything, if reclamation case</label>
        <locationX>767</locationX>
        <locationY>11114</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Order_Line_Items_To_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-reclamation case</defaultConnectorLabel>
        <rules>
            <name>Reclamation_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Reclamation case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_WorkOrder</name>
        <label>Found WorkOrder?</label>
        <locationX>1740</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No WorkOrder</defaultConnectorLabel>
        <rules>
            <name>WorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WorkOrderId</targetReference>
            </connector>
            <label>WorkOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Additional_Services</name>
        <label>Has Additional Services?</label>
        <locationX>767</locationX>
        <locationY>6434</locationY>
        <defaultConnector>
            <targetReference>Count_Prepared_WOLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Additional Services</defaultConnectorLabel>
        <rules>
            <name>Additional_Services</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Work_Type</targetReference>
            </connector>
            <label>Additional Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Installation_Products</name>
        <label>Has Installation Products?</label>
        <locationX>767</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Filter_On_Reclamation_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Installation Products</defaultConnectorLabel>
        <rules>
            <name>Installation_Products</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>nbrInstallableProducts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Installation_Work_Type</targetReference>
            </connector>
            <label>Installation Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Installation_Time_Entry</name>
        <label>Has Installation Time Entry?</label>
        <locationX>2175</locationX>
        <locationY>4250</locationY>
        <defaultConnector>
            <targetReference>Loop_Installation_Times</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Installation Time Entry</defaultConnectorLabel>
        <rules>
            <name>Installation_Time_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Installation_Time_Items.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Installation_Times.Product__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Installation_Hours</targetReference>
            </connector>
            <label>Installation Time Entry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Order</name>
        <label>Has Order?</label>
        <locationX>1344</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No Relation</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkOrder.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OpportunityId</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Configuration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkOrder.Configuration_Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ConfigurationPlanId</targetReference>
            </connector>
            <label>Configuration</label>
        </rules>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkOrder.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OrderId</targetReference>
            </connector>
            <label>Order</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkOrder.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CaseId</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Reclamation_Products</name>
        <label>Has Reclamation Products?</label>
        <locationX>767</locationX>
        <locationY>5510</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Reclamation Products</defaultConnectorLabel>
        <rules>
            <name>Reclamation_Products</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>nbrReclamationProducts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reclamation_Work_Type</targetReference>
            </connector>
            <label>Reclamation Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Matching_WOLI</name>
        <label>Is Matching WOLI?</label>
        <locationX>1493</locationX>
        <locationY>8954</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Exact_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recExistingWOLI.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recPreparedWOLI.Product__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recExistingWOLI.WorkTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recPreparedWOLI.WorkTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recExistingWOLI.RVN_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recPreparedWOLI.RVN_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recExistingWOLI.Configuration_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recPreparedWOLI.Configuration_Product__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Exact_Match</targetReference>
            </connector>
            <label>Exact Match</label>
        </rules>
        <rules>
            <name>Different_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recExistingWOLI.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recPreparedWOLI.Product__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recExistingWOLI.WorkTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recPreparedWOLI.WorkTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recExistingWOLI.RVN_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recPreparedWOLI.RVN_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recExistingWOLI.Configuration_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recPreparedWOLI.Configuration_Product__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Partial_Match</targetReference>
            </connector>
            <label>Different Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Action_to_Perform_on_WOLI</name>
        <label>Which Action to Perform on WOLI?</label>
        <locationX>1141</locationX>
        <locationY>9446</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_WOLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Check</defaultConnectorLabel>
        <rules>
            <name>Keep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrExactMatchCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nbrPartialMatchCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_WOLI_from_Collection</targetReference>
            </connector>
            <label>Keep</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>nbrExactMatchCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nbrPartialMatchCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_WOLI_To_Update</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrNoMatchCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nbrLoopCounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Existing_WOLIs</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOLIs_Prepared</name>
        <label>WOLIs Prepared?</label>
        <locationX>767</locationX>
        <locationY>7250</locationY>
        <defaultConnector>
            <targetReference>Do_not_delete_anything_if_reclamation_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prepared WOLIs</defaultConnectorLabel>
        <rules>
            <name>Prepared_WOLIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrPreparedWOLIs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_WOLIs</targetReference>
            </connector>
            <label>Prepared WOLIs</label>
        </rules>
    </decisions>
    <description>15.10.2023 New Version to change Logic
02.12.2023 Save Inactive Version as Draft</description>
    <environments>Default</environments>
    <formulas>
        <name>fxInstallationMinutes</name>
        <dataType>Number</dataType>
        <expression>{!nbrInstallationHours}*60</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxInstallationTimeResult</name>
        <dataType>Number</dataType>
        <expression>{!nbrInstallationTimeEntryHours}*{!InstallationItemQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Assign WorkOrderLineItem Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign WorkOrderLineItem Subflow Draft</label>
    <loops>
        <name>Loop_Configuration_Plans</name>
        <label>Loop Configuration Plans</label>
        <locationX>1064</locationX>
        <locationY>1298</locationY>
        <collectionReference>colConfigurationPlans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_ConfigurationPlands</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Configuration_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Existing_WOLIs</name>
        <label>Loop Existing WOLIs</label>
        <locationX>437</locationX>
        <locationY>8414</locationY>
        <collectionReference>colExistingWOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Existing_WOLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_WOLIs_to_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Installable_Products</name>
        <label>Loop Installable Products</label>
        <locationX>635</locationX>
        <locationY>2462</locationY>
        <collectionReference>Filter_On_Installation_Flag</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_InstallableProductIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Installation_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Installation_Options</name>
        <label>Loop Installation Options</label>
        <locationX>635</locationX>
        <locationY>2870</locationY>
        <collectionReference>Get_Installation_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Installation_Item_Product_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Installation_Times</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Installation_Time_Items</name>
        <label>Loop Installation Time Items</label>
        <locationX>1515</locationX>
        <locationY>3926</locationY>
        <collectionReference>Filter_On_Related_installation_Times</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Installation_Item_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Prepare_Installable_Work_Order_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Installation_Times</name>
        <label>Loop Installation Times</label>
        <locationX>1955</locationX>
        <locationY>4142</locationY>
        <collectionReference>Get_Installation_Times</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Installation_Time_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_to_Installation_Time</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_New_WOLIs</name>
        <label>Loop New WOLIs</label>
        <locationX>437</locationX>
        <locationY>10238</locationY>
        <collectionReference>colWOLIsToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_WOLI_to_Keep</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_WOLIs_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Prepared_WOLIs</name>
        <label>Loop Prepared WOLIs</label>
        <locationX>1141</locationX>
        <locationY>8738</locationY>
        <collectionReference>colPreparedWOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Prepared_WOLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Increase_Loop_Counter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_WOLIs</name>
        <label>Loop WOLIs</label>
        <locationX>569</locationX>
        <locationY>7358</locationY>
        <collectionReference>colPreparedWOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Product_Id_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Existing_WOLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Prepare_Additional_Services</name>
        <label>Prepare Additional Services</label>
        <locationX>635</locationX>
        <locationY>6650</locationY>
        <collectionReference>Get_Service_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_Service_Work_Order_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Prepared_WOLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Prepare_Installable_Products</name>
        <label>Prepare Installable Products</label>
        <locationX>635</locationX>
        <locationY>3278</locationY>
        <collectionReference>Filter_On_Installation_Flag</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_On_Related_installation_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_On_Reclamation_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Prepare_Reclamation_Products</name>
        <label>Prepare Reclamation Products</label>
        <locationX>635</locationX>
        <locationY>5726</locationY>
        <collectionReference>Filter_On_Reclamation_Flag</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_ReclamationProductIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Service_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_WOLIs</name>
        <label>Create WOLIs</label>
        <locationX>437</locationX>
        <locationY>10130</locationY>
        <connector>
            <targetReference>Loop_New_WOLIs</targetReference>
        </connector>
        <inputReference>colWOLIsToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_WOLIs</name>
        <label>Delete WOLIs</label>
        <locationX>833</locationX>
        <locationY>11654</locationY>
        <inputReference>colWOLIsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1608</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Configurations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Configurations</name>
        <label>Get Case Configuration(s)</label>
        <locationX>1608</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Configuration_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Configuration</name>
        <label>Get Configuration</label>
        <locationX>1080</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Configuration_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>configPlanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Configuration_Products</name>
        <label>Get Configuration Products</label>
        <locationX>1064</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Configurable_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Configuration__c</field>
            <operator>In</operator>
            <value>
                <elementReference>colConfigPlanIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Configuration_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pre-existing Work Order Line Items are loaded for comparison.</description>
        <name>Get_Existing_WOLIs</name>
        <label>Get Existing WOLIs</label>
        <locationX>569</locationX>
        <locationY>7658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Existing_WOLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workorderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Installation_Items</name>
        <label>Get Installation Items</label>
        <locationX>635</locationX>
        <locationY>2762</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Installation_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Configuration_Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>colInstallableProductIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Configuration_Option__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Installation_Times</name>
        <label>Get Installation Times</label>
        <locationX>635</locationX>
        <locationY>3170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepare_Installable_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>colInstallationProductIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Installation_Time__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Installation_Work_Type</name>
        <label>Get Installation Work Type</label>
        <locationX>635</locationX>
        <locationY>2354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Installable_Products</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Product installation</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>varInstallationWorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>816</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Configurations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Configurations</name>
        <label>Get Opportunity Configuration(s)</label>
        <locationX>816</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Opportunity_Configuration_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>1344</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Configurations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>orderId</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Configurations</name>
        <label>Get Order Configuration(s)</label>
        <locationX>1344</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Configuration_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reclamation_Work_Type</name>
        <label>Get Reclamation Work Type</label>
        <locationX>635</locationX>
        <locationY>5618</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepare_Reclamation_Products</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reclamation work</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>varReclamationWorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Items</name>
        <label>Get Service Items</label>
        <locationX>767</locationX>
        <locationY>6326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Additional_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Configuration_Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>colConfigProductIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LISKUSTAN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Configuration_Product__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>colInstallableProductIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Configuration_Product__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>colReclamationProductIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Additional Service</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Configuration_Option__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Work_Type</name>
        <label>Get Service Work Type</label>
        <locationX>635</locationX>
        <locationY>6542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepare_Additional_Services</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other work</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>varServiceWorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Pre-existing Work Order Line Items that are Obsolete</description>
        <name>Get_Work_Order_Line_Items_To_Delete</name>
        <label>Get Work Order Line Items To Delete</label>
        <locationX>965</locationX>
        <locationY>11222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_WOLIs_to_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>colWOLIToKeep</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <sortField>LineItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrder</name>
        <label>Get WorkOrder</label>
        <locationX>1740</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_WorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WOLIs</name>
        <label>Update WOLIs</label>
        <locationX>437</locationX>
        <locationY>10838</locationY>
        <connector>
            <targetReference>Do_not_delete_anything_if_reclamation_case</targetReference>
        </connector>
        <inputReference>colWOLIsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllOpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colConfigItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colConfigPlanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colConfigProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colConfigurationPlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Configuration__c</objectType>
    </variables>
    <variables>
        <name>colConfigurationProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Configuration_Product__c</objectType>
    </variables>
    <variables>
        <name>colExistingWOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>colInstallableProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colInstallationProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colNewWorkOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>colPreparedWOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>colProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colReclamationProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colServiceItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>colWOLIProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colWOLIRVNs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colWOLIsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <description>WOLIs that don&apos;t have (anymore) a matching Opportunity Product. These WOLIs are unnecessary and can be removed.</description>
        <name>colWOLIsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>colWOLIsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>colWOLIToKeep</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colWorkOrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colWorkTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>configPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountofOpportunityProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countOfWOLIsToDelete</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_All_Reclamation_WOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_New_Installation_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_on_Additional_Services</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_On_Installation_Flag</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Configuration_Product__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_On_Installation_Items_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Configuration_Option__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_On_Installation_Products_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_On_Related_installation_Times</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Configuration_Option__c</objectType>
    </variables>
    <variables>
        <name>InstallableProductWOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>InstallableServiceWOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>InstallationItemQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MatchingWOLI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrConfigurableProduct</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrExactMatchCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nbrExistingWOLIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrInstallableProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrInstallationHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>nbrInstallationHoursTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>nbrInstallationItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrInstallationTimeEntryHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>nbrInstallationTimes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrLoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nbrNoMatchCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nbrPartialMatchCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nbrPreparedWOLIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrReclamationProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrWOLIsToCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrWOLIsToDelete</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrWOLIsToUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numberOfInstallableWOLIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfNewInstItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfNewReclItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfNewServiceItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numberOfReclamationWOLIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numberOfServiceWOLIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recExactMatchWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>recExistingWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>ReclamationWOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recPartialMatchWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>recPreparedWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>txtWorkType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInstallationWorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReclamationWorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServiceWorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLIrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>workorderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
