force-app/main/default/flows/Assign_Structural_Analysis_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Building</name>
        <label>Set Building</label>
        <locationX>308</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>recBuilding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Building</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtBuildingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recBuilding.Building_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Structural_Analysis_Defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BuildingId</name>
        <label>Set BuildingId</label>
        <locationX>308</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Building</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Structural_Analysis</name>
        <label>Set Structural Analysis</label>
        <locationX>308</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Building__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Drainage_Holes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Structural_Analysis_Defaults.Drainage_Holes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Seals_Between_Panes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Structural_Analysis_Defaults.Seals_between_Panes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Heat_Soak__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Structural_Analysis_Defaults.Heatsoak__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Snowload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Structural_Analysis_Defaults.Snowload__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Wind_Speed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Structural_Analysis_Defaults.Reference_Windspeed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis.Combined_Load__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Structural_Analysis_Defaults.Combined_Load__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Structural_Analysis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Structural_Analysis_Id</name>
        <label>Set Structural Analysis Id</label>
        <locationX>308</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>structuralAnalysisId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recStructuralAnalysis.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Set_BuildingId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <description>Add Values for Structural Defaults</description>
    <environments>Default</environments>
    <interviewLabel>Assign Structural Analysis SubFlow S10 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Building - Assign Structural Analysis SubFlow MVP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Structural_Analysis</name>
        <label>Create Structural Analysis</label>
        <locationX>308</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Set_Structural_Analysis_Id</targetReference>
        </connector>
        <inputReference>recStructuralAnalysis</inputReference>
    </recordCreates>
    <recordLookups>
        <description>element to retrieve the Building Record</description>
        <name>Get_Building</name>
        <label>Get Building</label>
        <locationX>308</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Building</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Building__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Structural_Analysis_Defaults</name>
        <label>Get Structural Analysis Defaults</label>
        <locationX>308</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Structural_Analysis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recBuilding.Building_Address__CountryCode__s</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Structural_Analysis_Default__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>buildingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recBuilding</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Building__c</objectType>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recStructuralAnalysis</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Structural_Analysis__c</objectType>
    </variables>
    <variables>
        <name>structuralAnalysisId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txtBuildingCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
