force-app/main/default/flows/Assign_Delivery_Address_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Deliver_To</name>
        <label>Set Deliver To</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>txtDeliverTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Deliver_To__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Where_to_Deliver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivery_Address_To_Account</name>
        <label>Set Delivery Address To Account</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.CountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.ShippingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.StateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.ShippingStateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.ShippingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.ShippingLongitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Address_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivery_Address_To_Building</name>
        <label>Set Delivery Address To Building</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.CountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Building.BuildingAddress__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.StateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Building.BuildingAddress__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Building.BuildingAddress__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Building.BuildingAddress__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Building.BuildingAddress__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Building.BuildingAddress__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Building.BuildingAddress__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Address_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivery_Address_To_Factory</name>
        <label>Set Delivery Address To Factory</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.CountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Factory.Factory_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.StateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Factory.Factory_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Factory.Factory_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Factory.Factory_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Factory.Factory_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Factory.Factory_Address__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Factory.Factory_Address__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Address_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivery_Address_To_Other</name>
        <label>Set Delivery Address To Other</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.CountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Delivery_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.StateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Delivery_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Delivery_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Delivery_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Delivery_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Delivery_Address__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Delivery_Address__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Address_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivery_Address_To_Warehouse</name>
        <label>Set Delivery Address To Warehouse</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.CountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Warehouse.Warehouse_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.StateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Warehouse.Warehouse_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Warehouse.Warehouse_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Warehouse.Warehouse_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Warehouse.Warehouse_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Warehouse.Warehouse_Address__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDeliveryAddress.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Warehouse.Warehouse_Address__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Address_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>1128</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityId</name>
        <label>Set OpportunityId</label>
        <locationX>1128</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Address_Set</name>
        <label>Is Address Set?</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>No Address</defaultConnectorLabel>
        <rules>
            <name>Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recDeliveryAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Found</name>
        <label>Opportunity Found?</label>
        <locationX>1128</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deliver_To</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>457</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_OpportunityId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_to_Deliver</name>
        <label>Where to Deliver?</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Is_Address_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Selected</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtDeliverTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtDeliverTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Building</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Building</targetReference>
            </connector>
            <label>Building</label>
        </rules>
        <rules>
            <name>Factory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtDeliverTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Factory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Factory</targetReference>
            </connector>
            <label>Factory</label>
        </rules>
        <rules>
            <name>Warehouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtDeliverTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warehouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Warehouse</targetReference>
            </connector>
            <label>Warehouse</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtDeliverTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Delivery_Address_To_Other</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <description>Autolaunched Subflow to Update the Delivery Address on an Opportunity
Added Other Option
Updated Version for Deliver To Change 27.07.2023
02.12.2023: Save Active Version as R2</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Assign Delivery AddressSubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Assign Delivery Address SubFlow R2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Delivery_Address_To_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Building</name>
        <label>Get Building</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Delivery_Address_To_Building</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recOpportunity.Building__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Building__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Factory</name>
        <label>Get Factory</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Delivery_Address_To_Factory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recOpportunity.Factory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Factory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1128</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Warehouse</name>
        <label>Get Warehouse</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Delivery_Address_To_Warehouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recOpportunity.Warehouse__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Warehouse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>331</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recDeliveryAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtDeliverTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
