force-app/main/default/flows/Assign_Building_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Clear_Building</name>
        <label>Clear Building</label>
        <locationX>624</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Owned_Buildings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Apartment_Information</name>
        <label>Set Apartment Information</label>
        <locationX>50</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>recApartment.Building__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Building</name>
        <label>Set Building</label>
        <locationX>360</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>recBuilding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recExistingBuilding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recBuilding.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingBuildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recExistingBuilding.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Owned_Buildings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Building_Information</name>
        <label>Set Building Information</label>
        <locationX>182</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>recBuilding.PropertyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Property_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBuilding.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxNewBuildingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBuilding.OwnedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Building</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BuildingId</name>
        <label>Set BuildingId</label>
        <locationX>182</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recBuilding.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Apartment_Building</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_as_Building_Address</name>
        <label>Set Customer as Building Address</label>
        <locationX>259</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recBuilding.BuildingAddress__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Customer_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBuilding.BuildingAddress__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Customer_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBuilding.BuildingAddress__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Customer_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBuilding.BuildingAddress__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Customer_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBuilding.BuildingAddress__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Customer_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBuilding.BuildingAddress__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Customer_Address__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBuilding.BuildingAddress__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Customer_Address__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Property_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_Building</name>
        <label>Set Existing Building</label>
        <locationX>492</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>recExistingBuilding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Owned_Buildings</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recExistingBuilding.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Same_Building_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Installation_as_Building_Address</name>
        <label>Set Installation as Building Address</label>
        <locationX>699</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recBuilding.BuildingAddress__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Installation_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBuilding.BuildingAddress__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Installation_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBuilding.BuildingAddress__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Installation_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBuilding.BuildingAddress__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Installation_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBuilding.BuildingAddress__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Installation_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBuilding.BuildingAddress__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Installation_Address__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBuilding.BuildingAddress__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Installation_Address__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Property_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>611</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_B2C_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityId</name>
        <label>Set OpportunityId</label>
        <locationX>875</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Buildings_Found</name>
        <label>Existing Buildings Found?</label>
        <locationX>380</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>New_Building_To_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Building</defaultConnectorLabel>
        <rules>
            <name>Existing_Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Owned_Buildings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Account_Owned_Buildings</targetReference>
            </connector>
            <label>Existing Building</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_B2C_Account</name>
        <label>Has B2C Account?</label>
        <locationX>611</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Has_Installation_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Account</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recOpportunity.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Customer_Address</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Building</name>
        <label>Has Building?</label>
        <locationX>380</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Owned_Buildings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Building</defaultConnectorLabel>
        <rules>
            <name>Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recOpportunity.Building__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Owned_Buildings</targetReference>
            </connector>
            <label>Building</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Customer_Address</name>
        <label>Has Customer Address?</label>
        <locationX>391</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Has_Property_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Customer Address</defaultConnectorLabel>
        <rules>
            <name>Customer_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxCustomerAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_as_Building_Address</targetReference>
            </connector>
            <label>Customer Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Installation_Address</name>
        <label>Has Installation Address?</label>
        <locationX>831</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Has_Property_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Installation Address</defaultConnectorLabel>
        <rules>
            <name>Installation_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxInstallationAddress</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Installation_as_Building_Address</targetReference>
            </connector>
            <label>Installation Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Property_Type</name>
        <label>Has Property Type?</label>
        <locationX>611</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>No Property Type</defaultConnectorLabel>
        <rules>
            <name>Property_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recOpportunity.Property_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Building</targetReference>
            </connector>
            <label>Property Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Apartment_Building</name>
        <label>Is Apartment Building?</label>
        <locationX>182</locationX>
        <locationY>2798</locationY>
        <defaultConnectorLabel>Single House</defaultConnectorLabel>
        <rules>
            <name>Apartment_Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recOpportunity.Property_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>APA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Apartment_Information</targetReference>
            </connector>
            <label>Apartment Building</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Building_To_Create</name>
        <label>New Building To Create?</label>
        <locationX>380</locationX>
        <locationY>2366</locationY>
        <defaultConnectorLabel>Existing Building</defaultConnectorLabel>
        <rules>
            <name>New_Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingBuildingId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Building_Information</targetReference>
            </connector>
            <label>New Building</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Found</name>
        <label>Opportunity Found?</label>
        <locationX>875</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Building_Address</name>
        <label>Same Building Address</label>
        <locationX>492</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Clear_Building</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different Address</defaultConnectorLabel>
        <rules>
            <name>Same_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxExistingBuildingAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fxInstallationAddress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Building</targetReference>
            </connector>
            <label>Same Address</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip automation is a Custom Setting and allows Administrative tasks to be executed without triggering automation</description>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>265</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_OpportunityId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to Set or Create Building (and Apartment) Record
03.02 fixing issue with address
26.02: Update
24.03: Allow new Building for same Address and Property Type but different account
02.12.2023: Save Active Version as R2
Add B2B</description>
    <environments>Default</environments>
    <formulas>
        <name>fxAccountBillingAddress</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!recAccount.BillingStreet})),{!recAccount.BillingStreet}+&quot;, &quot;,&quot;&quot;)
+ IF(NOT(ISBLANK({!recAccount.BillingPostalCode})),{!recAccount.BillingPostalCode}+&quot;, &quot;,&quot;&quot;)
+ IF(NOT(ISBLANK({!recAccount.BillingCity})),{!recAccount.BillingCity},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fxCustomerAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!recOpportunity.Customer_Address__CountryCode__s}) + TEXT({!recOpportunity.Customer_Address__StateCode__s})
+ {!recOpportunity.Customer_Address__City__s}+ {!recOpportunity.Customer_Address__PostalCode__s}
+ {!recOpportunity.Customer_Address__Street__s}
+ TEXT({!recOpportunity.Customer_Address__Latitude__s} )+ TEXT({!recOpportunity.Customer_Address__Longitude__s})</expression>
    </formulas>
    <formulas>
        <name>fxExistingBuildingAddress</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!recExistingBuilding.BuildingAddress__Street__s})),{!recExistingBuilding.BuildingAddress__Street__s}+&quot;, &quot;,&quot;&quot;)
+ IF(NOT(ISBLANK({!recExistingBuilding.BuildingAddress__PostalCode__s})),{!recExistingBuilding.BuildingAddress__PostalCode__s}+&quot;, &quot;,&quot;&quot;)
+ IF(NOT(ISBLANK({!recExistingBuilding.BuildingAddress__City__s})),{!recExistingBuilding.BuildingAddress__City__s},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fxInstallationAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!recOpportunity.Installation_Address__CountryCode__s}) + TEXT({!recOpportunity.Installation_Address__StateCode__s})
+ {!recOpportunity.Installation_Address__City__s}+ {!recOpportunity.Installation_Address__PostalCode__s}
+ {!recOpportunity.Installation_Address__Street__s}
+ TEXT({!recOpportunity.Installation_Address__Latitude__s} )+ TEXT({!recOpportunity.Installation_Address__Longitude__s})</expression>
    </formulas>
    <formulas>
        <name>fxNewBuildingAddress</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!recBuilding.BuildingAddress__Street__s})),{!recBuilding.BuildingAddress__Street__s}+&quot;, &quot;,&quot;&quot;)
+ IF(NOT(ISBLANK({!recBuilding.BuildingAddress__PostalCode__s})),{!recBuilding.BuildingAddress__PostalCode__s}+&quot;, &quot;,&quot;&quot;)
+ IF(NOT(ISBLANK({!recBuilding.BuildingAddress__City__s})),{!recBuilding.BuildingAddress__City__s},&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Assign Building SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Assign Building SubFlow R2.5.5</label>
    <loops>
        <name>Loop_Account_Owned_Buildings</name>
        <label>Loop Account Owned Buildings</label>
        <locationX>272</locationX>
        <locationY>1682</locationY>
        <collectionReference>Get_Account_Owned_Buildings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Existing_Building</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Building_To_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Building</name>
        <label>Create Building</label>
        <locationX>182</locationX>
        <locationY>2582</locationY>
        <connector>
            <targetReference>Set_BuildingId</targetReference>
        </connector>
        <inputReference>recBuilding</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Check for any existing Building for the Account with same Property Type and Address</description>
        <name>Get_Account_Owned_Buildings</name>
        <label>Get Account Owned Buildings</label>
        <locationX>380</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Buildings_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnedBy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PropertyType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recOpportunity.Property_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Building__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>875</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>139</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>buildingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>customerAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingBuildingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>installationAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recApartment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apartment__c</objectType>
    </variables>
    <variables>
        <name>recBuilding</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Building__c</objectType>
    </variables>
    <variables>
        <name>recCustomerAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>recExistingBuilding</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Building__c</objectType>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtInstallationAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtLookupCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
