force-app/main/default/flows/Case_Activate_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Contract_to_Signed</name>
        <label>Assign Contract to Signed</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Reclamation_Contract.CustomerSignedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reclamation_Contract.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reclamation_Contract.CustomerSignedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reclamation_Contract.Opportunity__r.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reclamation_Contract.Signing_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reclamation_Contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reclamation_Contract.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reclamationOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_to_Signed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_to_Closed_won</name>
        <label>Assign Stage to Closed won</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Reclamation_Opportunity_Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Reclamation_Opportunity</targetReference>
        </connector>
    </assignments>
    <description>27.07 Updated related contract to be signed
28.07 Modified to run in system mode (without sharing)
02.12.2023: Save Active Version as R2</description>
    <environments>Default</environments>
    <interviewLabel>Case - Activate Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Activate Order R2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Reclamation_Contract</name>
        <label>Get Reclamation Contract</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contract_to_Signed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>reclamationOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reclamation_Opportunity_from_Case</name>
        <label>Get Reclamation Opportunity from Case</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reclamation_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>reclamationOpportunityId</assignToReference>
            <field>Reclamation__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Reclamation_Opportunity_Record</name>
        <label>Get Reclamation Opportunity Record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reclamation_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>reclamationOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Reclamation_Opportunity</name>
        <label>Close Reclamation Opportunity</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Opportunity_Closed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>oppNotCompleted</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reclamation_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_to_Signed</name>
        <label>Update Contract to Signed</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Related_Contract</targetReference>
        </connector>
        <inputReference>Get_Reclamation_Contract</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Closed_won_Opportunity</name>
        <label>Closed won Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Reclamation_Opportunity_from_Case</targetReference>
        </connector>
        <fields>
            <name>closeOpportunity</name>
            <fieldText>&lt;p&gt;Closing the Opportunity related to the case {!recordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Related_Contract</name>
        <label>Get Related Contract</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_to_Closed_won</targetReference>
        </connector>
        <fields>
            <name>getContract</name>
            <fieldText>&lt;p&gt;Related Contract is automatically activated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>oppNotCompleted</name>
        <label>oppNotCompleted</label>
        <locationX>440</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorScreen</name>
            <fieldText>&lt;p&gt;There are some issues found while closing the opportunity. Please check with the Technical support team for further details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Closed</name>
        <label>Opportunity Closed</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>oppClosed</name>
            <fieldText>&lt;p&gt;Related opportunity is now completed. Contract and Order will be activated automatically.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Closed_won_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>reclamationOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>reclamationOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
