force-app/main/default/flows/Case_Assign_ICT_Case_to_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Agent_as_Owner</name>
        <label>Set Agent as Owner</label>
        <locationX>50</locationX>
        <locationY>1691</locationY>
        <assignmentItems>
            <assignToReference>agentUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Created_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case</name>
        <label>Set Case</label>
        <locationX>611</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>recCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Case_in_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Agent</name>
        <label>Set Case Agent</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>txtCaseAgent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxAgentString1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtAgentFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxAgentFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtAgentLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxAgentLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtFullString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxAgentString1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtMidString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxAgentString2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtRightString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxAgentString3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Variables</name>
        <label>Set Case Variables</label>
        <locationX>858</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>caseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseCreatedOn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recCase.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_on_ICT</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_on_ICT</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter on ICT</label>
        <locationX>858</locationX>
        <locationY>827</locationY>
        <assignNextValueToReference>currentItem_Filter_on_ICT</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Case_Record_Types</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_on_ICT.DeveloperName</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Lumon</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_on_ICT.DeveloperName</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>ICT</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>What_Case_Record_Type</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Has_Agent_Info</name>
        <label>Has Agent Info?</label>
        <locationX>380</locationX>
        <locationY>1259</locationY>
        <defaultConnectorLabel>No Agent Info</defaultConnectorLabel>
        <rules>
            <name>Agent_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtCaseSubject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Agent=</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Agent</targetReference>
            </connector>
            <label>Agent Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Agent_User_Found</name>
        <label>Is Agent User Found?</label>
        <locationX>182</locationX>
        <locationY>1583</locationY>
        <defaultConnectorLabel>Assign To Queue</defaultConnectorLabel>
        <rules>
            <name>Agent_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Agent_as_Owner</targetReference>
            </connector>
            <label>Assign to User</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Case_in_Queue</name>
        <label>is Case in Queue?</label>
        <locationX>611</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Agent</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recCase.Owner:Group.DeveloperName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Agent_Info</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_New</name>
        <label>is New?</label>
        <locationX>1114</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Not a New Case</defaultConnectorLabel>
        <rules>
            <name>New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Variables</targetReference>
            </connector>
            <label>New Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation_Enabled</name>
        <label>Skip Automation Enabled?</label>
        <locationX>1374</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Skip Automation</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record_Types</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Case_Record_Type</name>
        <label>What Case Record Type?</label>
        <locationX>858</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Not a IT Support Case</defaultConnectorLabel>
        <rules>
            <name>ICT_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recCase.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ICT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case</targetReference>
            </connector>
            <label>ICT Support</label>
        </rules>
    </decisions>
    <description>Updated trigger condition</description>
    <environments>Default</environments>
    <formulas>
        <name>fxAgentFirstName</name>
        <dataType>String</dataType>
        <expression>LEFT({!fxAgentName}, FIND(&quot; &quot;,{!fxAgentName},1)-1)</expression>
    </formulas>
    <formulas>
        <name>fxAgentLastName</name>
        <dataType>String</dataType>
        <expression>{!fxAgentString3}</expression>
    </formulas>
    <formulas>
        <name>fxAgentName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!fxAgentString1}, &quot;Agent=&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fxAgentString1</name>
        <dataType>String</dataType>
        <expression>IF (CONTAINS({!txtCaseSubject}, &quot;Agent=&quot;), 
     MID({!txtCaseSubject}, FIND(&quot;Agent=&quot;,{!txtCaseSubject},1),LEN({!txtCaseSubject})-FIND(&quot;Agent=&quot;,{!txtCaseSubject},1)+1),
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fxAgentString2</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!fxAgentName}, {!fxAgentFirstName}+&quot; &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fxAgentString3</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!fxAgentString2}, &quot; &quot;), LEFT({!fxAgentString2}, FIND(&quot; &quot;,{!fxAgentString2},2)-1),{!fxAgentString2})</expression>
    </formulas>
    <formulas>
        <name>fxRemoveAgentSubject</name>
        <dataType>String</dataType>
        <expression>LEFT({!txtCaseSubject},FIND(&quot;Agent=&quot;,{!txtCaseSubject},1))</expression>
    </formulas>
    <formulas>
        <name>fxRequesterName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!requesterName}, LEFT({!requesterAddress}, FIND(&quot;@&quot;, {!requesterAddress},1)))</expression>
    </formulas>
    <interviewLabel>Case - Assign to Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Assign ICT Case to Agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record_Types</name>
        <label>Get Case Record Types</label>
        <locationX>1114</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queues</name>
        <label>Get Queues</label>
        <locationX>1114</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>182</locationX>
        <locationY>1475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Agent_User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtAgentFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtAgentLastName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Created_Case</name>
        <label>Update Created Case</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>agentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1248</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation_Enabled</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Notification to sales rep on opportunity feed that the building permit application is approved.</description>
        <name>Building_Permit_Completed_Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @[{!$Record.Opportunity__r.OwnerId}], The Building Permit Case related to your opportunity has been completed, and building permit is approved. Please follow-up accordingly and proceed to the Final contract and order.</text>
    </textTemplates>
    <textTemplates>
        <description>Notification to sales rep on special order case closure</description>
        <name>Special_Order_Case_Closure_Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @[{!$Record.Opportunity__r.OwnerId}],The Special Order Case related to your opportunity is completed. Please follow-up accordingly and proceed to the Final contract and order.</text>
    </textTemplates>
    <variables>
        <name>agentUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseCreatedOn</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLink_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinks_Case</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_on_ICT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lumonAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lumonContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nbrImages</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>recLumonContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>requesterAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requesterFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requesterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requesterLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requesterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtAgentFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtAgentLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseDetailedDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailHtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtFullString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtMidString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtRightString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
