force-app/main/default/flows/Case_Copy_Pictures_from_Service_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_to_ContentDocumentLinkSingle</name>
        <label>Assign to ContentDocumentLinkSingle</label>
        <locationX>1680</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkSingle.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkSingle.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_ContentDocumentLinks.ShareType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkSingle.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_ContentDocumentLinks.Visibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkSingle.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_ContentDocumentLinks.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Multiple</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Multiple</name>
        <label>Assign to Multiple</label>
        <locationX>1680</locationX>
        <locationY>1152</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLinkSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_ContentDocumentLinks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Pictures_already_copied</name>
        <label>Pictures already copied?</label>
        <locationX>1592</locationX>
        <locationY>456</locationY>
        <defaultConnector>
            <targetReference>Get_WOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pictures_already_on_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_ContentDocumentLinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Pictures already on Case</label>
        </rules>
    </decisions>
    <description>This Flow copies pictures from the Service Appointment if the Case type is either a quality event or a reclamation.</description>
    <environments>Default</environments>
    <interviewLabel>Case - Copy Pictures from Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Copy Pictures from Service Appointment</label>
    <loops>
        <name>Loop_over_ContentDocumentLinks</name>
        <label>Loop over ContentDocumentLinks</label>
        <locationX>1592</locationX>
        <locationY>912</locationY>
        <collectionReference>Get_ContentDocumentLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_ContentDocumentLinkSingle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ContentDocumentLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ContentDocumentLinks</name>
        <label>Create ContentDocumentLinks</label>
        <locationX>1592</locationX>
        <locationY>1368</locationY>
        <inputReference>ContentDocumentMultiple</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_ContentDocumentLinks</name>
        <label>Get Case ContentDocumentLinks</label>
        <locationX>1592</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pictures_already_copied</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentDocumentLinks</name>
        <label>Get ContentDocumentLinks</label>
        <locationX>1592</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_ContentDocumentLinks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WOLI.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI</name>
        <label>Get WOLI</label>
        <locationX>1592</locationX>
        <locationY>672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ContentDocumentLinks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order_Line_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1290</locationX>
        <locationY>48</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quality event: work stops</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quality event: work continues</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reclamation order</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Take_Pictures_from_Service_Appointment</name>
            <connector>
                <targetReference>Get_Case_ContentDocumentLinks</targetReference>
            </connector>
            <label>Take Pictures from Service Appointment</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentLinkSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentMultiple</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
