force-app/main/default/flows/Case_Set_Case_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Clear_Case_Group</name>
        <label>Clear Case Group</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>txtCaseGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Service_Desk_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Status</name>
        <label>Set Case Status</label>
        <locationX>1084</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>txtCaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Status_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Variables</name>
        <label>Set Case Variables</label>
        <locationX>336</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>caseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseCreatedOn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recCase.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCaseQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Case_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Closed_as_Resolved_Date</name>
        <label>Set Closed as Resolved Date</label>
        <locationX>1128</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>resolvedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ClosedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Resolved_Date</name>
        <label>Set Resolved Date</label>
        <locationX>864</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>resolvedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ServiceDesk_Flag</name>
        <label>Set ServiceDesk Flag</label>
        <locationX>204</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>isServiceDeskCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Resolved_Date</name>
        <label>Has Resolved Date?</label>
        <locationX>776</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Set_Resolved_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Resolved Date</defaultConnectorLabel>
        <rules>
            <name>Resolved_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseResolvedDate__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Resolved Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Case_in_Queue</name>
        <label>is Case in Queue?</label>
        <locationX>336</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Is_Service_Desk_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agent</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recCase.Owner:Group.DeveloperName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_FallBack_Queue</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FallBack_Queue</name>
        <label>Is FallBack Queue?</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Is_Service_Desk_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Queue</defaultConnectorLabel>
        <rules>
            <name>Fallback_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>fallBack</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Case_Group</targetReference>
            </connector>
            <label>Fallback Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_New</name>
        <label>is New?</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Set_Case_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a New Case</defaultConnectorLabel>
        <rules>
            <name>New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Variables</targetReference>
            </connector>
            <label>New Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Service_Desk_Case</name>
        <label>Is Service Desk Case?</label>
        <locationX>336</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Update_New_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Service Desk</defaultConnectorLabel>
        <rules>
            <name>Printcom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>servicedesk@printcom.fi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ServiceDesk_Flag</targetReference>
            </connector>
            <label>Printcom</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Changed</name>
        <label>Is Status Changed?</label>
        <locationX>1084</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Other Status</defaultConnectorLabel>
        <rules>
            <name>Resolved_or_Closed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Resolved_Date</targetReference>
            </connector>
            <label>to Resolved or Closed</label>
        </rules>
        <rules>
            <name>Closed_not_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CaseResolvedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closed_as_Resolved_Date</targetReference>
            </connector>
            <label>Closed not Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation_Enabled</name>
        <label>Skip Automation Enabled?</label>
        <locationX>1183</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Skip Automation</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record_Types</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Case_Record_Type</name>
        <label>What Case Record Type?</label>
        <locationX>336</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>is_Case_in_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Case</defaultConnectorLabel>
        <rules>
            <name>ICT_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recCase.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ICT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Case_in_Queue</targetReference>
            </connector>
            <label>ICT Support</label>
        </rules>
        <rules>
            <name>Customer_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Case_in_Queue</targetReference>
            </connector>
            <label>Customer Services</label>
        </rules>
    </decisions>
    <description>Triggered Flow to set Case Values like Group, SLA, origin</description>
    <environments>Default</environments>
    <interviewLabel>Case - Set Case Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Set Case Values R4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record_Types</name>
        <label>Get Case Record Types</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queues</name>
        <label>Get Queues</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1084</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>CaseGroup__c</field>
            <value>
                <elementReference>txtCaseGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseResolvedDate__c</field>
            <value>
                <elementReference>resolvedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isServiceDeskCase__c</field>
            <value>
                <elementReference>isServiceDeskCase</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Case</name>
        <label>Update New Case</label>
        <locationX>336</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>CaseGroup__c</field>
            <value>
                <elementReference>txtCaseGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isServiceDeskCase__c</field>
            <value>
                <elementReference>isServiceDeskCase</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1057</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation_Enabled</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>agentUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseCreatedOn</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isServiceDeskCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lumonAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lumonContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nbrImages</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>recLumonContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>requesterAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requesterFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requesterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requesterLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requesterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resolvedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$System.OriginDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>txtAgentFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtAgentLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseDetailedDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailHtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtFullString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtMidString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtRightString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
