force-app/main/default/flows/Case_Create_Reclamation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Config_Product_Missing</name>
        <label>Config Product Missing</label>
        <locationX>1722</locationX>
        <locationY>998</locationY>
        <actionName>c:ShowToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Found_Config_Clone_Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Configuration Product Related to Case Missing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToastMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_Visual_Plan</name>
        <label>Copy Visual Plan</label>
        <locationX>226</locationX>
        <locationY>2078</locationY>
        <actionName>CloneConfigurationController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Visual_Plan_Copied</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>reclamationConfigId</name>
            <value>
                <elementReference>clonedConfigurationPlanId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CloneConfigurationController</nameSegment>
        <outputParameters>
            <assignToReference>copyPlanMessage</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Creation_Reclamation_Error</name>
        <label>Creation Reclamation Error</label>
        <locationX>1854</locationX>
        <locationY>3590</locationY>
        <actionName>c:ShowToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>An Error Occured</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToastMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>No_Case_Found</name>
        <label>No Case Found</label>
        <locationX>2514</locationX>
        <locationY>350</locationY>
        <actionName>c:ShowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Unable to Find Case Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToastMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>No_Configuration_Plan_Created</name>
        <label>No Configuration Plan Created</label>
        <locationX>666</locationX>
        <locationY>2078</locationY>
        <actionName>c:ShowToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Found_Config_Clone_Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Unable to Configuration Plan Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToastMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>No_Configuration_Product_Cloned</name>
        <label>No Configuration Product Cloned</label>
        <locationX>402</locationX>
        <locationY>2294</locationY>
        <actionName>c:ShowToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Found_Config_Clone_Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Title</name>
            <value>
                <stringValue>Unable clone Configuration Product</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>copyPlanMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToastMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>No_Configuration_Product_Found</name>
        <label>No Configuration Product Found</label>
        <locationX>1986</locationX>
        <locationY>674</locationY>
        <actionName>c:ShowToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Found_Config_Clone_Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>No Configuration Product Specified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToastMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>No_Opportunity_Found</name>
        <label>No Opportunity Found</label>
        <locationX>1194</locationX>
        <locationY>1646</locationY>
        <actionName>c:ShowToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Found_Config_Clone_Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Unable to retrieve Source Opportunity Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToastMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>No_Reclamation_Created</name>
        <label>No Reclamation Created</label>
        <locationX>930</locationX>
        <locationY>1862</locationY>
        <actionName>c:ShowToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Found_Config_Clone_Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Unable to create Reclamation Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToastMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Not_a_Reclamation_Case</name>
        <label>Not a Reclamation Case</label>
        <locationX>2250</locationX>
        <locationY>458</locationY>
        <actionName>c:ShowToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Found_Config_Clone_Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Case is not Reclamation or Warranty related</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToastMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Reclamation_Created_Toast</name>
        <label>Reclamation Created Toast</label>
        <locationX>2118</locationX>
        <locationY>3590</locationY>
        <actionName>c:ShowToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Reclamation Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToastMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Source_Opportunity_Missing</name>
        <label>Source Opportunity Missing</label>
        <locationX>1458</locationX>
        <locationY>1322</locationY>
        <actionName>c:ShowToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Found_Config_Clone_Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Opportunity related to Case missing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToastMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_ConfigurationPlanId</name>
        <label>Set ConfigurationPlanId</label>
        <locationX>1199</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>configurationPlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Configuration_Product.Configuration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSourceConfigurationProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Configuration_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Configuration_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ConfigurationProductId</name>
        <label>Set ConfigurationProductId</label>
        <locationX>1460</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ConfigurationProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Configuration_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Configuration_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_reclamationCaseId</name>
        <label>Set reclamationCaseId</label>
        <locationX>1723</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>reclamationCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Configuration_Product_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Source_Opportunity_Id</name>
        <label>Set Source Opportunity Id</label>
        <locationX>941</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>sourceOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Config_Clone_Error</name>
        <label>Found Config Clone Error</label>
        <locationX>1986</locationX>
        <locationY>3482</locationY>
        <defaultConnector>
            <targetReference>Reclamation_Created_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Config Error</defaultConnectorLabel>
        <rules>
            <name>Config_Error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>configCloneError</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_Reclamation_Error</targetReference>
            </connector>
            <label>Config Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Config_Prod_Error</name>
        <label>Found Config Prod Error</label>
        <locationX>50</locationX>
        <locationY>2402</locationY>
        <defaultConnector>
            <targetReference>Create_Feedback_Event_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Config Prod Error</defaultConnectorLabel>
        <rules>
            <name>Config_Prod_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>configProdError</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relate_reclamation_opportunity_to_Case</targetReference>
            </connector>
            <label>Config Prod Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Configuration_Product_Id</name>
        <label>Has Configuration Product Id?</label>
        <locationX>1723</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_Configuration_Product_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ConfigurationProductId</defaultConnectorLabel>
        <rules>
            <name>Configuration_Product_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Configuration_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ConfigurationProductId</targetReference>
            </connector>
            <label>Configuration Product Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Source_Opportunity_Id</name>
        <label>Has Source Opportunity Id?</label>
        <locationX>1199</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Source_Opportunity_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No OpportunityId</defaultConnectorLabel>
        <rules>
            <name>Source_OpportunityId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Source_Opportunity_Id</targetReference>
            </connector>
            <label>Source OpportunityId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Configuration_Plan_Created</name>
        <label>Is Configuration Plan Created?</label>
        <locationX>446</locationX>
        <locationY>1970</locationY>
        <defaultConnector>
            <targetReference>No_Configuration_Plan_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Configuration Plan Created</defaultConnectorLabel>
        <rules>
            <name>Configuration_Plan_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>configCloneErr</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clonedConfigurationPlanId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Visual_Plan</targetReference>
            </connector>
            <label>Configuration Plan Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Configuration_Product_Returned</name>
        <label>Is Configuration Product Returned?</label>
        <locationX>1460</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Config_Product_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Configuration Product</defaultConnectorLabel>
        <rules>
            <name>Configuration_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Configuration_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ConfigurationPlanId</targetReference>
            </connector>
            <label>Configuration Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reclamation_Case</name>
        <label>Is Reclamation Case?</label>
        <locationX>1986</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Not_a_Reclamation_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Case Type</defaultConnectorLabel>
        <rules>
            <name>Reclamation_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamation order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Reclamation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty work request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_reclamationCaseId</targetReference>
            </connector>
            <label>Reclamation Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reclamation_Created</name>
        <label>Is Reclamation Created?</label>
        <locationX>688</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>No_Reclamation_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Reclamation Created</defaultConnectorLabel>
        <rules>
            <name>Reclamation_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oppCloneError</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>reclamationOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Configuration_Plan</targetReference>
            </connector>
            <label>Reclamation Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Visual_Plan_Copied</name>
        <label>Is Visual Plan Copied?</label>
        <locationX>226</locationX>
        <locationY>2186</locationY>
        <defaultConnector>
            <targetReference>No_Configuration_Product_Cloned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Visual Plan Copied</defaultConnectorLabel>
        <rules>
            <name>Visual_Plan_Copied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>copyPlanMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Configuration_Products</targetReference>
            </connector>
            <label>Visual Plan Copied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source_Opportunity_Returned</name>
        <label>Source Opportunity Returned?</label>
        <locationX>941</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>No_Opportunity_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Source Opportunity</defaultConnectorLabel>
        <rules>
            <name>Source_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reclamation_Opportunity</targetReference>
            </connector>
            <label>Source Opportunity</label>
        </rules>
    </decisions>
    <description>31.10 Created new flow out of Case - Create Reclamation Opportunity
02.11 Included cloned configuration Id to the Clone conf products
02.11 Config product check removed from Get Opp
30.11.23 Update to include fault handling
14.12.23 Updated clonedConfigurationplanid instead of reclamationConfigurationPlanId
14.12.23 Final Screen as the last component</description>
    <environments>Default</environments>
    <interviewLabel>Case - Create Reclamation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Create Reclamation R2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Feedback_Event_Record</name>
        <label>Create Feedback Event Record</label>
        <locationX>138</locationX>
        <locationY>2510</locationY>
        <connector>
            <targetReference>Relate_reclamation_opportunity_to_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Key__c</field>
            <value>
                <stringValue>ReclaimationFeedback</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>toastMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Navigate_URL__c</field>
            <value>
                <elementReference>navigateUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <stringValue>Opportunity Clone Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variant__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>FeedbackEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1986</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Reclamation_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Case_Found</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Configuration_Plan</name>
        <label>Get Configuration Plan</label>
        <locationX>1199</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Source_Opportunity_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>configurationPlanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Configuration_Product</name>
        <label>Get Configuration Product</label>
        <locationX>1460</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Configuration_Product_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConfigurationProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuration_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>941</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Source_Opportunity_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sourceOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Relate_reclamation_opportunity_to_Case</name>
        <label>Relate reclamation opportunity to Case</label>
        <locationX>50</locationX>
        <locationY>2702</locationY>
        <connector>
            <targetReference>Found_Config_Clone_Error</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reclamation__c</field>
            <value>
                <elementReference>reclamationOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>1986</locationX>
        <locationY>3782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>configProdErr</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 0, 0);&quot;&gt;Error occurred while cloning the configuration product. Please check the below error message&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 0, 0);&quot;&gt;{!configProdError}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Config_Prod_Error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>configCloneErr</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 0, 0);&quot;&gt;Error occurred while creating reclamation plans. Please check the below&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 0, 0);&quot;&gt;{!configCloneError}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Config_Error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>copyPlanErr</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 0, 0);&quot;&gt;Error occurred while creating reclamation plans. Please check the below&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 0, 0);&quot;&gt;{!copyPlanMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>oppError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 0, 0);&quot;&gt;Error occurred {!$Flow.CurrentStage} in the process. Please check the below&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 0, 0);&quot;&gt;{!oppCloneError}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reclamation_Created</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OppSourceErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 0, 0);&quot;&gt;Error occurred while creating reclamation opportunity&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>success</name>
            <fieldText>&lt;p&gt;success&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Config_Prod_Error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>autoCloseScreen</name>
            <extensionName>c:flowAutoNavigate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Config_Prod_Error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConfigProductError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;There is no Configuration Product selected in the Case&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Configuration_Product</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Clone_Configuration_Plan</name>
        <label>Clone Configuration Plan</label>
        <locationX>446</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Is_Configuration_Plan_Created</targetReference>
        </connector>
        <flowName>Opportunity_Clone_Configuration_SubFlow</flowName>
        <inputAssignments>
            <name>configurationPlanId</name>
            <value>
                <elementReference>configurationPlanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>reclamationCaseId</name>
            <value>
                <elementReference>reclamationCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sourceConfigurationPlanId</name>
            <value>
                <elementReference>configurationPlanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sourceConfigurationProductId</name>
            <value>
                <elementReference>ConfigurationProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sourceOpportunityId</name>
            <value>
                <elementReference>sourceOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetOpportunityId</name>
            <value>
                <elementReference>reclamationOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>clonedConfigurationPlanId</assignToReference>
            <name>targetConfigurationPlanId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>configCloneError</assignToReference>
            <name>txtConfigCloneError</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Clone_Configuration_Products</name>
        <label>Clone Configuration Products</label>
        <locationX>50</locationX>
        <locationY>2294</locationY>
        <connector>
            <targetReference>Found_Config_Prod_Error</targetReference>
        </connector>
        <flowName>Opportunity_Clone_Configuration_Product_SubFlow</flowName>
        <inputAssignments>
            <name>clonedConfigurationPlanId</name>
            <value>
                <elementReference>clonedConfigurationPlanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>configurationPlanId</name>
            <value>
                <elementReference>configurationPlanId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>configProdError</assignToReference>
            <name>configProdError</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Reclamation_Opportunity</name>
        <label>Create Reclamation Opportunity</label>
        <locationX>688</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Is_Reclamation_Created</targetReference>
        </connector>
        <flowName>Clone_Opportunity_SubFlow</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>reclamationCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentOpportunityId</name>
            <value>
                <elementReference>sourceOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>reclamationOpportunityId</assignToReference>
            <name>reclamationOpportunityId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recReclamationOpportunity</assignToReference>
            <name>recOpportunityClone</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>oppCloneError</assignToReference>
            <name>txtOpptyCloneError</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>clonedConfigurationPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colConfigurationClones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Configuration__c</objectType>
    </variables>
    <variables>
        <name>configCloneError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>configProdError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>configurationPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConfigurationProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>copyPlanMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>navigateUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/lightning/r/Opportunity/{!reclamationOpportunityId}/view</stringValue>
        </value>
    </variables>
    <variables>
        <name>oppCloneError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reclamationCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reclamationConfigurationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reclamationConfigurationPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reclamationOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recReclamationOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recReclamationProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Configuration_Product__c</objectType>
    </variables>
    <variables>
        <name>recSourceConfigurationProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Configuration_Product__c</objectType>
    </variables>
    <variables>
        <name>sourceOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>toastMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Opportunity was created successfully together with quote and configuration product {1}</stringValue>
        </value>
    </variables>
</Flow>
