force-app/main/default/flows/Case_Set_Case_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Clear_Case_Group</name>
        <label>Clear Case Group</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>txtCaseGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Email_to_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Closed_Date</name>
        <label>Clear Closed Date</label>
        <locationX>1238</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>DateCaseResolved</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateCaseClosed</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Resolved_Date</name>
        <label>Clear Resolved Date</label>
        <locationX>1238</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>DateCaseResolved</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Status_Changed_From_Closed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Case_Values</name>
        <label>Get Case Values</label>
        <locationX>1150</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>caseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateCaseCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recCase.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCaseQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRoutingCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseFromEmailToCase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isCaseInQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseInQueue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCaseSourceEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCaseRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateCaseResolved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseResolvedDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateCaseClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ClosedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCaseGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOriginGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OriginCaseGroup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Group</name>
        <label>Set Case Group</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>txtCaseGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtCaseQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Email_to_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Closed_as_Resolved_Date</name>
        <label>Set Closed as Resolved Date</label>
        <locationX>2470</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>DateCaseResolved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateCaseClosed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Last_Change_Date</name>
        <label>Set Last Change Date</label>
        <locationX>2294</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>timeStatusChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Status_Changes.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Status_Changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Last_Resolved_Date</name>
        <label>Set Last Resolved Date</label>
        <locationX>2206</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>DateCaseResolved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>timeStatusChange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Resolved_Date</name>
        <label>Set Resolved Date</label>
        <locationX>1810</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>DateCaseResolved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Resolved_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ServiceDesk_Flag</name>
        <label>Set ServiceDesk Flag</label>
        <locationX>94</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>isServiceDeskCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Routed_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_To_In_Progress</name>
        <label>Set Status To In Progress</label>
        <locationX>798</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>txtCaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Which_Status</name>
        <label>Is Status Changed To Resolved?</label>
        <locationX>1942</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Has_Resolved_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>To_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Resolved_Date</targetReference>
            </connector>
            <label>To Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Resolved_Date</name>
        <label>Has Resolved Date?</label>
        <locationX>1942</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Get_Status_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Resolved Date</defaultConnectorLabel>
        <rules>
            <name>Resolved_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateCaseResolved</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DateCaseResolved</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DateCaseCreated</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Resolved Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Case_in_Queue</name>
        <label>is Case in Queue?</label>
        <locationX>380</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Is_Email_to_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agent</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCaseInQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_FallBack_Queue</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_to_Case</name>
        <label>Is Email-to-Case?</label>
        <locationX>380</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Other Source</defaultConnectorLabel>
        <rules>
            <name>Email_to_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Service_Desk_Case</targetReference>
            </connector>
            <label>Email-to-Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FallBack_Queue</name>
        <label>Is FallBack Queue?</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Set_Case_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Queue</defaultConnectorLabel>
        <rules>
            <name>Fallback_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtCaseQueue</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Fallback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Case_Group</targetReference>
            </connector>
            <label>Fallback Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Last_Change</name>
        <label>Is Last Change?</label>
        <locationX>2426</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Loop_Status_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Earlier Change</defaultConnectorLabel>
        <rules>
            <name>Last_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>timeStatusChange</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_Status_Changes.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Last_Change_Date</targetReference>
            </connector>
            <label>Last Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Migrated</name>
        <label>Is Migrated?</label>
        <locationX>468</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Created</defaultConnectorLabel>
        <rules>
            <name>Migrated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsMigrated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Migrated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Missing_Resolved_Date</name>
        <label>Is Missing Resolved Date?</label>
        <locationX>2602</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Missing</defaultConnectorLabel>
        <rules>
            <name>Missing_Resolved_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseResolvedDate__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClosedDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closed_as_Resolved_Date</targetReference>
            </connector>
            <label>Missing Resolved Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_New</name>
        <label>is New?</label>
        <locationX>1150</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Which_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a New Case</defaultConnectorLabel>
        <rules>
            <name>New_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Case_Record_Type</targetReference>
            </connector>
            <label>New Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Changed</name>
        <label>Is Owner Changed?</label>
        <locationX>930</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Change</defaultConnectorLabel>
        <rules>
            <name>From_Queue_To_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.CaseInQueue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_To_In_Progress</targetReference>
            </connector>
            <label>From Queue To User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Service_Desk_Case</name>
        <label>Is Service Desk Case?</label>
        <locationX>226</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Update_Routed_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Service Desk</defaultConnectorLabel>
        <rules>
            <name>Printcom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>servicedesk@printcom.fi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ServiceDesk_Flag</targetReference>
            </connector>
            <label>Printcom</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Changed_To_Closed</name>
        <label>Is Status Changed To Closed?</label>
        <locationX>2602</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Is_Missing_Resolved_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>To_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Missing_Resolved_Date</targetReference>
            </connector>
            <label>To Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation_Enabled</name>
        <label>Skip Automation Enabled?</label>
        <locationX>1821</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Skip Automation</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Migrated</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed_From_Closed</name>
        <label>Status Changed From Closed?</label>
        <locationX>1370</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>From_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Closed_Date</targetReference>
            </connector>
            <label>From Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed_From_Resolved</name>
        <label>Status Changed From Resolved?</label>
        <locationX>1370</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Status_Changed_From_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>From_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Resolved_Date</targetReference>
            </connector>
            <label>From Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Case_Record_Type</name>
        <label>What Case Record Type?</label>
        <locationX>380</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>is_Case_in_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Case</defaultConnectorLabel>
        <rules>
            <name>ICT_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtCaseRecordType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ICT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Case_in_Queue</targetReference>
            </connector>
            <label>ICT Support</label>
        </rules>
        <rules>
            <name>Customer_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtCaseRecordType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Case_in_Queue</targetReference>
            </connector>
            <label>Customer Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Status</name>
        <label>Which Status?</label>
        <locationX>1920</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Other Status</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_Changed</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Changed_From_Resolved</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Which_Status</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>{!$Record__Prior.Status}</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Status_Changed_To_Closed</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <description>Triggered Flow to set Case Values like Case Group, SLA, origin and also update Status on Owner Changes
08.10.2024 Checked the Resolved Date Conditions</description>
    <environments>Default</environments>
    <interviewLabel>Case - Set Case Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Set Case Values R4</label>
    <loops>
        <name>Loop_Status_Changes</name>
        <label>Loop Status Changes</label>
        <locationX>2206</locationX>
        <locationY>1595</locationY>
        <collectionReference>Get_Status_Changes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Last_Change</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Last_Resolved_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record_Types</name>
        <label>Get Case Record Types</label>
        <locationX>1150</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queues</name>
        <label>Get Queues</label>
        <locationX>1150</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Status_Changes</name>
        <label>Get Status Changes</label>
        <locationX>2206</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Status_Changes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseHistory</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1920</locationX>
        <locationY>2363</locationY>
        <inputAssignments>
            <field>CaseGroup__c</field>
            <value>
                <elementReference>txtCaseGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseResolvedDate__c</field>
            <value>
                <elementReference>DateCaseResolved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>txtCaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Routed_Case</name>
        <label>Update Routed Case</label>
        <locationX>226</locationX>
        <locationY>2063</locationY>
        <inputAssignments>
            <field>CaseGroup__c</field>
            <value>
                <elementReference>txtCaseGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginCaseGroup__c</field>
            <value>
                <elementReference>txtCaseGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isServiceDeskCase__c</field>
            <value>
                <elementReference>isServiceDeskCase</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1695</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation_Enabled</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>agentUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateCaseClosed</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateCaseCreated</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateCaseResolved</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dateClosed</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isCaseInQueue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isRoutingCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isServiceDeskCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lumonAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lumonContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nbrImages</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>recLumonContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>requesterAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requesterFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requesterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requesterLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requesterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeNow</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$System.OriginDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>timeStatusChange</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>1899-12-31T22:20:49.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>txtAgentFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtAgentLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseDetailedDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseSourceEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailHtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtFullString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtMidString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtOriginGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtRightString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
