force-app/main/default/flows/Case_Create_needed_work_items_to_handle_reclamation_work.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Asset_Id</name>
        <label>Asset Id</label>
        <locationX>1204</locationX>
        <locationY>2312</locationY>
        <assignmentItems>
            <assignToReference>varReclamationAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReclamationAsset.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asset_Id_0</name>
        <label>Asset Id</label>
        <locationX>1340</locationX>
        <locationY>2120</locationY>
        <assignmentItems>
            <assignToReference>varReclamationAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.AssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_to_WO</name>
        <label>Assign Case to WO</label>
        <locationX>1721</locationX>
        <locationY>1686</locationY>
        <assignmentItems>
            <assignToReference>WO.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO.Reclamation_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Reclamation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ST_to_WO</name>
        <label>Assign ST to WO</label>
        <locationX>1610</locationX>
        <locationY>2427</locationY>
        <assignmentItems>
            <assignToReference>recWO.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceTerritory.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ST_to_WO_0</name>
        <label>Assign ST to WO</label>
        <locationX>1340</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>recWO.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset.ServiceTerritory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOLI_ST_to_WO</name>
        <label>Assign WOLI ST to WO</label>
        <locationX>1734</locationX>
        <locationY>2128</locationY>
        <assignmentItems>
            <assignToReference>recWO.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Original_WOLI.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oppo_Id</name>
        <label>Oppo Id</label>
        <locationX>1015</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>varOppoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oppo_Id_0</name>
        <label>Oppo Id</label>
        <locationX>1239</locationX>
        <locationY>1698</locationY>
        <assignmentItems>
            <assignToReference>varOppoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Reclamation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SA_data</name>
        <label>SA data</label>
        <locationX>1500</locationX>
        <locationY>1686</locationY>
        <assignmentItems>
            <assignToReference>recSA.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WO.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WO.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.LUM_Capacity_Reservation_Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WO.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WO.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WO.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WO.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WO.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WO.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WO_id2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SA_data_0</name>
        <label>SA data</label>
        <locationX>1840</locationX>
        <locationY>2443</locationY>
        <assignmentItems>
            <assignToReference>recSA.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWO.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWO.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.LUM_Capacity_Reservation_Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWO.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWO.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWO.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWO.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWO.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWO.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WO_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_data</name>
        <label>WO data</label>
        <locationX>1340</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>recWO.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Special_Instructions__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Installation_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Installation_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Installation_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Customer_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.State</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Reclamation_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Reclamation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ST_source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_id</name>
        <label>WO id</label>
        <locationX>1947</locationX>
        <locationY>2443</locationY>
        <assignmentItems>
            <assignToReference>varWOId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWO.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_id2</name>
        <label>WO id</label>
        <locationX>1609</locationX>
        <locationY>1686</locationY>
        <assignmentItems>
            <assignToReference>varWOId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WO.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reclamation_Oppo_defined_in_the_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_parts_have_been_ordered</name>
        <label>Check if parts have been ordered</label>
        <locationX>2076</locationX>
        <locationY>1688</locationY>
        <defaultConnector>
            <targetReference>WO_new</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Reclamation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reclamation_WOLIs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Reclamation_Oppo</name>
        <label>Has Reclamation Oppo</label>
        <locationX>593</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>No_reclamation_oppo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Reclamation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reclamation_Configuration_Plan</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Warranty_Case</name>
        <label>Is Warranty Case</label>
        <locationX>1100</locationX>
        <locationY>1692</locationY>
        <defaultConnector>
            <targetReference>Oppo_Id_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty work request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppo_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reclamation_Configuration_Options_exist</name>
        <label>Reclamation Configuration Options exist?</label>
        <locationX>906</locationX>
        <locationY>1484</locationY>
        <defaultConnector>
            <targetReference>No_Reclamation_Configuration_Products_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reclamation_Configuration_Options.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_to_proceed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reclamation_Configuration_Products_exists</name>
        <label>Reclamation Configuration Products exists?</label>
        <locationX>796</locationX>
        <locationY>1233</locationY>
        <defaultConnector>
            <targetReference>No_Reclamation_Configuration_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reclamation_Configuration_Product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reclamation_Configuration_Options</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reclamation_Oppo_defined_in_the_Case</name>
        <label>Reclamation Oppo defined in the Case</label>
        <locationX>1601</locationX>
        <locationY>1813</locationY>
        <defaultConnector>
            <targetReference>No_Reclamation_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Reclamation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_to_WO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If no Recl.Plan, then Reclamation has not been created.</description>
        <name>Reclamation_Plan_exists</name>
        <label>Reclamation Plan exists?</label>
        <locationX>692</locationX>
        <locationY>988</locationY>
        <defaultConnector>
            <targetReference>No_reclamation_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reclamation_Configuration_Plan.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reclamation_Configuration_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ST_on_Asset_exists</name>
        <label>ST on Asset exists?</label>
        <locationX>1332</locationX>
        <locationY>2430</locationY>
        <defaultConnector>
            <targetReference>Service_Territory_input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.ServiceTerritory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ST_to_WO_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ST_on_original_WOLI</name>
        <label>ST on original WOLI?</label>
        <locationX>1489</locationX>
        <locationY>2127</locationY>
        <defaultConnector>
            <targetReference>Service_Territory_input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Original_WOLI.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WOLI_ST_to_WO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Where do we get the Service Territory information?</description>
        <name>ST_source</name>
        <label>ST source</label>
        <locationX>1332</locationX>
        <locationY>1952</locationY>
        <defaultConnector>
            <targetReference>Select_the_impacted_asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Asset2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Id_0</targetReference>
            </connector>
            <label>Asset</label>
        </rules>
        <rules>
            <name>WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Work_Order_Line_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Original_WOLI</targetReference>
            </connector>
            <label>WOLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Case</name>
        <label>Type of Case</label>
        <locationX>489</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>Case_Type_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Reclamation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamation_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkType</targetReference>
            </connector>
            <label>Reclamation</label>
        </rules>
        <rules>
            <name>Quality_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality_Event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkType</targetReference>
            </connector>
            <label>Quality Event</label>
        </rules>
        <rules>
            <name>Warranty_work_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty work request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_case1</targetReference>
            </connector>
            <label>Warranty work request</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ongoing = installer initiated reclamation, where the WO is still open.
New = IM/customer initiated reclamation, where there is no pre-existing WO.</description>
        <name>Type_of_case1</name>
        <label>Type of case</label>
        <locationX>1232</locationX>
        <locationY>1585</locationY>
        <defaultConnector>
            <targetReference>Is_Warranty_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IM initiated</defaultConnectorLabel>
        <rules>
            <name>Installer_initiated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Work_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Warranty work request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO</targetReference>
            </connector>
            <label>Installer initiated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_case2</name>
        <label>Type of case</label>
        <locationX>2513</locationX>
        <locationY>1992</locationY>
        <defaultConnector>
            <targetReference>Update_WO_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Installer initiated</defaultConnectorLabel>
        <rules>
            <name>IM_initiated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Work_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO</targetReference>
            </connector>
            <label>IM initiated</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is_case_owner</name>
        <label>User is case owner?</label>
        <locationX>390</locationX>
        <locationY>429</locationY>
        <defaultConnector>
            <targetReference>Not_the_Case_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fxLongUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Without pictures work cannot be created/scheduled for an Reclamation/Quality Event case.</description>
        <name>Verify_that_Case_has_pictures</name>
        <label>Verify that Case has pictures</label>
        <locationX>277</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>No_pictures_on_the_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Case.Contains_Pictures__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty work request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_is_case_owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates installation work items for reclamation work.

15.1.2024: Corrected handlling for Warranty work without Asset. Type of Case selection modified to enter correct branch. Warranty work case also does not need to contain pictures, so that warning was disabled.
2.1.2024: Added logic to notify the IMs of the ST about new work.
6.11.2023: Added Case lookup field filling for SA. To support transferring reclamation images from SA to Case.
11.10.2023: Addition to allow to create visit for warranty work request (without parts order).
6.10.2023: Fix for checking if there are reclamation products or not.
6.10.2023: Support for WOLI as case creation starting point.
29.9.2023: Merge of two ticket fixes.
26.9.2023: Reclamation Oppo lookup filling to WO.
30.6.2023: Added Asset Id to SA in case of Ongoing work.
28.6.2023: Use Arrival Window.
28.6.2023: Change the existing WO&apos;s Oppo relation from original Oppo to the new Reclamation Oppo.
26.6.2023: New field to replace the Asset.Service_Territory__c taken into use.
22.6.2023: Added logic to check and warn if reclamation plan/product/configuration option is not available.
16.6.2023: Added validation to the date fields input.
9.6.2023: Correct numbers on WO and SA links.
9.6.2023: Added lookup from WO to Case.
8.6.2023: Added logic to not allow work creation if case does not contain pictures.
8.6.2023: Considers case where there are no factory ordered reclamation products.
6.6.2023: First version</description>
    <environments>Default</environments>
    <formulas>
        <name>fxArrivalWindowEnd</name>
        <dataType>DateTime</dataType>
        <expression>{!Arrival_Window_Start_installation_start}+2/24</expression>
    </formulas>
    <formulas>
        <name>fxArrivalWindowStart</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(Text({!Case.Opportunity__r.Delivery_Date__c})&amp;&quot; &quot;&amp; &quot;08:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>fxLinktoSA</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot;&amp;{!recSA.Id}, {!SA_New.AppointmentNumber})</expression>
    </formulas>
    <formulas>
        <name>fxLinktoWO</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot;&amp;{!varWOId}, {!WO_new.WorkOrderNumber})</expression>
    </formulas>
    <formulas>
        <name>fxLongUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Case - Create needed work items to handle reclamation work {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Create needed work items to handle reclamation work</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SA</name>
        <label>Create SA</label>
        <locationX>1947</locationX>
        <locationY>1686</locationY>
        <connector>
            <targetReference>Check_if_parts_have_been_ordered</targetReference>
        </connector>
        <inputReference>recSA</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_WO</name>
        <label>Create WO</label>
        <locationX>1734</locationX>
        <locationY>2443</locationY>
        <connector>
            <targetReference>SA_data_0</targetReference>
        </connector>
        <inputReference>recWO</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Asset</name>
        <label>Asset</label>
        <locationX>1340</locationX>
        <locationY>2312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ST_on_Asset_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReclamationAssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>285</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_that_Case_has_pictures</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>1240</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WO_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Original_WOLI</name>
        <label>Original WOLI</label>
        <locationX>1497</locationX>
        <locationY>1952</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ST_on_original_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Work_Order_Line_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>If no Recl.Configuration Options, then Reclamation Product(s) have not been yet created using Visual.</description>
        <name>Reclamation_Configuration_Options</name>
        <label>Reclamation Configuration Options</label>
        <locationX>915</locationX>
        <locationY>1349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reclamation_Configuration_Options_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Configuration_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reclamation_Configuration_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuration_Option__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Recl. Plan related to the Case.
If no Recl.Plan, then Reclamation has not been created.</description>
        <name>Reclamation_Configuration_Plan</name>
        <label>Reclamation Configuration Plan</label>
        <locationX>700</locationX>
        <locationY>859</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reclamation_Plan_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Reclamation_Configuration_Product</name>
        <label>Reclamation Configuration Product</label>
        <locationX>804</locationX>
        <locationY>1097</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reclamation_Configuration_Products_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Configuration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reclamation_Configuration_Plan.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuration_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SA_New</name>
        <label>SA New</label>
        <locationX>2521</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_case2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recSA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WO</name>
        <label>WO</label>
        <locationX>1346</locationX>
        <locationY>1686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Work_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WO_new</name>
        <label>WO new</label>
        <locationX>2160</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_needed_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWOId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WorkType</name>
        <label>WorkType</label>
        <locationX>602</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Reclamation_Oppo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reclamation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>2812</locationX>
        <locationY>1990</locationY>
        <connector>
            <targetReference>Notify_IMs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>varWOId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>2384</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>SA_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recSA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ArrivalWindowEndTime</field>
            <value>
                <elementReference>fxArrivalWindowEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowStartTime</field>
            <value>
                <elementReference>Arrival_Window_Start_installation_start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Total_installation_duration_all_WOLIs_in_hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceNote</field>
            <value>
                <elementReference>Service_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>2662</locationX>
        <locationY>1990</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWOId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Total_installation_duration_all_WOLIs_in_hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_0</name>
        <label>Update WO</label>
        <locationX>2654</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWOId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Total_installation_duration_all_WOLIs_in_hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_0_0</name>
        <label>Update WO</label>
        <locationX>1834</locationX>
        <locationY>1686</locationY>
        <connector>
            <targetReference>Create_SA</targetReference>
        </connector>
        <inputReference>WO</inputReference>
    </recordUpdates>
    <screens>
        <name>Case_Type_Other</name>
        <label>Case Type Other</label>
        <locationX>391</locationX>
        <locationY>618</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorTextCaseType</name>
            <fieldText>&lt;p&gt;Error! This functionality is supported only for Reclamation and Quality Event case types.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_to_proceed</name>
        <label>Confirmation to proceed</label>
        <locationX>1005</locationX>
        <locationY>1576</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_of_case1</targetReference>
        </connector>
        <fields>
            <name>ConfirmationScreen</name>
            <fieldText>&lt;p&gt;You are about to create Work Order (if needed), Service Appointment and Work Order Line Item(s).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Are you sure you want to continue?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>3032</locationX>
        <locationY>1990</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>testtext</name>
            <fieldText>&lt;p&gt;Finished with the work item creation.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Work Order: {!fxLinktoWO}&lt;/p&gt;&lt;p&gt;Service Appointment: {!fxLinktoSA}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Now you should manually schedule the Service Appointment to the appropriate Installer using the Field Service Dispatch Console!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_needed_Data</name>
        <label>Input needed Data</label>
        <locationX>2268</locationX>
        <locationY>1874</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <fields>
            <name>Total_installation_duration_all_WOLIs_in_hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>WO_new.Total_Duration__c</elementReference>
            </defaultValue>
            <fieldText>Total visit duration in hours</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Arrival_Window_Start_installation_start</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>fxArrivalWindowStart</elementReference>
            </defaultValue>
            <fieldText>Arrival Window Start (visit start)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Note</name>
            <dataType>String</dataType>
            <fieldText>Service Note</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_pictures_on_the_Case</name>
        <label>No pictures on the Case</label>
        <locationX>158</locationX>
        <locationY>420</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_is_case_owner</targetReference>
        </connector>
        <fields>
            <name>ErrorTextNoPIctures</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Warning!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Later on when closing this Case, picture attachments regarding the issue are required to be added. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Reclamation_Configuration_Products</name>
        <label>No Reclamation Configuration Products</label>
        <locationX>679</locationX>
        <locationY>1349</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reclamation_Configuration_Options</targetReference>
        </connector>
        <fields>
            <name>ErrorNoReclamationConfigurationProduct</name>
            <fieldText>&lt;p&gt;Warning! There are no Reclamation Configuration Products for this Configuration Plan. Are you sure you want to continue?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Reclamation_Configuration_Products_0</name>
        <label>No Reclamation Configuration Products</label>
        <locationX>806</locationX>
        <locationY>1576</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_to_proceed</targetReference>
        </connector>
        <fields>
            <name>ErrorNoReclamationConfigurationOptions</name>
            <fieldText>&lt;p&gt;Warning! There are no Reclamation Configuration Options for this Configuration Product. This means the Visual reclamation configuration likely is not done yet. Are you sure you want to continue?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_reclamation_oppo</name>
        <label>No reclamation oppo</label>
        <locationX>513</locationX>
        <locationY>851</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorNoOppo</name>
            <fieldText>&lt;p&gt;Error! There is no Reclamation Opportunity defined in this case. Cannot get needed data for work item creation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Reclamation_Opportunity</name>
        <label>No Reclamation Opportunity</label>
        <locationX>1472</locationX>
        <locationY>1813</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorNoReclamationOpportunity</name>
            <fieldText>&lt;p&gt;Error! There is no Reclamation Opportunity in the Case. Cannot continue.&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Are you sure you created Reclamation already?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_reclamation_Plan</name>
        <label>No reclamation Plan</label>
        <locationX>591</locationX>
        <locationY>1097</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reclamation_Configuration_Product</targetReference>
        </connector>
        <fields>
            <name>ErrorNoReclamationPlan</name>
            <fieldText>&lt;p&gt;Warning! There is no Reclamation Plan defined in this case. And thus no Reclamation Products exist. Are you sure you want to continue?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_the_Case_owner</name>
        <label>Not the Case owner</label>
        <locationX>281</locationX>
        <locationY>524</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorTextCaseType_0</name>
            <fieldText>&lt;p&gt;Error! You are not the case owner.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_the_impacted_asset</name>
        <label>Select the impacted asset</label>
        <locationX>1204</locationX>
        <locationY>2124</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Asset_Id</targetReference>
        </connector>
        <fields>
            <name>ReclamationAsset</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AssetId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Reclamation Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Territory_input</name>
        <label>Service Territory input</label>
        <locationX>1499</locationX>
        <locationY>2427</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_ST_to_WO</targetReference>
        </connector>
        <fields>
            <name>ServiceTerritory</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ServiceTerritoryId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Service Territory</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ServiceAppointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>159</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Create_Reclamation_WOLIs</name>
        <label>Create Reclamation WOLIs</label>
        <locationX>2236</locationX>
        <locationY>1687</locationY>
        <connector>
            <targetReference>WO_new</targetReference>
        </connector>
        <flowName>WO_Create_WOLIs</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>varWOId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Send Lightning notification to max. 5 IMs of the Service Territory regarding the new work that just was created.</description>
        <name>Notify_IMs</name>
        <label>Notify IMs</label>
        <locationX>2930</locationX>
        <locationY>1990</locationY>
        <connector>
            <targetReference>Finished</targetReference>
        </connector>
        <flowName>Case_IM_lightning_notification_subflow</flowName>
        <inputAssignments>
            <name>varSAid</name>
            <value>
                <elementReference>recSA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSTid</name>
            <value>
                <elementReference>recSA.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>recWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varOppoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReclamationAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
