force-app/main/default/flows/Case_Close_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Picture_count</name>
        <label>Picture count</label>
        <locationX>740</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>numImages</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collImages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_images</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Case</name>
        <label>Prepare Case</label>
        <locationX>1154</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>Case.Case_Resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_ResolutionText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_outcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Case_0</name>
        <label>Prepare Case</label>
        <locationX>1239</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Case_0_0</name>
        <label>Prepare Case</label>
        <locationX>1071</locationX>
        <locationY>871</locationY>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_flag</name>
        <label>Set flag</label>
        <locationX>934</locationX>
        <locationY>738</locationY>
        <assignmentItems>
            <assignToReference>Case.Contains_Pictures__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Resolution</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_outcome</name>
        <label>Case outcome</label>
        <locationX>1146</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>Prepare_Case_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not resolved</defaultConnectorLabel>
        <rules>
            <name>Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_was_resolved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Case_0</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>848</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>ErrorScreenNonSupportedCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Reclamation_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamation_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Got_pictures</targetReference>
            </connector>
            <label>Reclamation Order</label>
        </rules>
        <rules>
            <name>Quality_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality_Event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Got_pictures</targetReference>
            </connector>
            <label>Quality Event</label>
        </rules>
        <rules>
            <name>Warranty_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty work request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Resolution</targetReference>
            </connector>
            <label>Warranty Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>Either there are pictures, or Sys admin closes the case without pics.</description>
        <name>Got_pictures</name>
        <label>Got pictures?</label>
        <locationX>939</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>ErrorNoPics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case.Contains_Pictures__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Resolution</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_images</name>
        <label>Has images?</label>
        <locationX>732</locationX>
        <locationY>732</locationY>
        <defaultConnector>
            <targetReference>ErrorNoPics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numImages</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is_Case_owner</name>
        <label>User is Case owner?</label>
        <locationX>757</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>ErrorScreenNotOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fxLongUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Handles case closure in controlled way.

29.9.2023: Allow for sysadmin to bypass the picture attaching.
27.9.2023: Logic to add pictures, if they are still missing.
27.9.2023: Added support for Warranty Case. In that case type, pictures are not required on the case.
12.6.2023: First version.
02.12.2023: Save Active Version as R2</description>
    <environments>Default</environments>
    <formulas>
        <name>fxLongUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Case - Close Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Close Case R2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>764</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_is_Case_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1157</locationX>
        <locationY>1025</locationY>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Case_Resolution</name>
        <label>Case Resolution</label>
        <locationX>1043</locationX>
        <locationY>612</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Prepare_Case</targetReference>
        </connector>
        <fields>
            <name>Case_was_resolved</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Case was resolved</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_ResolutionText</name>
            <defaultValue>
                <stringValue>{!Case.Case_Resolution__c}</stringValue>
            </defaultValue>
            <fieldText>Case Resolution</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorNoPics</name>
        <label>ErrorNoPics</label>
        <locationX>854</locationX>
        <locationY>612</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Picture_count</targetReference>
        </connector>
        <fields>
            <name>errorTextNoPics</name>
            <fieldText>&lt;p&gt;Error! Case does not contain pictures and thus cannot be closed.&lt;/p&gt;&lt;p&gt;Please add needed pictures.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ImageUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>collImages</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreenNonSupportedCase</name>
        <label>Non-supported Case type</label>
        <locationX>762</locationX>
        <locationY>497</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorTextNonSupportedCaseType</name>
            <fieldText>&lt;p&gt;Error! This functionality is supported only for Reclamations, Quality Events and Warranty Cases.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreenNotOwner</name>
        <label>Not the Case Owner</label>
        <locationX>653</locationX>
        <locationY>387</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorTextCaseOwner</name>
            <fieldText>&lt;p&gt;Error! You are not the Case owner.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>638</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collImages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numImages</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
