force-app/main/default/flows/Clone_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Visual_PlanSaves_Callout</name>
        <label>Visual PlanSaves Callout</label>
        <locationX>479</locationX>
        <locationY>782</locationY>
        <actionName>CloneConfigurationController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clone_Configuration_Products</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>webId</name>
            <value>
                <elementReference>opportunityCloneId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CloneConfigurationController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Found_Config_Clone_Error</name>
        <label>Found Config Clone Error</label>
        <locationX>281</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Visual_PlanSaves_Callout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Config Error</defaultConnectorLabel>
        <rules>
            <name>Config_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>configCloneError</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Config Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Config_Prod_Error</name>
        <label>Found Config Prod Error</label>
        <locationX>479</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>EndScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Config Prod Error</defaultConnectorLabel>
        <rules>
            <name>Config_Prod_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>configProdError</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Config Prod Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Opp_Clone_Error</name>
        <label>Found Opp Clone Error</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Clone_Configuration_Plans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opp Error</defaultConnectorLabel>
        <rules>
            <name>Opp_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oppCloneError</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Opp Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source_Opportunity_Returned</name>
        <label>Source Opportunity Returned?</label>
        <locationX>462</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No Source Opportunity</defaultConnectorLabel>
        <rules>
            <name>Source_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Source_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Opportunity_as_Reclamation</targetReference>
            </connector>
            <label>Source Opportunity</label>
        </rules>
    </decisions>
    <description>Test Version
02.12.2023 Save Inactive Version as Draft</description>
    <environments>Default</environments>
    <interviewLabel>Clone Opoprtunity Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Opprtunity Screen Flow Draft</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Source_Opportunity</name>
        <label>Get Source Opportunity</label>
        <locationX>462</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Source_Opportunity_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>EndScreen</name>
        <label>End Screen</label>
        <locationX>611</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OpportunityCloneSuccess</name>
            <extensionName>c:feedbackEventToastLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>toastTitle</name>
                <value>
                    <stringValue>Opportunity Clone Success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toastMessage</name>
                <value>
                    <stringValue>Reclamation Created</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toastKeys</name>
                <value>
                    <stringValue>uiFeedBack</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>336</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Source_Opportunity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Clone_Configuration_Plans</name>
        <label>Clone Configuration Plans</label>
        <locationX>281</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Found_Config_Clone_Error</targetReference>
        </connector>
        <flowName>Opportunity_Clone_Configuration_SubFlow</flowName>
        <inputAssignments>
            <name>OpportunityCloneId</name>
            <value>
                <elementReference>opportunityCloneId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunitySourceId</name>
            <value>
                <elementReference>opportunitySourceId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>colConfigurationClones</assignToReference>
            <name>colConfigurationClones</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>configCloneError</assignToReference>
            <name>txtConfigCloneError</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Clone_Configuration_Products</name>
        <label>Clone Configuration Products</label>
        <locationX>479</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Found_Config_Prod_Error</targetReference>
        </connector>
        <flowName>Opportunity_Clone_Configuration_Product_SubFlow</flowName>
        <inputAssignments>
            <name>colConfigurationClones</name>
            <value>
                <elementReference>colConfigurationClones</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>configProdError</assignToReference>
            <name>configProdError</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Clone_Opportunity_as_Reclamation</name>
        <label>Clone Opportunity as Reclamation</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Found_Opp_Clone_Error</targetReference>
        </connector>
        <flowName>Clone_Opportunity_SubFlow</flowName>
        <inputAssignments>
            <name>OpportunitySourceId</name>
            <value>
                <elementReference>opportunitySourceId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>opportunityCloneId</assignToReference>
            <name>OpportunityCloneId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>oppCloneError</assignToReference>
            <name>txtOpptyCloneError</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>colConfigurationClones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Configuration__c</objectType>
    </variables>
    <variables>
        <name>configCloneError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>configProdError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppCloneError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityCloneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunitySourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
