force-app/main/default/flows/Create_Quote_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Outputs</name>
        <label>Assign Outputs</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>recQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recQuote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recQuote.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Values</name>
        <label>Set Quote Values</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>recQuote.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQuote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQuote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <description>SubFlow to Create a Quote from an Opportunity</description>
    <environments>Default</environments>
    <interviewLabel>Create Quote Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Assign_Outputs</targetReference>
        </connector>
        <inputReference>recQuote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
