force-app/main/default/flows/Delivery_Batch_Set_Service_Territory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_opportunityId</name>
        <label>Set opportunityId</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Territory</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>found_Service_Territory</name>
        <label>found Service Territory?</label>
        <locationX>374</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No Service Territory</defaultConnectorLabel>
        <rules>
            <name>Service_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Delivery_Batch</targetReference>
            </connector>
            <label>Service Territory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Set_opportunityId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <description>Triggered Flow to set the Service Territory</description>
    <environments>Default</environments>
    <interviewLabel>Delivery Batch - Set Service Territory R3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delivery Batch - Set Service Territory R3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Delivery_Batch</name>
        <label>Update Delivery Batch</label>
        <locationX>242</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Service_Territory__c</field>
            <value>
                <elementReference>serviceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <object>Delivery_Batch__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Assigns Service Territory to Delivery Batch based on data on Opportunity and Oppo owner (Sales Person).</description>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>374</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>found_Service_Territory</targetReference>
        </connector>
        <flowName>Assign_Service_Territory_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>serviceTerritoryId</assignToReference>
            <name>serviceTerritoryId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
