force-app/main/default/flows/Delivery_Batch_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_opportunityId</name>
        <label>Set opportunityId</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Service_Territory</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>has_WorkOrders</name>
        <label>has WorkOrders?</label>
        <locationX>611</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No WorkOrders</defaultConnectorLabel>
        <rules>
            <name>WorkOrders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_WorkOrders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_Duration_to_DB</targetReference>
            </connector>
            <label>WorkOrders</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppo_exists</name>
        <label>Oppo exists</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_opportunityId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>198</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Related_WorkOrders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>ST_id_received</name>
        <label>ST id received?</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSTid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ST_to_Delivery_Batch</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates values to Delivery Batch after it has been updated.

10.6.2024: Updates the incompatible field names to new ones.
7.6.2024: Trigger only on Update.
6.6.2024: Logic changed to support integration.
31.5.2024: Added logic to update ST to WO and WOLIs.
30.5.2024: Added logic to fill in the total duration to Delivery Batch
15.3.2024: First version.</description>
    <environments>Default</environments>
    <interviewLabel>Delivery Batch - After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delivery Batch - After Update R3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_WorkOrders</name>
        <label>Get Related WorkOrders</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_WorkOrders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Delivery_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ST_to_Delivery_Batch</name>
        <label>Update ST to Delivery Batch</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>Service_Territory__c</field>
            <value>
                <elementReference>varSTid</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Duration_to_DB</name>
        <label>Update Total Duration to DB</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Oppo_exists</targetReference>
        </connector>
        <inputAssignments>
            <field>Estimated_Work_Duration_Total__c</field>
            <value>
                <elementReference>Get_Related_WorkOrders.Total_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>72</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <object>Delivery_Batch__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Assigns Service Territory to Delivery Batch based on data on Opportunity and Oppo owner (Sales Person).</description>
        <name>Assign_Service_Territory</name>
        <label>Assign Service Territory</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>ST_id_received</targetReference>
        </connector>
        <flowName>Assign_Service_Territory_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varSTid</assignToReference>
            <name>serviceTerritoryId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>colWOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>nbrWOLIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>varSTid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
