force-app/main/default/flows/Estimate_Delivery_Date_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Delivery_Schedules_Count</name>
        <label>Delivery Schedules Count</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>nbrScheduleCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_on_First_5_Digits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_Schedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delivery_Schedules_Count2</name>
        <label>Delivery Schedules Count</label>
        <locationX>369</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>nbrScheduleCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_on_First_3_Digits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_Schedules2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delivery_Schedules_Count3</name>
        <label>Delivery Schedules Count</label>
        <locationX>501</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>nbrScheduleCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_on_First_2_Digits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_Schedules3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delivery_Schedules_Count_1</name>
        <label>Delivery Schedules Count</label>
        <locationX>215</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>nbrScheduleCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_on_First_4_Digits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_Schedules1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Buidling_Country_and_Postal_Code</name>
        <label>Set Building Country and Postal Code</label>
        <locationX>388</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>txtPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Building__r.Building_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Building__r.Building_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Country_and_Postal_Code_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivery_Date</name>
        <label>Set Delivery Date</label>
        <locationX>50</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>OppDeliveryDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxDeliveryDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Factory_Country_and_Postal_Code</name>
        <label>Set Factory Country and Postal Code</label>
        <locationX>916</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>txtPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Factory__r.Factory_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Factory__r.Factory_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Country_and_Postal_Code_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>784</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Where_To_Deliver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_opportunityId</name>
        <label>Set opportunityId</label>
        <locationX>1082</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Warehouse_Country_and_Postal_Code</name>
        <label>Set Warehouse Country and Postal Code</label>
        <locationX>652</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>txtPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Warehouse__r.Warehouse_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Warehouse__r.Warehouse_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Country_and_Postal_Code_Set</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_on_First_2_Digits</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter on First 2 Digits</label>
        <locationX>501</locationX>
        <locationY>2534</locationY>
        <assignNextValueToReference>currentItem_Filter_on_First_2_Digits</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Delivery_Schedules</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_on_First_2_Digits.Postal_Code__c</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <elementReference>fxPostalCodeFirst2</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Delivery_Schedules_Count3</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_on_First_3_Digits</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter on First 3 Digits</label>
        <locationX>369</locationX>
        <locationY>2174</locationY>
        <assignNextValueToReference>currentItem_Filter_on_First_3_Digits</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Delivery_Schedules</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_on_First_3_Digits.Postal_Code__c</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <elementReference>fxPostalCodeFirst3</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Delivery_Schedules_Count2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_on_First_4_Digits</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter on First 4 Digits</label>
        <locationX>215</locationX>
        <locationY>1814</locationY>
        <assignNextValueToReference>currentItem_Filter_on_First_5_Digits_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Delivery_Schedules</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_on_First_5_Digits_0.Postal_Code__c</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <elementReference>fxPostalCodeFirst4</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Delivery_Schedules_Count_1</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_on_First_5_Digits</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter on First 5 Digits</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignNextValueToReference>currentItem_Filter_on_First_5_Digits_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Delivery_Schedules</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_on_First_5_Digits_0.Postal_Code__c</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <elementReference>fxPostalCodeFirst5</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Delivery_Schedules_Count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Country_and_Postal_Code_Set</name>
        <label>Country and Postal Code Set?</label>
        <locationX>784</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>Country or Postal Code Missing</defaultConnectorLabel>
        <rules>
            <name>Country_and_Postal_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Delivery_Schedules</targetReference>
            </connector>
            <label>Country and Postal Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Delivery_Schedules</name>
        <label>Found Delivery Schedules?</label>
        <locationX>451</locationX>
        <locationY>1334</locationY>
        <defaultConnectorLabel>No Delivery Schedules</defaultConnectorLabel>
        <rules>
            <name>Delivery_Schedules_Returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Delivery_Schedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_on_First_5_Digits</targetReference>
            </connector>
            <label>Delivery Schedules Returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Opportunity</name>
        <label>Found Opportunity?</label>
        <locationX>1082</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>Opportunity_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity</targetReference>
            </connector>
            <label>Opportunity Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_Schedules</name>
        <label>How Many Schedules?</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>Filter_on_First_4_Digits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More Schedules</defaultConnectorLabel>
        <rules>
            <name>One_Schedule_5Digits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrScheduleCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Delivery_Date</targetReference>
            </connector>
            <label>One Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_Schedules1</name>
        <label>How Many Schedules?</label>
        <locationX>215</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Filter_on_First_3_Digits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More Schedules</defaultConnectorLabel>
        <rules>
            <name>One_Schedule_4Digits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrScheduleCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Delivery_Date</targetReference>
            </connector>
            <label>One Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_Schedules2</name>
        <label>How Many Schedules?</label>
        <locationX>369</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Filter_on_First_2_Digits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More Schedules</defaultConnectorLabel>
        <rules>
            <name>One_Schedule_3Digits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrScheduleCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Delivery_Date</targetReference>
            </connector>
            <label>One Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_Schedules3</name>
        <label>How Many Schedules?</label>
        <locationX>501</locationX>
        <locationY>2774</locationY>
        <defaultConnectorLabel>More Schedules</defaultConnectorLabel>
        <rules>
            <name>One_Schedule_2Digits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrScheduleCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Delivery_Date</targetReference>
            </connector>
            <label>One Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>351</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Set_opportunityId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_To_Deliver</name>
        <label>Where To Deliver?</label>
        <locationX>784</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Country_and_Postal_Code_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Address</defaultConnectorLabel>
        <rules>
            <name>Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recOpportunity.Deliver_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Building</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Buidling_Country_and_Postal_Code</targetReference>
            </connector>
            <label>Building</label>
        </rules>
        <rules>
            <name>Warehouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recOpportunity.Deliver_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warehouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Warehouse_Country_and_Postal_Code</targetReference>
            </connector>
            <label>Warehouse</label>
        </rules>
        <rules>
            <name>Factory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recOpportunity.Deliver_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Factory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Factory_Country_and_Postal_Code</targetReference>
            </connector>
            <label>Factory</label>
        </rules>
    </decisions>
    <description>Flow to determine the estimated Delivery Date to the Delivery Address of an Opportunity
Uses the Delivery Schedule Table as reference</description>
    <environments>Default</environments>
    <formulas>
        <name>fxDeliveryDate</name>
        <dataType>Date</dataType>
        <expression>{!fxProductionDate}+{!fxDeliveryDayOffset}</expression>
    </formulas>
    <formulas>
        <name>fxDeliveryDayOffset</name>
        <dataType>Number</dataType>
        <expression>IF(CONTAINS({!fxDeliveryDays},TEXT(WEEKDAY({!OppProductionDoneDate}))),0,
IF(CONTAINS({!fxDeliveryDays},TEXT(WEEKDAY({!OppProductionDoneDate}+1))),1,
IF(CONTAINS({!fxDeliveryDays},TEXT(WEEKDAY({!OppProductionDoneDate}+2))),2,
IF(CONTAINS({!fxDeliveryDays},TEXT(WEEKDAY({!OppProductionDoneDate}+3))),3,
IF(CONTAINS({!fxDeliveryDays},TEXT(WEEKDAY({!OppProductionDoneDate}+4))),4,
IF(CONTAINS({!fxDeliveryDays},TEXT(WEEKDAY({!OppProductionDoneDate}+5))),5,
IF(CONTAINS({!fxDeliveryDays},TEXT(WEEKDAY({!OppProductionDoneDate}+6))),6,null)))))))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxDeliveryDays</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!fxProductionDay}, &quot;1&quot;, &quot;MO&quot;)</expression>
    </formulas>
    <formulas>
        <name>fxPostalCodeFirst2</name>
        <dataType>String</dataType>
        <expression>left({!txtPostalCode},2)</expression>
    </formulas>
    <formulas>
        <name>fxPostalCodeFirst3</name>
        <dataType>String</dataType>
        <expression>Left({!txtPostalCode},3)</expression>
    </formulas>
    <formulas>
        <name>fxPostalCodeFirst4</name>
        <dataType>String</dataType>
        <expression>Left({!txtPostalCode},4)</expression>
    </formulas>
    <formulas>
        <name>fxPostalCodeFirst5</name>
        <dataType>String</dataType>
        <expression>Left({!txtPostalCode},5)</expression>
    </formulas>
    <formulas>
        <name>fxProductionDate</name>
        <dataType>Date</dataType>
        <expression>{!EstimatedClosureDate} +{!nbrMaxProductionDays}</expression>
    </formulas>
    <formulas>
        <name>fxProductionDay</name>
        <dataType>String</dataType>
        <expression>TEXT(WEEKDAY({!OppProductionDoneDate}))</expression>
    </formulas>
    <interviewLabel>Estimate Delivery Date Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Estimate Delivery Date SubFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Delivery_Schedules</name>
        <label>Get Delivery Schedules</label>
        <locationX>451</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Delivery_Schedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtCountryCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Delivery_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1082</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>225</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_Filter_on_First_2_Digits</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_on_First_3_Digits</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_on_First_5_Digits_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <name>EstimatedClosureDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nbrMaxProductionDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrScheduleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>objectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppDeliveryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppDeliveryLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppProductionDoneDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
