force-app/main/default/flows/FSL_Mobile_Update_Work_Order_Line_Item_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Get_RecordId</name>
        <label>Get RecordId</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Work_Order_Line_Item_Values</name>
        <label>Get Work Order Line Item Values</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>workOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrderLineItem.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCurrentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrderLineItem.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Work_Order_Values</name>
        <label>Get Work Order Values</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>workOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrderLineItem.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Appointments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Allowed_Transitions</name>
        <label>Set Allowed Transitions</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>colFinalStatuses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colFinalStatuses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Current_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Start time stamp value is placed when WOLI is put to In Progress Status.</description>
        <name>Set_End_Date</name>
        <label>Set End Date</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>recWorkOrderLineItem.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Start time stamp value is placed when WOLI is put to In Progress Status.</description>
        <name>Set_Start_And_End_Date</name>
        <label>Set Start And End Date</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>recWorkOrderLineItem.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWorkOrderLineItem.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_End_Date</name>
        <label>Set Work End Date</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>recWorkOrderLineItem.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Start time stamp value is placed when WOLI is put to In Progress Status.</description>
        <name>Set_Work_Start_Date</name>
        <label>Set Work Start Date</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>recWorkOrderLineItem.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_WOLI</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Canceled</name>
        <choiceText>Canceled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>CannotComplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dispatched</name>
        <choiceText>Dispatched</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dispatched</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scheduled</name>
        <choiceText>Scheduled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled</stringValue>
        </value>
    </choices>
    <decisions>
        <name>What_Completed_Status</name>
        <label>What Completed Status?</label>
        <locationX>578</locationX>
        <locationY>1706</locationY>
        <defaultConnectorLabel>Other Statuses</defaultConnectorLabel>
        <rules>
            <name>To_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtUpdatedStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <label>To Completed</label>
        </rules>
        <rules>
            <name>To_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtUpdatedStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Not</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_InstallationCase</targetReference>
            </connector>
            <label>To Cannot Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Current_Status</name>
        <label>What Current Status?</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Invalid_Current_Status_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Status</defaultConnectorLabel>
        <rules>
            <name>Completed_Or_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colFinalStatuses</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtCurrentStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Transition_Error_Screen</targetReference>
            </connector>
            <label>Completed Or Cancelled</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtCurrentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Status_From_New_Input_Screen</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtCurrentStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Status_From_InProgress_Input_Screen</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtCurrentStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Not</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Status_From_Cannot_Complete_Input_Screen</targetReference>
            </connector>
            <label>Cannot Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Status_Transition</name>
        <label>What Status Transition?</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <defaultConnectorLabel>Other Statuses</defaultConnectorLabel>
        <rules>
            <name>From_New_To_InProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtUpdatedStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtCurrentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Start_Date</targetReference>
            </connector>
            <label>From New To In Progress</label>
        </rules>
        <rules>
            <name>From_Any_To_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtUpdatedStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_End_Date</targetReference>
            </connector>
            <label>From Any To Completed</label>
        </rules>
        <rules>
            <name>From_New_To_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtUpdatedStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Not</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtCurrentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Start_And_End_Date</targetReference>
            </connector>
            <label>From New To Cannot Complete</label>
        </rules>
        <rules>
            <name>From_InProgress_To_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtUpdatedStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Not</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtCurrentStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_End_Date</targetReference>
            </connector>
            <label>From In Progress To Cannot Complete</label>
        </rules>
    </decisions>
    <description>FSL Mobile Flow Action to update the Status of a WorkOrder Line Item</description>
    <dynamicChoiceSets>
        <name>Causecode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cause_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choNextStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NextStatus__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choWorkOrderLineItemStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Processclass</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Process_Class__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Targetcode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Target_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Date_Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>FSL Mobile - Update Work Order Line Item Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Mobile - Update Work Order Line Item Status R4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reclamation_Case_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderLineCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointments</name>
        <label>Get Service Appointments</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Allowed_Transitions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>colServiceAppointments</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recWorkOrderLineItem.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>recWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Line_Item</name>
        <label>Get Work Order Line Item</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order_Line_Item_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>recWorkOrderLineItem</outputReference>
        <queriedFields>Status</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>CountryCode</queriedFields>
        <queriedFields>Duration</queriedFields>
        <queriedFields>DurationType</queriedFields>
        <queriedFields>DurationInMinutes</queriedFields>
        <queriedFields>RVN__c</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_to_WOLI</name>
        <label>Update Status to WOLI</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>What_Completed_Status</targetReference>
        </connector>
        <inputReference>recWorkOrderLineItem</inputReference>
    </recordUpdates>
    <screens>
        <name>Invalid_Current_Status_Error_Screen</name>
        <label>Invalid Current Status Error Screen</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error_No_Status_Transition_Available</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;This Work Order Line Item is in invalid  Status &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!txtCurrentStatus}. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Next_Status_From_Cannot_Complete_Input_Screen</name>
        <label>Next Status From Cannot Complete Input Screen</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_Status_Transition</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_2_of_Copy_1_of_WorkOrderLineItemDetails</name>
            <fieldText>&lt;p&gt;Status: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recWorkOrderLineItem.Status}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;RVN: {!recWorkOrderLineItem.RVN__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_Copy_1_of_Select_Status_From_New</name>
            <choiceReferences>Completed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Completed</defaultSelectedChoiceReference>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Next_Status_From_InProgress_Input_Screen</name>
        <label>Next Status From InProgress Input Screen</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_Status_Transition</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Copy_1_of_WorkOrderLineItemDetails</name>
            <fieldText>&lt;p&gt;Status: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recWorkOrderLineItem.Status}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;RVN: {!recWorkOrderLineItem.RVN__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Status_From_InProgress</name>
            <choiceReferences>Completed</choiceReferences>
            <choiceReferences>CannotComplete</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Completed</defaultSelectedChoiceReference>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Next_Status_From_New_Input_Screen</name>
        <label>Next Status From New Input Screen</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_Status_Transition</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_WorkOrderLineItemDetails</name>
            <fieldText>&lt;p&gt;Status: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recWorkOrderLineItem.Status}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;RVN: {!recWorkOrderLineItem.RVN__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Status_From_New</name>
            <choiceReferences>InProgress</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>InProgress</defaultSelectedChoiceReference>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Transition_Error_Screen</name>
        <label>No Transition Error Screen</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_No_Status_Transition_Available</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This Work Order Line Item is &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!txtCurrentStatus}. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You can not update the Status.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reclamation_Case_details</name>
        <label>Reclamation Case details</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Work_could_not_be_completed</targetReference>
        </connector>
        <fields>
            <name>ReclamationExplanation</name>
            <fieldText>&lt;p&gt;As this part of the work cannot be completed, a Case will be created to notify the Installation Manager to take actions.&lt;/p&gt;&lt;p&gt;Please fill in details why the installation could not be completed. And define if there is need to order new part from the factory.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recWorkOrderLineItem.Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_part_needs_to_be_ordered_from_Factory</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>New part needs to be ordered from Factory</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Process_class</name>
            <choiceReferences>Processclass</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Process class</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Target_code</name>
            <choiceReferences>Targetcode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Target code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cause_code</name>
            <choiceReferences>Causecode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cause code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reclamation_cause</name>
            <dataType>String</dataType>
            <fieldText>Reclamation cause</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Insert_PIctures</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>You must add pictures regarding the issue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recWorkOrderLineItem.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_could_not_be_completed</name>
        <label>Work could not be completed</label>
        <locationX>578</locationX>
        <locationY>2138</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DescriptionText</name>
            <fieldText>&lt;p&gt;Please close the Service Appointment in &quot;Cannot Complete&quot; status and enter the mileage and correct end time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordId</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <name>Create_InstallationCase</name>
        <label>Create Installation Case</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <flowName>Mobile_Create_Quality_Event_Case</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Reclamation Case that Installer fills in and sends when the WOLI cannot be completed. This means that Installation Manager needs to order new part(s) and new visit needs to be scheduled.</description>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>colFinalStatuses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colServiceAppointments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.InterviewStartTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>recWorkOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>RelatedWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <description>All Work Order Line Items that are related to the Work Order.</description>
        <name>RelatedWOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>ServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>txtCurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtUpdatedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderLineCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
