force-app/main/default/flows/FSL_Mobile_Report_Issue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Get_Case_RecordId</name>
        <label>Get Case RecordId</label>
        <locationX>1458</locationX>
        <locationY>4106</locationY>
        <assignmentItems>
            <assignToReference>caseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_Image_To_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Case_Values</name>
        <label>Get Case Values</label>
        <locationX>1458</locationX>
        <locationY>3266</locationY>
        <assignmentItems>
            <assignToReference>txtEventType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Issue_Type_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtWorkStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Status_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Subject_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCaseReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Reason_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtNextAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtProcessClass</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtEventType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCommonCaseValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Parent Record of an Appointment is one of  these
Account Asset Case Lead Opportunity WorkOrder WorkOrderLineItem</description>
        <name>Get_Parent_Record</name>
        <label>Get Parent Record</label>
        <locationX>1546</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>appointmentParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Parent_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Work_Order_Line_Item_Values</name>
        <label>Get Work Order Line Item Values</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>txtWorkOrderLineItemStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrderLineItem.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrderLineItem.WorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrderLineItem.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrderLineItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workOrderLineItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>imageParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_WorkOrderId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Work_Order_Values</name>
        <label>Get Work Order Values</label>
        <locationX>1304</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrder.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrder.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtWorkOrderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrder.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrder.WorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Related_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Work_Type_Values</name>
        <label>Get Work Type Values</label>
        <locationX>1326</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>txtWorkType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkType.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Installation_Case_Input_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_WorkOrderId</name>
        <label>Get WorkOrderId</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>workOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrderLineItem.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AppointmentId</name>
        <label>Set AppointmentId</label>
        <locationX>2074</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>appointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_AccountId</name>
        <label>Set Asset AccountId</label>
        <locationX>1172</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recAsset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Related_Records</name>
        <label>Set Case Related Records</label>
        <locationX>1458</locationX>
        <locationY>3482</locationY>
        <assignmentItems>
            <assignToReference>recCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.WorkOrderLineItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workOrderLineItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Case_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Installation_Case_Values</name>
        <label>Set Installation Case Values</label>
        <locationX>1458</locationX>
        <locationY>3806</locationY>
        <assignmentItems>
            <assignToReference>caseRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recCaseRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.CaseCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_AcountId</name>
        <label>Set Parent AcountId</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appointmentParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_AssetId</name>
        <label>Set Parent AssetId</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>assetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appointmentParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_WorkOrderId</name>
        <label>Set Parent WorkOrderId</label>
        <locationX>1810</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>workOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appointmentParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_WorkOrderLineItemId</name>
        <label>Set Parent WorkOrderLineItemId</label>
        <locationX>2074</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>workOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appointmentParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quality_Record_Type_Id</name>
        <label>Set Quality Record Type Id</label>
        <locationX>1722</locationX>
        <locationY>3806</locationY>
        <assignmentItems>
            <assignToReference>caseRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recCaseRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.CaseCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUAL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reclamation_Case_Values</name>
        <label>Set Reclamation Case Values</label>
        <locationX>1194</locationX>
        <locationY>3806</locationY>
        <assignmentItems>
            <assignToReference>caseRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recCaseRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.CaseCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RECL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WorkOrder_AssetId</name>
        <label>Set WorkOrder AssetId</label>
        <locationX>1172</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>assetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrder.AssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WorkOrderId</name>
        <label>Set WorkOrderId</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>workOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_WorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WorkOrderLineItemId</name>
        <label>Set WorkOrderLineItemId</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>workOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_WorkOrderLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonCaseValues</name>
        <label>Set Common Case Values</label>
        <locationX>1458</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>recCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtCaseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtCaseReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCase.QualityProcessClass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtProcessClass</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Related_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choOrderRequired</name>
        <choiceText>New Parts Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>choSelectAction</name>
        <choiceText>Select Action</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choSelectType</name>
        <choiceText>Select Type</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choSelectWorkStatus</name>
        <choiceText>Select Status</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choSolved</name>
        <choiceText>No Action Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solved</stringValue>
        </value>
    </choices>
    <choices>
        <name>choSpareParts</name>
        <choiceText>Use Spare Parts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spares</stringValue>
        </value>
    </choices>
    <choices>
        <name>choWorkContinues</name>
        <choiceText>Work Continues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Continue</stringValue>
        </value>
    </choices>
    <choices>
        <name>choWorkPaused</name>
        <choiceText>Work Paused</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paused</stringValue>
        </value>
    </choices>
    <choices>
        <name>choWorkStopped</name>
        <choiceText>Work Stopped</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stopped</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Has_Account</name>
        <label>Has Account?</label>
        <locationX>1458</locationX>
        <locationY>2450</locationY>
        <defaultConnector>
            <targetReference>Has_Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Asset</name>
        <label>Has Asset?</label>
        <locationX>1458</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Has_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Asset</defaultConnectorLabel>
        <rules>
            <name>Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset</targetReference>
            </connector>
            <label>Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Related_Account</name>
        <label>Has Related Account?</label>
        <locationX>1304</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>Has_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>Related_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recAsset.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Asset_AccountId</targetReference>
            </connector>
            <label>Related Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Related_Asset</name>
        <label>Has Related Asset?</label>
        <locationX>1304</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Has_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Asset</defaultConnectorLabel>
        <rules>
            <name>Related_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recWorkOrder.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WorkOrder_AssetId</targetReference>
            </connector>
            <label>Related Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Work_Type</name>
        <label>Has Work Type?</label>
        <locationX>1458</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>Installation_Case_Input_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No WorkType</defaultConnectorLabel>
        <rules>
            <name>Work_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Type</targetReference>
            </connector>
            <label>Work Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_WorkOrder</name>
        <label>Has WorkOrder?</label>
        <locationX>1458</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Has_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Work Order</defaultConnectorLabel>
        <rules>
            <name>Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WorkOrder</targetReference>
            </connector>
            <label>Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Appointment</name>
        <label>Is Appointment?</label>
        <locationX>2074</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No Appointment</defaultConnectorLabel>
        <rules>
            <name>Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>appointmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Appointment</targetReference>
            </connector>
            <label>Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_WorkOrderLineItem</name>
        <label>Is WorkOrderLineItem?</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Has_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Work Order Line Item</defaultConnectorLabel>
        <rules>
            <name>Work_Order_Line_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderLineItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order_Line_Item</targetReference>
            </connector>
            <label>Work Order Line Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Started_From</name>
        <label>Started From?</label>
        <locationX>1458</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Other Record</defaultConnectorLabel>
        <rules>
            <name>WorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WorkOrderId</targetReference>
            </connector>
            <label>WorkOrder</label>
        </rules>
        <rules>
            <name>WorkOrderLineItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1WL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WorkOrderLineItemId</targetReference>
            </connector>
            <label>WorkOrderLineItem</label>
        </rules>
        <rules>
            <name>Service_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>08p</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AppointmentId</targetReference>
            </connector>
            <label>Service Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <description>Parent Record of an Appointment is one of  these
Account Asset Case Lead Opportunity WorkOrder WorkOrderLineItem</description>
        <name>What_Parent_Record</name>
        <label>What Parent Record?</label>
        <locationX>1546</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>No Parent</defaultConnectorLabel>
        <rules>
            <name>Parent_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>appointmentParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_AcountId</targetReference>
            </connector>
            <label>Parent Account</label>
        </rules>
        <rules>
            <name>Parent_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>appointmentParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>02i</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_AssetId</targetReference>
            </connector>
            <label>Parent Asset</label>
        </rules>
        <rules>
            <name>Parent_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>appointmentParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_WorkOrder</targetReference>
            </connector>
            <label>Parent Case</label>
        </rules>
        <rules>
            <name>Parent_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>appointmentParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_WorkOrder</targetReference>
            </connector>
            <label>Parent Lead</label>
        </rules>
        <rules>
            <name>Parent_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>appointmentParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_WorkOrder</targetReference>
            </connector>
            <label>Parent Opportunity</label>
        </rules>
        <rules>
            <name>Parent_WorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>appointmentParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_WorkOrderId</targetReference>
            </connector>
            <label>Parent WorkOrder</label>
        </rules>
        <rules>
            <name>Parent_WorkOrderLineItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>appointmentParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1WL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_WorkOrderLineItemId</targetReference>
            </connector>
            <label>Parent WorkOrderLineItem</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Case_Type</name>
        <label>Which Case Type?</label>
        <locationX>1458</locationX>
        <locationY>3590</locationY>
        <defaultConnector>
            <targetReference>Get_Quality_Case_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quality Case</defaultConnectorLabel>
        <rules>
            <name>Reclamation_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtWorkStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stopped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtWorkType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reclamation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reclamation_Case_Record_Type</targetReference>
            </connector>
            <label>Reclamation Case</label>
        </rules>
        <rules>
            <name>Installation_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtWorkStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stopped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtWorkType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Installation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Installation_Case_Record_Type</targetReference>
            </connector>
            <label>Installation Case</label>
        </rules>
    </decisions>
    <description>FSL Mobile Flow to Report an Issue as a Case and Upload a Picture
06.10.2024 Adding ContentDocument and File details
06.10.2024 Added Process Class for Case
06.10.2024 Image Upload directly to Case
06.10.2024 File Upload Subflow
06.10.2024 Made it reusable for other Objects</description>
    <dynamicChoiceSets>
        <name>pickProcessClass</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>QualityProcessClass__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>FSL Mobile - Report Issue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Mobile - Report Issue R4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1458</locationX>
        <locationY>3998</locationY>
        <connector>
            <targetReference>Get_Case_RecordId</targetReference>
        </connector>
        <inputReference>recCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1326</locationX>
        <locationY>2558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>recAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Appointment</name>
        <label>Get Appointment</label>
        <locationX>1546</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>recAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>ParentRecordType</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>1304</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Related_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>recAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CountryCode</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>PurchaseDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Installation_Case_Record_Type</name>
        <label>Get Installation Case Record Type</label>
        <locationX>1458</locationX>
        <locationY>3698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Installation_Case_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>INST</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recCaseRecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quality_Case_Record_Type</name>
        <label>Get Quality Case Record Type</label>
        <locationX>1722</locationX>
        <locationY>3698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Quality_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>QUAL</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recCaseRecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Reclamation_Case_Record_Type</name>
        <label>Get Reclamation Case Record Type</label>
        <locationX>1194</locationX>
        <locationY>3698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Reclamation_Case_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>RECL</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recCaseRecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Line_Item</name>
        <label>Get Work Order Line Item</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order_Line_Item_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderLineItemId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>recWorkOrderLineItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>NumberOfGlassPanels__c</queriedFields>
        <queriedFields>RVN__c</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>1326</locationX>
        <locationY>2858</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Type_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>recWorkType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>EstimatedDuration</queriedFields>
        <queriedFields>DurationType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrder</name>
        <label>Get WorkOrder</label>
        <locationX>1304</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>recWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>LineItemCount</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <screens>
        <name>Installation_Case_Input_Screen</name>
        <label>Installation Case Input Screen</label>
        <locationX>1458</locationX>
        <locationY>3158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Case_Values</targetReference>
        </connector>
        <fields>
            <name>Record_Details_Text</name>
            <fieldText>&lt;p&gt;WorkOrder:&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recWorkOrder.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;WorkOrderLine: &lt;strong&gt;{!recWorkOrderLineItem.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;RVN: &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recWorkOrderLineItem.RVN__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Street Address: &lt;strong&gt;{!recWorkOrderLineItem.Street}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReclamationExplanation</name>
            <fieldText>&lt;p&gt;A Case will be created to notify the Installation Manager about the discovered Quality Event. Work will continue.&lt;/p&gt;&lt;p&gt;Please fill in details regarding the Quality Event.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Subject_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recWorkOrderLineItem.Subject</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Reason_Input</name>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Issue_Type_Input</name>
            <choiceReferences>pickProcessClass</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type Of Issue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Status_Input</name>
            <choiceReferences>choWorkStopped</choiceReferences>
            <choiceReferences>choWorkPaused</choiceReferences>
            <choiceReferences>choWorkContinues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Resolution_Input</name>
            <choiceReferences>choSolved</choiceReferences>
            <choiceReferences>choOrderRequired</choiceReferences>
            <choiceReferences>choSpareParts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resolution</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1332</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Started_From</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Upload_Image_To_Case</name>
        <label>Upload Image To Case</label>
        <locationX>1458</locationX>
        <locationY>4214</locationY>
        <flowName>FSL_Mobile_Upload_File</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>txtCaseSummary</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;WorkOrder: &lt;a href=&quot;{!workOrderId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!txtWorkOrderNumber}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;WorkOrderLineItem:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Installer:&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>appointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>appointmentParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colImageFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentLinkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input value for the SA record from which this flow was started from.</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>imageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>imageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>imageParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>linkedEntityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>recAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <description>Reclamation Case that Installer fills in and sends when the WOLI cannot be completed. This means that Installation Manager needs to order new part(s) and new visit needs to be scheduled.</description>
        <name>recCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recCaseRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>recWorkOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>recWorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>txtCaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCasePriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtNextAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtProcessClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtWorkOrderLineItemStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtWorkOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtWorkOrderStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtWorkStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtWorkType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
