force-app/main/default/flows/FSL_Mobile_Update_Service_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Actual_End_0</name>
        <label>Assign Actual End</label>
        <locationX>1018</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Which_New_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Actual_End_from_User</name>
        <label>Assign Actual End from User</label>
        <locationX>754</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewEndTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Which_New_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Actual_Start</name>
        <label>Assign Actual Start</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Timesheet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SA_data2</name>
        <label>Assign SA data</label>
        <locationX>754</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Mileage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mileage_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Trailer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trailer_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SA_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SA_data2_0</name>
        <label>Assign SA data</label>
        <locationX>1700</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>currentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recServiceAppointment.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Status_Change_Possible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_Dispatched</name>
        <label>Assign status Dispatched</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Status_Dispatched</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Status_In_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_InProgress</name>
        <label>Assign status In Progress</label>
        <locationX>1722</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Status_InProgress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Status_In_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_None</name>
        <label>Assign status None</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Status_None</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Status_In_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_Paused</name>
        <label>Assign status Paused</label>
        <locationX>1458</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Status_Paused</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Status_In_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_Scheduled</name>
        <label>Assign status Scheduled</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Status_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Status_In_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_Travel</name>
        <label>Assign status Travel</label>
        <locationX>1194</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Status_Travel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Status_In_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Travel_Start</name>
        <label>Assign Travel Start</label>
        <locationX>754</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.LUM_Travel_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_WO_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_status</name>
        <label>Assign WO status</label>
        <locationX>754</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_end_time</name>
        <label>Set new end time</label>
        <locationX>754</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>varNewEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_time_can_be_adjusted_here</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Installers_comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Installer_s_comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_date_was_given</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_end_time_0</name>
        <label>Set new end time</label>
        <locationX>490</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>varNewEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_time_can_be_adjusted_here_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Installers_comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Installer_s_comments2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_date_was_given</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_recordId</name>
        <label>Set recordId</label>
        <locationX>1700</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Canceled</name>
        <choiceText>Canceled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>CannotComplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dispatched</name>
        <choiceText>Dispatched</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dispatched</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paused</name>
        <choiceText>Paused</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paused</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scheduled</name>
        <choiceText>Scheduled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Travel</name>
        <choiceText>Travel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Travel</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_date_was_given</name>
        <label>Check if date was given</label>
        <locationX>886</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Assign_Actual_End_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Date empty</defaultConnectorLabel>
        <rules>
            <name>Date_given</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Actual_End_from_User</targetReference>
            </connector>
            <label>Date given</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Which_New_Status</name>
        <label>Copy 2 of Which New Status?</label>
        <locationX>1062</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Update_Status_to_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Statuses</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Status_is_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_SA</targetReference>
            </connector>
            <label>Copy 2 of Status is In Progress</label>
        </rules>
        <rules>
            <name>Copy_2_of_Status_is_Travel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Travel_Start</targetReference>
            </connector>
            <label>Copy 2 of Status is Travel</label>
        </rules>
        <rules>
            <name>Copy_2_of_Status_is_Paused</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_SA</targetReference>
            </connector>
            <label>Copy 2 of Status is Paused</label>
        </rules>
        <rules>
            <name>Copy_2_of_Status_is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_SA</targetReference>
            </connector>
            <label>Copy 2 of Status is Completed</label>
        </rules>
        <rules>
            <name>Copy_2_of_Status_is_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_SA</targetReference>
            </connector>
            <label>Copy 2 of Status is Cannot Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Assigned_Service_Resource</name>
        <label>Has Assigned Service Resource?</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>No_Assigned_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Assigned Resource</defaultConnectorLabel>
        <rules>
            <name>Assigned_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.LUM_Assigned_Service_Resource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status_1</targetReference>
            </connector>
            <label>Assigned Resource</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Change_Possible</name>
        <label>Is Status Change Possible?</label>
        <locationX>1700</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_status_transition_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Possible</defaultConnectorLabel>
        <rules>
            <name>Change_Possible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colStatusChangePossible</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>currentStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Status</targetReference>
            </connector>
            <label>Change Possible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mileage_to_be_input</name>
        <label>Mileage to be input</label>
        <locationX>886</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>SA_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mileage_needs_to_be_entered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Mileage_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Status_In_Progress</name>
        <label>New Status In Progress?</label>
        <locationX>1062</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Other Statuses</defaultConnectorLabel>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Actual_Start</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Status_is_Travel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Which_New_Status</targetReference>
            </connector>
            <label>Status is Travel</label>
        </rules>
        <rules>
            <name>Status_is_Paused</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_traveling_done</targetReference>
            </connector>
            <label>Status is Paused</label>
        </rules>
        <rules>
            <name>Status_is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Was_traveling_done</targetReference>
            </connector>
            <label>Status is Completed</label>
        </rules>
        <rules>
            <name>Status_is_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Was_traveling_done</targetReference>
            </connector>
            <label>Status is Cannot Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_status</name>
        <label>SA status</label>
        <locationX>886</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closing_of_Service_Appointment_0</targetReference>
            </connector>
            <label>Cannot Complete</label>
        </rules>
        <rules>
            <name>Completed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closing_of_Service_Appointment</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Paused1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pausing_of_Service_Appointment</targetReference>
            </connector>
            <label>Paused</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_Sheet_status</name>
        <label>Time Sheet status</label>
        <locationX>226</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Time_Sheet_notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>This TS has not been approved or sent for approval</defaultConnectorLabel>
        <rules>
            <name>This_TS_is_ok</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Timesheet.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Timesheet.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_there_TS_which_are_not_sent_for_approval</targetReference>
            </connector>
            <label>This TS is ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Status</name>
        <label>Which Status?</label>
        <locationX>1062</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Other Status</defaultConnectorLabel>
        <rules>
            <name>Status_None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_From_None</targetReference>
            </connector>
            <label>None</label>
        </rules>
        <rules>
            <name>Status_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status_0</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>Status_Dispatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Assigned_Service_Resource</targetReference>
            </connector>
            <label>Dispatched</label>
        </rules>
        <rules>
            <name>Status_Travel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status_2</targetReference>
            </connector>
            <label>Travel</label>
        </rules>
        <rules>
            <name>Paused3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status_4</targetReference>
            </connector>
            <label>Paused</label>
        </rules>
        <rules>
            <name>Status_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status_3</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <description>FSL Mobile Flow to Update the Service Appointment</description>
    <dynamicChoiceSets>
        <name>lstStatusChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Service Appointment status values.</description>
        <name>Statusvalues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Date_Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>Date_Week_Ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 7</expression>
    </formulas>
    <interviewLabel>FSL Mobile - Update Status Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Mobile - Update Service Appointment</label>
    <loops>
        <name>Are_there_TS_which_are_not_sent_for_approval</name>
        <label>Are there TS which are not sent for approval</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <assignNextValueToReference>Timesheet</assignNextValueToReference>
        <collectionReference>Timesheets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Time_Sheet_status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>1700</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SA_data2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>recServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheet</name>
        <label>Get Timesheet</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_TS_which_are_not_sent_for_approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.LUM_Assigned_Service_Resource__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Date_Week_Ago</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Date_Today</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputReference>Timesheets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
        <queriedFields>Status</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_data</name>
        <label>Get WO data</label>
        <locationX>754</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_WO_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.LUM_Parent_Work_Order__c</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_to_SA</name>
        <label>Update Status to SA</label>
        <locationX>1062</locationX>
        <locationY>3206</locationY>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_status</name>
        <label>Update WO status</label>
        <locationX>754</locationX>
        <locationY>3014</locationY>
        <connector>
            <targetReference>Update_Status_to_SA</targetReference>
        </connector>
        <inputReference>WorkOrder</inputReference>
    </recordUpdates>
    <screens>
        <name>Change_Status_From_None</name>
        <label>Change Status From None</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_status_None</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recServiceAppointment.SchedStartTime</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recServiceAppointment.SchedEndTime</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recServiceAppointment.Subject</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recServiceAppointment.Status</objectFieldReference>
        </fields>
        <fields>
            <name>Select_Status_None</name>
            <choiceReferences>Scheduled</choiceReferences>
            <choiceReferences>Canceled</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Closing_of_Service_Appointment</name>
        <label>Closing of Service Appointment</label>
        <locationX>754</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_new_end_time</targetReference>
        </connector>
        <fields>
            <name>Insert_Picture</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>You can add picture to represent the Asset, if you want to. Otherwise, just click Finish.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ServiceAppointment.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_time_can_be_adjusted_here</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>End time can be adjusted here</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Installer_s_comments</name>
            <fieldText>Installer&apos;s comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Closing_of_Service_Appointment_0</name>
        <label>Closing of Service Appointment</label>
        <locationX>490</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_new_end_time_0</targetReference>
        </connector>
        <fields>
            <name>End_time_can_be_adjusted_here_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>End time can be adjusted here</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Installer_s_comments2</name>
            <fieldText>Installer&apos;s comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Mileage_Screen</name>
        <label>Enter Mileage</label>
        <locationX>754</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_SA_data2</targetReference>
        </connector>
        <fields>
            <name>Mileage_Input</name>
            <dataType>Number</dataType>
            <fieldText>Mileage to customer site</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Trailer_Input</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Trailer was used</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Status_0</name>
        <label>Get Status</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_status_Scheduled</targetReference>
        </connector>
        <fields>
            <name>Select_Status_Scheduled</name>
            <choiceReferences>Dispatched</choiceReferences>
            <choiceReferences>Canceled</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Status_1</name>
        <label>Get Status</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_status_Dispatched</targetReference>
        </connector>
        <fields>
            <name>Select_Status_Dispatched</name>
            <choiceReferences>Travel</choiceReferences>
            <choiceReferences>InProgress</choiceReferences>
            <choiceReferences>Canceled</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Status_2</name>
        <label>Get Status</label>
        <locationX>1194</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_status_Travel</targetReference>
        </connector>
        <fields>
            <name>Select_Status_Travel</name>
            <choiceReferences>InProgress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Status_3</name>
        <label>Get Status</label>
        <locationX>1722</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_status_InProgress</targetReference>
        </connector>
        <fields>
            <name>Select_Status_InProgress</name>
            <choiceReferences>Completed</choiceReferences>
            <choiceReferences>CannotComplete</choiceReferences>
            <choiceReferences>Paused</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Status_4</name>
        <label>Get Status</label>
        <locationX>1458</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_status_Paused</targetReference>
        </connector>
        <fields>
            <name>Select_Status_Paused</name>
            <choiceReferences>Travel</choiceReferences>
            <choiceReferences>InProgress</choiceReferences>
            <choiceReferences>CannotComplete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Assigned_Resource</name>
        <label>No Assigned Resource</label>
        <locationX>930</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_No_AR</name>
            <fieldText>&lt;p&gt;Error! This Service Appointment does not have an Installer assigned to it. So it cannot be set to In Progress status.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_status_transition_available</name>
        <label>No status transition available</label>
        <locationX>2338</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_No_Status_Transition_Available</name>
            <fieldText>&lt;p&gt;Error! This Service Appointment is already completed. There are no status transitions to be made anymore.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pausing_of_Service_Appointment</name>
        <label>Pausing of Service Appointment</label>
        <locationX>1018</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Status_to_SA</targetReference>
        </connector>
        <fields>
            <name>PausedInfoScreen</name>
            <fieldText>&lt;p&gt;You have now paused the Service Appointment. It can be resumed at later time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Time_Sheet_notification</name>
        <label>Time Sheet notification</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Nag_screen</name>
            <fieldText>&lt;p&gt;There is at least one earlier Time Sheet that is still open. Please send it for approval!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Was_traveling_done</name>
        <label>Was traveling done?</label>
        <locationX>886</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Mileage_to_be_input</targetReference>
        </connector>
        <fields>
            <name>Mileage_needs_to_be_entered</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Mileage needs to be entered</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1574</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_recordId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>All_picture_names</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colStatusChangePossible</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLinkAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CreatedImageFileIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedImageFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input value for the SA record from which this flow was started from.</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImageLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Timesheet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>Timesheets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>Travel_TSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>varNewEndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
