force-app/main/default/flows/FSLM_obile_Update_WorkOrderLineItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_values</name>
        <label>Assign Case values</label>
        <locationX>644</locationX>
        <locationY>3728</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reclamation order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Reclamation_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_values_0</name>
        <label>Assign Case values</label>
        <locationX>908</locationX>
        <locationY>3728</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quality event: work stops</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Reclamation_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_values_0_0</name>
        <label>Assign Case values</label>
        <locationX>776</locationX>
        <locationY>3404</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installation Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New problem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrderLineItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrderLineItem.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Configuration_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrderLineItem.Configuration_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrderLineItem.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Reclamation_Cause_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reclamation_cause</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Process_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_class</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Target_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Target_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Cause_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cause_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Warranty_applies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_Quality_Issue_or_Reclamation_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SR_to_WOLI</name>
        <label>Assign SR to WOLI</label>
        <locationX>974</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>recWorkOrderLineItem.Installed_By2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceResource.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Time_Stamp_Enddate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If one of the WOLIs in the WO cannot be completed, then the whole WO cannot be completed.</description>
        <name>Assign_WO_status</name>
        <label>Assign WO status</label>
        <locationX>776</locationX>
        <locationY>3080</locationY>
        <assignmentItems>
            <assignToReference>recWorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If one of the WOLIs in the WO cannot be completed, then the whole WO cannot be completed.</description>
        <name>Assign_WO_status_0</name>
        <label>Assign WO status</label>
        <locationX>1106</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>recWorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Status_to_WO_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If one of the WOLIs in the WO cannot be completed, then the whole WO cannot be completed.</description>
        <name>Assign_WO_status_0_0</name>
        <label>Assign WO status</label>
        <locationX>1370</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>recWorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_WO_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Status</name>
        <label>Set Current Status</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>txtCurrentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrderLineItem.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recNewWorkOrderLineItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrderLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Current_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_From_Cannot_Complete</name>
        <label>Set Status From Cannot Complete</label>
        <locationX>908</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recNewWorkOrderLineItem.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2669efd0-e3de-4bd7-b91d-4c51fadec345</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Updated_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_From_In_Progress</name>
        <label>Set Status From In Progress</label>
        <locationX>644</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recNewWorkOrderLineItem.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1e37fb05-0dc4-4086-8e8f-4372349d1328</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Updated_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_From_New</name>
        <label>Set Status From New</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recNewWorkOrderLineItem.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2669efd0-e3de-4bd7-b91d-4c51fadec345</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Updated_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>End time stamp value is placed when WOLI is put to Completed Status.</description>
        <name>Time_Stamp_Enddate</name>
        <label>Time Stamp Enddate</label>
        <locationX>1106</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>recWorkOrderLineItem.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_WOLI_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>End time stamp value is placed when WOLI is put to Cannot Complete Status.</description>
        <name>Update_Dates</name>
        <label>Update Dates</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>recNewWorkOrderLineItem.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datTimeNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recNewWorkOrderLineItem.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datTimeNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WorkOrderLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>End time stamp value is placed when WOLI is put to Cannot Complete Status.</description>
        <name>Update_End_Date</name>
        <label>Update End Date</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>recNewWorkOrderLineItem.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datTimeNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WorkOrderLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Start time stamp value is placed when WOLI is put to In Progress Status.</description>
        <name>Update_Start_Date</name>
        <label>Update Start Date</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>recNewWorkOrderLineItem.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datTimeNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_WOLI</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Canceled</name>
        <choiceText>Canceled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>CannotComplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>choCurrentStatus</name>
        <choiceText>bla</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Canceled</elementReference>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dispatched</name>
        <choiceText>Dispatched</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dispatched</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scheduled</name>
        <choiceText>Scheduled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Has_Assigned_Resource</name>
        <label>Has Assigned Resource?</label>
        <locationX>1106</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Time_Stamp_Enddate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Assigned Resource</defaultConnectorLabel>
        <rules>
            <name>Assigned_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recAssignedResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SR_to_WOLI</targetReference>
            </connector>
            <label>Assigned Resource</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Service_Appointment</name>
        <label>Has Service Appointment?</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Service Appointment</defaultConnectorLabel>
        <rules>
            <name>Service_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_Resource</targetReference>
            </connector>
            <label>Service Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Start_Date</name>
        <label>Has Start Date?</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Update_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Start Date</defaultConnectorLabel>
        <rules>
            <name>Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recWorkOrderLineItem.StartDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_End_Date</targetReference>
            </connector>
            <label>Start Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_Quality_Issue_or_Reclamation_Case</name>
        <label>Is this Quality Issue or Reclamation Case?</label>
        <locationX>776</locationX>
        <locationY>3512</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Record_Type_QI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quality Issue</defaultConnectorLabel>
        <rules>
            <name>Reclamation_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_part_needs_to_be_ordered_from_Factory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record_Type_RC</targetReference>
            </connector>
            <label>Reclamation Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Current_Status</name>
        <label>What Current Status?</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Status_Warning_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>From Other</defaultConnectorLabel>
        <rules>
            <name>From_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recWorkOrderLineItem.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_From_New_Screen</targetReference>
            </connector>
            <label>From New</label>
        </rules>
        <rules>
            <name>From_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recWorkOrderLineItem.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_From_In_Progress</targetReference>
            </connector>
            <label>From In Progress</label>
        </rules>
        <rules>
            <name>From_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recWorkOrderLineItem.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_From_Cannot_Complete</targetReference>
            </connector>
            <label>From Cannot Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Updated_Status</name>
        <label>What Updated Status?</label>
        <locationX>776</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Other Statuses</defaultConnectorLabel>
        <rules>
            <name>To_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recNewWorkOrderLineItem.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Start_Date</targetReference>
            </connector>
            <label>To In Progress</label>
        </rules>
        <rules>
            <name>To_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recNewWorkOrderLineItem.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Start_Date</targetReference>
            </connector>
            <label>To Cannot Complete</label>
        </rules>
        <rules>
            <name>Status_is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recNewWorkOrderLineItem.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Appointment</targetReference>
            </connector>
            <label>Status is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOLI_is_completed</name>
        <label>WOLI is completed</label>
        <locationX>1282</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Assign_WO_status_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not completed</defaultConnectorLabel>
        <rules>
            <name>Is_Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RelatedWOLI.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RelatedWOLI.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_through_related_WOLIs</targetReference>
            </connector>
            <label>Is Completed</label>
        </rules>
    </decisions>
    <description>FSL Mobile Flow to Update the WorkOrderLineItem</description>
    <dynamicChoiceSets>
        <name>Causecode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cause_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choNextStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choWorkOrderlineItemStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Processclass</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Process_Class__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Targetcode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Target_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Date_Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>fxNotNew</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!txtCurrentStatus})), true, false)</expression>
    </formulas>
    <interviewLabel>FSL Mobile Flow to Update the Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Mobile - Update WorkOrderLineItem</label>
    <loops>
        <name>Go_through_related_WOLIs</name>
        <label>Go through related WOLIs</label>
        <locationX>1106</locationX>
        <locationY>2006</locationY>
        <assignNextValueToReference>RelatedWOLI</assignNextValueToReference>
        <collectionReference>RelatedWOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WOLI_is_completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_WO_status_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Reclamation_Case</name>
        <label>Create Reclamation Case</label>
        <locationX>776</locationX>
        <locationY>3920</locationY>
        <connector>
            <targetReference>Work_could_not_be_completed</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Service Resource id needs to be found and placed as information to the WOLI for ERP/invoicing purposes.</description>
        <name>Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>974</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Assigned_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>recAssignedResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssignedResourceNumber</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
        <queriedFields>ServiceCrewId</queriedFields>
        <queriedFields>ServiceAppointmentId</queriedFields>
        <queriedFields>Transaction</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type_QI</name>
        <label>Get Case Record Type</label>
        <locationX>908</locationX>
        <locationY>3620</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_values_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quality_Event</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CaseRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type_RC</name>
        <label>Get Case Record Type</label>
        <locationX>644</locationX>
        <locationY>3620</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reclamation_Order</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CaseRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recWorkOrderLineItem.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>recServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Service Resource id needs to be found and placed as information to the WOLI for ERP/invoicing purposes.</description>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>1238</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Assigned_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>ServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_related_WOLI_statuses</name>
        <label>Get WO related WOLI statuses</label>
        <locationX>1106</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_through_related_WOLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recWorkOrder.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>RelatedWOLIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrder</name>
        <label>Get WorkOrder</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Current_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recWorkOrderLineItem.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>recWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>CountryCode</queriedFields>
        <queriedFields>EntitlementId</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>isMigrated__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrderLineItem</name>
        <label>Get WorkOrderLineItem</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>recWorkOrderLineItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>CountryCode</queriedFields>
        <queriedFields>DurationInMinutes</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_to_WO</name>
        <label>Update Status to WO</label>
        <locationX>776</locationX>
        <locationY>3188</locationY>
        <connector>
            <targetReference>Reclamation_Case_details</targetReference>
        </connector>
        <inputReference>recWorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_WO_0</name>
        <label>Update Status to WO</label>
        <locationX>1370</locationX>
        <locationY>2330</locationY>
        <inputReference>recWorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_WOLI</name>
        <label>Update Status to WOLI</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Update_WorkOrderLineItem</targetReference>
        </connector>
        <inputReference>recWorkOrderLineItem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_WOLI_0</name>
        <label>Update Status to WOLI</label>
        <locationX>1106</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Get_WO_related_WOLI_statuses</targetReference>
        </connector>
        <inputReference>recWorkOrderLineItem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrderLineItem</name>
        <label>Update WorkOrderLineItem</label>
        <locationX>776</locationX>
        <locationY>2972</locationY>
        <connector>
            <targetReference>Assign_WO_status</targetReference>
        </connector>
        <inputReference>recNewWorkOrderLineItem</inputReference>
    </recordUpdates>
    <screens>
        <name>Reclamation_Case_details</name>
        <label>Reclamation Case details</label>
        <locationX>776</locationX>
        <locationY>3296</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_values_0_0</targetReference>
        </connector>
        <fields>
            <name>ReclamationExplanation</name>
            <fieldText>&lt;p&gt;As this part of the work cannot be completed, a Case will be created to notify the Installation Manager to take actions.&lt;/p&gt;&lt;p&gt;Please fill in details why the installation could not be completed. And define if there is need to order new part from the factory.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recWorkOrderLineItem.Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_part_needs_to_be_ordered_from_Factory</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>New part needs to be ordered from Factory</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Process_class</name>
            <choiceReferences>Processclass</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Process class</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Target_code</name>
            <choiceReferences>Targetcode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Target code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cause_code</name>
            <choiceReferences>Causecode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cause code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reclamation_cause</name>
            <dataType>String</dataType>
            <fieldText>Reclamation cause</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Insert_PIctures</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>You must add pictures regarding the issue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recWorkOrderLineItem.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Status_From_Cannot_Complete</name>
        <label>Update Status From Cannot Complete</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Status_From_Cannot_Complete</targetReference>
        </connector>
        <fields>
            <name>Cannot_Complete_Warning</name>
            <fieldText>&lt;p&gt;This Work Order Line Item has been earlier closed in &quot;Cannot Complete&quot; status as there was some issue with it.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please change status to &quot;Completed&quot; ONLY if the issue has been resolved and a replacing reclamation part is installed during this same visit.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Current_Status</name>
            <choiceReferences>choWorkOrderlineItemStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>txtCurrentStatus</elementReference>
            </defaultValue>
            <fieldText>Current Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>fxNotNew</elementReference>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Status_From_Cannot_Complete</name>
            <choiceReferences>Completed</choiceReferences>
            <choiceReferences>CannotComplete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>booNotNew</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Status_From_In_Progress</name>
        <label>Update Status From In Progress</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Status_From_In_Progress</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Current_Status</name>
            <choiceReferences>choWorkOrderlineItemStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>txtCurrentStatus</elementReference>
            </defaultValue>
            <fieldText>Current Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>fxNotNew</elementReference>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Select_Status_New</name>
            <choiceReferences>Completed</choiceReferences>
            <choiceReferences>CannotComplete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>booNotNew</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Status_From_New_Screen</name>
        <label>Update Status From New</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Status_From_New</targetReference>
        </connector>
        <fields>
            <name>Current_Status</name>
            <choiceReferences>choWorkOrderlineItemStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>txtCurrentStatus</elementReference>
            </defaultValue>
            <fieldText>Current Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>fxNotNew</elementReference>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Status_From_New</name>
            <choiceReferences>InProgress</choiceReferences>
            <choiceReferences>CannotComplete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>booNotNew</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Status_Warning_Screen</name>
        <label>Update Status Warning Screen</label>
        <locationX>1172</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_No_Status_Transition_Available</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Status can not be Updated!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This Work Order Line Item is &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!txtCurrentStatus}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_could_not_be_completed</name>
        <label>Work could not be completed</label>
        <locationX>776</locationX>
        <locationY>4028</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DescriptionText</name>
            <fieldText>&lt;p&gt;Please close the Service Appointment in &quot;Cannot Complete&quot; status and enter the mileage and correct end time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WorkOrderLineItem</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>booNotNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Reclamation Case that Installer fills in and sends when the WOLI cannot be completed. This means that Installation Manager needs to order new part(s) and new visit needs to be scheduled.</description>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>datTimeNow</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <description>Input value for the SA record from which this flow was started from.</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recAssignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>recNewWorkOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>recServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>recWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>recWorkOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>RelatedWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <description>All Work Order Line Items that are related to the Work Order.</description>
        <name>RelatedWOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>ServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>txtCompleted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </variables>
    <variables>
        <name>txtCurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtNewStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
