force-app/main/default/flows/Lead_Set_Marketing_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddEmailDateTime</name>
        <label>AddEmailDateTime</label>
        <locationX>446</locationX>
        <locationY>2387</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GiveDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RemoveOptDateTimeEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddEmailSmsDateTime</name>
        <label>AddEmailSmsDateTime</label>
        <locationX>182</locationX>
        <locationY>2387</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GiveDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SMS_Opt_In_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GiveDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RemoveOptDateTimeEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSmsDateTime</name>
        <label>AddSmsDateTime</label>
        <locationX>710</locationX>
        <locationY>2387</locationY>
        <assignmentItems>
            <assignToReference>$Record.SMS_Opt_In_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GiveDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RemoveOptDateTimeEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AppartmentUpdate</name>
        <label>AppartmentUpdate</label>
        <locationX>446</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1000</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OptEmailSmsYesNo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Finland_Sync_to_MC</name>
        <label>Check Finland Sync to MC</label>
        <locationX>50</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOptEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Other_Country</name>
        <label>Check Other Country</label>
        <locationX>578</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOptEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Spain_Sync_to_MC</name>
        <label>Check Spain Sync to MC</label>
        <locationX>314</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOptEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailOptTrue</name>
        <label>EmailOptTrue</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MQLYes</name>
        <label>MQLYes</label>
        <locationX>292</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MQL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_or_SMS_opt_in_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Sync_to_MC</name>
        <label>No Sync to MC</label>
        <locationX>842</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOptEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemoveEmailOptDateTime</name>
        <label>RemoveEmailOptDateTime</label>
        <locationX>446</locationX>
        <locationY>2687</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RemoveEmailSmsOptDT</name>
        <label>RemoveEmailSmsOptDT</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SMS_Opt_In_Date_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RemoveSmsOptDateTime</name>
        <label>RemoveSmsOptDateTime</label>
        <locationX>710</locationX>
        <locationY>2687</locationY>
        <assignmentItems>
            <assignToReference>$Record.SMS_Opt_In_Date_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SingleHouseYes</name>
        <label>SingleHouseYes</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1100</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateConsumerApartmentBuilding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SmsOptTrue</name>
        <label>SmsOptTrue</label>
        <locationX>578</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.SMS_Opt_In_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Criteria</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChangeLeadStatusToMQL</name>
        <label>ChangeLeadStatusToMQL</label>
        <locationX>424</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Email_or_SMS_opt_in_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MQLYes</targetReference>
            </connector>
            <label>MQL</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOptEmailSms</name>
        <label>CheckOptEmailSms</label>
        <locationX>578</locationX>
        <locationY>2279</locationY>
        <defaultConnector>
            <targetReference>RemoveOptDateTimeEmailSms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckEmailSms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddEmailSmsDateTime</targetReference>
            </connector>
            <label>CheckEmailSms</label>
        </rules>
        <rules>
            <name>CheckEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddEmailDateTime</targetReference>
            </connector>
            <label>CheckEmail</label>
        </rules>
        <rules>
            <name>CheckSms</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSmsDateTime</targetReference>
            </connector>
            <label>CheckSms</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_Check</name>
        <label>Country  Check</label>
        <locationX>314</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Check_Other_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Countries</defaultConnectorLabel>
        <rules>
            <name>Finland_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Finland_Sync_to_MC</targetReference>
            </connector>
            <label>Finland Check</label>
        </rules>
        <rules>
            <name>Spain_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Spain_Sync_to_MC</targetReference>
            </connector>
            <label>Spain Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_or_SMS_opt_in_true</name>
        <label>Email or SMS opt in true?</label>
        <locationX>578</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>No_Sync_to_MC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Country_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OptEmailSmsYesNo</name>
        <label>OptEmailSmsYesNo</label>
        <locationX>578</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Update_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>EmailYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailOptTrue</targetReference>
            </connector>
            <label>EmailYes</label>
        </rules>
        <rules>
            <name>SmsYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SmsOptTrue</targetReference>
            </connector>
            <label>SmsYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RemoveOptDateTimeEmailSms</name>
        <label>RemoveOptDateTimeEmailSms</label>
        <locationX>578</locationX>
        <locationY>2579</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RemoveEmailSmsDateTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Email_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RemoveEmailSmsOptDT</targetReference>
            </connector>
            <label>RemoveEmailSmsDateTime</label>
        </rules>
        <rules>
            <name>RemoveEmailDateTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Email_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RemoveEmailOptDateTime</targetReference>
            </connector>
            <label>RemoveEmailDateTime</label>
        </rules>
        <rules>
            <name>RemoveSmsDateTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RemoveSmsOptDateTime</targetReference>
            </connector>
            <label>RemoveSmsDateTime</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation_Enabled</name>
        <label>Skip Automation Enabled?</label>
        <locationX>908</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>SKip Automation</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateConsumerSingleHouse</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Criteria</name>
        <label>Update Criteria</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Email_or_SMS_opt_in_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_status_to_MQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeLeadStatusToMQL</targetReference>
            </connector>
            <label>Update status to MQL</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateConsumerApartmentBuilding</name>
        <label>UpdateConsumerApartmentBuilding</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>OptEmailSmsYesNo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateApartment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AppartmentUpdate</targetReference>
            </connector>
            <label>UpdateApartment</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateConsumerSingleHouse</name>
        <label>UpdateConsumerSingleHouse</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>UpdateConsumerApartmentBuilding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SingleHouse</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ROW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SingleHouseYes</targetReference>
            </connector>
            <label>SingleHouse</label>
        </rules>
    </decisions>
    <description>02.12.2023 Save Inactive Version as Draft</description>
    <environments>Default</environments>
    <formulas>
        <name>GiveDateTime</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Lead - Set Marketing Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Set Marketing Values Draft</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation_Enabled</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Stores Lead ID</description>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
