force-app/main/default/flows/Lead_Before_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddEmailDateTime</name>
        <label>AddEmailDateTime</label>
        <locationX>446</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GiveDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RemoveOptDateTimeEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddEmailSmsDateTime</name>
        <label>AddEmailSmsDateTime</label>
        <locationX>182</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GiveDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SMS_Opt_In_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GiveDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RemoveOptDateTimeEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSmsDateTime</name>
        <label>AddSmsDateTime</label>
        <locationX>710</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.SMS_Opt_In_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GiveDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RemoveOptDateTimeEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finland_Sync_to_MC</name>
        <label>Finland Sync to MC</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOptEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Sync_to_MC</name>
        <label>No Sync to MC</label>
        <locationX>842</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOptEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Other_Country</name>
        <label>Other Country</label>
        <locationX>578</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOptEmailSms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Spain_Sync_to_MC</name>
        <label>Spain Sync to MC</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOptEmailSms</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Country</name>
        <label>Check Country</label>
        <locationX>314</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Other_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Countries</defaultConnectorLabel>
        <rules>
            <name>Finland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finland_Sync_to_MC</targetReference>
            </connector>
            <label>Finland</label>
        </rules>
        <rules>
            <name>Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spain_Sync_to_MC</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOptEmailSms</name>
        <label>CheckOptEmailSms</label>
        <locationX>578</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>RemoveOptDateTimeEmailSms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckEmailSms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddEmailSmsDateTime</targetReference>
            </connector>
            <label>CheckEmailSms</label>
        </rules>
        <rules>
            <name>CheckEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddEmailDateTime</targetReference>
            </connector>
            <label>CheckEmail</label>
        </rules>
        <rules>
            <name>CheckSms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSmsDateTime</targetReference>
            </connector>
            <label>CheckSms</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_or_SMS_opt_in_true</name>
        <label>Email or SMS opt in true?</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>No_Sync_to_MC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Country</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RemoveOptDateTimeEmailSms</name>
        <label>RemoveOptDateTimeEmailSms</label>
        <locationX>578</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RemoveEmailSmsDateTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Email_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RemoveDateTimeEmailSms</targetReference>
            </connector>
            <label>RemoveEmailSmsDateTime</label>
        </rules>
        <rules>
            <name>RemoveEmailDateTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Email_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RemoveDateTimeEmail</targetReference>
            </connector>
            <label>RemoveEmailDateTime</label>
        </rules>
        <rules>
            <name>RemoveSmsDateTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Sms_Date_Time</targetReference>
            </connector>
            <label>RemoveSmsDateTime</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation_Enabled</name>
        <label>Skip Automation Enabled?</label>
        <locationX>908</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>SKip Automation</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Consumer_Single_House</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Criteria</name>
        <label>Update Criteria</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Email_or_SMS_opt_in_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_status_to_MQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Lead_status_to_MQL</targetReference>
            </connector>
            <label>Update status to MQL</label>
        </rules>
    </decisions>
    <description>Lead before save
30.1. skip automation enabled added
28.2. ends joined
20.3 add sync to mc
14.7 remove sync to mc and add Finland Spain and Other Countries to MC</description>
    <environments>Default</environments>
    <formulas>
        <name>GiveDateTime</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Lead - Before save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Before Save R2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Lead status is changed to MQL when address exists</description>
        <name>Change_Lead_status_to_MQL</name>
        <label>Change Lead status to MQL</label>
        <locationX>446</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Email_or_SMS_opt_in_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>PostalCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Street</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>City</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>MQL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Sms_Date_Time</name>
        <label>Remove Sms Date Time</label>
        <locationX>710</locationX>
        <locationY>1811</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SMS_Opt_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SMS_Opt_In_Date_Time__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RemoveDateTimeEmail</name>
        <label>RemoveDateTimeEmail</label>
        <locationX>446</locationX>
        <locationY>1811</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Opt_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Opt_In_Date_Time__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RemoveDateTimeEmailSms</name>
        <label>RemoveDateTimeEmailSms</label>
        <locationX>182</locationX>
        <locationY>1811</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email_Opt_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SMS_Opt_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Opt_In_Date_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Opt_In_Date_Time__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Consumer_Apartment_Building</name>
        <label>Update Consumer Apartment Building</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Update_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consumer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Property_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Segment__c</field>
            <value>
                <stringValue>1000</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Consumer_Single_House</name>
        <label>Update Consumer Single House</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Update_Consumer_Apartment_Building</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Business_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consumer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Property_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Property_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ROW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Property_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HOU</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Segment__c</field>
            <value>
                <stringValue>1100</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation_Enabled</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores Lead ID</description>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
