force-app/main/default/flows/Mobile_change_WOLI_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_values</name>
        <label>Assign Case values</label>
        <locationX>2159</locationX>
        <locationY>1321</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reclamation order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Reclamation_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_values_0</name>
        <label>Assign Case values</label>
        <locationX>1697</locationX>
        <locationY>1320</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quality event: work stops</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Reclamation_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_values_0_0</name>
        <label>Assign Case values</label>
        <locationX>1947</locationX>
        <locationY>1039</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installation Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New problem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLI.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Configuration_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLI.Configuration_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLI.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Reclamation_Cause_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reclamation_cause</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Process_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_class</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Target_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Target_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Cause_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cause_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Warranty_applies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_Quality_Issue_or_Reclamation_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SR_to_WOLI</name>
        <label>Assign SR to WOLI</label>
        <locationX>842</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>WOLI.Installed_By2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceResource.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Time_Stamp_Enddate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_In_Progress</name>
        <label>Assign status In Progress</label>
        <locationX>1003</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>WOLI.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Status_InProgress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_changed_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_In_Progress_0</name>
        <label>Assign status In Progress</label>
        <locationX>1218</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>WOLI.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Status_Cannot_Complete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_changed_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_New</name>
        <label>Assign status New</label>
        <locationX>897</locationX>
        <locationY>696</locationY>
        <assignmentItems>
            <assignToReference>WOLI.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Status_New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_changed_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If one of the WOLIs in the WO cannot be completed, then the whole WO cannot be completed.</description>
        <name>Assign_WO_status</name>
        <label>Assign WO status</label>
        <locationX>1551</locationX>
        <locationY>1039</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If one of the WOLIs in the WO cannot be completed, then the whole WO cannot be completed.</description>
        <name>Assign_WO_status_0</name>
        <label>Assign WO status</label>
        <locationX>50</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_WO_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If one of the WOLIs in the WO cannot be completed, then the whole WO cannot be completed.</description>
        <name>Assign_WO_status_0_0</name>
        <label>Assign WO status</label>
        <locationX>340</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_WO_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>End time stamp value is placed when WOLI is put to Completed Status.</description>
        <name>Time_Stamp_Enddate</name>
        <label>Time Stamp Enddate</label>
        <locationX>585</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>WOLI.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_WOLI_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>End time stamp value is placed when WOLI is put to Cannot Complete Status.</description>
        <name>Time_Stamp_Enddate_2</name>
        <label>Time Stamp Enddate 2</label>
        <locationX>1429</locationX>
        <locationY>871</locationY>
        <assignmentItems>
            <assignToReference>WOLI.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_WOLI_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>End time stamp value is placed when WOLI is put to Cannot Complete Status.</description>
        <name>Time_Stamp_Enddate_2_0</name>
        <label>Time Stamp Enddate 2</label>
        <locationX>1222</locationX>
        <locationY>1039</locationY>
        <assignmentItems>
            <assignToReference>WOLI.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_WOLI_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Start time stamp value is placed when WOLI is put to In Progress Status.</description>
        <name>Time_Stamp_Startdate</name>
        <label>Time Stamp Startdate</label>
        <locationX>940</locationX>
        <locationY>1038</locationY>
        <assignmentItems>
            <assignToReference>WOLI.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_WOLI</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Canceled</name>
        <choiceText>Canceled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>CannotComplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dispatched</name>
        <choiceText>Dispatched</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dispatched</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scheduled</name>
        <choiceText>Scheduled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_there_is_no_start_time</name>
        <label>Check if there is no start time</label>
        <locationX>1215</locationX>
        <locationY>871</locationY>
        <defaultConnector>
            <targetReference>Time_Stamp_Enddate_2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Start time does not exist</defaultConnectorLabel>
        <rules>
            <name>Start_time_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLI.StartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Time_Stamp_Enddate_2</targetReference>
            </connector>
            <label>Start time exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_status_specific_behavior</name>
        <label>Current status specific behavior</label>
        <locationX>1094</locationX>
        <locationY>361</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLI.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status_0</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Status_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLI.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Status_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLI.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status_2</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Status_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLI.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status_0_0</targetReference>
            </connector>
            <label>Cannot Complete</label>
        </rules>
        <rules>
            <name>Status_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLI.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status_3_0</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_Quality_Issue_or_Reclamation_Case</name>
        <label>Is this Quality Issue or Reclamation Case?</label>
        <locationX>1939</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Record_Type_QI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quality Issue</defaultConnectorLabel>
        <rules>
            <name>Reclamation_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_part_needs_to_be_ordered_from_Factory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record_Type_RC</targetReference>
            </connector>
            <label>Reclamation Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Resource_was_found</name>
        <label>Service Resource was found</label>
        <locationX>715</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Time_Stamp_Enddate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SR_to_WOLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_changed_Status</name>
        <label>What is changed Status?</label>
        <locationX>931</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Other Statuses</defaultConnectorLabel>
        <rules>
            <name>Status_is_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLI.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Time_Stamp_Startdate</targetReference>
            </connector>
            <label>Status is In Progress</label>
        </rules>
        <rules>
            <name>Status_is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLI.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <label>Status is New</label>
        </rules>
        <rules>
            <name>Status_is_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLI.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_there_is_no_start_time</targetReference>
            </connector>
            <label>Status is Cannot Complete</label>
        </rules>
        <rules>
            <name>Status_is_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLI.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <label>Status is Cancelled</label>
        </rules>
        <rules>
            <name>Status_is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLI.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resource</targetReference>
            </connector>
            <label>Status is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOLI_is_completed</name>
        <label>WOLI is completed</label>
        <locationX>228</locationX>
        <locationY>1326</locationY>
        <defaultConnector>
            <targetReference>Assign_WO_status_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not completed</defaultConnectorLabel>
        <rules>
            <name>Is_Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RelatedWOLI.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RelatedWOLI.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_through_related_WOLIs</targetReference>
            </connector>
            <label>Is Completed</label>
        </rules>
    </decisions>
    <description>Controls the WOLI status changes.

29.6.2023: Changed &quot;Warranty Applies&quot; default value to be true, as installation is ongoing.
29.5.2023: New reclamation cause description taken into use.
26.5.2023: Adding case classification.
4.4.2023: Moved part of Case detail setting logic to Case Record Triggered Flow to enable offline usage.
3.4.2023: Adding more relations to Case.
30.11.2022: Logic to set the Service Resource to the WOLI Installed By field.
21.11.2022: Modification to Cannot Complete status change.
28.10.2022: Fix for no start time (WOLI directly to Cannot Complete status)
20.10.2022: Added logic to fill in the Start/Enddate fields.
31.10.2023: Changed the logic so that factory ordered part is required by default (creates Reclamation Case)
02.12.2023: Save Active Version as R2</description>
    <dynamicChoiceSets>
        <name>Causecode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cause_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Processclass</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Process_Class__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Targetcode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Target_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Date_Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Mobile - change WOLI status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mobile - Change WOLI Status R2</label>
    <loops>
        <name>Go_through_related_WOLIs</name>
        <label>Go through related WOLIs</label>
        <locationX>239</locationX>
        <locationY>1142</locationY>
        <assignNextValueToReference>RelatedWOLI</assignNextValueToReference>
        <collectionReference>RelatedWOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WOLI_is_completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_WO_status_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Reclamation_Case</name>
        <label>Create Reclamation Case</label>
        <locationX>1931</locationX>
        <locationY>1540</locationY>
        <connector>
            <targetReference>Work_could_not_be_completed</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record_Type_QI</name>
        <label>Get Case Record Type</label>
        <locationX>1697</locationX>
        <locationY>1188</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_values_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quality_Event</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CaseRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type_RC</name>
        <label>Get Case Record Type</label>
        <locationX>2158</locationX>
        <locationY>1186</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reclamation_Order</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CaseRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Service Resource id needs to be found and placed as information to the WOLI for ERP/invoicing purposes.</description>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>723</locationX>
        <locationY>865</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Resource_was_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>ServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Reads SA record fields, so that they can be used.</description>
        <name>Get_WO_data</name>
        <label>Get WO data</label>
        <locationX>1102</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_status_specific_behavior</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLI.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_related_WOLI_statuses</name>
        <label>Get WO related WOLI statuses</label>
        <locationX>357</locationX>
        <locationY>1142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_through_related_WOLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>RelatedWOLIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Reads SA record fields, so that they can be used.</description>
        <name>Get_WOLI_data</name>
        <label>Get WOLI data</label>
        <locationX>958</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WO_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>Configuration_Product__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_to_WO</name>
        <label>Update Status to WO</label>
        <locationX>1680</locationX>
        <locationY>1039</locationY>
        <connector>
            <targetReference>Reclamation_Case_details</targetReference>
        </connector>
        <inputReference>WorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_WO_0</name>
        <label>Update Status to WO</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <inputReference>WorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_WOLI</name>
        <label>Update Status to WOLI</label>
        <locationX>1053</locationX>
        <locationY>1038</locationY>
        <inputReference>WOLI</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_WOLI_0</name>
        <label>Update Status to WOLI</label>
        <locationX>471</locationX>
        <locationY>1142</locationY>
        <connector>
            <targetReference>Get_WO_related_WOLI_statuses</targetReference>
        </connector>
        <inputReference>WOLI</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_WOLI_0_0</name>
        <label>Update Status to WOLI</label>
        <locationX>1429</locationX>
        <locationY>1039</locationY>
        <connector>
            <targetReference>Assign_WO_status</targetReference>
        </connector>
        <inputReference>WOLI</inputReference>
    </recordUpdates>
    <screens>
        <name>Get_Status</name>
        <label>Get Status</label>
        <locationX>1001</locationX>
        <locationY>565</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_status_In_Progress</targetReference>
        </connector>
        <fields>
            <name>Select_Status_InProgress</name>
            <choiceReferences>Completed</choiceReferences>
            <choiceReferences>CannotComplete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Status_0</name>
        <label>Get Status</label>
        <locationX>898</locationX>
        <locationY>571</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_status_New</targetReference>
        </connector>
        <fields>
            <name>Select_Status_New</name>
            <choiceReferences>InProgress</choiceReferences>
            <choiceReferences>CannotComplete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Status_0_0</name>
        <label>Get Status</label>
        <locationX>1219</locationX>
        <locationY>563</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_status_In_Progress_0</targetReference>
        </connector>
        <fields>
            <name>Guidance_for_Cannot_Complete</name>
            <fieldText>&lt;p&gt;This Work Order Line Item has been earlier closed in &quot;Cannot Complete&quot; status as there was some issue with it.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please change status to &quot;Completed&quot; ONLY if the issue has been resolved and a replacing reclamation part is installed during this same visit.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Status_Cannot_Complete</name>
            <choiceReferences>Completed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Status_2</name>
        <label>Get Status</label>
        <locationX>1102</locationX>
        <locationY>559</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_No_Status_Transition_Available</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Error! This Work Order Line Item is already completed. There are no status transitions to be made anymore.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Status_3_0</name>
        <label>Get Status</label>
        <locationX>1321</locationX>
        <locationY>559</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_No_Status_Transition_Available3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Error! This Work Order Line Item is already set to Canceled. There are no status transitions to be made anymore.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reclamation_Case_details</name>
        <label>Reclamation Case details</label>
        <locationX>1815</locationX>
        <locationY>1039</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_values_0_0</targetReference>
        </connector>
        <fields>
            <name>ReclamationExplanation</name>
            <fieldText>&lt;p&gt;As this part of the work cannot be completed, a Case will be created to notify the Installation Manager to take actions.&lt;/p&gt;&lt;p&gt;Please fill in details why the installation could not be completed. And define if there is need to order new part from the factory.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>WOLI.Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_part_needs_to_be_ordered_from_Factory</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>New part needs to be ordered from Factory</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Process_class</name>
            <choiceReferences>Processclass</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Process class</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Target_code</name>
            <choiceReferences>Targetcode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Target code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cause_code</name>
            <choiceReferences>Causecode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cause code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reclamation_cause</name>
            <dataType>String</dataType>
            <fieldText>Reclamation cause</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Insert_PIctures</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>You must add pictures regarding the issue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>WOLI.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_could_not_be_completed</name>
        <label>Work could not be completed</label>
        <locationX>1802</locationX>
        <locationY>1540</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DescriptionText</name>
            <fieldText>&lt;p&gt;Please close the Service Appointment in &quot;Cannot Complete&quot; status and enter the mileage and correct end time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>832</locationX>
        <locationY>104</locationY>
        <connector>
            <targetReference>Get_WOLI_data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Reclamation Case that Installer fills in and sends when the WOLI cannot be completed. This means that Installation Manager needs to order new part(s) and new visit needs to be scheduled.</description>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Input value for the SA record from which this flow was started from.</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <description>All Work Order Line Items that are related to the Work Order.</description>
        <name>RelatedWOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>ServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
