force-app/main/default/flows/Mobile_Asset_image_handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Asset_image_CDL</name>
        <label>Add Asset image CDL</label>
        <locationX>1735</locationX>
        <locationY>965</locationY>
        <assignmentItems>
            <assignToReference>colAssetCDLs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recAssetCDL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Content_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_CD_collection</name>
        <label>Add to CD collection</label>
        <locationX>619</locationX>
        <locationY>931</locationY>
        <assignmentItems>
            <assignToReference>colContentDocumentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CDid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_through_CDLs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CD_id</name>
        <label>Assign CD id</label>
        <locationX>620</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>CDid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recCDL.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_CD_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Asset_CDL</name>
        <label>Assign new Asset CDL</label>
        <locationX>1861</locationX>
        <locationY>965</locationY>
        <assignmentItems>
            <assignToReference>recAssetCDL.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWorkOrder.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAssetCDL.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recContentDocument.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAssetCDL.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAssetCDL.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Asset_image_CDL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_CDid</name>
        <label>Clear CDid</label>
        <locationX>752</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>CDid</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CD_id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_any_images</name>
        <label>Are there any images?</label>
        <locationX>779</locationX>
        <locationY>378</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colUploadedImageLinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO_data</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_Asset_exist</name>
        <label>Does Parent Asset exist?</label>
        <locationX>898</locationX>
        <locationY>633</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recWorkOrder.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_through_CDLs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Supported_Image_File</name>
        <label>Is Supported Image File?</label>
        <locationX>1681</locationX>
        <locationY>801</locationY>
        <defaultConnector>
            <targetReference>Loop_Content_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not supported</defaultConnectorLabel>
        <rules>
            <name>Supported_Image_File</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recContentDocument.FileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JPG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recContentDocument.FileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PNG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_Asset_CDL</targetReference>
            </connector>
            <label>Supported Image File</label>
        </rules>
    </decisions>
    <description>24.11.2022: Removed unnecessary reference to a SA field.
02.12.2023 Save Inactive Version as Draft</description>
    <environments>Default</environments>
    <interviewLabel>Mobile - Asset image handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mobile - Asset image handler Draft</label>
    <loops>
        <name>Go_through_CDLs</name>
        <label>Go through CDLs</label>
        <locationX>904</locationX>
        <locationY>818</locationY>
        <assignNextValueToReference>recCDL</assignNextValueToReference>
        <collectionReference>colUploadedImageLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_CDid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Content_Documents</name>
        <label>Loop Content Documents</label>
        <locationX>1401</locationX>
        <locationY>808</locationY>
        <assignNextValueToReference>recContentDocument</assignNextValueToReference>
        <collectionReference>colContentDocuments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Supported_Image_File</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Asset_image_CDLs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Asset_image_CDLs</name>
        <label>Create Asset image CDLs</label>
        <locationX>1404</locationX>
        <locationY>975</locationY>
        <inputReference>colAssetCDLs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Documents</name>
        <label>Get Content Documents</label>
        <locationX>1117</locationX>
        <locationY>808</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Content_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>colContentDocumentIds</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputReference>colContentDocuments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>FileExtension</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>FileType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentDocumentLinks</name>
        <label>Get ContentDocumentLinks</label>
        <locationX>786</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_any_images</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>colUploadedImageLinks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShareType</queriedFields>
        <queriedFields>Visibility</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>654</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ContentDocumentLinks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>recServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Asset__c</queriedFields>
        <queriedFields>Asset_image__c</queriedFields>
        <queriedFields>LUM_Parent_Work_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_data</name>
        <label>Get WO data</label>
        <locationX>907</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Parent_Asset_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recServiceAppointment.LUM_Parent_Work_Order__c</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>recWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Appointment_completed</name>
        <label>Appointment completed</label>
        <locationX>520</locationX>
        <locationY>225</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
        <fields>
            <name>ConfText</name>
            <fieldText>&lt;p&gt;All done!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>394</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Appointment_completed</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CDid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colAssetCDLs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>colContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colContentDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>colUploadedImageLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recAssetCDL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>recCD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>recCDL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>recContentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>recImageLink</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>recWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
