force-app/main/default/flows/Mobile_Start_or_End_day.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>End_the_day2</name>
        <label>End the day</label>
        <locationX>476</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>recTimeSheet.Day_End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_the_day_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_the_day2</name>
        <label>Start the day</label>
        <locationX>681</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>recTimeSheet.Day_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_the_day_screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_needs_to_be_done</name>
        <label>What needs to be done</label>
        <locationX>560</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Start_the_day_screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_the_day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recTimeSheet.Day_Start_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recTimeSheet.Day_End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_the_day2</targetReference>
            </connector>
            <label>Start the day</label>
        </rules>
        <rules>
            <name>End_the_day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recTimeSheet.Day_End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recTimeSheet.Day_Start_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_the_day2</targetReference>
            </connector>
            <label>End the day</label>
        </rules>
        <rules>
            <name>Start_missing_end_is_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recTimeSheet.Day_Start_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recTimeSheet.Day_End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unknown</targetReference>
            </connector>
            <label>Start missing end is filled</label>
        </rules>
    </decisions>
    <description>Installer uses this to start and end the day in his time sheet.

24.8.2023: First version.
02.12.2023: Save Active Version as R2</description>
    <environments>Default</environments>
    <interviewLabel>Mobile - Start or End day {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mobile - Start or End Day R2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>TS</name>
        <label>TS</label>
        <locationX>567</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_needs_to_be_done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputReference>recTimeSheet</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Day_Start_Time__c</queriedFields>
        <queriedFields>Day_End_Time__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_TS</name>
        <label>Update TS</label>
        <locationX>579</locationX>
        <locationY>715</locationY>
        <inputReference>recTimeSheet</inputReference>
    </recordUpdates>
    <screens>
        <name>End_the_day_screen</name>
        <label>End the day</label>
        <locationX>477</locationX>
        <locationY>552</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_TS</targetReference>
        </connector>
        <fields>
            <name>End_the_day_text</name>
            <fieldText>&lt;p&gt;Closing the day in your Time Sheet. If you want to proceed, click Next.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_the_day_screen</name>
        <label>Start the day</label>
        <locationX>681</locationX>
        <locationY>552</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_TS</targetReference>
        </connector>
        <fields>
            <name>Start_the_day_text</name>
            <fieldText>&lt;p&gt;Starting the day in your Time Sheet. If you want to proceed, click Next.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_the_day_screen_0</name>
        <label>Start the day</label>
        <locationX>803</locationX>
        <locationY>277</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Nothing_to_do</name>
            <fieldText>&lt;p&gt;There is nothing to do, please click Next.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unknown</name>
        <label>Unknown</label>
        <locationX>302</locationX>
        <locationY>284</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Nothing_to_do_1</name>
            <fieldText>&lt;p&gt;The Day End time is already filled in but Day Start is empty. Please correct this. Exit by clicking Next.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>441</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>TS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recTimeSheet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
</Flow>
