force-app/main/default/flows/Opportunity_Confirmed_Delivery_Date_check_subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_IMs_of_CDD_change</name>
        <label>Notify IMs of CDD change</label>
        <locationX>1130</locationX>
        <locationY>1178</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmplEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>collEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmplEmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Clear_var</name>
        <label>Clear var</label>
        <locationX>1679</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>txtUserId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>To_User_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_var_0</name>
        <label>Clear var</label>
        <locationX>1429</locationX>
        <locationY>1005</locationY>
        <assignmentItems>
            <assignToReference>txtEmailAddress</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>To_Email_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Users</name>
        <label>Number of Users</label>
        <locationX>1140</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>NbrUsers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_or_more_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>To_Email_Address</name>
        <label>To Email Address</label>
        <locationX>1538</locationX>
        <locationY>1005</locationY>
        <assignmentItems>
            <assignToReference>txtEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_through_filtered_Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Email_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>To_Email_Addresses</name>
        <label>To Email Addresses</label>
        <locationX>1538</locationX>
        <locationY>1132</locationY>
        <assignmentItems>
            <assignToReference>collEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>txtEmailAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_through_filtered_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>To_User_Id</name>
        <label>To User Id</label>
        <locationX>1811</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>txtUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_through_ST_users.FSL__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_User_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>To_User_Ids</name>
        <label>To User Ids</label>
        <locationX>1811</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>collUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>txtUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_through_ST_users</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Limits the number of email addresses to 5, as that is the maximum number for email sending.</description>
        <name>Sort_Email_Addresses</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Email Addresses</label>
        <locationX>1254</locationX>
        <locationY>1178</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>collEmailAddresses</collectionReference>
        <connector>
            <targetReference>Notify_IMs_of_CDD_change</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_ST_Users</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort ST Users</label>
        <locationX>1489</locationX>
        <locationY>782</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>collUserIds</collectionReference>
        <connector>
            <targetReference>Users</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <description>Limits the number of email recipients to 5, as that is the maximum number for email sending.</description>
        <name>Sort_Users</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Users</label>
        <locationX>1261</locationX>
        <locationY>782</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Users</collectionReference>
        <connector>
            <targetReference>Number_of_Users</targetReference>
        </connector>
        <limit>5</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>UT_sort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>UT sort</label>
        <locationX>1374</locationX>
        <locationY>626</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>User_Territory_Members</collectionReference>
        <connector>
            <targetReference>Go_through_ST_users</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>FSL__User__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>IM_Profile_exists</name>
        <label>IM Profile exists?</label>
        <locationX>1158</locationX>
        <locationY>530</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IM_Profile_Id.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Territory_Members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>One_or_more_Users</name>
        <label>One or more Users?</label>
        <locationX>1131</locationX>
        <locationY>907</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbrUsers</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_through_filtered_Users</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ST_could_be_read</name>
        <label>ST could be read?</label>
        <locationX>1063</locationX>
        <locationY>296</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First_WO.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IM_Profile_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Checks if CDD has changed and notifies up to first five Installation Managers which are related to the Service Territory of the last modified Work Order for the Opportunity via email.
02.12.2023: Save Active Version as R2
27.10.2023: Email sent is now specific to a product (details are received from &quot;CP - Update After Save&quot; flow)
8.2.2023: Added hyperlink to Opportunity to email.
8.2.2023: Corrections to email sending.
6.2.2023: Logic added.
3.2.2023: First version.</description>
    <environments>Default</environments>
    <formulas>
        <name>fxCPLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!varConfigurationProductId}</expression>
    </formulas>
    <formulas>
        <name>fxOppoLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!Opportunity.Id}</expression>
    </formulas>
    <interviewLabel>Opportunity - Confirmed Delivery Date update subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Confirmed Delivery Date Check SubFlow R2</label>
    <loops>
        <name>Go_through_filtered_Users</name>
        <label>Go through filtered Users</label>
        <locationX>1254</locationX>
        <locationY>1003</locationY>
        <collectionReference>Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_var_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sort_Email_Addresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Go_through_ST_users</name>
        <label>Go through ST users</label>
        <locationX>1488</locationX>
        <locationY>626</locationY>
        <collectionReference>User_Territory_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sort_ST_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the last modified Work Order.</description>
        <name>First_WO</name>
        <label>First WO</label>
        <locationX>1072</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ST_could_be_read</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>IM_Profile_Id</name>
        <label>IM Profile Id</label>
        <locationX>1166</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IM_Profile_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lumon Installation Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>946</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_Territory_Members</name>
        <label>User Territory Members</label>
        <locationX>1261</locationX>
        <locationY>626</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UT_sort</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSL__ServiceTerritory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_WO.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSL__User_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSL__User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Users</name>
        <label>Users</label>
        <locationX>1372</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>collUserIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IM_Profile_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>820</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tmplEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello Installation Manager,

The Confirmed Delivery Date for this Product in the delivery has changed: {!fxCPLink}
Original estimated Delivery Date: {!Opportunity.Delivery_Date__c}
New Confirmed Delivery Date: {!varNewCDD}
Opportunity: {!fxOppoLink}
Please take actions if needed.</text>
    </textTemplates>
    <textTemplates>
        <name>tmplEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Action needed: Confirmed Delivery Date has changed</text>
    </textTemplates>
    <variables>
        <name>collEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collFilteredUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NbrUsers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OppoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Related Configuration Product.</description>
        <name>varConfigurationProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCDD</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
