force-app/main/default/flows/Opportunity_Update_on_Install_To_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Install_At</name>
        <label>Set Install At</label>
        <locationX>589</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>txtInstallAt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Install_At__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Where_to_Install</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Install_At_Building</name>
        <label>Set Install At Building</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Installation_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Building__r.Building_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>847</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Install_At_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Building_Have_Address</name>
        <label>Does Building Have Address?</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Building Address</defaultConnectorLabel>
        <rules>
            <name>Building_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Building__r.Building_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Install_At_Building</targetReference>
            </connector>
            <label>Building Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Building_Have_Location</name>
        <label>Does Building Have Location?</label>
        <locationX>336</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Building Location</defaultConnectorLabel>
        <rules>
            <name>Building_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Building__r.Building_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Building_Have_Address</targetReference>
            </connector>
            <label>Building Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Install_At_Changed</name>
        <label>Is Install At Changed?</label>
        <locationX>847</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Install_At_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Install_At__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Install_At__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Install_At</targetReference>
            </connector>
            <label>Install At Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>316</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_to_Install</name>
        <label>Where to Install?</label>
        <locationX>589</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Unknown</defaultConnectorLabel>
        <rules>
            <name>To_Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtInstallAt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Building</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Building__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Building_Have_Location</targetReference>
            </connector>
            <label>To Building</label>
        </rules>
        <rules>
            <name>To_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Install_At__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>To Other</label>
        </rules>
    </decisions>
    <description>Record Triggered Flow to update the Installation Location
27.03 Updated Trigger Conditions to Install_To Is Changed = True
02.12.2023 Save Inactive Version as Draft</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Set Installation Location MVP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Set Installation Location Draft</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>589</locationX>
        <locationY>1439</locationY>
        <inputAssignments>
            <field>Deliver_To__c</field>
            <value>
                <elementReference>txtInstallAt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Location__c</field>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>190</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Install_At__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <triggerOrder>110</triggerOrder>
    <variables>
        <name>customerLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recWarehouse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Warehouse__c</objectType>
    </variables>
    <variables>
        <name>txtInstallAt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
