force-app/main/default/flows/Opportunity_Create_Quote_On_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Get_PricebookId</name>
        <label>Get PricebookId</label>
        <locationX>248</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>pricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pricebook_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Pricebook</name>
        <label>Set Opportunity Pricebook</label>
        <locationX>512</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pricebook_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote</name>
        <label>Set Quote</label>
        <locationX>204</locationX>
        <locationY>2183</locationY>
        <assignmentItems>
            <assignToReference>recQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_with_Same_Pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Pricebook</name>
        <label>Set Quote Pricebook</label>
        <locationX>292</locationX>
        <locationY>2423</locationY>
        <assignmentItems>
            <assignToReference>recQuote.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQuote.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_QuoteId</name>
        <label>Set QuoteId</label>
        <locationX>204</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>quoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SyncedQuoteId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Standard_PricebookId</name>
        <label>Set Standard PricebookId</label>
        <locationX>468</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>pricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Account_Changed</name>
        <label>Has Account Changed?</label>
        <locationX>182</locationX>
        <locationY>3095</locationY>
        <defaultConnectorLabel>No Account Change</defaultConnectorLabel>
        <rules>
            <name>Account_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Territory</targetReference>
            </connector>
            <label>Account Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Pricebook</name>
        <label>Has Pricebook?</label>
        <locationX>380</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Get_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pricebook</defaultConnectorLabel>
        <rules>
            <name>Pricebook</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PricebookId</targetReference>
            </connector>
            <label>Pricebook</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Quote</name>
        <label>Has Quote?</label>
        <locationX>380</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Quote</defaultConnectorLabel>
        <rules>
            <name>Synced_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SyncedQuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_QuoteId</targetReference>
            </connector>
            <label>Synced Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Territory_Set</name>
        <label>Is Territory Set?</label>
        <locationX>380</locationX>
        <locationY>2975</locationY>
        <defaultConnectorLabel>No Territory</defaultConnectorLabel>
        <rules>
            <name>Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recOpportunity.Territory2Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Account_Changed</targetReference>
            </connector>
            <label>Territory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricebook_Found</name>
        <label>Pricebook Found?</label>
        <locationX>380</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pricebook</defaultConnectorLabel>
        <rules>
            <name>Found_Pricebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pricebookId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Quote</targetReference>
            </connector>
            <label>Found Pricebook</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_with_Same_Pricebook</name>
        <label>Quote with Same Pricebook?</label>
        <locationX>204</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Set_Quote_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different Pricebook</defaultConnectorLabel>
        <rules>
            <name>SamePricebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recQuote.Pricebook2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>pricebookId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recQuote.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Same Pricebook</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation_Enabled</name>
        <label>Skip Automation Enabled?</label>
        <locationX>611</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Skip Automation</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Changed</name>
        <label>What Changed?</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Other Update</defaultConnectorLabel>
        <rules>
            <name>Basic_Information_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SyncedQuoteId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SyncedQuoteId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Country_Defaults</targetReference>
            </connector>
            <label>Basic Information Update</label>
        </rules>
    </decisions>
    <description>Record Triggered Flow to Create the Initial Quote for Oppty
- Quote: Create a new Quote</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Set Default Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Create Quote On Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Country_Defaults</name>
        <label>Get Country Defaults</label>
        <locationX>248</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtCountryCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Specific_Default__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>204</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>468</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Standard_PricebookId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>380</locationX>
        <locationY>2855</locationY>
        <connector>
            <targetReference>Is_Territory_Set</targetReference>
        </connector>
        <inputReference>recOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>292</locationX>
        <locationY>2543</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputReference>recQuote</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation_Enabled</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Assign_Opportunity_Territory</name>
        <label>Assign Opportunity Territory</label>
        <locationX>50</locationX>
        <locationY>3215</locationY>
        <flowName>Check_Territory_Assignments_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <stringValue>opportunityId</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Pricebook</name>
        <label>Get Pricebook</label>
        <locationX>512</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Set_Opportunity_Pricebook</targetReference>
        </connector>
        <flowName>Assign_Pricebook_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>pricebookId</assignToReference>
            <name>txt0BestPriceBook</name>
        </outputAssignments>
    </subflows>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>buildingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>factoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>txtCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>warehouseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
