force-app/main/default/flows/Opportunity_Values_On_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Get_Building</name>
        <label>Get Building</label>
        <locationX>242</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Building__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Factory</name>
        <label>Get Factory</label>
        <locationX>242</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>factoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Factory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Warehouse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Pricebook</name>
        <label>Get Pricebook</label>
        <locationX>242</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>pricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Factory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Site</name>
        <label>Get Site</label>
        <locationX>242</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>siteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Warehouse</name>
        <label>Get Warehouse</label>
        <locationX>242</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>warehouseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Warehouse__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Building</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Building</name>
        <label>Set Building</label>
        <locationX>506</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Building__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Currency_and_Tax</name>
        <label>Set Currency and Tax</label>
        <locationX>374</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>percentageVAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currencyCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Factory</name>
        <label>Set Factory</label>
        <locationX>506</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Factory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>factoryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Warehouse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Country_Defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pricebook</name>
        <label>Set Pricebook</label>
        <locationX>506</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Factory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Warehouse</name>
        <label>Set Warehouse</label>
        <locationX>506</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>warehouseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Building</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This is to define whether certain action happens on create or update use cases</description>
        <name>Has_Building</name>
        <label>Has Building?</label>
        <locationX>374</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Assign_Building</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Building</defaultConnectorLabel>
        <rules>
            <name>Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Building__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Building</targetReference>
            </connector>
            <label>Building</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Factory</name>
        <label>Has Factory?</label>
        <locationX>374</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Assign_Factory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Factory</defaultConnectorLabel>
        <rules>
            <name>Factory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Factory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Factory</targetReference>
            </connector>
            <label>Factory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Pricebook</name>
        <label>Has Pricebook?</label>
        <locationX>374</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pricebook</defaultConnectorLabel>
        <rules>
            <name>Pricebook</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricebook</targetReference>
            </connector>
            <label>Pricebook</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is to define whether certain action happens on create or update use cases</description>
        <name>Has_Site</name>
        <label>Has Site?</label>
        <locationX>374</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Site</defaultConnectorLabel>
        <rules>
            <name>Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site</targetReference>
            </connector>
            <label>Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Warehouse</name>
        <label>Has Warehouse?</label>
        <locationX>374</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Assign_Warehouse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Warehouse</defaultConnectorLabel>
        <rules>
            <name>Warehouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Warehouse__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Warehouse</targetReference>
            </connector>
            <label>Warehouse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation_Enabled</name>
        <label>Skip Automation Enabled?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <description>Record Triggered Flow to Set Default Values on Oppty on Creation
- Building: Create Building from Account Billing Address
- Pricebook: Select and Set Pricebook based on Owner, Account and Opportunity Attributes
- Added Site (Other) relation
02.12.2023 Save Inactive Version as Draft</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Values On Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Values On Insert Draft</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>374</locationX>
        <locationY>2687</locationY>
        <inputReference>recOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation_Enabled</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Assign_Building</name>
        <label>Assign Building</label>
        <locationX>506</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Set_Building</targetReference>
        </connector>
        <flowName>Assign_Building_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>buildingId</assignToReference>
            <name>buildingId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Country_Defaults</name>
        <label>Assign Country Defaults</label>
        <locationX>374</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Set_Currency_and_Tax</targetReference>
        </connector>
        <flowName>Assign_Country_Defaults_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currencyCode</assignToReference>
            <name>currencyCode</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>percentageVAT</assignToReference>
            <name>percentageVAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Factory</name>
        <label>Assign Factory</label>
        <locationX>506</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Set_Factory</targetReference>
        </connector>
        <flowName>Assign_Factory_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>factoryId</assignToReference>
            <name>factoryId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Pricebook</name>
        <label>Assign Pricebook</label>
        <locationX>506</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Set_Pricebook</targetReference>
        </connector>
        <flowName>Assign_Pricebook_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>pricebookId</assignToReference>
            <name>pricebookId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Warehouse</name>
        <label>Assign Warehouse</label>
        <locationX>506</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Set_Warehouse</targetReference>
        </connector>
        <flowName>Assign_Warehouse_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>warehouseId</assignToReference>
            <name>warehouseId</name>
        </outputAssignments>
    </subflows>
    <triggerOrder>170</triggerOrder>
    <variables>
        <name>accountDistrict</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>buildingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colOpportunityIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currencyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliverTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliveryAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>factoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>installAt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>installationAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>locationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>percentageVAT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>siteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>territoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>warehouseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
