force-app/main/default/flows/Opportunity_Values_on_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Get_Building</name>
        <label>Get Building</label>
        <locationX>242</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Building__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Structural_Analysis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Factory</name>
        <label>Get Factory</label>
        <locationX>242</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>factoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Factory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Warehouse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Pricebook</name>
        <label>Get Pricebook</label>
        <locationX>242</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>pricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Factory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Structural_Analysis</name>
        <label>Get Structural Analysis</label>
        <locationX>242</locationX>
        <locationY>2687</locationY>
        <assignmentItems>
            <assignToReference>structuralAnalysisId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Structural_Analysis__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Delivery_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Warehouse</name>
        <label>Get Warehouse</label>
        <locationX>242</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>warehouseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Warehouse__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Building</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Building</name>
        <label>Set Building</label>
        <locationX>506</locationX>
        <locationY>2387</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Building__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Structural_Analysis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Currency_and_Tax</name>
        <label>Set Currency and Tax</label>
        <locationX>242</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>percentageVAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currencyCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivery_Address</name>
        <label>Set Delivery Address</label>
        <locationX>462</locationX>
        <locationY>3935</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryAddress.CountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryAddress.StateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryAddress.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryAddress.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryAddress.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Address__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryAddress.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Address__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryAddress.Longitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Installation_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivery_Location</name>
        <label>Set Delivery Location</label>
        <locationX>462</locationX>
        <locationY>3527</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Deliver_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliverTo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Delivery_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Factory</name>
        <label>Set Factory</label>
        <locationX>506</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Factory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>factoryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Warehouse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Installation_Address</name>
        <label>Set Installation Address</label>
        <locationX>462</locationX>
        <locationY>4343</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Installation_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installationAddress.CountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Installation_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installationAddress.StateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Installation_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installationAddress.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Installation_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installationAddress.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Installation_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installationAddress.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Installation_Address__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installationAddress.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Installation_Address__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installationAddress.Longitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pricebook</name>
        <label>Set Pricebook</label>
        <locationX>506</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Factory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Structural_Analysis</name>
        <label>Set Structural Analysis</label>
        <locationX>506</locationX>
        <locationY>2795</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Structural_Analysis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>structuralAnalysisId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Structural_Analysis_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Structural_Analysis_Record</name>
        <label>Set Structural Analysis Record</label>
        <locationX>506</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>recStructuralAnalysis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Structural_Analysis_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Structural_Analysis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Warehouse</name>
        <label>Set Warehouse</label>
        <locationX>506</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>warehouseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Building</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Structural_Analysis</name>
        <label>Update Opportunity Structural Analysis</label>
        <locationX>506</locationX>
        <locationY>3119</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Wind_Pressure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recStructuralAnalysis.Wind_Pressure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Wind_Speed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recStructuralAnalysis.Wind_Speed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Snowload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recStructuralAnalysis.Snowload__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Combined_load__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recStructuralAnalysis.Combined_Load__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Drainage_holes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recStructuralAnalysis.Drainage_Holes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Seals_between_panes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recStructuralAnalysis.Seals_Between_Panes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Delivery_Location</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This is to define whether certain action happens on create or update use cases</description>
        <name>Has_Building</name>
        <label>Has Building?</label>
        <locationX>374</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Assign_Building</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Building</defaultConnectorLabel>
        <rules>
            <name>Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Building__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Building</targetReference>
            </connector>
            <label>Building</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Delivery_Address</name>
        <label>Has Delivery Address?</label>
        <locationX>374</locationX>
        <locationY>3719</locationY>
        <defaultConnector>
            <targetReference>Assign_Delivery_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Delivery Address</defaultConnectorLabel>
        <rules>
            <name>Delivery_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Deliver_To__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Installation_Address</targetReference>
            </connector>
            <label>Delivery Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Delivery_Location</name>
        <label>Has Delivery Location?</label>
        <locationX>374</locationX>
        <locationY>3311</locationY>
        <defaultConnector>
            <targetReference>Assign_Delivery_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Delivery Location</defaultConnectorLabel>
        <rules>
            <name>Delivery_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Deliver_To__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Delivery_Address</targetReference>
            </connector>
            <label>Delivery Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Factory</name>
        <label>Has Factory?</label>
        <locationX>374</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Assign_Factory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Factory</defaultConnectorLabel>
        <rules>
            <name>Factory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Factory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Factory</targetReference>
            </connector>
            <label>Factory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Installation_Address</name>
        <label>Has Installation Address?</label>
        <locationX>374</locationX>
        <locationY>4127</locationY>
        <defaultConnector>
            <targetReference>Assign_Installation_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Installation Address</defaultConnectorLabel>
        <rules>
            <name>Installation_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installation_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Install_At__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Install_At__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Installation Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Pricebook</name>
        <label>Has Pricebook?</label>
        <locationX>374</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Assign_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pricebook</defaultConnectorLabel>
        <rules>
            <name>Pricebook</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricebook</targetReference>
            </connector>
            <label>Pricebook</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Structural_Analysis</name>
        <label>Has Structural Analysis?</label>
        <locationX>374</locationX>
        <locationY>2579</locationY>
        <defaultConnector>
            <targetReference>Assign_Structural_Analysis_Defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Structural Analysis</defaultConnectorLabel>
        <rules>
            <name>Structural_Analysis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Structural_Analysis__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Structural_Analysis</targetReference>
            </connector>
            <label>Structural Analysis</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Warehouse</name>
        <label>Has Warehouse?</label>
        <locationX>374</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Assign_Warehouse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Warehouse</defaultConnectorLabel>
        <rules>
            <name>Warehouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Warehouse__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Warehouse</targetReference>
            </connector>
            <label>Warehouse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Opportunity</name>
        <label>Is New Opportunity?</label>
        <locationX>374</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Has_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Opportunity</defaultConnectorLabel>
        <rules>
            <name>New_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Country_Defaults</targetReference>
            </connector>
            <label>New Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation_Enabled</name>
        <label>Skip Automation Enabled?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <description>Record Triggered Flow to Change Default Values on Oppty Update
- Building: Create Building from Account Billing Address
- Pricebook: Select and Set Pricebook based on Owner, Account and Opportunity Attributes
- Added Site
- Added Structural Analysis Defaults
- 12.09.2023 Corrected Delivery and Installation Locations Update Condition
02.12.2023 Save Inactive Version as Draft</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Values On Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Values On Update Draft</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Structural_Analysis_Record</name>
        <label>Get Structural Analysis Record</label>
        <locationX>506</locationX>
        <locationY>2903</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Structural_Analysis_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>structuralAnalysisId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Structural_Analysis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>374</locationX>
        <locationY>4535</locationY>
        <inputReference>recOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation_Enabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsLocked__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Assign_Building</name>
        <label>Assign Building</label>
        <locationX>506</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>Set_Building</targetReference>
        </connector>
        <flowName>Assign_Building_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>buildingId</assignToReference>
            <name>buildingId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Country_Defaults</name>
        <label>Assign Country Defaults</label>
        <locationX>242</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Set_Currency_and_Tax</targetReference>
        </connector>
        <flowName>Assign_Country_Defaults_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currencyCode</assignToReference>
            <name>currencyCode</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>percentageVAT</assignToReference>
            <name>percentageVAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Delivery_Address</name>
        <label>Assign Delivery Address</label>
        <locationX>462</locationX>
        <locationY>3827</locationY>
        <connector>
            <targetReference>Set_Delivery_Address</targetReference>
        </connector>
        <flowName>Assign_Delivery_Address_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>deliveryAddress</assignToReference>
            <name>recDeliveryAddress</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>deliverTo</assignToReference>
            <name>txtDeliverTo</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Delivery_Location</name>
        <label>Assign Delivery Location</label>
        <locationX>462</locationX>
        <locationY>3419</locationY>
        <connector>
            <targetReference>Set_Delivery_Location</targetReference>
        </connector>
        <flowName>Assign_Delivery_Location_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>locationId</assignToReference>
            <name>locationId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>deliverTo</assignToReference>
            <name>txtDeliverTo</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Factory</name>
        <label>Assign Factory</label>
        <locationX>506</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Set_Factory</targetReference>
        </connector>
        <flowName>Assign_Factory_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>factoryId</assignToReference>
            <name>factoryId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Installation_Address</name>
        <label>Assign Installation Address</label>
        <locationX>462</locationX>
        <locationY>4235</locationY>
        <connector>
            <targetReference>Set_Installation_Address</targetReference>
        </connector>
        <flowName>Assign_Installation_Address_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>installationAddress</assignToReference>
            <name>recInstallationAddress</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>installAt</assignToReference>
            <name>txtInstallAt</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Pricebook</name>
        <label>Assign Pricebook</label>
        <locationX>506</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Set_Pricebook</targetReference>
        </connector>
        <flowName>Assign_Pricebook_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>pricebookId</assignToReference>
            <name>pricebookId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Structural_Analysis_Defaults</name>
        <label>Assign Structural Analysis Defaults</label>
        <locationX>506</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>Set_Structural_Analysis</targetReference>
        </connector>
        <flowName>Assign_Structural_Analysis_Defaults_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>structuralAnalysisId</assignToReference>
            <name>structuralAnalysisId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Warehouse</name>
        <label>Assign Warehouse</label>
        <locationX>506</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Set_Warehouse</targetReference>
        </connector>
        <flowName>Assign_Warehouse_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>warehouseId</assignToReference>
            <name>warehouseId</name>
        </outputAssignments>
    </subflows>
    <triggerOrder>100</triggerOrder>
    <variables>
        <name>accountDistrict</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>buildingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colOpportunityIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currencyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliverTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliveryAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>factoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>installAt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>installationAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>locationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>percentageVAT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>recStructuralAnalysis</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Structural_Analysis__c</objectType>
    </variables>
    <variables>
        <name>structuralAnalysisId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>territoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>warehouseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
