force-app/main/default/flows/Opportunity_Split_work_to_installers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_CDL_to_Collection</name>
        <label>Add CDL to Collection</label>
        <locationX>578</locationX>
        <locationY>4574</locationY>
        <assignmentItems>
            <assignToReference>collCDLs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recCDL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CDLs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_target_start_date</name>
        <label>Assign new target start date</label>
        <locationX>2459</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varTargetWorkStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Work_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STMs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Batch_WOLIs</name>
        <label>Count of Batch WOLIs</label>
        <locationX>2459</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>nbrBatchWOLIs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Batch_WOLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_WOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_new_WOLIs</name>
        <label>Count of new WOLIs</label>
        <locationX>1238</locationX>
        <locationY>3518</locationY>
        <assignmentItems>
            <assignToReference>nbrWOLIs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collWOLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WOLIs_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_overlapping_work</name>
        <label>Count of overlapping work</label>
        <locationX>2459</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>varCountOverlappingWork</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Work_scheduled_for_the_resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_overlapping_work</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_recCDL</name>
        <label>Fill recCDL</label>
        <locationX>578</locationX>
        <locationY>4466</locationY>
        <assignmentItems>
            <assignToReference>recCDL.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CDLs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCDL.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CDLs.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCDL.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCDL.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CDL_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_CDLs</name>
        <label>Number of CDLs</label>
        <locationX>314</locationX>
        <locationY>4850</locationY>
        <assignmentItems>
            <assignToReference>nbrCDLs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collCDLs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_CDLs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigned Resource is created in order to be able to schedule the SA.</description>
        <name>Set_AR_data</name>
        <label>Set AR data</label>
        <locationX>314</locationX>
        <locationY>5690</locationY>
        <assignmentItems>
            <assignToReference>recAR.ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recSA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAR.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Resource_for_the_work</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AR1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Batch_WO_deletion_status</name>
        <label>Set Batch WO deletion status</label>
        <locationX>182</locationX>
        <locationY>3842</locationY>
        <assignmentItems>
            <assignToReference>varBatchWOCanBeRemoved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_WOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Batch_WO_id</name>
        <label>Set Batch WO id</label>
        <locationX>2574</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varWOid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Batch_WO.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Batch_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DB_id</name>
        <label>Set DB id</label>
        <locationX>2574</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varBatchId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_the_Delivery_Batch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Batch_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivery_Batch_data</name>
        <label>Set Delivery Batch data</label>
        <locationX>2459</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varTargetWorkStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Batch.Planned_Installation_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTargetServiceTerritory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Batch.Service_Territory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Service_Territory_and_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivery_Batch_id</name>
        <label>Set Delivery Batch id</label>
        <locationX>3102</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varBatchId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Batch_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_record_Ids</name>
        <label>Set record Ids</label>
        <locationX>2838</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varOppoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBatchId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.Delivery_Batch__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_related_Batch_Delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SA_data</name>
        <label>Set SA data</label>
        <locationX>314</locationX>
        <locationY>5366</locationY>
        <assignmentItems>
            <assignToReference>recSA.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Work_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxCalculatedEndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Work_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxCalculatedEndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Batch.Batch_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Batch.Batch_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Work_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxCalculatedEndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Batch.Service_Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.FSL__GanttColor__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Batch_WO.WorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxDurationInHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.DurationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Delivery_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBatchId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_visit_and_schedule_work</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Duration is set as separate update when the duration of individual WOLIs have been counted together.</description>
        <name>Set_WO_for_Resource</name>
        <label>Set WO for Resource</label>
        <locationX>1238</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>recWO.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Configuration_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.Configuration_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Delivery_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.Delivery_Batch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.WorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_WO.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.DurationInMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Work_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxSelectedStartDateTimePlusOneDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_work_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WO_id</name>
        <label>Set WO id</label>
        <locationX>2838</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varWOid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Batch_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Calculates also the total installation duration for the selected split work (new WO).</description>
        <name>Set_WOLI_for_Resource</name>
        <label>Set WOLI for Resource</label>
        <locationX>1326</locationX>
        <locationY>3218</locationY>
        <assignmentItems>
            <assignToReference>recWOLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Resource_WOLIs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWOLI.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recWO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalInstallationTimeForSelection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Resource_WOLIs.DurationInMinutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWOLI.Original_WOLI_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Resource_WOLIs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_WOLIs_for_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WOLIs_for_Resource</name>
        <label>Set WOLIs for Resource</label>
        <locationX>1326</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>collWOLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recWOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Resource_WOLIs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_CDLs</name>
        <label>Are there CDLs?</label>
        <locationX>314</locationX>
        <locationY>4958</locationY>
        <defaultConnector>
            <targetReference>Update_selection_total_time_to_the_new_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrCDLs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CDLs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Batch_WO_needs_to_be_deleted</name>
        <label>Batch WO needs to be deleted</label>
        <locationX>314</locationX>
        <locationY>6230</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBatchWOCanBeRemoved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_work_from_original_Batch_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_overlapping_work</name>
        <label>Has overlapping work?</label>
        <locationX>2459</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Batch_WOLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountOverlappingWork</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Overlapping_Work</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_related_Batch_Delivery</name>
        <label>Has related Batch Delivery</label>
        <locationX>2838</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Batch_WO.Delivery_Batch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Batch</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_WOLIs</name>
        <label>Has WOLIs</label>
        <locationX>2459</locationX>
        <locationY>2462</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrBatchWOLIs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_data</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If all the WOLIs under the original Delivery Batch WO are assigned, then that WO can be tagged for deletion.</description>
        <name>Last_WOLIs_from_Batch_assigned</name>
        <label>Last WOLIs from Batch assigned</label>
        <locationX>314</locationX>
        <locationY>3734</locationY>
        <defaultConnector>
            <targetReference>Create_WOLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrBatchWOLIs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nbrWOLIs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Batch_WO_deletion_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If started from Delivery Batch (custom object), we cannot rely on the record id prefix for identification. To keep this simple, we assume that an unknown record prefix is Delivery Batch.</description>
        <name>Started_from_which_object</name>
        <label>Started from which object?</label>
        <locationX>2838</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_Delivery_Batch_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other (Delivery Batch)</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Delivery_Batch</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WO_id</targetReference>
            </connector>
            <label>WO</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOLIs_to_create</name>
        <label>WOLIs to create?</label>
        <locationX>1238</locationX>
        <locationY>3626</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrWOLIs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_WOLIs_from_Batch_assigned</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_data_was_selected</name>
        <label>Work data was selected</label>
        <locationX>1964</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>Data_needs_to_be_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_WOLI_data.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WO_for_Resource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Allows IM to select Installer and the work (WOLIs) that he should take care of.

7.5.2024: Added logic to transfer the Content Document Links from original WOLIs to new WOLIs.
19.3.2024: Added logic to show overlapping work for the Installer for the selected work start date.
18.3.2024: Allow to see already scheduled work for the selected Installer for the set time frame.
18.3.2024: ST assignment fix. Show scheduled start/end dates when reserving work.
26.2.2024: First version.</description>
    <dynamicChoiceSets>
        <name>BatchWorkOrdersChoices</name>
        <dataType>String</dataType>
        <displayField>Subject</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Find Delivery Batches that are related to the Opportunity.</description>
        <name>DeliveryBatchSelection</name>
        <dataType>String</dataType>
        <displayField>Display_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Batch_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>All work scheduled</stringValue>
            </value>
        </filters>
        <object>Delivery_Batch__c</object>
        <sortField>Display_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceResourceChoiceset</name>
        <collectionReference>STMs</collectionReference>
        <dataType>String</dataType>
        <displayField>Resource_Name__c</displayField>
        <object>ServiceTerritoryMember</object>
        <valueField>ServiceResourceId</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Calculates next possible business date (non-weekend day) for the given date + offset of days.</description>
        <name>fxCalculatedBusinessDayEndDateTime</name>
        <dataType>Date</dataType>
        <expression>CASE(
 WEEKDAY(DATEVALUE({!Select_Work_Start_Date})),
  1, (DATEVALUE({!Select_Work_Start_Date})) + {!fxNbrInstallationDays} + 
      FLOOR(({!fxNbrInstallationDays}-1)/5)*2,
  2, (DATEVALUE({!Select_Work_Start_Date})) + {!fxNbrInstallationDays} + 
      FLOOR(({!fxNbrInstallationDays})/5)*2,
  3, (DATEVALUE({!Select_Work_Start_Date})) + {!fxNbrInstallationDays} + 
      FLOOR(({!fxNbrInstallationDays}+1)/5)*2,
  4, (DATEVALUE({!Select_Work_Start_Date})) + {!fxNbrInstallationDays} + 
      FLOOR(({!fxNbrInstallationDays}+2)/5)*2,
  5, (DATEVALUE({!Select_Work_Start_Date})) + {!fxNbrInstallationDays} + 
      FLOOR(({!fxNbrInstallationDays}+3)/5)*2,
  6, (DATEVALUE({!Select_Work_Start_Date})) + {!fxNbrInstallationDays} + 
      CEILING(({!fxNbrInstallationDays})/5)*2,
  7, (DATEVALUE({!Select_Work_Start_Date})) - IF(1&gt;0,1,0) + {!fxNbrInstallationDays} + 
      CEILING(({!fxNbrInstallationDays})/5)*2,
 null)</expression>
    </formulas>
    <formulas>
        <name>fxCalculatedEndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(
   {!fxNbrInstallationDays} = 0, /* Only when the work fits into one day */
   {!fxCalculatedEndTime}, /* User modified start date + WO duration */
   DATETIMEVALUE( TEXT( {!fxCalculatedBusinessDayEndDateTime} ) &amp; &quot; &quot; &amp; &quot;14:00:00&quot; )  /* Date of the day when WO duration is fulfilled + time */
)</expression>
    </formulas>
    <formulas>
        <name>fxCalculatedEndTime</name>
        <dataType>DateTime</dataType>
        <expression>{!Select_Work_Start_Date}  + {!varTotalInstallationTimeForSelection}/1440</expression>
    </formulas>
    <formulas>
        <name>fxCalculatedStartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
     (TEXT({!varTargetWorkStartDate}) &amp; &quot; &quot; &amp; &quot;08:00:00&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>fxDurationInHours</name>
        <dataType>Number</dataType>
        <expression>{!varTotalInstallationTimeForSelection}/60</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>fxNbrInstallationDays</name>
        <dataType>Number</dataType>
        <expression>/* one work day is 8h. */
FLOOR(
 ({!varTotalInstallationTimeForSelection}/60)/8 
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxScheduledStartPlus2Weeks</name>
        <dataType>DateTime</dataType>
        <expression>{!Select_Work_Start_Date} +14</expression>
    </formulas>
    <formulas>
        <description>First estimate to be used in WO creation. Updated later in the flow when actual figures are calculated.</description>
        <name>fxSelectedStartDateTimePlusOneDay</name>
        <dataType>DateTime</dataType>
        <expression>{!Select_Work_Start_Date} +1</expression>
    </formulas>
    <interviewLabel>Opportunity - Split work to installers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Split work to installers R4</label>
    <loops>
        <name>CDLs</name>
        <label>CDLs</label>
        <locationX>490</locationX>
        <locationY>4358</locationY>
        <collectionReference>WOLI_CDLs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fill_recCDL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CDLs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_CDLs</name>
        <label>Get CDLs</label>
        <locationX>314</locationX>
        <locationY>4142</locationY>
        <collectionReference>collWOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WOLI_CDLs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Number_of_CDLs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Resource_WOLIs</name>
        <label>New Resource WOLIs</label>
        <locationX>1238</locationX>
        <locationY>3110</locationY>
        <collectionReference>Select_WOLI_data.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_WOLI_for_Resource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_of_new_WOLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_AR1</name>
        <label>Create AR</label>
        <locationX>314</locationX>
        <locationY>5798</locationY>
        <connector>
            <targetReference>Remove_work_from_original_Batch</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_to_create_AR</targetReference>
        </faultConnector>
        <inputReference>recAR</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_CDLs</name>
        <label>Create CDLs</label>
        <locationX>182</locationX>
        <locationY>5066</locationY>
        <connector>
            <targetReference>Update_selection_total_time_to_the_new_WO</targetReference>
        </connector>
        <inputReference>collCDLs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Resource_WO</name>
        <label>Create Resource WO</label>
        <locationX>1238</locationX>
        <locationY>3002</locationY>
        <connector>
            <targetReference>New_Resource_WOLIs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_to_create_WO</targetReference>
        </faultConnector>
        <inputReference>recWO</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SA</name>
        <label>Create SA</label>
        <locationX>314</locationX>
        <locationY>5582</locationY>
        <connector>
            <targetReference>Set_AR_data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_to_create_SA</targetReference>
        </faultConnector>
        <inputReference>recSA</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLIs</name>
        <label>Create WOLIs</label>
        <locationX>314</locationX>
        <locationY>4034</locationY>
        <connector>
            <targetReference>Get_CDLs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_to_create_WOLIs</targetReference>
        </faultConnector>
        <inputReference>collWOLIs</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_assigned_work_from_Batch</name>
        <label>Delete assigned work from Batch</label>
        <locationX>314</locationX>
        <locationY>6122</locationY>
        <connector>
            <targetReference>Batch_WO_needs_to_be_deleted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_to_delete_work_from_Batch</targetReference>
        </faultConnector>
        <inputReference>Select_WOLI_data.selectedRows</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_assigned_work_from_Batch_0</name>
        <label>Delete assigned work from Batch</label>
        <locationX>50</locationX>
        <locationY>6446</locationY>
        <connector>
            <targetReference>Update_status_to_DB</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_to_delete_work_order_from_Batch</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWOid</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
    </recordDeletes>
    <recordLookups>
        <name>Batch_WO</name>
        <label>Batch WO</label>
        <locationX>2838</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_record_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWOid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Batch_WOLIs</name>
        <label>Batch WOLIs</label>
        <locationX>2459</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Batch_WOLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWOid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Delivery_Batch</name>
        <label>Delivery Batch</label>
        <locationX>2459</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Delivery_Batch_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBatchId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Delivery_Batch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Batch_WO</name>
        <label>Get Batch WO</label>
        <locationX>2574</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Batch_WO_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Delivery_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBatchId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>STMs</name>
        <label>STMs</label>
        <locationX>2459</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resource_selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceTerritory.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Resource_is_active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WOLI_CDLs</name>
        <label>WOLI CDLs</label>
        <locationX>490</locationX>
        <locationY>4250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CDLs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CDLs.Original_WOLI_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Work_scheduled_for_the_resource</name>
        <label>Work scheduled for the resource</label>
        <locationX>2459</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_overlapping_work</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (1 AND 4 AND 5)</filterLogic>
        <filters>
            <field>LUM_Assigned_Service_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Resource_for_the_work</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Select_Work_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedEndTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Select_Work_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Select_Work_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedEndTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>fxScheduledStartPlus2Weeks</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>SchedStartTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_selection_total_time_to_the_new_WO</name>
        <label>Update selection total time to the new WO</label>
        <locationX>314</locationX>
        <locationY>5258</locationY>
        <connector>
            <targetReference>Set_SA_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recWO.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>fxDurationInHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>fxCalculatedEndDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_to_DB</name>
        <label>Update status to DB</label>
        <locationX>50</locationX>
        <locationY>6554</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBatchId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Batch_Status__c</field>
            <value>
                <stringValue>All work scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Delivery_Batch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_to_DB_0</name>
        <label>Update status to DB</label>
        <locationX>314</locationX>
        <locationY>6014</locationY>
        <connector>
            <targetReference>Delete_assigned_work_from_Batch</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Field_to_Update_Batch</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBatchId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Batch_Status__c</field>
            <value>
                <stringValue>Work partially scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Delivery_Batch__c</object>
    </recordUpdates>
    <screens>
        <name>Confirm_work_creation</name>
        <label>Confirm work creation</label>
        <locationX>1238</locationX>
        <locationY>2894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Resource_WO</targetReference>
        </connector>
        <fields>
            <name>InfoText1</name>
            <fieldText>&lt;p&gt;You are about to create work for {!Select_Resource_for_the_work}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_visit_and_schedule_work</name>
        <label>Create visit and schedule work</label>
        <locationX>314</locationX>
        <locationY>5474</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_SA</targetReference>
        </connector>
        <fields>
            <name>CreateSAandSchedule</name>
            <fieldText>&lt;p&gt;The visit for &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Select_Resource_for_the_work}&lt;/span&gt; will now be created and scheduled.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Visit will be scheduled for: {!Select_Work_Start_Date} - {!fxCalculatedEndDateTime}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Data_needs_to_be_selected</name>
        <label>Data needs to be selected</label>
        <locationX>2690</locationX>
        <locationY>2786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_data</targetReference>
        </connector>
        <fields>
            <name>ErrorNoDataSelected</name>
            <fieldText>&lt;p&gt;Error! No work items were selected. Try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failed_to_create_AR</name>
        <label>Failed to create AR</label>
        <locationX>1370</locationX>
        <locationY>5906</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ARcreationFailed</name>
            <fieldText>&lt;p&gt;Error! Failed to assign the created Service Appointment to &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Select_Resource_for_the_work}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failed_to_create_SA</name>
        <label>Failed to create SA</label>
        <locationX>1634</locationX>
        <locationY>5690</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SAcreationFailed</name>
            <fieldText>&lt;p&gt;Error! Service Appointment for &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;the created work&lt;/span&gt; could not be created!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failed_to_create_WO</name>
        <label>Failed to create WO</label>
        <locationX>2426</locationX>
        <locationY>3110</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WOcreationFailed</name>
            <fieldText>&lt;p&gt;Error! Work Order for the selected batch rows could not be created!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failed_to_create_WOLIs</name>
        <label>Failed to create WOLIs</label>
        <locationX>1898</locationX>
        <locationY>4142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WOLIcreationFailed</name>
            <fieldText>&lt;p&gt;Error! Work Order Line Items for the selected batch rows could not be created!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failed_to_delete_work_from_Batch</name>
        <label>Failed to delete work from Batch</label>
        <locationX>842</locationX>
        <locationY>6230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WorkDeletionFailed</name>
            <fieldText>&lt;p&gt;Error! Failed to delete the assigned work (WOLIs) from the original Batch data.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failed_to_delete_work_order_from_Batch</name>
        <label>Failed to delete work order from Batch</label>
        <locationX>314</locationX>
        <locationY>6554</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WorkOrderDeletionFailed</name>
            <fieldText>&lt;p&gt;Error! Failed to delete the original Batch Work Order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Field_to_Update_Batch</name>
        <label>Field to Update Batch</label>
        <locationX>1106</locationX>
        <locationY>6122</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_WorkDeletionFailed</name>
            <fieldText>&lt;p&gt;Error! Failed to update  the original Batch data.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Overlapping_Work</name>
        <label>Overlapping Work</label>
        <locationX>2327</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Batch_WOLIs</targetReference>
        </connector>
        <fields>
            <name>Selected_Installer</name>
            <fieldText>&lt;p&gt;There is already scheduled work for {!Select_Resource_for_the_work} around the selected time ({!Select_Work_Start_Date})!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Already_booked_work</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceAppointment</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Already booked work</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Work_scheduled_for_the_resource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Street&quot;,&quot;guid&quot;:&quot;column-be25&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Street&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Subject&quot;,&quot;guid&quot;:&quot;column-58fd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Subject&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SchedStartTime&quot;,&quot;guid&quot;:&quot;column-4981&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Scheduled Start&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;SchedEndTime&quot;,&quot;guid&quot;:&quot;column-a263&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Scheduled End&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remove_work_from_original_Batch</name>
        <label>Remove work from original Batch</label>
        <locationX>314</locationX>
        <locationY>5906</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_status_to_DB_0</targetReference>
        </connector>
        <fields>
            <name>RemoveWorkText</name>
            <fieldText>&lt;p&gt;Next the work that has now been set to &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Select_Resource_for_the_work}&lt;/span&gt; will be removed from the original Batch. Only the unassigned work remains in the Batch.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remove_work_from_original_Batch_0</name>
        <label>Remove work from original Batch</label>
        <locationX>50</locationX>
        <locationY>6338</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_assigned_work_from_Batch_0</targetReference>
        </connector>
        <fields>
            <name>RemoveWOText</name>
            <fieldText>&lt;p&gt;The original Batch WO will be removed as there is no more unassigned work remaining in the Batch.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resource_selection</name>
        <label>Resource selection</label>
        <locationX>2459</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Work_scheduled_for_the_resource</targetReference>
        </connector>
        <fields>
            <name>Select_Resource_for_the_work</name>
            <choiceReferences>ServiceResourceChoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Resource for the work</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_data</name>
        <label>Select data</label>
        <locationX>1964</locationX>
        <locationY>2570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Work_data_was_selected</targetReference>
        </connector>
        <fields>
            <name>Guidance_for_data_selection</name>
            <fieldText>&lt;p&gt;Please select work items for the selected Installer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_WOLI_data</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>WorkOrderLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Batch_WOLIs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Config_Product_name__c&quot;,&quot;guid&quot;:&quot;column-5a48&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Config Product name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Apartment_number__c&quot;,&quot;guid&quot;:&quot;column-7378&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Apartment number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Street&quot;,&quot;guid&quot;:&quot;column-3193&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Street&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Duration&quot;,&quot;guid&quot;:&quot;column-5685&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Duration&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;DurationType&quot;,&quot;guid&quot;:&quot;column-5fb7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Duration Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RVN_Number__c&quot;,&quot;guid&quot;:&quot;column-5894&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;RVN Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Is_installable__c&quot;,&quot;guid&quot;:&quot;column-1afb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Is installable&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Delivery_Batch</name>
        <label>Select Delivery Batch</label>
        <locationX>2574</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_DB_id</targetReference>
        </connector>
        <fields>
            <name>Select_the_Delivery_Batch</name>
            <choiceReferences>DeliveryBatchSelection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Delivery Batch</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Service_Territory_and_Start_Date</name>
        <label>Select Service Territory and Start Date</label>
        <locationX>2459</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_new_target_start_date</targetReference>
        </connector>
        <fields>
            <name>ServiceTerritory</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ServiceTerritoryId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Service Territory</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ServiceAppointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varTargetServiceTerritory</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Work_Start_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>fxCalculatedStartDateTime</elementReference>
            </defaultValue>
            <fieldText>Select Work Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2712</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Started_from_which_object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collCDLs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>collWOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>nbrBatchWOLIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrCDLs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrWOLIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>recCDL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>WO id.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>recWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>recWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>varBatchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBatchWOCanBeRemoved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCountOverlappingWork</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varOppoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetServiceTerritory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetWorkStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Total installation time in minutes for the selected WOLIs.</description>
        <name>varTotalInstallationTimeForSelection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varWOid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
