force-app/main/default/flows/Opportunity_Remove_Capacity_Reservation_subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Adds the updated SA record to SA collection.</description>
        <name>Add_SA_record_to_collection</name>
        <label>Add SA record to collection</label>
        <locationX>862</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>collSAids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>txtSAid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_updated_SA_record</name>
        <label>Create updated SA record</label>
        <locationX>863</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>txtSAid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SA_record_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>How_many_SAs</name>
        <label>How many SAs?</label>
        <locationX>497</locationX>
        <locationY>895</locationY>
        <assignmentItems>
            <assignToReference>nbrSAs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collSAids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SAs_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_ADs</name>
        <label>Number of ADs</label>
        <locationX>895</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>nbrADs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Appointment_Dependencies</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ADs_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_WOs</name>
        <label>Number of WOs</label>
        <locationX>416</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>nbrWOs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collAllWOs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_or_more_WOs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>To_WO_id</name>
        <label>To WO id</label>
        <locationX>715</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>textWOid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_WO_s.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_WO_ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Puts one WO id to a collection of WO ids.</description>
        <name>To_WO_ids</name>
        <label>To WO ids</label>
        <locationX>716</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>collWOids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>textWOid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_WO_s</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>For_AD_debug</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>For AD debug</label>
        <locationX>770</locationX>
        <locationY>1032</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Appointment_Dependencies</collectionReference>
        <connector>
            <targetReference>Number_of_ADs</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <description>Not needed for the logic. In debug this prints out the collection contents.</description>
        <name>For_SA_Debug</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>For SA Debug</label>
        <locationX>649</locationX>
        <locationY>895</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>collSAids</collectionReference>
        <connector>
            <targetReference>How_many_SAs</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>For_WO_Debug</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>For WO Debug</label>
        <locationX>536</locationX>
        <locationY>648</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>collWOids</collectionReference>
        <connector>
            <targetReference>Related_SAs</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>ADs_exist</name>
        <label>ADs exist?</label>
        <locationX>887</locationX>
        <locationY>1141</locationY>
        <defaultConnector>
            <targetReference>Delete_WOs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrADs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_ADs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>One_or_more_WOs</name>
        <label>One or more WOs?</label>
        <locationX>409</locationX>
        <locationY>415</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrWOs</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_WO_s</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAs_exist</name>
        <label>SAs exist?</label>
        <locationX>489</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Delete_WOs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrSAs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Dependencies</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>168</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Related_WOs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <description>Removes Field Service reservation, if Opportunity is moved to &quot;Cancelled&quot; status. i.e. if Order is cancelled.

For multi installer work, a Appointment Dependency is also created. That must be removed before the relate SA/WO can be deleted.

12.5.2023: Fix for no WOs case.
26.1.2023: First version.
02.12.2023: Save Active Version as R2</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Remove Capacity Reservation subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Remove Capacity Reservation Subflow R2</label>
    <loops>
        <name>All_WO_s</name>
        <label>All WO:s</label>
        <locationX>536</locationX>
        <locationY>505</locationY>
        <collectionReference>collAllWOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>To_WO_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_WO_Debug</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SAs</name>
        <label>SAs</label>
        <locationX>648</locationX>
        <locationY>748</locationY>
        <collectionReference>Related_SAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_updated_SA_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_SA_Debug</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_ADs</name>
        <label>Delete ADs</label>
        <locationX>994</locationX>
        <locationY>1230</locationY>
        <connector>
            <targetReference>Delete_WOs</targetReference>
        </connector>
        <inputReference>Appointment_Dependencies</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_WOs</name>
        <label>Delete WOs</label>
        <locationX>411</locationX>
        <locationY>1145</locationY>
        <inputReference>collAllWOs</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Appointment_Dependencies</name>
        <label>Appointment Dependencies</label>
        <locationX>635</locationX>
        <locationY>1032</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_AD_debug</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSL__Root_Service_Appointment__c</field>
            <operator>In</operator>
            <value>
                <elementReference>collSAids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSL__Time_Dependency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Reads the SAs that are related to the collection of WOs.</description>
        <name>Related_SAs</name>
        <label>Related SAs</label>
        <locationX>537</locationX>
        <locationY>748</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LUM_Parent_Work_Order__c</field>
            <operator>In</operator>
            <value>
                <elementReference>collWOids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Reads all Oppo related WOs into a collection.</description>
        <name>Related_WOs</name>
        <label>Related WOs</label>
        <locationX>284</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_WOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppoId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>collAllWOs</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collAllWOs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>collSA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>collSAids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collWOids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Scheduled_SAs_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>nbrADs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrSAs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrWOs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Input value from the main flow.</description>
        <name>OppoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>textWOid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSAid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
