force-app/main/default/flows/Opportunity_Validate_Process_Stages_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Addresses</name>
        <label>Set Addresses</label>
        <locationX>660</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>customerAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxCustomerAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoicingAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxInvoicingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deliveryAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxDeliveryAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>installationAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxInstallationAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>From_Which_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Related_Records</name>
        <label>Set Opportunity Related Records</label>
        <locationX>660</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Building__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>factoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Factory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>warehouseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Warehouse__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Related_Sales_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Related_Sales_Records</name>
        <label>Set Related Sales Records</label>
        <locationX>660</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SyncedQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetKeyFields</name>
        <label>Set Key Fields</label>
        <locationX>660</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Building__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxCustomerAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>factoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Factory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>warehouseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Warehouse__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opportunity_Related_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>From_Which_Stage</name>
        <label>From Which Stage?</label>
        <locationX>660</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>To_Which_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Or None</defaultConnectorLabel>
        <rules>
            <name>From_Prepare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preparation &amp; Analysis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Which_Stage</targetReference>
            </connector>
            <label>From Prepare</label>
        </rules>
        <rules>
            <name>From_Configure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Quote_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Configure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Which_Stage</targetReference>
            </connector>
            <label>From Configure</label>
        </rules>
        <rules>
            <name>From_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Quote_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Which_Stage</targetReference>
            </connector>
            <label>From Price</label>
        </rules>
        <rules>
            <name>From_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Quote_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Which_Stage</targetReference>
            </connector>
            <label>From Quote</label>
        </rules>
        <rules>
            <name>From_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Which_Stage</targetReference>
            </connector>
            <label>From Offer</label>
        </rules>
        <rules>
            <name>From_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Which_Stage</targetReference>
            </connector>
            <label>From Closed Won</label>
        </rules>
        <rules>
            <name>From_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Which_Stage</targetReference>
            </connector>
            <label>From Closed Lost</label>
        </rules>
        <rules>
            <name>From_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Which_Stage</targetReference>
            </connector>
            <label>From Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>SetKeyFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_Which_Stage</name>
        <label>To Which Stage?</label>
        <locationX>660</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>To_Prepare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preparation &amp; Analysis</stringValue>
                </rightValue>
            </conditions>
            <label>To Prepare</label>
        </rules>
        <rules>
            <name>To_Configure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Configure</stringValue>
                </rightValue>
            </conditions>
            <label>To Configure</label>
        </rules>
        <rules>
            <name>To_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price</stringValue>
                </rightValue>
            </conditions>
            <label>To Price</label>
        </rules>
        <rules>
            <name>To_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <label>To Quote</label>
        </rules>
        <rules>
            <name>To_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Sent</stringValue>
                </rightValue>
            </conditions>
            <label>To Offer</label>
        </rules>
        <rules>
            <name>To_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <label>To Closed Won</label>
        </rules>
        <rules>
            <name>To_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <label>To Closed Lost</label>
        </rules>
    </decisions>
    <description>Record Triggered flow to Validate Opportunity Stage Transitions are logical</description>
    <environments>Default</environments>
    <formulas>
        <description>This formula creates the case subject</description>
        <name>BuildingPermitCaseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Building Permit &apos; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>fxCustomerAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Customer_Address__CountryCode__s}) + TEXT({!$Record.Customer_Address__StateCode__s})
+ {!$Record.Customer_Address__City__s}+ {!$Record.Customer_Address__PostalCode__s}
+ {!$Record.Customer_Address__Street__s}
+ TEXT({!$Record.Customer_Address__Latitude__s} )+ TEXT({!$Record.Customer_Address__Longitude__s})</expression>
    </formulas>
    <formulas>
        <name>fxDeliveryAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Delivery_Address__CountryCode__s}) + TEXT({!$Record.Delivery_Address__StateCode__s})
+ {!$Record.Delivery_Address__City__s}+ {!$Record.Delivery_Address__PostalCode__s}
+ {!$Record.Delivery_Address__Street__s}
+ TEXT({!$Record.Delivery_Address__Latitude__s} )+ TEXT({!$Record.Delivery_Address__Longitude__s})</expression>
    </formulas>
    <formulas>
        <name>fxInstallationAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Installation_Address__CountryCode__s}) + TEXT({!$Record.Installation_Address__StateCode__s})
+ {!$Record.Installation_Address__City__s}+ {!$Record.Installation_Address__PostalCode__s}
+ {!$Record.Installation_Address__Street__s}
+ TEXT({!$Record.Installation_Address__Latitude__s} )+ TEXT({!$Record.Installation_Address__Longitude__s})</expression>
    </formulas>
    <formulas>
        <name>fxInvoicingAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Invoicing_Address__CountryCode__s}) + TEXT({!$Record.Invoicing_Address__StateCode__s})
+ {!$Record.Invoicing_Address__City__s}+ {!$Record.Invoicing_Address__PostalCode__s}
+ {!$Record.Invoicing_Address__Street__s}
+ TEXT({!$Record.Invoicing_Address__Latitude__s} )+ TEXT({!$Record.Invoicing_Address__Longitude__s})</expression>
    </formulas>
    <formulas>
        <description>This searches the right case subject</description>
        <name>SpecialOrderCaseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Special Order Handling &apos; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <description>if status is changed yesterday, reminder is send to sales rep</description>
        <name>yesterday</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 1</expression>
    </formulas>
    <interviewLabel>Opportunity - Validate Process Stages Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Validate Process Stages Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Contract_reminder_1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi [{!$Record.Owner.Id}], The contract related to this opportunity has been signed 1 day ago. Please make sure you process and close opportunity within 2 days.</text>
    </textTemplates>
    <textTemplates>
        <name>Quoting_lasted_3_days</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @[{!$Record.OwnerId}], your opportunity has been in quoting stage for 3 days. Please make sure you follow up the customer and proceed towards closing the deal.</text>
    </textTemplates>
    <textTemplates>
        <description>This is posted to rep in chatter after 1 day of being signed</description>
        <name>signed_1_day_chatter</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @[{!$Record.OwnerId}], The contract related to this opportunity has been signed 1 day ago. Please make sure you process and close opportunity during 2 days.</text>
    </textTemplates>
    <textTemplates>
        <name>Signed_1_day_custom_notif</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi [{!$Record.OwnerId}], The contract related to this opportunity has been signed 1 day ago. Please make sure you process and close opportunity within 2 days. Thank you!</text>
    </textTemplates>
    <textTemplates>
        <name>signed_2_days_reminder</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @[{!$Record.OwnerId}], it has been 2 days when the contract has been signed. You have only 1 day left in time to process and close opportunity.</text>
    </textTemplates>
    <triggerOrder>130</triggerOrder>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>buildingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>buildingPermitRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliveryAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>factoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>installationAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoicingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This stores quote ID when opportunity creation triggers quote creation.</description>
        <name>QuoteID_from_quote_forsync</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recOpportunityOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recOpportunityQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <description>This stores special order case ID</description>
        <name>SpecialOrderCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>specialOrderRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSelectedPricebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>warehouseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
