force-app/main/default/flows/Opportunity_Update_on_Deliver_To_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Clear_Delivery_Location</name>
        <label>Clear Delivery Location</label>
        <locationX>1502</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>locationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Delivery_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Deliver_To</name>
        <label>Set Deliver To</label>
        <locationX>1216</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>txtDeliverTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Deliver_To__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Where_to_Deliver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivery_Location</name>
        <label>Set Delivery Location</label>
        <locationX>1216</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Deliver_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtDeliverTo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivery_Location_To_Customer</name>
        <label>Set Delivery Location To Customer</label>
        <locationX>1238</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>locationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Customer_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtDeliverTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Delivery_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Location_To_Building</name>
        <label>Set Location To Building</label>
        <locationX>490</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>locationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Building__r.Building_Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Location_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Location_To_Customer</name>
        <label>Set Location To Customer</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>locationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Customer_Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Location_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Location_To_Factory</name>
        <label>Set Location To Factory</label>
        <locationX>930</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>locationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Factory__r.Factory_Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Location_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Location_To_Other</name>
        <label>Set Location To Other</label>
        <locationX>1810</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>locationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Site__r.Site_Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Location_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Location_To_Warehouse</name>
        <label>Set Location To Warehouse</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>locationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Warehouse__r.Warehouse_Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Location_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>1821</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Deliver_To_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Account_Have_Location</name>
        <label>Does Account Have Location?</label>
        <locationX>1502</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Is_Location_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Location</defaultConnectorLabel>
        <rules>
            <name>Account_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Customer_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Location_To_Customer</targetReference>
            </connector>
            <label>Account Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Building_Have_Location</name>
        <label>Does Building Have Location?</label>
        <locationX>622</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Is_Location_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Building Location</defaultConnectorLabel>
        <rules>
            <name>Building_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Building__r.Building_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Location_To_Building</targetReference>
            </connector>
            <label>Building Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Factory_Have_Location</name>
        <label>Does Factory Have Location?</label>
        <locationX>1062</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Is_Location_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Factory Location</defaultConnectorLabel>
        <rules>
            <name>Factory_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Factory__r.Factory_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Location_To_Factory</targetReference>
            </connector>
            <label>Factory Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Site_Have_Location</name>
        <label>Does Site Have Location?</label>
        <locationX>1942</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Is_Location_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Other Location</defaultConnectorLabel>
        <rules>
            <name>Other_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__r.Site_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Location_To_Other</targetReference>
            </connector>
            <label>Other Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Warehouse_Have_Location</name>
        <label>Does Warehouse Have Location?</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Is_Location_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Warehouse Location</defaultConnectorLabel>
        <rules>
            <name>Warehouse_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Warehouse__r.Warehouse_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Location_To_Warehouse</targetReference>
            </connector>
            <label>Warehouse Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Customer_Location_Available</name>
        <label>Is Customer Location Available?</label>
        <locationX>1370</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Clear_Delivery_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Customer Location</defaultConnectorLabel>
        <rules>
            <name>Customer_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Customer_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Delivery_Location_To_Customer</targetReference>
            </connector>
            <label>Customer Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Deliver_To_Changed</name>
        <label>Is Deliver To Changed?</label>
        <locationX>1821</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Deliver_To_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Deliver_To__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deliver_To</targetReference>
            </connector>
            <label>Deliver To Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Location_Set</name>
        <label>Is Location Set?</label>
        <locationX>1216</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Is_Customer_Location_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Location</defaultConnectorLabel>
        <rules>
            <name>Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>locationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Delivery_Location</targetReference>
            </connector>
            <label>Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>803</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_to_Deliver</name>
        <label>Where to Deliver?</label>
        <locationX>1216</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Is_Location_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown</defaultConnectorLabel>
        <rules>
            <name>To_Warehouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warehouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Warehouse__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Warehouse_Have_Location</targetReference>
            </connector>
            <label>To Warehouse</label>
        </rules>
        <rules>
            <name>To_Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Building</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Building__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Building_Have_Location</targetReference>
            </connector>
            <label>To Building</label>
        </rules>
        <rules>
            <name>To_Factory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Factory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Factory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Factory_Have_Location</targetReference>
            </connector>
            <label>To Factory</label>
        </rules>
        <rules>
            <name>To_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Account_Have_Location</targetReference>
            </connector>
            <label>To Account</label>
        </rules>
        <rules>
            <name>To_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Site_Have_Location</targetReference>
            </connector>
            <label>To Other</label>
        </rules>
    </decisions>
    <description>Record Triggered Flow to update the Delivery Location
Triggered on change of Deliver To Field
Added Other Location
27.03 Changed Trigger Condition to Deliver_To Is Changed = True
02.12.2023 Save Inactive Version as Draft</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Update on Deliver To Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Update Delivery Location Draft</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1216</locationX>
        <locationY>1847</locationY>
        <inputReference>recOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>677</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Deliver_To__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <triggerOrder>110</triggerOrder>
    <variables>
        <name>customerLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recWarehouse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Warehouse__c</objectType>
    </variables>
    <variables>
        <name>txtDeliverTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
