force-app/main/default/flows/Opportunity_After_Insert_or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Get_Building</name>
        <label>Get Building</label>
        <locationX>242</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>buildingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Building__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Deliver_To_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Factory</name>
        <label>Get Factory</label>
        <locationX>242</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>factoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Factory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Warehouse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Pricebook</name>
        <label>Get Pricebook</label>
        <locationX>242</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>pricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Factory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Warehouse</name>
        <label>Get Warehouse</label>
        <locationX>242</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>warehouseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Warehouse__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Building</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Building</name>
        <label>Set Building</label>
        <locationX>506</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Building__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buildingId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Deliver_To_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Currency_and_Tax</name>
        <label>Set Currency and Tax</label>
        <locationX>242</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>percentageVAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currencyCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivery_Address</name>
        <label>Set Delivery Address</label>
        <locationX>242</locationX>
        <locationY>3335</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryAddress.CountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryAddress.StateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryAddress.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryAddress.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryAddress.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Address__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryAddress.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Address__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryAddress.Longitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Install_To_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivery_Location</name>
        <label>Set Delivery Location</label>
        <locationX>242</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Delivery_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Deliver_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliverTo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Delivery_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Factory</name>
        <label>Set Factory</label>
        <locationX>506</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Factory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>factoryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Warehouse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Installation_Address</name>
        <label>Set Installation Address</label>
        <locationX>242</locationX>
        <locationY>3791</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Installation_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installationAddress.CountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Installation_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installationAddress.StateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Installation_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installationAddress.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Installation_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installationAddress.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Installation_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installationAddress.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Installation_Address__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installationAddress.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Installation_Address__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installationAddress.Longitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>374</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pricebook</name>
        <label>Set Pricebook</label>
        <locationX>506</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Factory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Warehouse</name>
        <label>Set Warehouse</label>
        <locationX>506</locationX>
        <locationY>2183</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>warehouseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Building</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This is to define whether certain action happens on create or update use cases</description>
        <name>Has_Building</name>
        <label>Has Building?</label>
        <locationX>374</locationX>
        <locationY>2399</locationY>
        <defaultConnector>
            <targetReference>Assign_Building</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Building</defaultConnectorLabel>
        <rules>
            <name>Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Building__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Building</targetReference>
            </connector>
            <label>Building</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Deliver_To_Changed</name>
        <label>Has Deliver To Changed?</label>
        <locationX>374</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>Has_Install_To_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Deliver_To_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Deliver_To__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Delivery_Location</targetReference>
            </connector>
            <label>Deliver To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Factory</name>
        <label>Has Factory?</label>
        <locationX>374</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Assign_Factory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Factory</defaultConnectorLabel>
        <rules>
            <name>Factory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Factory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Factory</targetReference>
            </connector>
            <label>Factory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Install_To_Changed</name>
        <label>Has Install To Changed?</label>
        <locationX>374</locationX>
        <locationY>3551</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Install_To_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Install_At__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Install_At__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installation_Address</targetReference>
            </connector>
            <label>Install To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Pricebook</name>
        <label>Has Pricebook?</label>
        <locationX>374</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Assign_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pricebook</defaultConnectorLabel>
        <rules>
            <name>Pricebook</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricebook</targetReference>
            </connector>
            <label>Pricebook</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Warehouse</name>
        <label>Has Warehouse?</label>
        <locationX>374</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>Assign_Warehouse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Warehouse</defaultConnectorLabel>
        <rules>
            <name>Warehouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Warehouse__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Warehouse</targetReference>
            </connector>
            <label>Warehouse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Opportunity</name>
        <label>Is New Opportunity?</label>
        <locationX>374</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Has_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Opportunity</defaultConnectorLabel>
        <rules>
            <name>New_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Country_Defaults</targetReference>
            </connector>
            <label>New Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation_Enabled</name>
        <label>Skip Automation Enabled?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <description>Record Triggered Flow to Set Default Values on Oppty
- Building: Create Building from Account Billing Address
- Pricebook: Select and Set Pricebook based on Owner, Account and Opportunity Attributes
16.12 Added condition to exit flow when basic details are not changed
01.02 Fixed Flow error on Location by using individual variable on Update
6.2.2023: Re-added criteria to bypass this automation if isClosed is set as Oppo cannot be updated anymore.
13.2.2023 Added District</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - After Insert or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Insert or Update MVP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>374</locationX>
        <locationY>4007</locationY>
        <inputReference>recOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation_Enabled</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preparation &amp; Analysis</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quoting</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Assign_Building</name>
        <label>Assign Building</label>
        <locationX>506</locationX>
        <locationY>2519</locationY>
        <connector>
            <targetReference>Set_Building</targetReference>
        </connector>
        <flowName>Assign_Building_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>buildingId</assignToReference>
            <name>buildingId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Country_Defaults</name>
        <label>Assign Country Defaults</label>
        <locationX>242</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Set_Currency_and_Tax</targetReference>
        </connector>
        <flowName>Assign_Country_Defaults_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currencyCode</assignToReference>
            <name>currencyCode</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>percentageVAT</assignToReference>
            <name>percentageVAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Delivery_Address</name>
        <label>Assign Delivery Address</label>
        <locationX>242</locationX>
        <locationY>3215</locationY>
        <connector>
            <targetReference>Set_Delivery_Address</targetReference>
        </connector>
        <flowName>Assign_Delivery_Address_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>deliveryAddress</assignToReference>
            <name>recDeliveryAddress</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>deliverTo</assignToReference>
            <name>txtDeliverTo</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Delivery_Location</name>
        <label>Assign Delivery Location</label>
        <locationX>242</locationX>
        <locationY>2975</locationY>
        <connector>
            <targetReference>Set_Delivery_Location</targetReference>
        </connector>
        <flowName>Assign_Delivery_Location_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>locationId</assignToReference>
            <name>locationId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>deliverTo</assignToReference>
            <name>txtDeliverTo</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Factory</name>
        <label>Assign Factory</label>
        <locationX>506</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Set_Factory</targetReference>
        </connector>
        <flowName>Assign_Factory_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>factoryId</assignToReference>
            <name>factoryId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Installation_Address</name>
        <label>Assign Installation Address</label>
        <locationX>242</locationX>
        <locationY>3671</locationY>
        <connector>
            <targetReference>Set_Installation_Address</targetReference>
        </connector>
        <flowName>Assign_Installation_Address_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>installationAddress</assignToReference>
            <name>recInstallationAddress</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>installAt</assignToReference>
            <name>txtInstallAt</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Pricebook</name>
        <label>Assign Pricebook</label>
        <locationX>506</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Set_Pricebook</targetReference>
        </connector>
        <flowName>Assign_Pricebook_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>pricebookId</assignToReference>
            <name>pricebookId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Warehouse</name>
        <label>Assign Warehouse</label>
        <locationX>506</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Set_Warehouse</targetReference>
        </connector>
        <flowName>Assign_Warehouse_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>warehouseId</assignToReference>
            <name>warehouseId</name>
        </outputAssignments>
    </subflows>
    <triggerOrder>100</triggerOrder>
    <variables>
        <name>accountDistrict</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>buildingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colOpportunityIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currencyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliverTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliveryAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>factoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>installAt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>installationAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>locationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>percentageVAT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>territoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>warehouseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
