force-app/main/default/flows/Opportunity_Values_on_Address_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Sync Customer Address with Account Billing Address</description>
        <name>Set_Customer_Address</name>
        <label>Set Customer Address</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingStateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingLongitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Invoicing_Address_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sync Delivery Address with Customer, Site, Building, Warehousre or Other Address</description>
        <name>Set_Delivery_Address_to_Delivery_Location</name>
        <label>Set Delivery Address to Delivery Location</label>
        <locationX>50</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>$Record.Delivery_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Delivery_Address.CountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Delivery_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Delivery_Address.StateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Delivery_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Delivery_Address.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Delivery_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Delivery_Address.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Delivery_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Delivery_Address.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Delivery_Address__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Delivery_Address.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Delivery_Address__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Delivery_Address.Longitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Install_At_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sync Invoicing Address with Customer Address</description>
        <name>Set_Invoicing_Address</name>
        <label>Set Invoicing Address</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.Invoicing_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Address__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Address__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Delivery_To_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sync Invoicing Address with Customer Address</description>
        <name>Set_Invoicing_Address_to_Customer</name>
        <label>Set Invoicing Address to Customer</label>
        <locationX>446</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.Invoicing_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Invoicing_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Invoicing_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Invoicing_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Invoicing_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Invoicing_Address__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Address__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Invoicing_Address__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Address__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Delivery_To_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sync Customer Address with Account Billing Address</description>
        <name>Update_Customer_Address</name>
        <label>Update Customer Address</label>
        <locationX>446</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingStateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingLongitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Invoicing_Address_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Has_Billing_Address</name>
        <label>Account Has Billing Address?</label>
        <locationX>798</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>No Billing Address</defaultConnectorLabel>
        <rules>
            <name>Billing_Address</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>fxAccountBillingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Customer_Address_Changed</targetReference>
            </connector>
            <label>Billing Address</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sync Customer Address with Account Billing Address</description>
        <name>Has_Customer_Address_Changed</name>
        <label>Has Customer Address Changed?</label>
        <locationX>534</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Has_Invoicing_Address_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Customer_Address_Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingToCustomer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxAccountBillingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Address</targetReference>
            </connector>
            <label>Customer Address Not Set</label>
        </rules>
        <rules>
            <name>Customer_Address_Changed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingToCustomer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxAccountBillingAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fxCustomerAddress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Address</targetReference>
            </connector>
            <label>Customer Address Changed</label>
        </rules>
        <rules>
            <name>Customer_Address_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingToCustomer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Invoicing_Address_Changed</targetReference>
            </connector>
            <label>Customer Address Other</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sync Delivery Address with Customer, Site, Building, Warehouse, Factory or Other Address</description>
        <name>Has_Delivery_To_Changed</name>
        <label>Has Delivery To Changed?</label>
        <locationX>534</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Has_Install_At_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Deliver_To_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Deliver_To__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Where_To_Deliver</targetReference>
            </connector>
            <label>Deliver To Changed</label>
        </rules>
        <rules>
            <name>Deliver_To_Set_to_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Install_At_Changed</targetReference>
            </connector>
            <label>Deliver To Set to Other</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sync Installation Address with Other (Site) or Building Address</description>
        <name>Has_Install_At_Changed</name>
        <label>Has Install At Changed?</label>
        <locationX>534</locationX>
        <locationY>2687</locationY>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Install_To_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Install_At__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Install_At__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Install_At__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <label>Install To Changed</label>
        </rules>
        <rules>
            <name>Install_At_Set_to_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Install_At__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <label>Install At Set to Other</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sync Invoicing Address with Customer Address</description>
        <name>Has_Invoicing_Address_Changed</name>
        <label>Has Invoicing Address Changed?</label>
        <locationX>534</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Has_Delivery_To_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Invoicing_Address_Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CustomerToInvoicing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invoicing_Address</targetReference>
            </connector>
            <label>Invoicing Address Not Set</label>
        </rules>
        <rules>
            <name>Invoicing_Address_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerToInvoicing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxCustomerAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invoicing_Address_to_Customer</targetReference>
            </connector>
            <label>Invoicing Address Changed</label>
        </rules>
        <rules>
            <name>Invoicing_Address_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CustomerToInvoicing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Delivery_To_Changed</targetReference>
            </connector>
            <label>Invoicing Address Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_B2C_Opportunity</name>
        <label>Is B2C Opportunity</label>
        <locationX>1062</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Other Opportunity</defaultConnectorLabel>
        <rules>
            <name>B2C_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>B2C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New_Opportunity</targetReference>
            </connector>
            <label>B2C Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Delivery_Location_Set</name>
        <label>Is Delivery Location Set?</label>
        <locationX>182</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Has_Install_At_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Delivery Location</defaultConnectorLabel>
        <rules>
            <name>Delivery_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Delivery_Location</targetReference>
            </connector>
            <label>Delivery Location</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Opportunity is Created or Updated</description>
        <name>Is_New_Opportunity</name>
        <label>Is New Opportunity?</label>
        <locationX>798</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Opportunity</defaultConnectorLabel>
        <rules>
            <name>New_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>New Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Validation</name>
        <label>Skip Validation?</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Is_B2C_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_To_Deliver</name>
        <label>Where To Deliver?</label>
        <locationX>182</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>Is_Delivery_Location_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Delivery Address</defaultConnectorLabel>
        <rules>
            <name>Deliver_To_Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Building</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Delivery_Location_Set</targetReference>
            </connector>
            <label>Deliver To Building</label>
        </rules>
        <rules>
            <name>Deliver_To_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Delivery_Location_Set</targetReference>
            </connector>
            <label>Deliver To Account</label>
        </rules>
        <rules>
            <name>Deliver_To_Warehouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warehouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Delivery_Location_Set</targetReference>
            </connector>
            <label>Deliver To Warehouse</label>
        </rules>
        <rules>
            <name>Deliver_To_Factory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deliver_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Factory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Delivery_Location_Set</targetReference>
            </connector>
            <label>Deliver To Factory</label>
        </rules>
    </decisions>
    <description>Record Triggered Flow Before Insert or Update to sync the Addresses on Opportunity
Note: On Creation only Customer and Invoicing Addresses are set as Building, Warehouse,Factory are not yet created/linked to the Opportunity</description>
    <environments>Default</environments>
    <formulas>
        <name>fxAccountBillingAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Account.BillingCountryCode}) + {!Get_Account.BillingCountry} 
+ TEXT({!Get_Account.BillingStateCode})+{!Get_Account.BillingState}
+ {!Get_Account.BillingCity}+ {!Get_Account.BillingPostalCode}
+ {!Get_Account.BillingStreet}
+ TEXT({!Get_Account.BillingLatitude} )+ TEXT({!Get_Account.BillingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxCustomerAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Customer_Address__CountryCode__s}) + TEXT({!$Record.Customer_Address__StateCode__s})
+ {!$Record.Customer_Address__City__s}+ {!$Record.Customer_Address__PostalCode__s}
+ {!$Record.Customer_Address__Street__s}
+ TEXT({!$Record.Customer_Address__Latitude__s} )+ TEXT({!$Record.Customer_Address__Longitude__s})</expression>
    </formulas>
    <formulas>
        <name>fxCustomerAddressPrior</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.Customer_Address__CountryCode__s}) + TEXT({!$Record__Prior.Customer_Address__StateCode__s})
+ {!$Record__Prior.Customer_Address__City__s}+ {!$Record__Prior.Customer_Address__PostalCode__s}
+ {!$Record__Prior.Customer_Address__Street__s}
+ TEXT({!$Record__Prior.Customer_Address__Latitude__s} )+ TEXT({!$Record__Prior.Customer_Address__Longitude__s})</expression>
    </formulas>
    <formulas>
        <name>fxDeliveryAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Delivery_Address__CountryCode__s}) + TEXT({!$Record.Delivery_Address__StateCode__s})
+ {!$Record.Delivery_Address__City__s}+ {!$Record.Delivery_Address__PostalCode__s}
+ {!$Record.Delivery_Address__Street__s}
+ TEXT({!$Record.Delivery_Address__Latitude__s} )+ TEXT({!$Record.Delivery_Address__Longitude__s})</expression>
    </formulas>
    <formulas>
        <name>fxDeliveryAddressPrior</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.Delivery_Address__CountryCode__s}) + TEXT({!$Record__Prior.Delivery_Address__StateCode__s})
+ {!$Record__Prior.Delivery_Address__City__s}+ {!$Record__Prior.Delivery_Address__PostalCode__s}
+ {!$Record__Prior.Delivery_Address__Street__s}
+ TEXT({!$Record__Prior.Delivery_Address__Latitude__s} )+ TEXT({!$Record__Prior.Delivery_Address__Longitude__s})</expression>
    </formulas>
    <formulas>
        <name>fxDeliveryLocation</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Delivery_Location.VisitorAddress.CountryCode}) + TEXT({!Get_Delivery_Location.VisitorAddress.StateCode})
+ {!Get_Delivery_Location.VisitorAddress.City}+ {!Get_Delivery_Location.VisitorAddress.PostalCode}
+ {!Get_Delivery_Location.VisitorAddress.Street}
+ TEXT({!Get_Delivery_Location.VisitorAddress.Latitude} )+ TEXT({!Get_Delivery_Location.VisitorAddress.Longitude})</expression>
    </formulas>
    <formulas>
        <name>fxInstallationAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Installation_Address__CountryCode__s}) + TEXT({!$Record.Installation_Address__StateCode__s})
+ {!$Record.Installation_Address__City__s}+ {!$Record.Installation_Address__PostalCode__s}
+ {!$Record.Installation_Address__Street__s}
+ TEXT({!$Record.Installation_Address__Latitude__s} )+ TEXT({!$Record.Installation_Address__Longitude__s})</expression>
    </formulas>
    <formulas>
        <name>fxInstallationAddressPrior</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.Installation_Address__CountryCode__s}) + TEXT({!$Record__Prior.Installation_Address__StateCode__s})
+ {!$Record__Prior.Installation_Address__City__s}+ {!$Record__Prior.Installation_Address__PostalCode__s}
+ {!$Record__Prior.Installation_Address__Street__s}
+ TEXT({!$Record__Prior.Installation_Address__Latitude__s} )+ TEXT({!$Record__Prior.Installation_Address__Longitude__s})</expression>
    </formulas>
    <formulas>
        <name>fxInvoicingAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Invoicing_Address__CountryCode__s}) + TEXT({!$Record.Invoicing_Address__StateCode__s})
+ {!$Record.Invoicing_Address__City__s}+ {!$Record.Invoicing_Address__PostalCode__s}
+ {!$Record.Invoicing_Address__Street__s}
+ TEXT({!$Record.Invoicing_Address__Latitude__s} )+ TEXT({!$Record.Invoicing_Address__Longitude__s})</expression>
    </formulas>
    <formulas>
        <name>fxInvoicingAddressPrior</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Invoicing_Address__CountryCode__s}) + TEXT({!$Record.Invoicing_Address__StateCode__s})
+ {!$Record.Invoicing_Address__City__s}+ {!$Record.Invoicing_Address__PostalCode__s}
+ {!$Record.Invoicing_Address__Street__s}
+ TEXT({!$Record.Invoicing_Address__Latitude__s} )+ TEXT({!$Record.Invoicing_Address__Longitude__s})</expression>
    </formulas>
    <interviewLabel>Opportunity - Values on Address Change S10 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Set Addresses MVP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>798</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Has_Billing_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Delivery_Address</name>
        <label>Get Delivery Address</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Delivery_Address_to_Delivery_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Delivery_Location.VisitorAddressId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Delivery_Location</name>
        <label>Get Delivery Location</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Delivery_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Delivery_Location__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Validation</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>MailingAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>recInvoicingAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
</Flow>
