force-app/main/default/flows/Product2_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Clear_Additional_Cost_Flag</name>
        <label>Clear Additional Cost Flag</label>
        <locationX>578</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Additional_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Extra_Sales_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Configurator_Flag</name>
        <label>Clear Configurator Flag</label>
        <locationX>842</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Visual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sovelia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Special_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Extra_Sales_Flag</name>
        <label>Clear Extra Sales Flag</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Extra_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Service_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Installable_Product_Flag</name>
        <label>Clear Installable Product Flag</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Installation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Reclamation_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Installation_Flag</name>
        <label>Clear Installation Flag</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Installation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Additional_Cost_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Reclaimable_Product_Flag</name>
        <label>Clear Reclaimable Product Flag</label>
        <locationX>578</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reclamation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Additional_Cost_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Service_Flag</name>
        <label>Clear Service Flag</label>
        <locationX>578</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Spare_Parts_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Spare_Parts_Flag</name>
        <label>Clear Spare Parts Flag</label>
        <locationX>578</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.Spare_Part__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Configurable_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Special_Product_Flag</name>
        <label>Clear Special Product Flag</label>
        <locationX>1150</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>$Record.Special__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Additional_Cost_Flag</name>
        <label>Set Additional Cost Flag</label>
        <locationX>314</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Additional_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Extra_Sales_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Extra_Sales_Flag</name>
        <label>Set Extra Sales Flag</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Extra_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Service_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Installable_Product_Flag</name>
        <label>Set Installable Product Flag</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Installation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Reclamation_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Attributes</name>
        <label>Set Product Attributes</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>txtProductGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSalesCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCostType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cost_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtProductModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Model__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Installable_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reclaimable_Product_Flag</name>
        <label>Set Reclaimable Product Flag</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reclamation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Installation_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Salesforce_Product_Flag</name>
        <label>Set Salesforce Product Flag</label>
        <locationX>578</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Visual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sovelia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Configurator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Special_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Flag</name>
        <label>Set Service Flag</label>
        <locationX>314</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Spare_Parts_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sovelia_Product_Flag</name>
        <label>Set Sovelia Product Flag</label>
        <locationX>314</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Visual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sovelia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Configurator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sovelia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Special_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Spare_Parts_Flag</name>
        <label>Set Spare Parts Flag</label>
        <locationX>314</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.Spare_Part__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Configurable_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Special_Product_Flag1</name>
        <label>Set Special Product Flag</label>
        <locationX>446</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>$Record.Special__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Visual_Product_Flag</name>
        <label>Set Visual Product Flag</label>
        <locationX>50</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Visual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sovelia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Configurator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Visual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Special_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Additional_Cost_Product</name>
        <label>Is Additional Cost Product?</label>
        <locationX>446</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Clear_Additional_Cost_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Product</defaultConnectorLabel>
        <rules>
            <name>Additional_Cost_Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Additional_Cost_Product_Group__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtProductCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Additional_Cost_Product_Group__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtProductGroup</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Additional_Cost_Product_Group__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtProductModel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Additional_Cost_Flag</targetReference>
            </connector>
            <label>Additional Cost Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Configurable_Product</name>
        <label>Is Configurable Product?</label>
        <locationX>446</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Clear_Configurator_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Configurable</defaultConnectorLabel>
        <rules>
            <name>Configurable_Visual_Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Visual_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtProductCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Visual_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtProductGroup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Visual_Product_Flag</targetReference>
            </connector>
            <label>Configurable Visual Product</label>
        </rules>
        <rules>
            <name>Configurable_Sovelia_Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Sovelia_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtProductCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Sovelia_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtProductGroup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sovelia_Product_Flag</targetReference>
            </connector>
            <label>Configurable Sovelia Product</label>
        </rules>
        <rules>
            <name>Configurable_Salesforce_Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Additional_Cost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Extra_Sales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spare_Part__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Salesforce_Product_Flag</targetReference>
            </connector>
            <label>Configurable Salesforce Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Extra_Sales_Product</name>
        <label>Is Extra Sales Product?</label>
        <locationX>446</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Clear_Extra_Sales_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Product</defaultConnectorLabel>
        <rules>
            <name>Extra_Sales_Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Extra_Sales_Product__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtProductCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Extra_Sales_Product__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtProductGroup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Extra_Sales_Flag</targetReference>
            </connector>
            <label>Extra Sales Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Installable_Product</name>
        <label>Is Installable Product?</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Clear_Installable_Product_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Installable</defaultConnectorLabel>
        <rules>
            <name>InstallableProduct</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Installable_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtProductCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Installable_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtProductGroup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Installable_Product_Flag</targetReference>
            </connector>
            <label>Installable Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reclamation_Product</name>
        <label>Is Reclamation Product?</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Clear_Reclaimable_Product_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal Product</defaultConnectorLabel>
        <rules>
            <name>Reclamation_Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Reclamation_Product_Codes__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtProductCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Reclamation_Product_Codes__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtSalesCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Reclaimable_Product_Flag</targetReference>
            </connector>
            <label>Reclamation Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Service_Product</name>
        <label>Is Service Product?</label>
        <locationX>446</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Clear_Service_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product</defaultConnectorLabel>
        <rules>
            <name>Service_Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Service_Product_Group__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtProductCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Service_Product_Group__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtProductGroup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_Flag</targetReference>
            </connector>
            <label>Service Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Spare_Parts_Product</name>
        <label>Is Spare Parts Product?</label>
        <locationX>446</locationX>
        <locationY>2003</locationY>
        <defaultConnector>
            <targetReference>Clear_Spare_Parts_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product</defaultConnectorLabel>
        <rules>
            <name>Spare_Part_Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Service_Product_Group__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtProductGroup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Spare_Parts_Flag</targetReference>
            </connector>
            <label>Spare Part Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Special_Product</name>
        <label>Is Special Product?</label>
        <locationX>446</locationX>
        <locationY>2603</locationY>
        <defaultConnector>
            <targetReference>Clear_Special_Product_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Special Product</defaultConnectorLabel>
        <rules>
            <name>Special_Balcony_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Special_Balcony_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtSalesCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Special_Product_Flag1</targetReference>
            </connector>
            <label>Special Balcony Product</label>
        </rules>
        <rules>
            <name>Special_Terrace_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Special_Terrace_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>c47f36ca-cd6c-4b74-93e3-90910a3f3b70</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Special_Product_Flag1</targetReference>
            </connector>
            <label>Special Terrace Product</label>
        </rules>
        <rules>
            <name>Special_Balustrade_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Special_Balustrade_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtSalesCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Special_Product_Flag1</targetReference>
            </connector>
            <label>Special Balustrade Product</label>
        </rules>
        <rules>
            <name>Special_Treatment_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Special_Treatment_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtSalesCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Special_Product_Flag1</targetReference>
            </connector>
            <label>Special Treatment Product</label>
        </rules>
        <rules>
            <name>Special_Color_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Special_Color_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtSalesCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Special_Product_Flag1</targetReference>
            </connector>
            <label>Special Color Product</label>
        </rules>
        <rules>
            <name>Special_Bracket_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Special_Bracket_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtSalesCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Special_Product_Flag1</targetReference>
            </connector>
            <label>Special Bracket Product</label>
        </rules>
        <rules>
            <name>Special_Order_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Product_Settings__c.Special_Order_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>txtSalesCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Special_Product_Flag1</targetReference>
            </connector>
            <label>Special Order Product</label>
        </rules>
        <rules>
            <name>Manual_Processing_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manual_Processing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Special_Product_Flag1</targetReference>
            </connector>
            <label>Manual Processing Product</label>
        </rules>
    </decisions>
    <description>Record Triggered Before Save Flow to set the Product Attributes
21.10.2023 Added Installation, Special Flag
30.10.2023 Added Reclamation, Sovelia, Visual,Flag
02.12.2023: Save Active Version as R2
06.02.2024: Added Service Products
14.02.2024: Added Manual Processing for Special Products
17.03.2024: Updated condition requirements</description>
    <environments>Default</environments>
    <interviewLabel>Product2 - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product2 - Before Save R2.4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Product_Attributes</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>txtCostType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtProductCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtProductGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtProductModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSalesCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
