force-app/main/default/flows/Project_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Count_Main_Projects</name>
        <label>Count Main Projects</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>nbrMainProjectCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Main_Projects</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Main_Project_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Warranty_and_Delivery_Projects</name>
        <label>Count Warranty and Delivery Projects</label>
        <locationX>578</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>nbrWarrantyAndDeliveryProjectCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Warranty_And_Delivery_Projects</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Delivery_Project_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Warranty_Projects</name>
        <label>Count Warranty Projects</label>
        <locationX>314</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>nbrWarrantyProjectCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Warranty_Projects</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Warranty_Project_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivery_Project_Number</name>
        <label>Set Delivery Project Number</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>txtDeliveryProjectNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxDeliveryProjectNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sub_Project_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtDeliveryProjectNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Delivery_Project_Record_Id</name>
        <label>Set Delivery Project Record Id</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>deliveryRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Delivery_Project_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Warranty_And_Delivery_Projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Main_Project_Number</name>
        <label>Set Main Project Number</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>txtMainProjectNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxMainProjectNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Main_Project_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtMainProjectNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Main_Project_Record_Id</name>
        <label>Set Main Project Record Id</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>mainProjectRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Main_Project_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Main_Projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Category</name>
        <label>Set Project Category</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>txtProjectCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Project_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Warranty_Project_Number</name>
        <label>Set Warranty Project Number</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>txtWarrantyProjectNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxWarrantyProjectNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sub_Project_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtWarrantyProjectNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Warranty_Project_Record_Id</name>
        <label>Set Warranty Project Record Id</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>warrantyRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Warranty_Project_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Warranty_Projects</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Project_Category</name>
        <label>Which Project Category?</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Other Category</defaultConnectorLabel>
        <rules>
            <name>Main_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Main</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Main_Project_Record_Type</targetReference>
            </connector>
            <label>Main Project</label>
        </rules>
        <rules>
            <name>Warranty_Sub_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Warranty_Project_Record_Type</targetReference>
            </connector>
            <label>Warranty Sub Project</label>
        </rules>
        <rules>
            <name>Delivery_Sub_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Delivery_Project_Record_Type</targetReference>
            </connector>
            <label>Delivery Sub Project</label>
        </rules>
    </decisions>
    <description>Record Triggered before Save Flow to set the Project default Values</description>
    <environments>Default</environments>
    <formulas>
        <name>fxDeliveryProjectNumber</name>
        <dataType>String</dataType>
        <expression>{!txtMainProjectNumber}+&quot;_&quot;+LPAD(TEXT({!nbrWarrantyAndDeliveryProjectCount}+1),2, &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>fxMainProjectNumber</name>
        <dataType>String</dataType>
        <expression>TEXT(10000000+{!nbrMainProjectCount}+1)</expression>
    </formulas>
    <formulas>
        <name>fxWarrantyProjectNumber</name>
        <dataType>String</dataType>
        <expression>{!txtMainProjectNumber}+&quot;_01&quot;</expression>
    </formulas>
    <interviewLabel>Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Before Save R2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Delivery_Project_Record_Type</name>
        <label>Get Delivery Project Record Type</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Delivery_Project_Record_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Delivery</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Project_Record_Type</name>
        <label>Get Main Project Record Type</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Main_Project_Record_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Main</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Projects</name>
        <label>Get Main Projects</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Main_Projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mainProjectRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Warranty_And_Delivery_Projects</name>
        <label>Get Warranty And Delivery Projects</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Warranty_and_Delivery_Projects</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>warrantyRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>deliveryRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Main_Project_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Main_Project_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Warranty_Project_Record_Type</name>
        <label>Get Warranty Project Record Type</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Warranty_Project_Record_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Warranty</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Warranty_Projects</name>
        <label>Get Warranty Projects</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Warranty_Projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>warrantyRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Main_Project_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Main_Project_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Project_Category</targetReference>
        </connector>
        <object>Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>deliveryRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainProjectRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nbrMainProjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrWarrantyAndDeliveryProjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrWarrantyProjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>txtDeliveryProjectNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtMainProjectNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtProjectCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtWarrantyProjectNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>warrantyRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
