force-app/main/default/flows/Resource_Absence_Create_matching_TSE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Absence_continues_after_today</name>
        <label>Absence continues after today</label>
        <locationX>1354</locationX>
        <locationY>1802</locationY>
        <assignmentItems>
            <assignToReference>TSE.EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OperatingHoursEndTimeDateToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_TSE_for_the_absence_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Absence_continues_after_today_0</name>
        <label>Absence continues after today</label>
        <locationX>943</locationX>
        <locationY>1186</locationY>
        <assignmentItems>
            <assignToReference>TSE.EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayEoB</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_TSE_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Absence_ends_today</name>
        <label>Absence ends today</label>
        <locationX>1579</locationX>
        <locationY>1801</locationY>
        <assignmentItems>
            <assignToReference>TSE.EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_TSE_for_the_absence_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Absence_ends_today_0</name>
        <label>Absence ends today</label>
        <locationX>1186</locationX>
        <locationY>1188</locationY>
        <assignmentItems>
            <assignToReference>TSE.EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_TSE_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_GANTT_label</name>
        <label>Assign GANTT label</label>
        <locationX>1365</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>TSE.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FSL__GanttLabel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_TSE_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_subject</name>
        <label>Assign subject</label>
        <locationX>1550</locationX>
        <locationY>1435</locationY>
        <assignmentItems>
            <assignToReference>TSE.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_TSE_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_TSE_0</name>
        <label>Assign values to TSE</label>
        <locationX>1066</locationX>
        <locationY>1593</locationY>
        <assignmentItems>
            <assignToReference>TSE.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSE.TimeSheetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Time_Sheet_data.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSE.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSE.StartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_TSE_for_the_absence_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_TSE_0_0</name>
        <label>Assign values to TSE</label>
        <locationX>1460</locationX>
        <locationY>1576</locationY>
        <assignmentItems>
            <assignToReference>TSE.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSE.TimeSheetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Time_Sheet_data.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSE.StartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Absence_ends_today_before_EOB</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Absence_ends_today_before_EOB</name>
        <label>Absence ends today before EOB</label>
        <locationX>1452</locationX>
        <locationY>1707</locationY>
        <defaultConnector>
            <targetReference>Absence_continues_after_today</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OperatingHoursEndTimeDateToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Absence_ends_today</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Absence_ends_today_before_EOB_0</name>
        <label>Absence ends today before EOB</label>
        <locationX>1060</locationX>
        <locationY>1075</locationY>
        <defaultConnector>
            <targetReference>Absence_continues_after_today_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodayEoB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Absence_ends_today_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Description_exists</name>
        <label>Description exists?</label>
        <locationX>1443</locationX>
        <locationY>1330</locationY>
        <defaultConnector>
            <targetReference>Assign_GANTT_label</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_subject</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_RA_for_today</name>
        <label>Is RA for today</label>
        <locationX>746</locationX>
        <locationY>732</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RA_StartDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Territory_Member_for_SR</targetReference>
            </connector>
            <label>Today</label>
        </rules>
        <rules>
            <name>In_past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RA_StartDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <label>In past</label>
        </rules>
        <rules>
            <name>In_future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RA_StartDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <label>In future</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operating_hours_exists</name>
        <label>Operating hours exists</label>
        <locationX>1181</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>Absence_ends_today_before_EOB_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Operating_hours_for_the_Service_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Slot_for_Operating_Hours_for_today</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType_is_NonAvailability</name>
        <label>RecordType is NonAvailability?</label>
        <locationX>612</locationX>
        <locationY>486</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NonAvailability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Availability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Sheet_data</targetReference>
            </connector>
            <label>NonAvailability</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_Slot_exists</name>
        <label>Time Slot exists</label>
        <locationX>1340</locationX>
        <locationY>1210</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Time_Slot_for_Operating_Hours_for_today</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Description_exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates TSE for an approved Resource Absence.

17.1.2023: If RA is added from GANTT, then it uses the GANTT label, as otherwise the TSE subject would remain empty.
02.12.2023: Save Active Version as R2
08.02.2024: Update with Public Holidays</description>
    <environments>Default</environments>
    <formulas>
        <name>OperatingHoursEndTimeDateToday</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( TEXT( DATEVALUE( NOW() ) )+&quot; &quot;+{!Get_Time_Slot_for_Operating_Hours_for_today.End_time_as_text__c}) - (120/1440)</expression>
    </formulas>
    <formulas>
        <name>RA_EndDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.End})</expression>
    </formulas>
    <formulas>
        <name>RA_StartDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Start})</expression>
    </formulas>
    <formulas>
        <name>TimeSlotEndTimeToday</name>
        <dataType>String</dataType>
        <expression>{!Get_Time_Slot_for_Operating_Hours_for_today.EndTime}</expression>
    </formulas>
    <formulas>
        <name>TodayEoB</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( TEXT( DATEVALUE( NOW() ) ) +&quot; &quot;+ &quot;16:30:00&quot; ) - (120/1440)</expression>
    </formulas>
    <formulas>
        <name>Weekday_Today</name>
        <dataType>String</dataType>
        <expression>CASE(
  MOD( TODAY() - DATE( 1900, 1, 8 ), 7 ),
  0, &quot;Monday&quot;,
  1, &quot;Tuesday&quot;,
  2, &quot;Wednesday&quot;,
  3, &quot;Thursday&quot;,
  4, &quot;Friday&quot;,
  5, &quot;Saturday&quot;, 
  &quot;Sunday&quot;
)</expression>
    </formulas>
    <interviewLabel>Resource Absence - Create matching TSE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource Absence - Create matching TSE R2.2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>If Resource Absence is approved, then add a matching TSE for it.</description>
        <name>Add_TSE_for_the_absence_0</name>
        <label>Add TSE for the absence</label>
        <locationX>1466</locationX>
        <locationY>1937</locationY>
        <inputReference>TSE</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Operating_hours_for_the_Service_Resource</name>
        <label>Get Operating hours for the Service Resource</label>
        <locationX>1189</locationX>
        <locationY>730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Operating_hours_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Operating_Hours_from_ST.OperatingHoursId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OperatingHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Operating_Hours_from_ST</name>
        <label>Get Operating Hours from ST</label>
        <locationX>1049</locationX>
        <locationY>730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Operating_hours_for_the_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Territory_Member_for_SR.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>619</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordType_is_NonAvailability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ResourceAbsence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds the first STM to get a reference to the service territory and from there the operating hours and timezone.</description>
        <name>Get_Service_Territory_Member_for_SR</name>
        <label>Get Service Territory Member for SR</label>
        <locationX>918</locationX>
        <locationY>730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Operating_Hours_from_ST</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheet_data</name>
        <label>Get Time Sheet data</label>
        <locationX>753</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_RA_for_today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Resource.RelatedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Slot_for_Operating_Hours_for_today</name>
        <label>Get Time Slot for Operating Hours for today</label>
        <locationX>1348</locationX>
        <locationY>1073</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Time_Slot_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OperatingHoursId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Operating_hours_for_the_Service_Resource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DayOfWeek</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Weekday_Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSlot</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>493</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSL__Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Public Holiday</stringValue>
            </value>
        </filters>
        <object>ResourceAbsence</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
</Flow>
