force-app/main/default/flows/SA_Copy_Pictures_to_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_to_Multiple</name>
        <label>Assign to Multiple</label>
        <locationX>1461</locationX>
        <locationY>1421</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkMultiple_Asset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLinkSingle_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_ContentDocumentLinks_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Multiple_0</name>
        <label>Assign to Multiple</label>
        <locationX>1787</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkMultiple_Case</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLinkSingle_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_ContentDocumentLinks_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Single</name>
        <label>Assign to Single</label>
        <locationX>1469</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkSingle_Asset.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkSingle_Asset.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_ContentDocumentLinks_Asset.Visibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkSingle_Asset.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_ContentDocumentLinks_Asset.ShareType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkSingle_Asset.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_ContentDocumentLinks_Asset.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Multiple</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Single_0</name>
        <label>Assign to Single</label>
        <locationX>1795</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkSingle_Case.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLinkedEntityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkSingle_Case.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_ContentDocumentLinks_Case.Visibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkSingle_Case.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_ContentDocumentLinks_Case.ShareType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkSingle_Case.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_ContentDocumentLinks_Case.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Multiple_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the recipient record id for the images.</description>
        <name>Set_Linked_Entity_Id_0</name>
        <label>Set Linked Entity Id</label>
        <locationX>1357</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>VarLinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.CaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ContentDocumentLinks_SA_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_found</name>
        <label>Asset found?</label>
        <locationX>931</locationX>
        <locationY>828</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_found_on_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ContentDocumentLink_Asset</targetReference>
            </connector>
            <label>Asset found on Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <description>SA.Case__c field is filled when installation capacity is created for the reclamation/warranty work.

In the Initial SA (Cannot Complete) case the images are directly linked to the Case.</description>
        <name>Is_reclamation_warranty_Quality_Event</name>
        <label>Is reclamation/warranty/Quality Event?</label>
        <locationX>1113</locationX>
        <locationY>486</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Normal_installation_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset</targetReference>
            </connector>
            <label>Normal installation (Completed)</label>
        </rules>
        <rules>
            <name>Initial_SA_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <label>Initial SA (Cannot Complete)</label>
        </rules>
        <rules>
            <name>Reclamation_SA_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Linked_Entity_Id_0</targetReference>
            </connector>
            <label>Reclamation SA (Completed)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pictures_already_attached_to_Asset</name>
        <label>Pictures already attached to Asset?</label>
        <locationX>1037</locationX>
        <locationY>1081</locationY>
        <defaultConnector>
            <targetReference>Get_ContentDocumentLinks_SA_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pictures_already_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ContentDocumentLink_Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Pictures already there</label>
        </rules>
    </decisions>
    <description>When SA is completed, this automation links the CDLs from SA to Asset and Case(if needed).

6.11.2023: Handle both Original and Reclamation SA related picture linking.
3.11.2023: Modified so that if SA is for reclamation/warranty/... case, then CDLs are copied also to the related Case.
02.12.2023: Save Active Version as R2</description>
    <environments>Default</environments>
    <interviewLabel>SA - Copy Pictures to Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SA - Copy Pictures to Asset R2</label>
    <loops>
        <name>Loop_over_ContentDocumentLinks_Asset</name>
        <label>Loop over ContentDocumentLinks Asset</label>
        <locationX>1282</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_ContentDocumentLinks_SA_Asset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ContentDocumentLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_ContentDocumentLinks_Case</name>
        <label>Loop over ContentDocumentLinks Case</label>
        <locationX>1609</locationX>
        <locationY>484</locationY>
        <collectionReference>Get_ContentDocumentLinks_SA_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Single_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ContentDocumentLinks_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ContentDocumentLinks</name>
        <label>Create ContentDocumentLinks</label>
        <locationX>1275</locationX>
        <locationY>1423</locationY>
        <inputReference>ContentDocumentLinkMultiple_Asset</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_ContentDocumentLinks_0</name>
        <label>Create ContentDocumentLinks</label>
        <locationX>1602</locationX>
        <locationY>693</locationY>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <inputReference>ContentDocumentLinkMultiple_Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>939</locationX>
        <locationY>693</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentDocumentLink_Asset</name>
        <label>Get ContentDocumentLink Asset</label>
        <locationX>1046</locationX>
        <locationY>943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pictures_already_attached_to_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentDocumentLinks_SA_Asset</name>
        <label>Get ContentDocumentLinks SA Asset</label>
        <locationX>1149</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_ContentDocumentLinks_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentDocumentLinks_SA_Case</name>
        <label>Get ContentDocumentLinks SA Case</label>
        <locationX>1476</locationX>
        <locationY>484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_ContentDocumentLinks_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>1121</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_reclamation_warranty_Quality_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LUM_Parent_Work_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>994</locationX>
        <locationY>22</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>After_5min</name>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>After 5min</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentLinkMultiple_Asset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkMultiple_Case</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkSingle_Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkSingle_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VarLinkedEntityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
