force-app/main/default/flows/Service_Appointment_Set_Updated_Times.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Confirmed Installation date is set to enable SMS sending to Customer.</description>
        <name>Assign_Oppo_id1</name>
        <label>Assign Oppo id</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>recOppo.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WO_data_1.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_scheduled_date_to_Oppo1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Confirmed Installation date is set to enable SMS sending to Customer.</description>
        <name>Assign_Oppo_id2</name>
        <label>Assign Oppo id</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>recOppo.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WO_data_1.Reclamation_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_scheduled_date_to_Oppo1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Confirmed Installation date is set to enable SMS sending to Customer.</description>
        <name>Assign_Oppo_id3</name>
        <label>Assign Oppo id</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>recOppo.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WO_data_2.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_scheduled_date_to_Oppo2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Confirmed Installation date is set to enable SMS sending to Customer.</description>
        <name>Assign_Oppo_id4</name>
        <label>Assign Oppo id</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>recOppo.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WO_data_2.Reclamation_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_scheduled_date_to_Oppo2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Confirmed Installation date is set to enable SMS sending to Customer.</description>
        <name>Assign_scheduled_date_to_Oppo1</name>
        <label>Assign scheduled date to Oppo and WO</label>
        <locationX>1106</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>recOppo.Preliminary_installation_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ArrivalWindowStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Soft_Reserved_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ArrivalWindowStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WO_data_1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Confirmed Installation date is set to enable SMS sending to Customer.</description>
        <name>Assign_scheduled_date_to_Oppo2</name>
        <label>Assign scheduled date to Oppo</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>recOppo.Confirmed_installation_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Hard_Reserved_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WO_data_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Soft_Reserved_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ArrivalWindowStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOppo.Preliminary_installation_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ArrivalWindowStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Dates_Changed</name>
        <label>Any Dates Changed?</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled_Start_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO_data_2</targetReference>
            </connector>
            <label>Scheduled Start Update</label>
        </rules>
        <rules>
            <name>Arrival_Start_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ArrivalWindowStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO_data_1</targetReference>
            </connector>
            <label>Arrival Start Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Oppo is closed, then the information in it cannot be modified.</description>
        <name>Oppo_is_already_closed</name>
        <label>Oppo is already closed</label>
        <locationX>974</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Update_Oppo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes12</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Oppo.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Oppo.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only the Opportunity field is filled in, if this is normal installation case. If also the Reclamation Oppo field is filled in then this is reclamation case.</description>
        <name>What_kind_of_Opportunity_exists1</name>
        <label>What kind of Opportunity exists</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Original1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WO_data_1.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WO_data_1.Reclamation_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Oppo_id1</targetReference>
            </connector>
            <label>Original</label>
        </rules>
        <rules>
            <name>Reclamation1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WO_data_1.Reclamation_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Oppo_id2</targetReference>
            </connector>
            <label>Reclamation</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only the Opportunity field is filled in, if this is normal installation case. If also the Reclamation Oppo field is filled in then this is reclamation case.</description>
        <name>What_kind_of_Opportunity_exists2</name>
        <label>What kind of Opportunity exists</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Original2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WO_data_2.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WO_data_2.Reclamation_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Oppo_id3</targetReference>
            </connector>
            <label>Original</label>
        </rules>
        <rules>
            <name>Reclamation2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WO_data_2.Reclamation_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Oppo_id4</targetReference>
            </connector>
            <label>Reclamation</label>
        </rules>
    </decisions>
    <description>Triggered Flow to handle Updates to Window Start or Scheduled Start</description>
    <environments>Default</environments>
    <formulas>
        <name>fxGANTTlabelNameRescheduled</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot; &amp; TEXT({!recWO.LUM_Reschedule_Count__c}) &amp; &quot;] &quot; &amp; {!$Record.Street}</expression>
    </formulas>
    <formulas>
        <name>NewSchEndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF (
      {!$Record.Duration} &gt; 0,
      IF (
            ISPICKVAL({!$Record.DurationType}, &apos;Hours&apos;), 
            {!$Record.SchedStartTime} + {!$Record.Duration}/24,
            {!$Record.SchedStartTime} + {!$Record.Duration}/(24*60)
          ),
      {!$Record.SchedEndTime}
    )</expression>
    </formulas>
    <formulas>
        <name>WorkDurationInHours</name>
        <dataType>Number</dataType>
        <expression>IF
(
  NOT ISNULL({!$Record.ActualDuration}),
  {!$Record.ActualDuration}/60,
  0
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Service Appointment - Set Updated Times {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment - Set Updated Times R4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_WO_data_1</name>
        <label>Get WO data 1</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_kind_of_Opportunity_exists1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LUM_Parent_Work_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Reclamation_Opportunity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_data_2</name>
        <label>Get WO data 2</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_kind_of_Opportunity_exists2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LUM_Parent_Work_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>LUM_Reschedule_Count__c</queriedFields>
        <queriedFields>Reclamation_Opportunity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Oppo</name>
        <label>Oppo</label>
        <locationX>974</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Oppo_is_already_closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recOppo.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oppo</name>
        <label>Update Oppo</label>
        <locationX>1062</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Update_WO2</targetReference>
        </connector>
        <inputReference>recOppo</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Soft and Hard Reservation dates to WO at the same time when to Oppo.</description>
        <name>Update_WO2</name>
        <label>Update WO</label>
        <locationX>974</locationX>
        <locationY>1439</locationY>
        <inputReference>recWO</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Any_Dates_Changed</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CDLMulti</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>CDL for the installation picture for the Asset.</description>
        <name>ContentDocumentLinkAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>currentItem_WOLIsWithAssets</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>DayType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberofAssets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recOppo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>recWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>TimeSheetEntryVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>varTSEType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
