force-app/main/default/flows/Service_Resource_Set_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Service_Resource_Variables</name>
        <label>Set Service Resource Variables</label>
        <locationX>473</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>serviceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>operatingHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OperatingHoursId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtTerritoryType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TerritoryType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Territory_Variables</name>
        <label>Set Service Territory Variables</label>
        <locationX>275</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>operatingHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.OperatingHoursId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Operating_Hours</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Operating_Hours</name>
        <label>Has Operating Hours?</label>
        <locationX>275</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>No Operating Hours</defaultConnectorLabel>
        <rules>
            <name>OperatingHours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Operating_Hours</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Territory_Member</targetReference>
            </connector>
            <label>Operating Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Service_Territory</name>
        <label>Has Service Territory?</label>
        <locationX>473</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>No Service Territory</defaultConnectorLabel>
        <rules>
            <name>Service_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Territory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_Territory_Variables</targetReference>
            </connector>
            <label>Service Territory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Set_Service_Resource_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <description>Triggered Flow to valicate and update its values</description>
    <environments>Default</environments>
    <interviewLabel>Service Resource - Set Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Resource - Set Values R4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Operating_Hours</name>
        <label>Get Operating Hours</label>
        <locationX>275</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Operating_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>operatingHoursId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OperatingHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>473</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Service_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Territory_Member</name>
        <label>Update Service Territory Member</label>
        <locationX>143</locationX>
        <locationY>1043</locationY>
        <inputAssignments>
            <field>OperatingHoursId</field>
            <value>
                <elementReference>operatingHoursId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <object>ServiceTerritoryMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>operatingHoursId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtTerritoryType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
