force-app/main/default/flows/Service_Appointment_Check_Status_Evening_Run.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Get_Service_Appointment_Values</name>
        <label>Get Service Appointment Values</label>
        <locationX>226</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>appointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Assigned_Resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Hidden</name>
        <label>Set Status to Hidden</label>
        <locationX>138</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>txtCorrectedStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hidden</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Assigned_Resources</name>
        <label>Any Assigned Resources?</label>
        <locationX>226</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Is_Status_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Assigned Resources</defaultConnectorLabel>
        <rules>
            <name>Assigned_Resources</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assigned_Resources</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Status_Completed</targetReference>
            </connector>
            <label>Assigned Resources</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Completed_This_Week</name>
        <label>Is Completed This Week?</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Set_Status_to_Hidden</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Earlier</defaultConnectorLabel>
        <rules>
            <name>This_Week</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxActualEndWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fxCurrentWeek</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Appointment</targetReference>
            </connector>
            <label>This Week</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Completed</name>
        <label>Is Status Completed?</label>
        <locationX>226</locationX>
        <locationY>660</locationY>
        <defaultConnectorLabel>Other Status</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Completed_This_Week</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <description>Scheduled Flow to verify Status of Appointments and related records is up to date</description>
    <environments>Default</environments>
    <formulas>
        <name>fxActualEndWeek</name>
        <dataType>Number</dataType>
        <expression>ISOWEEK({!$Record.ActualEndTime})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxCurrentWeek</name>
        <dataType>Number</dataType>
        <expression>ISOWEEK({!$Flow.InterviewStartTime})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Service Appointment - Check Status Evening Run R4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment - Check Status Evening Run R4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assigned_Resources</name>
        <label>Get Assigned Resources</label>
        <locationX>226</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Assigned_Resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Appointment</name>
        <label>Update Appointment</label>
        <locationX>50</locationX>
        <locationY>1068</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>txtCorrectedStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Hidden</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-10-01</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>appointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>appointmentUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Today_s_Timesheet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.InterviewStartTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>recServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>recTimesheet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timeTravelStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Today</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>txtCorrectedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
