force-app/main/default/flows/Set_Account_Marketing_OptIn_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Clear_Email_Opt_In</name>
        <label>Clear Email Opt In</label>
        <locationX>842</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Sync_To_Marketing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Opt_In_Country_Values</name>
        <label>Clear Opt In Country Values</label>
        <locationX>578</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_SMS_Opt_In</name>
        <label>Clear SMS Opt In</label>
        <locationX>710</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.SMS_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Are_Email_And_SMS_Opt_In_Cleared</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Sync_To_Marketing</name>
        <label>Clear Sync To Marketing</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_SMS_Opt_In_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Opt_In_Date</name>
        <label>Set Email Opt In Date</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SMS_Opt_In_Date</name>
        <label>Set SMS Opt In Date</label>
        <locationX>446</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.SMS_Opt_In_Date_Time__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Email_And_SMS_Opt_In_Cleared</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sync_to_Marketing_Finland</name>
        <label>Set Sync to Marketing Finland</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Finland_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_SMS_Opt_In_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sync_to_Marketing_Other</name>
        <label>Set Sync to Marketing Other</label>
        <locationX>578</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Other_Countries_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_SMS_Opt_In_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sync_to_Marketing_Spain</name>
        <label>Set Sync to Marketing Spain</label>
        <locationX>314</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Spain_Sync_to_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_SMS_Opt_In_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Email_And_SMS_Opt_In_Cleared</name>
        <label>Are Email And SMS Opt In Cleared?</label>
        <locationX>710</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>Email Or SMS Opt In Set</defaultConnectorLabel>
        <rules>
            <name>Email_and_SMS_Opt_In_Cleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Opt_In_Country_Values</targetReference>
            </connector>
            <label>Email and SMS Opt In Cleared</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Email_Opt_In_Changed</name>
        <label>Has Email Opt In Changed</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Has_SMS_Opt_In_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email Opt In Change</defaultConnectorLabel>
        <rules>
            <name>Email_Opt_In_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Opt_In_Date</targetReference>
            </connector>
            <label>Email Opt In Set</label>
        </rules>
        <rules>
            <name>Email_Opt_In_Cleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Email_Opt_In</targetReference>
            </connector>
            <label>Email Opt In Cleared</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_SMS_Opt_In_Changed</name>
        <label>Has SMS Opt In Changed</label>
        <locationX>710</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Are_Email_And_SMS_Opt_In_Cleared</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SMS Opt In Change</defaultConnectorLabel>
        <rules>
            <name>SMS_Opt_In_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SMS_Opt_In_Date</targetReference>
            </connector>
            <label>SMS Opt In Set</label>
        </rules>
        <rules>
            <name>SMS_Opt_In_Cleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_SMS_Opt_In</targetReference>
            </connector>
            <label>SMS Opt In Cleared</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Account</name>
        <label>Is New Account?</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Has_Email_Opt_In_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Account</defaultConnectorLabel>
        <rules>
            <name>New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Email_Opt_In_Changed</targetReference>
            </connector>
            <label>New Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Person_Account</name>
        <label>Is Person Account</label>
        <locationX>996</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Other Account</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New_Account</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>391</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Country</name>
        <label>Which Country?</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Set_Sync_to_Marketing_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Countries</defaultConnectorLabel>
        <rules>
            <name>Finland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonMailingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sync_to_Marketing_Finland</targetReference>
            </connector>
            <label>Finland</label>
        </rules>
        <rules>
            <name>Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonMailingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sync_to_Marketing_Spain</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
    </decisions>
    <description>Record Triggered Flow to Update the MC Connect and Opt In Values
02.12.2023 Save Inactive Version as Draft</description>
    <environments>Default</environments>
    <formulas>
        <name>fxBillingAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.BillingCountryCode}) + TEXT({!$Record.BillingStateCode})
+ {!$Record.BillingCity}+ {!$Record.BillingPostalCode}
+ {!$Record.BillingStreet}
+ TEXT({!$Record.BillingLatitude} )+ TEXT({!$Record.BillingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxBillingAddressPrior</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.BillingCountryCode}) + TEXT({!$Record__Prior.BillingStateCode})
+ {!$Record__Prior.BillingCity}+ {!$Record__Prior.BillingPostalCode}
+ {!$Record__Prior.BillingStreet}
+ TEXT({!$Record__Prior.BillingLatitude} )+ TEXT({!$Record__Prior.BillingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxMailingAddress</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.PersonMailingCountryCode}) + TEXT({!$Record.PersonMailingStateCode})
+ {!$Record.PersonMailingCity}+ {!$Record.PersonMailingPostalCode}
+ {!$Record.PersonMailingStreet}
+ TEXT({!$Record.PersonMailingLatitude} )+ TEXT({!$Record.PersonMailingLongitude})</expression>
    </formulas>
    <formulas>
        <name>fxMailingAddressPrior</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.PersonMailingCountryCode}) + TEXT({!$Record__Prior.PersonMailingStateCode})
+ {!$Record__Prior.PersonMailingCity}+ {!$Record__Prior.PersonMailingPostalCode}
+ {!$Record__Prior.PersonMailingStreet}
+ TEXT({!$Record__Prior.PersonMailingLatitude} )+ TEXT({!$Record__Prior.PersonMailingLongitude})</expression>
    </formulas>
    <interviewLabel>Set Account Marketing OptIn Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Account Marketing OptIn Values Draft</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>265</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>MailingAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
</Flow>
