force-app/main/default/flows/TimeSheet_Set_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Holiday</name>
        <label>Assign Holiday</label>
        <locationX>270</locationX>
        <locationY>3647</locationY>
        <assignmentItems>
            <assignToReference>varHolidayToday</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Holidays_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_list</name>
        <label>Assign to list</label>
        <locationX>468</locationX>
        <locationY>2807</locationY>
        <assignmentItems>
            <assignToReference>collHolidays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Operating_Hours_Holidays_loop.HolidayId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Operating_Hours_Holidays_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_count_of_Holidays</name>
        <label>Get count of Holidays</label>
        <locationX>380</locationX>
        <locationY>3107</locationY>
        <assignmentItems>
            <assignToReference>varCountHolidays</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Holidays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Holidays_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_count_of_OpHour_Holidays</name>
        <label>Get count of OpHour Holidays</label>
        <locationX>611</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>varCountOpHourHolidays</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Operating_Hours_Holidays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Op_Hours_Holidays_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Resource</name>
        <label>Set Service Resource</label>
        <locationX>1114</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>recServiceResource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Resource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recServiceResource.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Territory_Memberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Resource_Memberships</name>
        <label>Set Service Resource Memberships</label>
        <locationX>858</locationX>
        <locationY>1643</locationY>
        <assignmentItems>
            <assignToReference>colServiceTerritoryMembers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory_Memberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Territory_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Territory</name>
        <label>Set Service Territory</label>
        <locationX>946</locationX>
        <locationY>1859</locationY>
        <assignmentItems>
            <assignToReference>colServiceTerritoryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Service_Territory_Members.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Territory_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Time_Sheet_Values</name>
        <label>Set Time Sheet Values</label>
        <locationX>1374</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>timesheetResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timesheetApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timesheetDelegateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timesheetStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timeSheetEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timesheetOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>When_TimeSheet_Starts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Today2</name>
        <label>Today</label>
        <locationX>1110</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>varDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tomorrow2</name>
        <label>Tomorrow</label>
        <locationX>1374</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>varDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxTomorrow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_on_Primary_Territory</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter on Primary Territory</label>
        <locationX>858</locationX>
        <locationY>1343</locationY>
        <assignNextValueToReference>currentItem_Get_Primary_Territory</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Service_Territory_Memberships</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Primary_Territory.TerritoryType</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>P</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_2_of_Has_Service_Territory_Member</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Holidays_list</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Holidays list</label>
        <locationX>182</locationX>
        <locationY>3323</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Holidays</collectionReference>
        <connector>
            <targetReference>Holidays_loop</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ActivityDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>OpHours_Holidays</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>OpHours Holidays</label>
        <locationX>380</locationX>
        <locationY>2591</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Operating_Hours_Holidays</collectionReference>
        <connector>
            <targetReference>Operating_Hours_Holidays_loop</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>DateAndTime</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Copy_2_of_Has_Service_Territory_Member</name>
        <label>Copy 2 of Has Service Territory Member?</label>
        <locationX>858</locationX>
        <locationY>1451</locationY>
        <defaultConnector>
            <targetReference>Set_Service_Resource_Memberships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Service_Territory_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Territory_Memberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_Resource_Memberships</targetReference>
            </connector>
            <label>Copy 2 of Service Territory Membership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Service_Territory_Member</name>
        <label>Has Service Territory Member?</label>
        <locationX>1114</locationX>
        <locationY>1235</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Service_Territory_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Territory_Memberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_on_Primary_Territory</targetReference>
            </connector>
            <label>Service Territory Membership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Holidays_exist</name>
        <label>Holidays exist?</label>
        <locationX>380</locationX>
        <locationY>3215</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountHolidays</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Holidays_list</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if User is a Service Resource</description>
        <name>Is_Service_Resource</name>
        <label>Is Service Resource?</label>
        <locationX>1374</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Not a Service Resource</defaultConnectorLabel>
        <rules>
            <name>Service_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Territory_Memberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_Resource</targetReference>
            </connector>
            <label>Service Resource</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Today_Holiday</name>
        <label>Is Today Holiday?</label>
        <locationX>182</locationX>
        <locationY>3923</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHolidayToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Time_Sheet_to_Approved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Op_Hours_Holidays_exist</name>
        <label>Op.Hours Holidays exist?</label>
        <locationX>611</locationX>
        <locationY>2483</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountOpHourHolidays</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpHours_Holidays</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>470</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Set_Time_Sheet_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>ST_exists</name>
        <label>ST exists?</label>
        <locationX>858</locationX>
        <locationY>2159</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Territory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operating_Hours_Holidays</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TS_date_is_Holiday</name>
        <label>TS date is Holiday?</label>
        <locationX>402</locationX>
        <locationY>3539</locationY>
        <defaultConnector>
            <targetReference>Holidays_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Holidays_loop.ActivityDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Holiday</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>SF logic may create the TS for the same day or the next day. 
next day is due to an issue with job run if it occurs after 0100</description>
        <name>When_TimeSheet_Starts</name>
        <label>When TimeSheet Starts?</label>
        <locationX>1374</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>timesheetStartDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>dateToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Today2</targetReference>
            </connector>
            <label>Today</label>
        </rules>
        <rules>
            <name>Tomorrow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>timesheetStartDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fxTomorrow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tomorrow2</targetReference>
            </connector>
            <label>Tomorrow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dateToday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>fxTomorrow</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <formulas>
        <name>fxTSDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.StartDate}</expression>
    </formulas>
    <interviewLabel>TimeSheet - Set Values R4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TimeSheet - Set Values R4</label>
    <loops>
        <name>Holidays_loop</name>
        <label>Holidays loop</label>
        <locationX>182</locationX>
        <locationY>3431</locationY>
        <collectionReference>Holidays</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TS_date_is_Holiday</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Today_Holiday</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Service_Territory_Members</name>
        <label>Loop Service Territory Members</label>
        <locationX>858</locationX>
        <locationY>1751</locationY>
        <collectionReference>colServiceTerritoryMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Service_Territory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Service_Territory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Operating_Hours_Holidays_loop</name>
        <label>Operating Hours Holidays loop</label>
        <locationX>380</locationX>
        <locationY>2699</locationY>
        <collectionReference>Operating_Hours_Holidays</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Holidays</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>1374</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>timesheetResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>One of the Service Resource&apos;s Service Territories. All SR&apos;s STs should have the same Operating Hours.</description>
        <name>Get_Service_Territory_Memberships</name>
        <label>Get Service Territory Memberships</label>
        <locationX>1114</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Service_Territory_Member</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveStartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>dateToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>dateToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Holidays</name>
        <label>Holidays</label>
        <locationX>380</locationX>
        <locationY>2999</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_count_of_Holidays</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>collHolidays</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Holiday</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Operating_Hours_Holidays</name>
        <label>Operating Hours Holidays</label>
        <locationX>611</locationX>
        <locationY>2267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_count_of_OpHour_Holidays</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OperatingHoursId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Territory.OperatingHoursId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OperatingHoursHoliday</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Territory</name>
        <label>Service Territory</label>
        <locationX>858</locationX>
        <locationY>2051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ST_exists</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>As Public Holidays are not working days, the Time Sheet is now automatically approved.</description>
        <name>Set_Time_Sheet_to_Approved</name>
        <label>Set Time Sheet to Approved</label>
        <locationX>50</locationX>
        <locationY>4031</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>344</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <object>TimeSheet</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>collHolidays</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colServiceTerritoryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colServiceTerritoryMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Primary_Territory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>recServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>recServiceTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timesheetApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timesheetDelegateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timeSheetEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timesheetOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timesheetResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timesheetStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountHolidays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCountOpHourHolidays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHolidayToday</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
