force-app/main/default/flows/Trigger_Configuration_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Configuration_Event</name>
        <label>Set Configuration Event</label>
        <locationX>308</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recConfigurationEvent.configType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>configType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recConfigurationEvent.configAction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>configAction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recConfigurationEvent.pricingJSON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtPricingJSON</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recConfigurationEvent.objectType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objectType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recConfigurationEvent.recordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recConfigurationEvent.visualPlanId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>visualPlanId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recConfigurationEvent.configId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>configPlanId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recConfigurationEvent.configJSON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>configJSON</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Configuration_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_ObjectType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <description>AutoLaunched Flow to initiate a Process Automation by creating an Configuration Event
23.10.2023 Initial Version
02.12.2023 Save Inactive Version as Draft</description>
    <environments>Default</environments>
    <interviewLabel>Trigger Configuration Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger Configuration Event Draft</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Configuration_Event</name>
        <label>Create Configuration Event</label>
        <locationX>308</locationX>
        <locationY>458</locationY>
        <inputReference>recConfigurationEvent</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_ObjectType</name>
        <label>Get ObjectType</label>
        <locationX>308</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Set_Configuration_Event</targetReference>
        </connector>
        <flowName>DetermineObjectTypeSubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>objectType</assignToReference>
            <name>sObjectType</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>txtPricingJSON</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{&quot;apartment&quot;:null,&quot;floor&quot;:null,&quot;id&quot;:&quot;UPKMB&quot;,&quot;line&quot;:null,&quot;name&quot;:&quot;RKMZY&quot;,&quot;products&quot;:[{&quot;hasFeaturesBeenConfirmed&quot;:true,&quot;hasMeasurementsBeenVerified&quot;:true,&quot;id&quot;:&quot;QQVflF_VpEyyT5n2c6E4yg&quot;,&quot;name&quot;:&quot;LG&quot;,&quot;priceParameters&quot;:[{&quot;Amount&quot;:1.0830564,&quot;LocalSupplier&quot;:false,&quot;ParameterCode&quot;:&quot;&quot;,&quot;SalesCode&quot;:&quot;20090016&quot;,&quot;UniqueId&quot;:0,&quot;Unit&quot;:&quot;M2&quot;},{&quot;Amount&quot;:1.0,&quot;LocalSupplier&quot;:false,&quot;ParameterCode&quot;:&quot;&quot;,&quot;SalesCode&quot;:&quot;PD9240153&quot;,&quot;UniqueId&quot;:0,&quot;Unit&quot;:&quot;kpl&quot;},{&quot;Amount&quot;:1.0,&quot;LocalSupplier&quot;:false,&quot;ParameterCode&quot;:&quot;&quot;,&quot;SalesCode&quot;:&quot;PD9240161&quot;,&quot;UniqueId&quot;:0,&quot;Unit&quot;:&quot;kpl&quot;},{&quot;Amount&quot;:1.0,&quot;LocalSupplier&quot;:false,&quot;ParameterCode&quot;:&quot;&quot;,&quot;SalesCode&quot;:&quot;PD9240169&quot;,&quot;UniqueId&quot;:0,&quot;Unit&quot;:&quot;kpl&quot;},{&quot;Amount&quot;:1.0,&quot;LocalSupplier&quot;:false,&quot;ParameterCode&quot;:&quot;&quot;,&quot;SalesCode&quot;:&quot;PD9240096&quot;,&quot;UniqueId&quot;:0,&quot;Unit&quot;:&quot;kpl&quot;},{&quot;Amount&quot;:1.0,&quot;LocalSupplier&quot;:false,&quot;ParameterCode&quot;:&quot;&quot;,&quot;SalesCode&quot;:&quot;PD9240097&quot;,&quot;UniqueId&quot;:0,&quot;Unit&quot;:&quot;kpl&quot;},{&quot;Amount&quot;:1.0830564,&quot;LocalSupplier&quot;:false,&quot;ParameterCode&quot;:&quot;&quot;,&quot;SalesCode&quot;:&quot;PD9240098&quot;,&quot;UniqueId&quot;:0,&quot;Unit&quot;:&quot;M2&quot;},{&quot;Amount&quot;:1.0,&quot;LocalSupplier&quot;:false,&quot;ParameterCode&quot;:&quot;&quot;,&quot;SalesCode&quot;:&quot;PD9240142&quot;,&quot;UniqueId&quot;:0,&quot;Unit&quot;:&quot;kpl&quot;},{&quot;Amount&quot;:1.0,&quot;LocalSupplier&quot;:false,&quot;ParameterCode&quot;:&quot;&quot;,&quot;SalesCode&quot;:&quot;PD9240131&quot;,&quot;UniqueId&quot;:0,&quot;Unit&quot;:&quot;kpl&quot;},{&quot;Amount&quot;:1.0,&quot;LocalSupplier&quot;:false,&quot;ParameterCode&quot;:&quot;&quot;,&quot;SalesCode&quot;:&quot;PD9240120&quot;,&quot;UniqueId&quot;:0,&quot;Unit&quot;:&quot;kpl&quot;},{&quot;Amount&quot;:1.0,&quot;LocalSupplier&quot;:false,&quot;ParameterCode&quot;:&quot;&quot;,&quot;SalesCode&quot;:&quot;PD9240202&quot;,&quot;UniqueId&quot;:0,&quot;Unit&quot;:&quot;kpl&quot;},{&quot;Amount&quot;:1.0,&quot;LocalSupplier&quot;:false,&quot;ParameterCode&quot;:&quot;&quot;,&quot;SalesCode&quot;:&quot;PD9240151&quot;,&quot;UniqueId&quot;:0,&quot;Unit&quot;:&quot;kpl&quot;},{&quot;Amount&quot;:1.0,&quot;LocalSupplier&quot;:false,&quot;ParameterCode&quot;:&quot;&quot;,&quot;SalesCode&quot;:&quot;PD9240155&quot;,&quot;UniqueId&quot;:0,&quot;Unit&quot;:&quot;kpl&quot;},{&quot;Amount&quot;:1.0,&quot;LocalSupplier&quot;:false,&quot;ParameterCode&quot;:&quot;&quot;,&quot;SalesCode&quot;:&quot;PD9240163&quot;,&quot;UniqueId&quot;:0,&quot;Unit&quot;:&quot;kpl&quot;},{&quot;Amount&quot;:1.0,&quot;LocalSupplier&quot;:false,&quot;ParameterCode&quot;:&quot;&quot;,&quot;SalesCode&quot;:&quot;PD9240171&quot;,&quot;UniqueId&quot;:0,&quot;Unit&quot;:&quot;kpl&quot;}],&quot;productInspectCode&quot;:1,&quot;productInspectMessageKeys&quot;:[],&quot;productLength&quot;:0.0,&quot;reclaimedFeatureMessageKeys&quot;:[&quot;[RECL_SIDE]1: [RECL_GLASS]1&quot;,&quot;[RECL_SIDE]1, [RECL_GLASS]1: [RECL_BLINDS]&quot;],&quot;rvn&quot;:&quot;30002388&quot;}],&quot;version&quot;:2}</text>
    </textTemplates>
    <variables>
        <name>configAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>configJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>configPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>configType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pricingJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recConfigurationEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ConfigurationEvent__e</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visualPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
