force-app/main/default/flows/TS_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_filler_TSE</name>
        <label>Assign filler TSE</label>
        <locationX>1222</locationX>
        <locationY>696</locationY>
        <assignmentItems>
            <assignToReference>recTSE.StartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_TSE.EndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Day_End_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_TSE.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automatically created filler entry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.TimeSheetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>50</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Last_TSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_TSEs</name>
        <label>Count of TSEs</label>
        <locationX>805</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>varTSEcount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>TSEs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_TSEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Index_TSEs</name>
        <label>Index TSEs</label>
        <locationX>1229</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>varTSEIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gap_between_last_TSE_and_Day_End</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_TSEs</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort TSEs</label>
        <locationX>917</locationX>
        <locationY>364</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>TSEs</collectionReference>
        <connector>
            <targetReference>Last_TSE</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>StartTime</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Gap_between_last_TSE_and_Day_End</name>
        <label>Gap between last TSE and Day End</label>
        <locationX>1221</locationX>
        <locationY>511</locationY>
        <defaultConnector>
            <targetReference>Last_TSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTSEIndex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varTSEcount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Last_TSE.End_Time_without_seconds__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Day_End_Time_without_seconds__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_filler_TSE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gap_filler_TSE_to_create</name>
        <label>Gap filler TSE to create</label>
        <locationX>1003</locationX>
        <locationY>593</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recTSE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_filler_TSE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Actions done after the TS record has been updated.

29.8.2023: Update the &quot;Filler&quot; value to the proper &quot;50&quot;. 
17.8.2023: First version containing logic to create a filler TSE if needed, when Day End in TS is filled in (and Day Start also exists).
02.12.2023: Save Active Version as R2</description>
    <environments>Default</environments>
    <interviewLabel>TS - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Sheet - After Save R2</label>
    <loops>
        <name>Last_TSE</name>
        <label>Last TSE</label>
        <locationX>1021</locationX>
        <locationY>364</locationY>
        <collectionReference>TSEs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Index_TSEs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Gap_filler_TSE_to_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_filler_TSE</name>
        <label>Create filler TSE</label>
        <locationX>1109</locationX>
        <locationY>694</locationY>
        <inputReference>recTSE</inputReference>
    </recordCreates>
    <recordLookups>
        <name>TSEs</name>
        <label>TSEs</label>
        <locationX>680</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_TSEs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>554</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>TSEs</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Day_Start_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Day_End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TimeSheet</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recTSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>varTSEcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTSEIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
