force-app/main/default/flows/TS_Before_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Holiday</name>
        <label>Assign Holiday</label>
        <locationX>1839</locationX>
        <locationY>1925</locationY>
        <assignmentItems>
            <assignToReference>varHolidayToday</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Holidays_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_list</name>
        <label>Assign to list</label>
        <locationX>1437</locationX>
        <locationY>1313</locationY>
        <assignmentItems>
            <assignToReference>collHolidays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Operating_Hours_Holidays_loop.HolidayId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Operating_Hours_Holidays_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_count_of_Holidays</name>
        <label>Get count of Holidays</label>
        <locationX>1404</locationX>
        <locationY>1510</locationY>
        <assignmentItems>
            <assignToReference>varCountHolidays</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Holidays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Holidays_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_count_of_OpHour_Holidays</name>
        <label>Get count of OpHour Holidays</label>
        <locationX>1022</locationX>
        <locationY>1059</locationY>
        <assignmentItems>
            <assignToReference>varCountOpHourHolidays</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Operating_Hours_Holidays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Op_Hours_Holidays_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Today2</name>
        <label>Today</label>
        <locationX>807</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>varDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Territory_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tomorrow2</name>
        <label>Tomorrow</label>
        <locationX>579</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>varDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxTomorrow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Territory_Member</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Holidays_list</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Holidays list</label>
        <locationX>1496</locationX>
        <locationY>1769</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Holidays</collectionReference>
        <connector>
            <targetReference>Holidays_loop</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ActivityDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>OpHours_Holidays</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>OpHours Holidays</label>
        <locationX>1143</locationX>
        <locationY>1313</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Operating_Hours_Holidays</collectionReference>
        <connector>
            <targetReference>Operating_Hours_Holidays_loop</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>DateAndTime</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>SF logic may create the TS for the same day or the next day.</description>
        <name>For_which_day_the_TS_is</name>
        <label>For which day the TS is?</label>
        <locationX>677</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fxToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Today2</targetReference>
            </connector>
            <label>Today</label>
        </rules>
        <rules>
            <name>Tomorrow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fxTomorrow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tomorrow2</targetReference>
            </connector>
            <label>Tomorrow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Holidays_exist</name>
        <label>Holidays exist?</label>
        <locationX>1395</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountHolidays</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Holidays_list</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Today_Holiday</name>
        <label>Is Today Holiday?</label>
        <locationX>1621</locationX>
        <locationY>1953</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHolidayToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Time_Sheet_to_Approved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Op_Hours_Holidays_exist</name>
        <label>Op.Hours Holidays exist?</label>
        <locationX>1014</locationX>
        <locationY>1207</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountOpHourHolidays</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpHours_Holidays</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ST_exists</name>
        <label>ST exists?</label>
        <locationX>798</locationX>
        <locationY>972</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Territory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operating_Hours_Holidays</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>STM_exists</name>
        <label>STM exists?</label>
        <locationX>692</locationX>
        <locationY>727</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Territory_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Territory</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TS_date_is_Holiday</name>
        <label>TS date is Holiday?</label>
        <locationX>1829</locationX>
        <locationY>1769</locationY>
        <defaultConnector>
            <targetReference>Holidays_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Holidays_loop.ActivityDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Holiday</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Actions done, when a Time Sheet record is created. Mainly to automatically update the TS Status to &quot;Approved&quot; if the TS Start Date is a public holiday.
02.12.2023: Save Active Version as R2

23.11.2023: Change flow to run as Before Save to improve performance.
22.11.2023: Additional check on STM validity and if Service Resource is active.
22.11.2023: Added error handling.
21.11.2023: First version.</description>
    <environments>Default</environments>
    <formulas>
        <name>fxToday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>fxTomorrow</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <formulas>
        <name>fxTSDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.StartDate}</expression>
    </formulas>
    <interviewLabel>TS - Before Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TS - Before Create R2</label>
    <loops>
        <name>Holidays_loop</name>
        <label>Holidays loop</label>
        <locationX>1629</locationX>
        <locationY>1769</locationY>
        <collectionReference>Holidays</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TS_date_is_Holiday</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Today_Holiday</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Operating_Hours_Holidays_loop</name>
        <label>Operating Hours Holidays loop</label>
        <locationX>1272</locationX>
        <locationY>1313</locationY>
        <collectionReference>Operating_Hours_Holidays</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Holidays</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Holidays</name>
        <label>Holidays</label>
        <locationX>1273</locationX>
        <locationY>1510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_count_of_Holidays</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>collHolidays</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Holiday</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Operating_Hours_Holidays</name>
        <label>Operating Hours Holidays</label>
        <locationX>898</locationX>
        <locationY>1059</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_count_of_OpHour_Holidays</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OperatingHoursId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Territory.OperatingHoursId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OperatingHoursHoliday</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Territory</name>
        <label>Service Territory</label>
        <locationX>806</locationX>
        <locationY>838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ST_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Territory_Member.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>One of the Service Resource&apos;s Service Territories. All SR&apos;s STs should have the same Operating Hours.</description>
        <name>Service_Territory_Member</name>
        <label>Service Territory Member</label>
        <locationX>700</locationX>
        <locationY>579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>STM_exists</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>varDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Resource_is_active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>As Public Holidays are not working days, the Time Sheet is now automatically approved.</description>
        <name>Set_Time_Sheet_to_Approved</name>
        <label>Set Time Sheet to Approved</label>
        <locationX>1725</locationX>
        <locationY>2068</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>559</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>For_which_day_the_TS_is</targetReference>
        </connector>
        <object>TimeSheet</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collHolidays</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountHolidays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCountOpHourHolidays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHolidayToday</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
