force-app/main/default/flows/TS_Share_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_sharing_values_for_DA</name>
        <label>Assign sharing values for DA</label>
        <locationX>1188</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>DA_Record_Share.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DA_Record_Share.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DA_Record_Share.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_data.DelegatedApproverId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DA_Record_Share.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_sharing_for_Delegated_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sharing_values_for_IM</name>
        <label>Assign sharing values for IM</label>
        <locationX>903</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>IM_TS_Share.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IM_TS_Share.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IM_TS_Share.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_data.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IM_TS_Share.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_sharing_for_IM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Delegated_Approver_exists</name>
        <label>Delegated Approver exists</label>
        <locationX>1036</locationX>
        <locationY>757</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_data.DelegatedApproverId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_sharing_values_for_DA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_field_is_set_up_in_User</name>
        <label>Manager field is set up in User</label>
        <locationX>772</locationX>
        <locationY>499</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_data.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_sharing_values_for_IM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Shares the Time Sheet with the Manager (Installation Manager) and the Delegated Approver.
02.12.2023: Save Active Version as R2</description>
    <environments>Default</environments>
    <interviewLabel>TS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Sheet - Share Record R2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_sharing_for_Delegated_Approver</name>
        <label>Create sharing for Delegated Approver</label>
        <locationX>1312</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Set_Approver_0</targetReference>
        </connector>
        <inputReference>DA_Record_Share</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_sharing_for_IM</name>
        <label>Create sharing for IM</label>
        <locationX>1041</locationX>
        <locationY>578</locationY>
        <connector>
            <targetReference>Set_Approver</targetReference>
        </connector>
        <inputReference>IM_TS_Share</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_User_data</name>
        <label>Get User data</label>
        <locationX>780</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manager_field_is_set_up_in_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ManagerId</queriedFields>
        <queriedFields>DelegatedApproverId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Approver</name>
        <label>Set Approver</label>
        <locationX>1038</locationX>
        <locationY>670</locationY>
        <connector>
            <targetReference>Delegated_Approver_exists</targetReference>
        </connector>
        <inputAssignments>
            <field>LUM_Approver__c</field>
            <value>
                <elementReference>Get_User_data.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Approver_0</name>
        <label>Set Approver</label>
        <locationX>1315</locationX>
        <locationY>1017</locationY>
        <inputAssignments>
            <field>LUM_Delegated_Approver__c</field>
            <value>
                <elementReference>Get_User_data.DelegatedApproverId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>654</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Get_User_data</targetReference>
        </connector>
        <object>TimeSheet</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Shares the TS to Delegated Approver.</description>
        <name>DA_Record_Share</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetShare</objectType>
    </variables>
    <variables>
        <description>Sharing record for Installation Manager</description>
        <name>IM_TS_Share</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetShare</objectType>
    </variables>
    <variables>
        <description>The TS record Id.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
