force-app/main/default/flows/TSE_Create_filler_TSE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_index</name>
        <label>Add to index</label>
        <locationX>757</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>varIndexOfPreviousTSE</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_one_of_the_previous_TSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_TSE</name>
        <label>Clear TSE</label>
        <locationX>857</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>recLastTSE.CreatedById</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLastTSE.EndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLastTSE.StartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLastTSE.Status</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLastTSE.Subject</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLastTSE.TimeSheetId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLastTSE.Type</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Last_TSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_TSE1</name>
        <label>Clear TSE</label>
        <locationX>464</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>recPreviousTSE.CreatedById</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPreviousTSE.EndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPreviousTSE.StartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPreviousTSE.Status</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPreviousTSE.Subject</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPreviousTSE.TimeSheetId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPreviousTSE.Type</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Previous_TSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_TSEs</name>
        <label>Count TSEs</label>
        <locationX>922</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>varTSEcount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Earlier_TSEs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates filler entry with details from the first TSE. Start time comes from Installer inputed day start from TS. End time is the start time of the first TSE.</description>
        <name>Last_TSE</name>
        <label>Last TSE</label>
        <locationX>974</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>recLastTSE.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_the_last_TSE.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLastTSE.EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_the_last_TSE.End_Time_without_seconds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLastTSE.StartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_the_last_TSE.Start_time_without_seconds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLastTSE.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLastTSE.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automatically created filler entry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLastTSE.TimeSheetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_the_last_TSE.TimeSheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLastTSE.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_the_last_TSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates filler entry with details from the first TSE. Start time comes from Installer inputed day start from TS. End time is the start time of the first TSE.</description>
        <name>New_TSE</name>
        <label>New TSE</label>
        <locationX>316</locationX>
        <locationY>744</locationY>
        <assignmentItems>
            <assignToReference>recTSE.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recLastTSE.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recLastTSE.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.StartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recPreviousTSE.EndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automatically created filler entry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.TimeSheetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recLastTSE.TimeSheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>50</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_filler_TSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates filler entry with details from the first TSE. Start time comes from Installer inputed day start from TS. End time is the start time of the first TSE.</description>
        <name>New_TSE2</name>
        <label>New TSE</label>
        <locationX>1570</locationX>
        <locationY>990</locationY>
        <assignmentItems>
            <assignToReference>recTSE.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TSE_record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TSE_record.Start_time_without_seconds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.StartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TS.Day_Start_Time_without_seconds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automatically created filler entry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.TimeSheetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TSE_record.TimeSheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTSE.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>50</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_TSE_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates filler entry with details from the first TSE. Start time comes from Installer inputed day start from TS. End time is the start time of the first TSE.</description>
        <name>Previous_TSE</name>
        <label>Previous TSE</label>
        <locationX>464</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>recPreviousTSE.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_the_previous_TSE.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPreviousTSE.EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_the_previous_TSE.End_Time_without_seconds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPreviousTSE.StartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_the_previous_TSE.Start_time_without_seconds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPreviousTSE.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPreviousTSE.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automatically created filler entry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPreviousTSE.TimeSheetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_the_previous_TSE.TimeSheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPreviousTSE.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_the_previous_TSE</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Earlier_TSEs2</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Earlier TSEs</label>
        <locationX>804</locationX>
        <locationY>358</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Earlier_TSEs</collectionReference>
        <connector>
            <targetReference>Count_TSEs</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>StartTime</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Gap_between_Day_Start_and_TSE_start</name>
        <label>Gap between Day Start and TSE start</label>
        <locationX>1124</locationX>
        <locationY>607</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>No_Day_Start_value_in_TS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TS.Day_Start_Time_without_seconds__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Day Start value in TS</label>
        </rules>
        <rules>
            <name>TSE_starts_earlier_than_the_day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TS.Day_Start_Time_without_seconds__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Start_time_without_seconds__c</elementReference>
                </rightValue>
            </conditions>
            <label>TSE starts earlier than the day</label>
        </rules>
        <rules>
            <name>Times_are_equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TS.Day_Start_Time_without_seconds__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Start_time_without_seconds__c</elementReference>
                </rightValue>
            </conditions>
            <label>Times are equal</label>
        </rules>
        <rules>
            <name>Gap_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TS.Day_Start_Time_without_seconds__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Start_time_without_seconds__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TSE_record</targetReference>
            </connector>
            <label>Gap exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_gap_between_previous_and_last_TSE</name>
        <label>Is there gap between previous and last TSE?</label>
        <locationX>198</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recPreviousTSE.EndTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>recLastTSE.StartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recPreviousTSE.EndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recLastTSE.StartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_TSE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only compare the second to last TSE to last TSE (use the index). Otherwise it may select earlier TSE in case the last and previous are overlapping.</description>
        <name>Is_this_one_of_the_previous_TSE</name>
        <label>Is this one of the previous TSE?</label>
        <locationX>608</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Find_the_previous_TSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_previous_TSE.End_Time_without_seconds__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>recLastTSE.StartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIndexOfPreviousTSE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fxPreviousTSEIndex</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIndexOfPreviousTSE</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_TSE1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_TSE_is_this</name>
        <label>Which TSE is this?</label>
        <locationX>1023</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTSEcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gap_between_Day_Start_and_TSE_start</targetReference>
            </connector>
            <label>First</label>
        </rules>
        <rules>
            <name>A_TSE_after_the_first_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTSEcount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_the_last_TSE</targetReference>
            </connector>
            <label>A TSE after the first one</label>
        </rules>
    </decisions>
    <description>Creates a filler TSE in between the time sheet entries.

29.8.2023: Update the &quot;Filler&quot; values to &quot;50&quot; on the &quot;New TSE&quot; assignments.
17.8.2023: First version.
02.12.2023: Save Active Version as R2</description>
    <environments>Default</environments>
    <formulas>
        <name>fxPreviousTSEIndex</name>
        <dataType>Number</dataType>
        <expression>{!varTSEcount}-1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>TSE - Create filler TSE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Sheet Entry- Create filler TSE R2</label>
    <loops>
        <name>Find_the_last_TSE</name>
        <label>Find the last TSE</label>
        <locationX>897</locationX>
        <locationY>582</locationY>
        <collectionReference>Earlier_TSEs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_TSE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_the_previous_TSE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_the_previous_TSE</name>
        <label>Find the previous TSE</label>
        <locationX>616</locationX>
        <locationY>584</locationY>
        <collectionReference>Earlier_TSEs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_index</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_there_gap_between_previous_and_last_TSE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_TSE_record</name>
        <label>Get TSE record</label>
        <locationX>1397</locationX>
        <locationY>990</locationY>
        <collectionReference>Earlier_TSEs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_TSE2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_filler_TSE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_filler_TSE</name>
        <label>Create filler TSE</label>
        <locationX>316</locationX>
        <locationY>987</locationY>
        <inputReference>recTSE</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Earlier_TSEs</name>
        <label>Earlier TSEs</label>
        <locationX>679</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Earlier_TSEs2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TimeSheetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <sortField>StartTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TS</name>
        <label>TS</label>
        <locationX>1031</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_TSE_is_this</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TimeSheetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>553</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Earlier_TSEs</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recLastTSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>recPreviousTSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>recTSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>varEndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIndexOfPreviousTSE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTSEcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
