force-app/main/default/flows/User_Set_Office_timezone_locale_and_language.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Gets the Office assigned to the user via AAD</description>
        <name>Get_User_AD_Office</name>
        <label>Get User AD Office</label>
        <locationX>473</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>userAdOffice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AD_Office__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_AD_office_set</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_AD_office_set</name>
        <label>Is AD office set?</label>
        <locationX>473</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No AD Office</defaultConnectorLabel>
        <rules>
            <name>AD_Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userAdOffice</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Office</targetReference>
            </connector>
            <label>AD Office</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Office_Found</name>
        <label>Is Office Found?</label>
        <locationX>275</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>Office Not Found</defaultConnectorLabel>
        <rules>
            <name>Office_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Office</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Office_Associated_Values</targetReference>
            </connector>
            <label>Office Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip automation is a Custom Settings and allows for admin task to be executed without triggering automation</description>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_User_AD_Office</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAccountApproval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>User - Set Office, District, timezone, locale and language based on AD / Mepco Office coming from AD integration and related attributes</description>
    <environments>Default</environments>
    <formulas>
        <name>Signature</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Country},
&quot;Spain&quot;, {!$Record.FirstName} &amp; &quot; &quot; &amp; {!$Record.LastName} &amp; BR() &amp; {!$Record.Title} &amp; BR() &amp; {!$Record.MobilePhone} &amp; BR() &amp; {!$Record.Email},
{!$Record.Signature}
)</expression>
    </formulas>
    <interviewLabel>User - Set Office, Timezone, Locale and l {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - Set Office related Attributes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Office with the same AD reference as the user</description>
        <name>Get_Office</name>
        <label>Get Office</label>
        <locationX>275</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Office_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AD_Office_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userAdOffice</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Office__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Office_Associated_Values</name>
        <label>Update Office Associated Values</label>
        <locationX>143</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>Get_Office.Office_District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <elementReference>Get_Office.Office_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>Get_Office.Office_Locale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>Get_Office.Office_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>Signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>Get_Office.Office_Timezone__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>userAdOffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
