force-app/main/default/flows/User_Assign_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_User_Mapping_Attributes</name>
        <label>Assign User Mapping Attributes</label>
        <locationX>248</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>txtUserOrganization</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recUser.Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recUser.CountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtUserRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recUser.UserRole.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtUserProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recUser.Profile.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtUserCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recUser.Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User</name>
        <label>Set User</label>
        <locationX>759</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Active_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_userId</name>
        <label>Set userId</label>
        <locationX>1020</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>userId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Element that checks the License of the User based on the Profile Id. We only want to assign Public Groups for users with a Salesforce license.</description>
        <name>Check_License</name>
        <label>Check License</label>
        <locationX>501</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Other License</defaultConnectorLabel>
        <rules>
            <name>Salesforce_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Profile.UserLicense.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Mapping_Attributes</targetReference>
            </connector>
            <label>Salesforce License</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gobal_Role_is_found</name>
        <label>Gobal Role is found</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>No role</defaultConnectorLabel>
        <rules>
            <name>Global_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Global_User_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Global_User_Role</targetReference>
            </connector>
            <label>Global Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active_User</name>
        <label>Is Active User?</label>
        <locationX>759</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Active_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recUser.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Profile</targetReference>
            </connector>
            <label>Active User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_is_found</name>
        <label>Role is found</label>
        <locationX>248</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Get_Global_User_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No role</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Role</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip automation is a Custom Settings and allows for admin task to be executed without triggering automation</description>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>403</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_userId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>1020</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No User</defaultConnectorLabel>
        <rules>
            <name>User_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User</targetReference>
            </connector>
            <label>User Record</label>
        </rules>
    </decisions>
    <description>SubFlow to assign the User Role -  Updated to match profile name and role name</description>
    <environments>Default</environments>
    <interviewLabel>User - Assign Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - Assign Role R3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Element that retrieves the Global User Roles</description>
        <name>Get_Global_User_Roles</name>
        <label>Get Global User Roles</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gobal_Role_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Profile.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile</name>
        <label>Get Profile</label>
        <locationX>501</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recUser.ProfileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Element that retrieves the full User record</description>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1020</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Element that retrieves the User Roles</description>
        <name>Get_User_Roles</name>
        <label>Get User Roles</label>
        <locationX>248</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Role_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>txtUserCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Get_Profile.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Global_User_Role</name>
        <label>Set Global User Role</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <elementReference>Get_Global_User_Roles.Id</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_User_Role</name>
        <label>Set User Role</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <elementReference>Get_User_Roles.Id</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>277</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colGroupMembershipsToDelete</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colGroupMembersToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>colGroupMembersToKeep</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>colMatchedGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colMembershipsToAssign</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>colPublicGroups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>colPublicGroupsToAssign</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTerritoryAttributes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colUserGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colUserGroups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>colUserMappingGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colUserMappingGroupNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colUserMappingMatches</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserMapping__mdt</objectType>
    </variables>
    <variables>
        <name>colUserMappingPublicGroup</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colUserMappings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserMapping__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_User_Mapping_on_Org_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserMapping__mdt</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>nbrCountMetaDataRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrCountryMatches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrDistrictMatches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrMatchedGroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrMatchResults</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrOrgMatches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrProfitCenterMatches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrTerritoryAttributes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nbrUserMappings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>objectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>publicGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recGroupMemberToAssign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>recGroupMemberToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>recGroupMemberToKeep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recPublicGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>recUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recUserMapping</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserMapping__mdt</objectType>
    </variables>
    <variables>
        <name>recUserMappingMatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserMapping__mdt</objectType>
    </variables>
    <variables>
        <name>txtBusinessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCountryAttribute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCustomMetaPublicGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCustomMetaSalesGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtProfitCenterCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtProfitCenterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtPublicGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtUserCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtUserDistrict</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtUserOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtUserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtUserProfitCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtUserRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
