force-app/main/default/flows/Visit_Event_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Lead</name>
        <label>Convert Lead</label>
        <locationX>182</locationX>
        <locationY>1332</locationY>
        <actionName>LeadConverter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>do_not_execute</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadIds</name>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadConverter</nameSegment>
        <outputParameters>
            <assignToReference>vConvertedAccountOpportunity</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This sends customer the 1st meeting confirmation</description>
        <name>Visit_confirmation_to_customerLead</name>
        <label>Visit confirmation to customer Lead</label>
        <locationX>182</locationX>
        <locationY>1224</locationY>
        <actionName>Event.Customer_1st_visit_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Convert_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Event.Customer_1st_visit_Confirmation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Visit_event_reminder_to_Customer</name>
        <label>Visit event reminder to Customer</label>
        <locationX>1920</locationX>
        <locationY>384</locationY>
        <actionName>Event.Customer_1st_Visit_event_Reminder2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Event.Customer_1st_Visit_event_Reminder2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X1st_visit_confirmation_to_Customer_Opportunity</name>
        <label>1st visit confirmation to Customer Opportunity</label>
        <locationX>578</locationX>
        <locationY>1224</locationY>
        <actionName>Event.Customer_1st_visit_Confirmation_opportunity</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Event.Customer_1st_visit_Confirmation_opportunity</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>do_not_execute</name>
        <label>do not execute</label>
        <locationX>182</locationX>
        <locationY>1440</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_this_path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DurationInMinutes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>103.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Koski</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>not this path</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_final_measurement_event_for_prelim_contract</name>
        <label>Is it final measurement event for prelim contract</label>
        <locationX>1524</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_measurement</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final measurements visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2nd measurement visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opportunity_measurement_done</targetReference>
            </connector>
            <label>Final measurement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation_Enabled</name>
        <label>Skip Automation Enabled?</label>
        <locationX>820</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Skip Automation</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Related_Object</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>what_type_of_event_was_created</name>
        <label>what type of event was created?</label>
        <locationX>512</locationX>
        <locationY>1116</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_visit_on_Lead</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st sales visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>dateTimeNow</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notification_customer_email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visit_confirmation_to_customerLead</targetReference>
            </connector>
            <label>Customer visit on Lead</label>
        </rules>
        <rules>
            <name>Customer_1st_visit_on_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st sales visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>dateTimeNow</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notification_customer_email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1st_visit_confirmation_to_Customer_Opportunity</targetReference>
            </connector>
            <label>Customer 1st visit on Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Related_Object</name>
        <label>Which Related Object?</label>
        <locationX>512</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Update_Subject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Object</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subject</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subject</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>notification for only first visit events</description>
        <name>X1st_visit</name>
        <label>1st visit?</label>
        <locationX>2052</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1st_sales_visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st sales visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>createdDate1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visit_event_reminder_to_Customer</targetReference>
            </connector>
            <label>1st sales visit</label>
        </rules>
    </decisions>
    <description>18.10.2023 Dedicated Flow to handle the Visit Event for (Converted) Leads
02.12.2023 Save Inactive Version as Draft</description>
    <environments>Default</environments>
    <formulas>
        <description>This makes sure reminder is not send ig created date is less than 24h from meeting date</description>
        <name>createdDate1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate} + 1</expression>
    </formulas>
    <formulas>
        <description>This validates that the meeting time is in future. Messages are not send for past meetings</description>
        <name>dateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW ()</expression>
    </formulas>
    <formulas>
        <name>f_New_Subject</name>
        <dataType>String</dataType>
        <expression>TEXT ( {!$Record.Event_Type__c} ) &amp; IF ( {!$Record.Location} == NULL, &quot; &quot; , &quot; - &quot; &amp; {!$Record.Location} ) &amp; IF( {!$Record.Opportunity_number__c} == NULL , &quot;  &quot; , &quot; - &quot; &amp;  {!$Record.Opportunity_number__c})</expression>
    </formulas>
    <formulas>
        <name>fxEventLocation</name>
        <dataType>String</dataType>
        <expression>
IF(NOT(ISBLANK({!Get_Lead.Street})),{!Get_Lead.Street}+&quot;, &quot;,&quot;&quot;)
+ IF(NOT(ISBLANK({!Get_Lead.PostalCode})),{!Get_Lead.PostalCode}+&quot;, &quot;,&quot;&quot;)
+ IF(NOT(ISBLANK({!Get_Lead.City})),{!Get_Lead.City},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>FxOppoEventLocation</name>
        <dataType>String</dataType>
        <expression>
IF(NOT(ISBLANK({!Get_Opportunity.Building__r.Building_Address__Street__s})),
{!Get_Opportunity.Building__r.Building_Address__Street__s}+&quot;, &quot;,&quot;&quot;)
+ IF(NOT(ISBLANK({!Get_Opportunity.Building__r.Building_Address__PostalCode__s})),{!Get_Opportunity.Building__r.Building_Address__PostalCode__s}+&quot;, &quot;,&quot;&quot;)
+ IF(NOT(ISBLANK({!Get_Opportunity.Building__r.Building_Address__City__s})),{!Get_Opportunity.Building__r.Building_Address__City__s},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>GetOpportunityNumbertxt</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Opportunity_Number__c}</expression>
    </formulas>
    <interviewLabel>Event After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visit Event After Save Draft</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>72</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Event_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>336</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Opportunity_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Opportunity_Number</name>
        <label>Add Opportunity Number</label>
        <locationX>336</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Update_Event_Location_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_number__c</field>
            <value>
                <elementReference>GetOpportunityNumbertxt</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Event_Lead_Email</name>
        <label>Update Event Lead Email</label>
        <locationX>72</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>Notification_customer_email__c</field>
            <value>
                <elementReference>Get_Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Event_Location</name>
        <label>Update Event Location</label>
        <locationX>72</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Update_Event_Lead_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>fxEventLocation</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Event_Location_Opportunity</name>
        <label>Update Event Location Opportunity</label>
        <locationX>336</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_Event_Opportunity_contact_email</targetReference>
        </connector>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>FxOppoEventLocation</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Event_Opportunity_contact_email</name>
        <label>Update Event Opportunity contact email</label>
        <locationX>336</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Update_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>Notification_customer_email__c</field>
            <value>
                <elementReference>Get_Opportunity.Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update related lead status from Sales lead to SQL</description>
        <name>Update_Lead_status</name>
        <label>Update Lead status</label>
        <locationX>50</locationX>
        <locationY>1548</locationY>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_meeting_booked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>SQL</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>This updates opportunity Final measurement done which is pre-requisite for moving to final contract</description>
        <name>Update_opportunity_measurement_done</name>
        <label>Update opportunity measurement done</label>
        <locationX>1392</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X2nd_Measurement_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subject</name>
        <label>Update Subject</label>
        <locationX>512</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>what_type_of_event_was_created</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>f_New_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation_Enabled</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_on_the_event_date</name>
            <connector>
                <targetReference>Is_it_final_measurement_event_for_prelim_contract</targetReference>
            </connector>
            <label>Run on the event date</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>StartDateTime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_day_before_event_start</name>
            <connector>
                <targetReference>X1st_visit</targetReference>
            </connector>
            <label>1 day before event start</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>StartDateTime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ActualDirectCallingEvents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ActualDoorKnockingEvents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ActualFlyerDistributionEvents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>getActualDoorHanger</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>getActualFlyerDistributionEvents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>getActualStandAndPresentation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>getAllDirectCallingEvents</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>getAllPlannedDK</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>getAllPlannedDKActivities</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>getAllPlannedDKEvents</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>getAllPlannedFlyerDistribution</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>getPlannedDoorHangerEvents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>objectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sumActualDirectCalling</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sumActualDoorHangerEvent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sumActualFlyerDistribution</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sumActualStandAndPresentation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sumOfActualDKEvents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sumOfAllDirectCalls</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sumOfAllPlannedFlyerDistribution</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sumOfPlannedDK</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sumOfPlannedStandAndPresentation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sumPlannedDoorHangerEvents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vConvertedAccountOpportunity</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vConvertedAccountOpportunityIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
