force-app/main/default/flows/WO_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Language_and_Report_Template_name_to_WO</name>
        <label>Assign Language and Report Template name to WO</label>
        <locationX>1882</locationX>
        <locationY>2002</locationY>
        <assignmentItems>
            <assignToReference>recWO.ServiceReportLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLanguage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.ServiceReportTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Report_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_data</name>
        <label>Assign WO data</label>
        <locationX>886</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>recWO.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWO.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Oppo_data.Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Reclamation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_data_1</name>
        <label>Assign WO data</label>
        <locationX>1202</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>recWO.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Danish</name>
        <label>Danish</label>
        <locationX>1947</locationX>
        <locationY>1254</locationY>
        <assignmentItems>
            <assignToReference>varLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>da</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Config</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dutch</name>
        <label>Dutch</label>
        <locationX>2164</locationX>
        <locationY>1414</locationY>
        <assignmentItems>
            <assignToReference>varLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>nl_NL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Config</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>English</name>
        <label>English</label>
        <locationX>1548</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>varLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Config</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finnish</name>
        <label>Finnish</label>
        <locationX>1851</locationX>
        <locationY>1251</locationY>
        <assignmentItems>
            <assignToReference>varLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>fi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Config</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>French</name>
        <label>French</label>
        <locationX>2052</locationX>
        <locationY>1256</locationY>
        <assignmentItems>
            <assignToReference>varLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>fr</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Config</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>German</name>
        <label>German</label>
        <locationX>2280</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>varLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>de</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Config</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Latvian</name>
        <label>Latvian</label>
        <locationX>2467</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>varLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>lv</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Config</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Norsk Bokmål</description>
        <name>Norwegian</name>
        <label>Norwegian</label>
        <locationX>2377</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>varLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>nb</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Config</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Polish</name>
        <label>Polish</label>
        <locationX>2571</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>varLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>pl</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Config</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Spanish</name>
        <label>Spanish</label>
        <locationX>1750</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>varLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>es</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Config</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Swedish</name>
        <label>Swedish</label>
        <locationX>1653</locationX>
        <locationY>1251</locationY>
        <assignmentItems>
            <assignToReference>varLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>sv</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Config</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_exists</name>
        <label>Account exists</label>
        <locationX>990</locationX>
        <locationY>1180</locationY>
        <defaultConnector>
            <targetReference>Update_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>ISO 639 language code to WorkOrder.ServiceReportLanguage code mapping.</description>
        <name>Contract_Language_mapping</name>
        <label>Contract Language mapping</label>
        <locationX>1295</locationX>
        <locationY>1431</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO</targetReference>
            </connector>
            <label>Missing</label>
        </rules>
        <rules>
            <name>FI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finnish</targetReference>
            </connector>
            <label>FI</label>
        </rules>
        <rules>
            <name>SV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Swedish</targetReference>
            </connector>
            <label>SV</label>
        </rules>
        <rules>
            <name>SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Swedish</targetReference>
            </connector>
            <label>SE</label>
        </rules>
        <rules>
            <name>EN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>English</targetReference>
            </connector>
            <label>EN</label>
        </rules>
        <rules>
            <name>GB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>English</targetReference>
            </connector>
            <label>GB</label>
        </rules>
        <rules>
            <name>ES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spanish</targetReference>
            </connector>
            <label>ES</label>
        </rules>
        <rules>
            <name>DA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Danish</targetReference>
            </connector>
            <label>DA</label>
        </rules>
        <rules>
            <name>DK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Danish</targetReference>
            </connector>
            <label>DK</label>
        </rules>
        <rules>
            <name>FR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>French</targetReference>
            </connector>
            <label>FR</label>
        </rules>
        <rules>
            <name>NL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dutch</targetReference>
            </connector>
            <label>NL</label>
        </rules>
        <rules>
            <name>DE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>German</targetReference>
            </connector>
            <label>DE</label>
        </rules>
        <rules>
            <name>NB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Norwegian</targetReference>
            </connector>
            <label>NB</label>
        </rules>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Norwegian</targetReference>
            </connector>
            <label>NO</label>
        </rules>
        <rules>
            <name>LV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Latvian</targetReference>
            </connector>
            <label>LV</label>
        </rules>
        <rules>
            <name>PL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Language_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Polish</targetReference>
            </connector>
            <label>PL</label>
        </rules>
    </decisions>
    <decisions>
        <description>If there is no WT, then use the &quot;Installation&quot; WT. If there is am WT on WO already, then use it. If it is a reclamation, then don&apos;t create Service Report.</description>
        <name>Has_Work_Type</name>
        <label>Has Work Type</label>
        <locationX>990</locationX>
        <locationY>703</locationY>
        <defaultConnector>
            <targetReference>Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Installation_Report_name_found</name>
        <label>Installation Report name found</label>
        <locationX>1687</locationX>
        <locationY>1633</locationY>
        <defaultConnector>
            <targetReference>Update_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config.Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Report_Template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reclamation</name>
        <label>Is Reclamation</label>
        <locationX>879</locationX>
        <locationY>590</locationY>
        <defaultConnector>
            <targetReference>Has_Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reclamation_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_exists</name>
        <label>Opportunity exists?</label>
        <locationX>640</locationX>
        <locationY>346</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Oppo_data</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Report_found</name>
        <label>Service Report found</label>
        <locationX>1781</locationX>
        <locationY>1875</locationY>
        <defaultConnector>
            <targetReference>Update_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Report_Template.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Language_and_Report_Template_name_to_WO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WT_found</name>
        <label>WT found</label>
        <locationX>1079</locationX>
        <locationY>952</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_data_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>WO is update after it has been created.

16.2.2024: Corrected handling when WT already exists on WO (use the existing WT).
20.12.2023: New language field from account taken into use Account.Language_Preference__c
11.12.2023: Assign Service Template information to WO to enable localized Service Report.
30.11.2023: Added logic to add Work Type &quot;Installation&quot; to suspected installation work order
26.6.2023: Fix to run the flow after update and not at creation.
4.4.2023: First version.
08.02.2024: Version from develop1</description>
    <environments>Default</environments>
    <formulas>
        <description>Formulate configuration name for the installation report. Real name is retrieved from metadata type using this value.</description>
        <name>fxServiceReportConfigName</name>
        <dataType>String</dataType>
        <expression>&quot;Installation_Report_&quot; &amp; TEXT({!$Record.CountryCode}) &amp; &quot;_&quot; &amp; TEXT({!Account.Language_Preference__c})</expression>
    </formulas>
    <interviewLabel>WO - After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WO - After Create R2.2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>1303</locationX>
        <locationY>1185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Language_mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Config</name>
        <label>Config</label>
        <locationX>1695</locationX>
        <locationY>1503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Installation_Report_name_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fxServiceReportConfigName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSL_Variable__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oppo_data</name>
        <label>Get Oppo data</label>
        <locationX>756</locationX>
        <locationY>463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_WO_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Report_Template</name>
        <label>Service Report Template</label>
        <locationX>1789</locationX>
        <locationY>1740</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Report_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Config.Value__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceReportLayout</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Work_Type</name>
        <label>Work Type</label>
        <locationX>1087</locationX>
        <locationY>833</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WT_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>895</locationX>
        <locationY>1509</locationY>
        <inputReference>recWO</inputReference>
    </recordUpdates>
    <start>
        <locationX>522</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Opportunity_exists</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
