force-app/main/default/flows/WO_Create_new_visit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_AR_values</name>
        <label>Assign AR values</label>
        <locationX>865</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>recAR.ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recSA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAR.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Assigned_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_SA_values</name>
        <label>Assign new SA values</label>
        <locationX>289</locationX>
        <locationY>178</locationY>
        <assignmentItems>
            <assignToReference>recSA.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ArrivalWindowStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ArrivalWindowEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.SchedEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.FSL__IsMultiDay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.FSL__IsMultiDay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.LUM_Capacity_Reservation_Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.LUM_Capacity_Reservation_Shift__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.EarliestStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.FSL__GanttLabel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSA.FSL__GanttColor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.FSL__GanttColor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SA_values</name>
        <label>Assign SA values</label>
        <locationX>525</locationX>
        <locationY>178</locationY>
        <assignmentItems>
            <assignToReference>recSA.LUM_Assigned_Service_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>1214</locationX>
        <locationY>933</locationY>
        <assignmentItems>
            <assignToReference>recUpdateSA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateSA.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recSA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dispatch_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AR_creation_status</name>
        <label>AR creation status</label>
        <locationX>985</locationX>
        <locationY>580</locationY>
        <defaultConnector>
            <targetReference>Error_in_creation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failure</defaultConnectorLabel>
        <rules>
            <name>Success1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recAR.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessScreen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dispatch_SA2</name>
        <label>Dispatch SA?</label>
        <locationX>1091</locationX>
        <locationY>817</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dispatch_the_new_SA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_creation_status</name>
        <label>SA creation status</label>
        <locationX>633</locationX>
        <locationY>304</locationY>
        <defaultConnector>
            <targetReference>Error_in_creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failure</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recSA.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_new_SA</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Creates a new Service Appointment for an existing Work Order.</description>
    <dynamicChoiceSets>
        <name>Service_Resources</name>
        <dataType>String</dataType>
        <displayField>Resource_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recSA.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <sortField>MemberNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>ServiceResourceId</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fxNewSA</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!recSA.Id},{!Get_new_SA.AppointmentNumber})</expression>
    </formulas>
    <interviewLabel>Create new visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WO - Create New Visit R2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assigned_Resource</name>
        <label>Create Assigned Resource</label>
        <locationX>994</locationX>
        <locationY>433</locationY>
        <connector>
            <targetReference>AR_creation_status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_in_creation_0</targetReference>
        </faultConnector>
        <inputReference>recAR</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SA</name>
        <label>Create SA</label>
        <locationX>642</locationX>
        <locationY>178</locationY>
        <connector>
            <targetReference>SA_creation_status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_in_creation</targetReference>
        </faultConnector>
        <inputReference>recSA</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_new_SA</name>
        <label>Get new SA</label>
        <locationX>745</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AR_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recSA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SA</name>
        <label>SA</label>
        <locationX>181</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_new_SA_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Dispatch_SA</name>
        <label>Dispatch SA</label>
        <locationX>1332</locationX>
        <locationY>933</locationY>
        <faultConnector>
            <targetReference>Error_in_update</targetReference>
        </faultConnector>
        <inputReference>recUpdateSA</inputReference>
    </recordUpdates>
    <screens>
        <name>Enter_details</name>
        <label>Enter details</label>
        <locationX>417</locationX>
        <locationY>178</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_SA_values</targetReference>
        </connector>
        <fields>
            <name>Service_Resource</name>
            <choiceReferences>Service_Resources</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Resource</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_in_creation</name>
        <label>Error in creation</label>
        <locationX>522</locationX>
        <locationY>422</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errortext</name>
            <fieldText>&lt;p&gt;Error! Could not create new Service Appointment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_in_creation_0</name>
        <label>Error in creation</label>
        <locationX>878</locationX>
        <locationY>702</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errortext_0</name>
            <fieldText>&lt;p&gt;Error! Could not create Assigned Resource for the new Service Appointment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_in_update</name>
        <label>Error in update</label>
        <locationX>1334</locationX>
        <locationY>1092</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errortext_2</name>
            <fieldText>&lt;p&gt;Error! Could not update the new Service Appointment status to Dispatched.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>1099</locationX>
        <locationY>693</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dispatch_SA2</targetReference>
        </connector>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;New Service Appointment {!fxNewSA} was created and the selected resource was attached to it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dispatch_the_new_SA</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Dispatch the new SA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>55</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>recUpdateSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
