force-app/main/default/flows/WO_update_after_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asset</name>
        <label>Asset</label>
        <locationX>1608</locationX>
        <locationY>1325</locationY>
        <assignmentItems>
            <assignToReference>AssetSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reparent_assets.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetSingle.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentAssetid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asset_collection</name>
        <label>Asset collection</label>
        <locationX>1744</locationX>
        <locationY>1325</locationY>
        <assignmentItems>
            <assignToReference>AssetMulti</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reparent_assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToSingle_0</name>
        <label>AssignToSingle</label>
        <locationX>1093</locationX>
        <locationY>1174</locationY>
        <assignmentItems>
            <assignToReference>AssetSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_through_the_WOLI_collection.AssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_through_the_WOLI_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This counts the number of WOLIs with linked Asset to a variable.</description>
        <name>Number_of_WOLIs_with_Assets</name>
        <label>Number of WOLIs with Assets</label>
        <locationX>1197</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>NumberOfWOLIsWithAssets</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>WOLIsWithAssets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_than_one_WOLI_with_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>In reclamation case the parent asset id is in WO.</description>
        <name>Set_parent_Asset_id</name>
        <label>Set parent Asset id</label>
        <locationX>1485</locationX>
        <locationY>988</locationY>
        <assignmentItems>
            <assignToReference>varParentAssetid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reparent_assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_parent_Asset_id_0</name>
        <label>Set parent Asset id</label>
        <locationX>1482</locationX>
        <locationY>1119</locationY>
        <assignmentItems>
            <assignToReference>varParentAssetid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reparent_assets</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Not all WOLIs will have a linked Asset, as the WOLI may be for instance removal of existing glazing.</description>
        <name>WOLIsWithAssets</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>WOLIsWithAssets</label>
        <locationX>1078</locationX>
        <locationY>722</locationY>
        <assignNextValueToReference>currentItem_WOLIsWithAssets_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_WOLIs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_WOLIsWithAssets_0.AssetId</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Number_of_WOLIs_with_Assets</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>If there are more than one WOLi with Asset, then we need to also create a parent asset for them. If however there is only one WOLI with Asset (or none), then Parent Asset is not needed.

In reclamation case there always should be more than one asset, as there is the original planned asset and the reclamation asset.</description>
        <name>More_than_one_WOLI_with_Asset</name>
        <label>More than one WOLI with Asset?</label>
        <locationX>1189</locationX>
        <locationY>869</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfWOLIsWithAssets</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_reclamation</targetReference>
            </connector>
            <label>More than one</label>
        </rules>
        <rules>
            <name>Only_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfWOLIsWithAssets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_through_the_WOLI_collection</targetReference>
            </connector>
            <label>Only one</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_exists</name>
        <label>Opportunity exists</label>
        <locationX>746</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_data</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_has_data</name>
        <label>Opportunity has data</label>
        <locationX>854</locationX>
        <locationY>622</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WOLIs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If WO already has AssetId, then the WO is a customer initiated reclamation.</description>
        <name>Type_of_reclamation</name>
        <label>Type of reclamation</label>
        <locationX>1303</locationX>
        <locationY>989</locationY>
        <defaultConnector>
            <targetReference>Parent_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inst. init. or normal multi product installation</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_parent_Asset_id</targetReference>
            </connector>
            <label>Customer initiated</label>
        </rules>
    </decisions>
    <description>Handles actions required after WO has been set to Completed status.

14.6.2023: Logic to add the reclamation assets under the parent asset.
23.1.2023: Update Manufacture date (Today) to parent asset as well.
9.11.2022: Single Asset is promoted to be the &quot;parent asset&quot; i.e. is linked to the WO.
8.11.2022: First version.
02.12.2023: Save Active Version as R2</description>
    <environments>Default</environments>
    <formulas>
        <description>Asset name = Opportunity name: Location street address</description>
        <name>AssetName</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_data.Name} &amp; &quot;: &quot; &amp; {!$Record.Location.Name}</expression>
    </formulas>
    <interviewLabel>WO - update after save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WO - Update After Save R2</label>
    <loops>
        <description>Get the single record which has Asset.</description>
        <name>Go_through_the_WOLI_collection</name>
        <label>Go through the WOLI collection</label>
        <locationX>1091</locationX>
        <locationY>992</locationY>
        <collectionReference>WOLIsWithAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignToSingle_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WO_with_Asset_Id_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Go through the WOLIs with linked Asset and assign the Parent Asset to them.</description>
        <name>Reparent_assets</name>
        <label>Reparent assets</label>
        <locationX>1613</locationX>
        <locationY>1119</locationY>
        <collectionReference>WOLIsWithAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Parent Asset with WO / Opportunity level details needs to be created.</description>
        <name>Parent_Asset</name>
        <label>Parent Asset</label>
        <locationX>1204</locationX>
        <locationY>1119</locationY>
        <connector>
            <targetReference>Update_WO_with_Asset_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Opportunity_data.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Opportunity_data.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstallDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>$Record.LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManufactureDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AssetName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity_data.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_data</name>
        <label>Get Opportunity data</label>
        <locationX>862</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_has_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This gets all the WO related WOLIs in one collection.</description>
        <name>Get_WOLIs</name>
        <label>Get WOLIs</label>
        <locationX>962</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOLIsWithAssets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the WOLIs with Assets.</description>
        <name>Update_the_Assets</name>
        <label>Update the Assets</label>
        <locationX>1794</locationX>
        <locationY>1118</locationY>
        <inputReference>AssetMulti</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Work Order will contain the Parent Asset Id information.</description>
        <name>Update_WO_with_Asset_Id</name>
        <label>Update WO with Asset Id</label>
        <locationX>1347</locationX>
        <locationY>1119</locationY>
        <connector>
            <targetReference>Set_parent_Asset_id_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Parent_Asset</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Work Order will contain the Parent Asset Id information. If there is only one WOLI with Asset, then that Asset is promoted to be the &quot;parent asset&quot; i.e. is linked to the WO.</description>
        <name>Update_WO_with_Asset_Id_0</name>
        <label>Update WO with Asset Id</label>
        <locationX>905</locationX>
        <locationY>994</locationY>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>AssetSingle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>628</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Opportunity_exists</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Contains the id of the Asset. Usable if there is only one WOLI with Asset. Then it can be promoted as the &quot;parent&quot; asset.</description>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetMulti</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinksGet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkVARMultiple</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkVARSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>currentItem_WOLIsWithAssets_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>NumberOfWOLIsWithAssets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varParentAssetid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
