force-app/main/default/flows/WOLI_Create_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Installation</name>
        <label>Installation</label>
        <locationX>1265</locationX>
        <locationY>951</locationY>
        <assignmentItems>
            <assignToReference>AssetToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxNormalAssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal installation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Asset</name>
        <label>Prepare Asset</label>
        <locationX>1146</locationX>
        <locationY>1099</locationY>
        <assignmentItems>
            <assignToReference>AssetToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkOrder.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkOrder.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkOrder.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkOrder.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RVN_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.InstallDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.ManufactureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkOrder.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkOrder.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkOrder.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkOrder.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.Configuration_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Configuration_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.ServiceTerritory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Configuration_Product__r.Configuration__r.Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reclamation2</name>
        <label>Reclamation</label>
        <locationX>1038</locationX>
        <locationY>958</locationY>
        <assignmentItems>
            <assignToReference>AssetToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxReclamationAssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetToCreate.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reclamation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Asset</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If there is no configuration plan, then we should not create Asset either.</description>
        <name>Configuration_Plan_exists</name>
        <label>Configuration Plan exists</label>
        <locationX>931</locationX>
        <locationY>595</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Configuration_Plan.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plan_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Configuration Plan Type is one of these and there has been installation for one of these, then the Asset creation needs to be suppressed.</description>
        <name>Plan_Type</name>
        <label>Plan Type</label>
        <locationX>1013</locationX>
        <locationY>716</locationY>
        <defaultConnector>
            <targetReference>Type_of_Asset_to_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Glazings or Blinds</defaultConnectorLabel>
        <rules>
            <name>Non_Asset_creation_Types</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Configuration_Plan.Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Configuration_Plan.Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Configuration_Plan.Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Configuration_Plan.Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extra Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Configuration_Plan.Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplies</stringValue>
                </rightValue>
            </conditions>
            <label>Non-Asset creation Types</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation</name>
        <label>Skip Automation?</label>
        <locationX>819</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Configuration_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Abort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationBypass__c.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Abort</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Asset_to_create</name>
        <label>Type of Asset to create</label>
        <locationX>1137</locationX>
        <locationY>859</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Normal_installable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_installable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Installation</targetReference>
            </connector>
            <label>Normal installable</label>
        </rules>
        <rules>
            <name>Reclamation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Reclamation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reclamation2</targetReference>
            </connector>
            <label>Reclamation</label>
        </rules>
    </decisions>
    <description>Creates an Asset when non reclamation WOLI is completed.

1.2.2023: Modifications to support suppressing Asset creation.
26.6.2023: New field to replace the Asset.Service_Territory__c taken into use.
16.6.2023: Adds Service Territory to Asset. Needed when determining IM queue in case creation.
15.6.2023: Added Reclamation Order to asset.
14.6.2023: Reclamation asset support added.
7.6.2023: Added Service Territory to Asset.
5.3.2023: The Oppo Product in name and product field was replaced with Configuration Product.
3.3.2023: Added address from WO to Asset. Country information is required in Case creation from asset.
23.1.2023: Filled in the Manufacture Date with the current date.
8.12.2022: Installable Product field logic change.
8.11.2022: Added logic to add the RVN number to the created Asset.
8.11.2022: Removed logic to update Asset Id to WO
27.02.2023 update to config tree
02.12.2023: Save Active Version as R2</description>
    <environments>Default</environments>
    <formulas>
        <description>Normal Asset name = Configuration Product name: Street address</description>
        <name>fxNormalAssetName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Configuration_Product__r.Name} &amp; &quot;: &quot; &amp; {!$Record.Street}</expression>
    </formulas>
    <formulas>
        <description>Reclamation Asset name = [R] Configuration Product name: Street address</description>
        <name>fxReclamationAssetName</name>
        <dataType>String</dataType>
        <expression>&quot;[R] &quot;&amp;{!$Record.Configuration_Product__r.Name} &amp; &quot;: &quot; &amp; {!$Record.Street}</expression>
    </formulas>
    <interviewLabel>WOLI - Create Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WOLI - Create Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>1266</locationX>
        <locationY>1099</locationY>
        <connector>
            <targetReference>Update_WOLI_Asset</targetReference>
        </connector>
        <inputReference>AssetToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Configuration_Plan</name>
        <label>Configuration Plan</label>
        <locationX>940</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Configuration_Plan_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Configuration_Product__r.Configuration__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WOLI_Asset</name>
        <label>Update WOLI Asset</label>
        <locationX>1416</locationX>
        <locationY>1099</locationY>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>AssetToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>701</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_installable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Reclamation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
